<header>Workshops</header>

<h2>Calendar</h2>

<p>The best way to keep track of upcoming workshops as the schedule is consistently changing is to <a href="https://www.google.com/calendar/ical/airpair.co_o3u16m7fv9fc3agq81nsn0bgrs%40group.calendar.google.com/public/basic.ics">subscribe to the iCal</a>. Make sure you're subscribed to receive updates and not downloaded the calendar in a static state.</p>

<h2>Upcoming workshops</h2>

<div id="upcoming">
  <a class="workshop" href="/workshops/{{entry.slug}}"
     ng-repeat="entry in workshops.upcoming">
    <time>{{entry.time | date:'medium'}}</time> 
    <div ng-repeat="speaker in entry.speakers">
      <img src="//0.gravatar.com/avatar/{{ speaker.gravatar }}?s=120" />
      <h5>{{ speaker.name }}</h5>
    </div>
    <figure>{{ entry.title }}</figure>
  </a>
</div>	

<h2>All workshops</h2>

<ul>
  <li ng-repeat="entry in workshops.entries"><time>{{entry.time | date:'medium'}}</time> <a href="/workshops/{{entry.slug}}"> {{ entry.title }}</a></li>
</ul> 