<header>Workshops</header>
<section id="workshops">

	<div id="index">

	  <div id="calendar">
	    <h2>Calendar</h2>

	    <p>Keep track of the schedule:</p>

	    <a class="btn" href="/workshops/subscribe">Subscribe to calendar</a>

	    <hr />
	    <h5>Next 30 days</h5>
	    <ul id="month">
	      <li ng-repeat="entry in workshops.month">
	        <time>{{entry.time | locaTime }}</time>
	        <a href="{{entry.url}}" target="_self"> {{ entry.title }}</a></li>
	    </ul>
	  </div>

	  <div id="next">
	    <h2>Next up</h2>

	    <p style="font-size:11px"><i>* Times shown in <b>{{ timeZoneOffset }}</b> (your browser's timezone)</i> </p>

	    <a class="workshop" target="_self" href="{{entry.url}}"
	       ng-repeat="entry in workshops.upcoming">
	      <time datetime="{{entry.time}}">{{ entry.time | locaTime }}</time>
	      <div ng-repeat="speaker in entry.speakers">
	        <img src="//0.gravatar.com/avatar/{{ speaker.gravatar }}?s=80" />
	        <h5 class="entry-author">{{ speaker.name }}</h5>
	      </div>
	      <figure>{{ entry.title }}</figure>
	    </a>
	  </div>

	  <div id="featured">
	    <h2>Featured</h2>
	    <a class="workshop" target="_self" href="{{entry.url}}"
	       ng-repeat="entry in workshops.featured">
	      <div ng-repeat="speaker in entry.speakers">
	        <img src="//0.gravatar.com/avatar/{{ speaker.gravatar }}?s=80" />
	        <h5>{{ speaker.name }}</h5>
	      </div>
	      <figure>{{ entry.title }}</figure>
	    </a>
	  </div>

	  <div id="past">
	    <h2>Library</h2>
	    <ul>
	      <li ng-repeat="entry in workshops.past">
	        <a href="{{entry.url}}" target="_self">
	          <img src="//0.gravatar.com/avatar/{{entry.speakers[0].gravatar }}"></time>
	          <time>{{entry.speakers[0].name }}</time>
	          {{ entry.title }}</a>
	        </li>
	      </li>
	    </ul>
	  </div>

	</div>

</section>
