<header>Workshops</header>

<div id="index">

  <div class="calendar">

    <h3>Calendar</h3>

    <p>Keep track of the schedule:</p>

    <a class="btn" href="/workshops/subscribe">Subscribe to calendar</a>

    <hr />
    <h5>Next 30 days</h5>
    <ul id="month">
      <li ng-repeat="entry in workshops.month">
        <time>{{entry.time | locaTime }}</time> 
        <a href="{{entry.url}}"> {{ entry.title }}</a></li>
    </ul> 

  </div>

  <h3>Coming up</h3>

  <p style="font-size:11px"><i>*All times shown in <b>{{ timeZoneOffset }}</b> (your browser's local time)</i> </p>

  <div id="upcoming">
    <a class="workshop" href="{{entry.url}}"
       ng-repeat="entry in workshops.upcoming">
      <time datetime="{{entry.time}}">{{ entry.time | locaTime }}</time>
      <div ng-repeat="speaker in entry.speakers">
        <img src="//0.gravatar.com/avatar/{{ speaker.gravatar }}?s=80" />
        <h5>{{ speaker.name }}</h5>
      </div>
      <figure>{{ entry.title }}</figure>
    </a>
  </div>	

  <h2>Watch featured workshops</h2>

  <div id="featured">
    <a class="workshop" href="{{entry.url}}"
       ng-repeat="entry in workshops.featured">
      <div ng-repeat="speaker in entry.speakers">
        <img src="//0.gravatar.com/avatar/{{ speaker.gravatar }}?s=80" />
        <h5>{{ speaker.name }}</h5>
      </div>
      <figure>{{ entry.title }}</figure>
    </a>
  </div>

  <h2>Watch past workshops</h2>

  <ul id="past">
    <li ng-repeat="entry in workshops.past">
      <a href="{{entry.url}}">
        <img src="//0.gravatar.com/avatar/{{entry.speakers[0].gravatar }}"></time> 
        <time>{{entry.speakers[0].name }}</time> 
        {{ entry.title }}</a>
      </li>
    </li>  
  </ul> 

</div>