<header><a href="/workshops">Workshops</a> > {{ entry.title }}</header>

<div id="show">


  <h1>{{ entry.title }}</h1>

  <div class="share" ap-share="" ap-fb="true" ap-tw="true" ap-in="true"></div>

  <div class="speakers">
    <h2>Presenting</h2>
    <ul>
      <li ng-repeat="speaker in entry.speakers">
        <h3>{{ speaker.name }}</h3>
        <img src="//0.gravatar.com/avatar/{{ speaker.gravatar }}?s=400" />

        {{ speaker.fullBio }}
      </li>
    </ul>
  </div>

  <time>{{entry.time | date:'medium'}}</time>

  {{ entry.difficulty }} <label ng-repeat="tag in entry.tags"> { {{ tag }} } </label>

  <p>{{ entry.description }}</p>

  <div class="action">
    <div ng-if="entry.youtube">
      <a href="/workshops/signup/{{entry.slug}}" class="btn" style="width:300px">Get access to all live talks</a>      
      <label>with AirPair Membership</label>        
    </div>
    <div ng-if="!entry.youtube">
      <a href="/workshops/signup/{{entry.slug}}" class="btn" style="width:300px">Sign up to attend workshop</a>
      <label>3 spots left</label>  
    </div>    
  </div>
  <div class="player">

    <div class="recording" ng-if="entry.youtube">

      <iframe width="640" height="360" ng-src="{{ '//www.youtube-nocookie.com/embed/' + entry.youtube | trustUrl }}" frameborder="0" allowfullscreen></iframe>

    </div>
  
    <div class="slide" ng-if="!entry.youtube && entry && entry.slug">
      <iframe src="{{ '/workshops-slide/' + entry.slug  | trustUrl }}" width="640" height="360" ng-if="entry" frameborder="0" scrolling="no" style="overflow:hidden"></iframe>

    </div>

  </div>


  <hr />
<!-- 
  <h3>Chat</h3> -->

</div>