@import "ap.less";

.blogpost {

	h1 { margin-bottom:0 }
	h2 { color:black;font-size:28px;margin-bottom:5px }
	h4 { color:black }
	p { margin-top:0;width:640px;vertical-align:top }
	header { border-bottom:solid 1px @lightgray;margin-bottom:20px }

	.pw-widget {
		float:right;
		width:220px;
		margin:5px 0;
		height:60px;
	}

	#disqus_thread {
		min-height:700px
	}

	#table-of-contents {
		float:right;
		clear:right;
		width:220px;
		margin:10px 0 8px 0;
		font-size:24px;
		color:@gray;
	}
	#table-of-contents + ul {
		clear:right;
		float:right;
		width:220px;
		font-size:12px;
	}
	#table-of-contents + ul ul {
		margin-top:4px;
	}	
	#table-of-contents + ul li {
		padding:1px 0 2px 0;
	}	

	ul { list-style:none;padding:0;margin:0 }

	ul ul { margin-left:12px }

	#author { color:white }
	#author + p { width:80px;height:80px;display:inline-block;maring-top:20px }
	#author + p img { width:80px;height:80px;border-radius:40px }
	blockquote { display:inline-block;margin:0 10px;font-style:italic;font-size:14px;width:540px;padding:0px 10px }
	blockquote p { width:500px; }

	iframe { margin:20px 0px 20px 0px }

	hr { width:640px;color:@lightgray;margin-left:0 }
}