@highlight: #dff2ef;
@chrome: #eee;
@darkerChrome: #aaa;

@orange:#ce5424;
@turquoise:#90d1cc;
@darkblue:#151821;
@blue:#232835;
@lightblue:#dff2ef;
@gray:#4d4e4e;
@mediumgray:#7e7f7f;
@lightgray:#d3d3d3;

html, body {
  margin: 0;
  padding:0;
  position:absolute;
  bottom:0;
  top:0;
  right:0;
  left:0;
}

table {
  vertical-align: top;
  width: 100%;
}

.stretch {
  height: 96%;
  max-height: 100% !important;
}

.sidebar label {
  margin-top: 10px;
}

span {
  background: red;
  border-radius: 50%;
  color: white;
  font-size: 6pt;
  font-weight: bold;
  top: -6px;
  min-width: 20px;
  padding: 3px 6px;
  position: relative;
  text-align: center;
}

td.actions {
  width: 50px !important;
  min-width: 50px !important;
  button {
    border-radius: 50%;
    border: 1px solid @darkerChrome;
  }
}

table#chatroom {
  tr.heading {
    height: 50px !important;
  }
  td { box-sizing: border-box }
}

tr.user {
  td.picture {
    position: relative;
    width: 50px !important;
    min-width: 50px !important;
    img {
      border-radius: 50%;
      width: 100%;
      height: auto;
    }
  }

  .presence {
    display: none;
    background: lightgreen;
    border: 1px solid #ADFF2F;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    position: absolute;
    top: 5px;
    left: 69%;
    opacity: 0.7;
  }

  &.active .presence { display: block }
  &.active.away .presence {
    background: yellow;
    border: 1px solid lightyellow;
  }
}

tr#entry {
  background: @chrome;
  td { padding: 5px }
  input {
    width: 100%
  }
  height: 30px;
}

.from {
  font-size: 8pt;
  font-weight: bold;
  text-align: center;
}
.content {
  background: white;
}

.timestamp {
  color: @darkerChrome;
  font-size: 8pt;
}

.from, .content {
  padding: 10px;
}

tr#messages {
  background: #eee;
  td {
    vertical-align: top;
  }
}
#message-cell {
  border: 2px solid @chrome;
  max-height: 101%;
  overflow: hidden;
  overflow-y: scroll !important;
  padding-right: 15px;
  top: 0px;
  & > .row {
    background: white;
    border-bottom: 1px solid @chrome;

    .from img {
      border-radius: 50%;
    }
  }
}
