<article itemprop="blogPost" itemtype="http://schema.org/BlogPosting" itemscope="itemscope">
  <a rel="bookmark" target="_self" title="{{name}}" href="/book/{{username}}">
    <header class="entry-header">
      <img align="left" src="{{avatar}}?s=100" itemprop="image" class="entry-author-image" />
    </header>
    <div itemprop="text" class="entry-content">
      <h2 itemprop="headline" class="entry-title">{{name}}</h2>

      {{!-- <p class="entry-meta">
        <span class="entry-categories">
          { AngularJS }
        </span>
      </p> --}}
    </div>
  </a>
</article>
