<section id="postscompfaq" class="faq">

<h1>AirPair Writing Competition FAQ  <a href="/100k-writing-competition" target="_self" class="btn" style="float:right">Competition details</a></h1>

<section class="details">


<div style="display:none">###Can I refer an author? Separate small box

Refer an author and earn **10% of what they earn** if they publish an article with Airpair plus **$5 in airpair credit** for every author you refer (maximum of $50).

[Refer an Author](http://goo.gl/forms/fOjDpQssvZ)

- Only one referrer per article
- Can’t be existing authors on the platform
- The author has to inform us that you referred them
- Payment after June 30th

##testimonies… Column down right hand side with photos and small text
</div>


<h2>FAQ</h2>

<h3>Basic Questions</h3>

<h5>What should I write about?</h5>
It's important that you write about something you are passionate about, and feel that others should learn more about.

However you need to keep in mind that post performance is evaluated based on the <b>5 star quality readers rate your articlees</b>, plus <b>how many people share your article on social media</b> - including twitter, linkedin, google plus and facebook.

<h4>In our experience, articles that do well are</h4>

- well written
<br />- accurate
<br />- concise
<br />- specific and opinionated
<br />- useful
<br />- sometimes controversial
<br />- cover specific experiences rather than general ones

<br /><br /><i>If you aren't a native English speaker, consider getting your article proof read before submitting.</i>

<h4>Articles that don't receive much attention tend to be</h4>

- Badly written
<br />- Inaccurate
<br />- Too vague and not focused on a specific problem
<br />- Too basic / Too general
<br />- Contain nothing new

<h4>Examples of different formats</h4>

- <b>Comparision pieces</b> <a href="https://www.airpair.com/js/javascript-framework-comparison" target="_blank">AngularJS vs. Backbone.js vs. Ember.js</a> by Uri Shaked)
<br />- <b>utorials</b> <a href="https://www.airpair.com/angularjs/posts/angularjs-tutorial" target="_blank">The Ultimate AngularJS Tutorial</a> by Todd Motto
<br />- <b>Lists</b> <a href="https://www.airpair.com/node.js/posts/top-10-mistakes-node-developers-make" target="_blank">Top 10 Mistakes Node.js Developers Make</a> by Alexandru Vladutu

<h5>How long should it be?</h5>

We recommend you keep your posts to 2000 - 3000 words (we have published posts with up to 12000 words but they are an exception).

Please familiarize yourself with [pre-existing content on Airpair](), and try not to duplicate content.


<h3>Eligibility</h3>

<h4>Quality and help with community ratings</h4>

<p>Posts must meet minimum standards in quality. This is evaluated by
having a minimum of 4 stars on a 5 peer-rated stars scale. In order to be eligible for this competition, you must rate at least 2 other articles in the competition.</p>

<p>If your post receives over a 3.5 star rating, you will be eligible for extra attention and promotional support from the Airpair Marketing Team.* This will help with exposure for your article. Write quality posts!</p>

<h3>Process</h3>

<h5>When will it be published?</h5>

Our Airpair team will review your article and if it meets our criteria, we will publish it according to our own internal publishing schedule.

We will let you know when it has been published.

<h5>When will I be paid?</h5>
All payments will be made after June 30th. The Author can submit an invoice and will be paid under NET 30 terms. The Company may deduct withholding taxes or other amounts if required by law.

<h5>Can I make edits?</h5>

You’re welcome to edit your post and improve it in order to get higher ratings

<h5>Why would my article not be approved?</h5>

Airpair will undertake all reasonable efforts to approve the content. Potential reasons for not issuing the Content Approval ("Approval") include, but are not limited to:
The Content contains inappropriate material such as:
Duplicate or IP infringing content
Unprofessional language
o Omissions and errors
Author does not agree to make the requested changes

<h5>Who will own my content?</h5>

As soon as we have published your piece, the Content becomes under the ownership of Airpair, and as such, we are allowed to make any changes to the Content, and well as publish it anywhere and anytime. Airpair is allowed to use Author's name and picture as a form of authorship attribution, although this is not required and will be done based on real estate availability and other considerations.

This change of ownership also includes IP Rights in the Content, unless the Author has excluded certain parts ("Excluded Content") and those parts have been defined in a PO agreement, separately. In consideration for the payment received for the Content,  Author grants to the Airpair an ongoing, irrevocable, royalty-free, worldwide license to reproduce and publish the Excluded Content. If the Content includes any material for which the Author does not have the IP rights, this must be communicated to the Company prior to the Approval date.

<h5>What if I want to make updates?</h5>
If you, as the Author, make any changes to the content after the Approval date,the ownership and IP in those changes are instantly transferred to Airpair.

<h5>But can I tell people I wrote it?</h5>
As the Author, you are allowed to take credit for having generated the Content, and can refer to it and link to it on your blog and other websites. As the Author, you are also allowed to copy up to 150 words of the Content as long as the copied content links to the Content.

<h5>What else am I agreeing to?</h5>

<p>By participating in this competition, you, the Author, certifies that you created the Content, that the Content is original and does not infringe the IP Rights of any 3rd party, the Author is permitted to assign the rights to us and there are no adverse interests in those rights by any 3rd parties, and that the Author is not restricted by any other agreement from executing this Agreement. In case of a breach of this contract , the Author will indemnify us against any loss, injury, damage , and legal costs incurred by us as a result of this breach.</p>



  </section>

</section>

</section>
