<section id="postscomp">

  <header>
    <ul>
      <li><a href="/100k-writing-competition#overview" target="_self">Overview</a></li>
      <li><a href="/100k-writing-competition#why" target="_self">Why Publish</a></li>
      <li><a href="/100k-writing-competition#prizes" target="_self">Prizes</a></li>
      <li><a href="/100k-writing-competition/faq" target="_blank" class="nomob"><b>FAQ</b></a></li>
      <li class="nomob"><span>share</span></li>
      <li class="nomob">
        <div class="nomob pw-widget pw-size-medium pw-counter-show" pw:twitter-via="airpair">
          <a class="pw-button-twitter"></a>
          <a class="pw-button-googleplus"></a>
          <a class="pw-button-linkedin"></a>
          <a class="pw-button-facebook"></a>
          <a class="pw-button-tumblr"></a>
          <a class="pw-button-reddit"></a>
        </div>
      </li>
    </ul>
  </header>


  <div class="fold">

    <img class="logo" src="/static/img/pages/postscomp/airpair-wc-logo.png" />
    <hr />
    <img class="typewriter" src="/static/img/pages/postscomp/typewriter.png" />
    <img class="plus" src="/static/img/pages/postscomp/banner-plus.png" />
    <img class="github" src="/static/img/pages/postscomp/banner-gh.png" />
    <img class="plus" src="/static/img/pages/postscomp/banner-plus.png" />
    <img class="hundred" src="/static/img/pages/postscomp/banner-100k.png" />

{{!--     <section class="cta1">
      <a href="/auth/github?return=/100k-writing-competition" class="btn">
      Login to get started</a>
    </section>
 --}}
  </div>



  <section class="about">
  <div class="parallax__layer parallax__layer--back">
    <img class="viewsbg" src="/static/img/pages/postscomp/post-views.png" />
  </div>

  <div class="parallax__layer parallax__layer--base">
    <p>
      AirPair has become one of the Web's top places to find great technical content.
      {{!--  Now we're stepping things up another notch. To celebrate the release of our new github powered collaborative authoring tools, we're hosting a competition. --}}
    </p>
    {{!-- <span>In 2014, many authors had their posts read by <b>tens of thousands of readers</b>.</span> --}}
    <ul class="stats">
      <li><h5>3 million</h5> pageviews in 6 months</li>
      <li><h5>+200k</h5> views on top article</li>
      <li><h5>15k avg</h5> reads per post in Jan</li>
      <li class="nomob"><h5>1 in 4</h5> trend on hackernews</li>
    </ul>
  </div>

  <p>We're hosting a competition, to celebrate our new colloborative authoring tools!</span>

  <img class="flow" src="/static/img/pages/postscomp/github-infographic-lt.png" />

  </section>

  <section id="overview" class="details">

  <div class="colA">

    <h2 >Competition overview</h2>

    <p>AirPair is on a quest to foster a new level of collaboratively-powered technical content. In the next few months, we want to publish 200 of the <b>highest quality developer resources</b> found <b>anywhere</b> on the web, written by developers like you.</p>

    <p>With the help of the Github API, readers can now fork and send pull requests on AirPair posts. Thus, enabling the comunity to actively help authors make more accurate and well written posts than ever before.</p>

    <p>To spread the word, we're distributing over <b>$100,000</b> in prize money to the most impactful articles published <b>between now and May 30th</b>. You can help too, by using the share buttons to tell your peers.</p>

  </div>
  <div class="colB">
    <h2>Past authors</h2>

    <ul class="pastauthors">
      <li>
        <img src="http://0.gravatar.com/avatar/b56bb22b3a4b83c6b534b4c114671380?s=60" />
        <p>
          <a href="https://www.airpair.com/angularjs/posts/angularjs-tutorial" target="_blank">The Ultimate AngularJS Tutorial</a> <br />by
          <a href="https://www.airpair.com/angularjs/posts/angularjs-tutorial" class="author" target="_blank" />Todd Motto</a>
          <b>3,000+ shares on twitter, facebook & linkedin</b>
        </p>
      </li>
      <li>
        <img src="http://0.gravatar.com/avatar/516fdb7617976ca67688fe05144241b0?s=60" />
        <p>
          <a href="https://www.airpair.com/aws/posts/building-a-scalable-web-app-on-amazon-web-services-p1" target="_blank">Comprehensive Guide to Scalable Web Apps on AWS</a> <br />by
          <a href="https://www.airpair.com/aws/posts/building-a-scalable-web-app-on-amazon-web-services-p1" class="author" target="_blank" />Josh Padnick</a>
          <b>35,000 views in the first 24 hours</b>
        </p>
      </li>
      <li>
        <img src="http://0.gravatar.com/avatar/fbf41c66afb1e3807b7b330c2d8fcc28?s=60" />
        <p>
          <a href="http://www.airpair.com/js/javascript-framework-comparison" target="_blank">AngularJS vs. Backbone.js vs. Ember.js</a> <br />by
          <a href="http://www.airpair.com/js/javascript-framework-comparison" class="author" target="_blank" />Uri Shaked</a>
          <b>Viewed over 200,000 times</b>
        </p>
      </li>
    </ul>
  </div>


  <div class="share">
    <div class="pw-widget pw-counter-vertical" pw:twitter-via="airpair">
      <a class="pw-button-facebook pw-look-native"></a>
      <a class="pw-button-twitter pw-look-native"></a>
      <a class="pw-button-googleplus pw-look-native"></a>
      <a class="pw-button-linkedin pw-look-native"></a>
      <a class="pw-button-tumblr pw-look-native"></a>
      <a class="pw-button-reddit pw-look-native"></a>
    </div>
  </div>

</section>

<section class="details">

  <div class="colA why">

    <h2 id="why">Why publish on AirPair?</h2>

    <img src="/static/img/pages/postscomp/traffic-growth.png" />

    <ol>
      <li>Get read by thousands of developers. High rated posts will be promoted by AirPair's marketing team. The <b>average post published on AirPair in January 2015 was viewed 15,000 times</b>!</li>
      <li>Establish thought leadership and develop your personal brand.</li>
      <li>Share your knowledge, experience and opinions with the developer community.</li>
      <li>Interact with and learn from other top experts who can help take your work to the next level.</li>
      <li>Allow your post to stay relevant longer. As frameworks change, accept pull requests from readers who notice problems.</li>
      <li>Receive feedback and improve your writing skills.</li>
      <li>Win thousands in prize money.</li>
    </ol>


  </div>


  <div class="colB authorfeedback">

    <h2>Author Feedback</h2>

    <div>
      <p>"I really enjoy technical writing and doing it with AirPair just made a ton of sense for me. I like to keep stuff on my own website these days but the value of the distribution and payment certainly outweighs the "portfolio value" of being able to publish the pieces myself."</p>
      <a href="https://www.airpair.com/angularjs/posts/testing-angular-with-karma" target="_blank">
        <b>Ben Drucker (15k readers)</b>
        <img src="//0.gravatar.com/avatar/9ce90975ecd6c34593771a4c0b0e789b?s=50" />
      </a>
    </div>
    <div>
      <p>"It was great to get some exposure. The process was very straightforward. I learned a lot by having to write and present on the topic and I received many inquiries following the article"</p>
      <a href="http://www.airpair.com/angularjs/posts/top-10-mistakes-angularjs-developers-make" target="_blank">
        <b>Mark Meyer (150k readers)</b>
        <img src="//0.gravatar.com/avatar/6c2f0695e0ca4445a223ce325c7fb970?s=50" />
      </a>
    </div>

    <div>
      <p>"I was worried going in as this was my first authorship experience, however the process was painless, driving me to really understand the topic at hand at a level which surpassed my original comprehension. On top of that it assisted me in cultivating a technical writing skillset, which would otherwise fall by the wayside."</p>
      <a href="https://www.airpair.com/angularjs/posts/angularjs-performance-large-applications" target="_blank">
        <b>Abraham Polishchuk (55k readers)</b>
        <img src="//0.gravatar.com/avatar/36bbc437a85c7654d1841ad508c78acb?s=50" />
      </a>
    </div>

    <div>
      <p>"Awesome, awesome, awesome. AirPair does an excellent marketing job, thus improving your reputation, thus getting new opportunities => making your life better! Win-Win!"</p>
      <a href="https://www.airpair.com/node.js/posts/top-10-mistakes-node-developers-make" target="_blank">
        <b>Alexandru Vladutu (65k readers)</b>
        <img src="//0.gravatar.com/avatar/2c109808640f6163ce0a92810c800999?s=50" />
      </a>
    </div>

  </div>

</section>

<section class="cta2">
  <div cta-post-comp-join></div>
</section>

<section class="details">

  <div class="colA rules">

    <h2 id="rules">Rules</h2>

    <h3>Dates</h3>

    <p><b>Submission: Now - May 30th</b>
    Remember, the earlier you submit, the sooner you will get published, and the more time you will have to promote your post. </p>
    <p>* Result Announcement: June 30th</p>


    <h3>Scoring</h3>

    <p>
    <b>Shares & Scoring:</b>
    Posts are scored by <br /><br />
      score = <span># of reviews</span> x <span>overall rating</span> + <span># of social shares</span>
    </p>

    <p>Shares include (tweets + facebook likes + linkedin shares) as measured by the AirPair social Widget by 30th June</p>

    <h3>Fine print</h3>

    <p>Got questions?</p>

    <a href="/100k-writing-competition/faq" target="_blank" class="btn">Read the competition faq</a>

  </div>

  <div class="colB prizes">

    <h2 id="prizes">Prize money</h2>

    <h3>Top overall articles</h3>
    <ul class="top-prizes">
      <li style="width:150px;height:150px;font-size:26px">1st prize<br /> $5000</li>
      <li style="width:120px;height:120px;font-size:20px">2nd prize<br /> $3000</li>
      <li style="width:100px;height:100px">3rd prize<br /> $2000</li>
    </ul>

    <h3>$500 to top article in each category</h3>
    <ul class="category-prizes">
      <li>JavaScript</li>
      <li>iOS <span>(or Swift)</soan></li>
      <li>NodeJS</li>
      <li>Python</li>
      <li>PHP <span>(or WordPress)</soan></li>
      <li>Android</li>
      <li>Ruby <span>(or Rails)</span></li>
      <li>DevOps</li>
      <li>AngularJS</li>
      <li>EmberJS</li>
      <li>Front-end <span>(html, css, <br />d3.js, svg)</span></li>
      <li>Databases</li>
    </ul>

    <h3>Guaranteed payments</h3>

    <p style="font-size:12px">* not applicable if you win one of the top overall prizes</p>

    <table class="table table-striped">
      <tr>
        <td><b>$1500</b></td>
        <td>2500+ real shares on social media</td>
      </tr>
      <tr>
        <td><b>$500</b></td>
        <td>750-2499 real shares on social media</td>
      </tr>
      <tr>
        <td><b>$150</b></td>
        <td>300-749 real shares on social media</td>
      </tr>
    </table>
  </div>


</section>

<section class="details">

  <div class="colB sponsors">

    <h2>Sponsored Prizes</h2>

    <p>$500 to top article on each API</p>

    <img src="/static/img/pages/postscomp/logo-firebase.png" />
    <img src="/static/img/pages/postscomp/logo-keen-io.png" />
    <img src="/static/img/pages/postscomp/logo-pubnub.png" />
    <img src="/static/img/pages/postscomp/logo-coreos.png" />
    <img src="/static/img/pages/postscomp/logo-rethinkdb.png" />

    <br /><br />
    <p>Interested in sponsoring a post?</p>

    <a href="/100k-writing-competition/sponsors-faq" target="_blank" class="btn">Read the sponsors faq</a>

  </div>

  <div class="colB"></div>

</section>



<section class="cta3">
  <a href="/posts/new" class="btn">Start a post</a>
  <p><b>Submission open</b> now - May 30</p>
  <p><b>Results announced</b> Jun 30</p>
</section>


</section>

