
<section id="allposts">

  <h1 class="underline">Learn from top software experts</h1>

  <div class="nobookmarks">
    {{#each featured}}{{> postListItem this}}{{/each}}
  </div>

  <h2 class="underline">Latest software tutorials & guides
    <a href="/posts/me" class="btn btn-inverse" target="_self">Contribute a post</a>
  </h2>

  <div class="nobookmarks">
    {{#each latest}}{{> postListItem this}}{{/each}}
  </div>

  <h2 class="underline">Popular software blog posts
    <a href="/posts/me" class="btn btn-inverse" target="_self">Contribute a post</a>
  </h2>

  <div class="popular nostars nobookmarks">
    {{#each popular}}{{> postListItem this}}{{/each}}
  </div>


  {{#if archive}}

  <h2 class="underline">All software tutorials
    <a href="/posts/me" class="btn btn-inverse" target="_self">Contribute a post</a>
  </h2>

  <ul class="archive-posts">
    {{#each archive}}
    <li><a href="{{url}}" target="_self">{{title}}</a> by <b>{{by.name}}</b></li>
    {{/each}}
  </ul>

  {{/if}}

</section>
