<header>
  <ol class="entry-meta breadcrumb">
    <li class="current">Posts</li>
  </ol>
</header>

{{!-- <div banner-postcomp style="min-height:90px;"></div> --}}

<section id="allposts">

  <h1 class="underline">Latest software posts <a href="/posts/me" class="btn" target="_self">Contribute</a></h1>
  <div>
    {{#each featured}}{{> postListItem this}}{{/each}}
  </div>


  {{#if archive}}

  <h2 class="underline">All software tutorials & featured posts <a href="/posts/me" class="btn" target="_self">Contribute</a></h2>

  <ul class="archive-posts">
    {{#each archive}}
    <li><a href="{{url}}">{{title}}</a> by <b>{{by.name}}</b></li>
    {{/each}}
  </ul>

  {{/if}}

</section>
