<header>
  <ol class="entry-meta breadcrumb">
    <li class="current">Posts</li>
  </ol>
</header>

<banner-postcomp></banner-postcomp>

<section id="postslist">

  <section id="allposts">
    <h3>All posts<span><a href="/posts/me" class="btn" target="_self">Contribute</a></span></h3>
    <div>
      {{#each this}}{{> postListItem this}}{{/each}}
    </div>
  </section>

</section>
