<section id="postscomp">
  <div class="fold">

    <img class="banner" src="/static/img/pages/postscomp/banner-img.png" />

  </div>

  <section class="details">


<h1>Attention Developers!!</h1>

<p>We're distributing over $100,000 in prize money to the most impactful articles publishing on AirPair.com by April 30th.</p>

<p>Publishing a successful post on AirPair means:</p>

<ul>
  <li>Establish thought leadership and share your knowledge, experience, or opinion with the developer community </li>
  <li>Guaranteed to be paid for highly shared articles</li>
  <li>Receive feedback and get exposure to a large technical reader base</li>
  <li>Win thousands in prize money</li>
</ul>


<h3>Some of the awesome reactions our authors have experienced include:</h3>

<ul>
  <li><b>3,000+ shares on twitter, facebook and linkedin</b> ([The Ultimate AngularJS Tutorial](https://www.airpair.com/angularjs/posts/angularjs-tutorial) by [Todd Motto](http://twitter.com/toddmotto))</li>
  <li><b>35,000 views in the first 24 hours</b> ([A Comprehensive Guide to Building a Scalable Web App on Amazon Web Services - Part 1](https://www.airpair.com/aws/posts/building-a-scalable-web-app-on-amazon-web-services-p1) by [Josh Padnick](https://twitter.com/ohmygoshjosh))</li>
  <li>
    <b>Trending on Hackernews for over 24 hours</b> ([Python Tips and Traps](https://www.airpair.com/python/posts/python-tips-and-traps) by [Ryan Brown](https://twitter.com/ryan_sb))
  </li>
</ul>


<div style="display:none">
**[Submit your article here]()**

Please check out the FAQ for [tips on topic selection](), [article submission](), [how to use the CMS](https://www.airpair.com/v1/posts/quick-guide-to-the-airpair-expert-cms) and more.

"I really enjoy technical writing and doing it with AirPair just made a ton of sense for me. I like to keep stuff on my own website these days but the value of the distribution and payment certainly outweighs the "portfolio value" of being able to publish the pieces myself. " - Ben Drucker, Founder of Valet.io

"It was great to get some exposure. The process was very straightforward. I learned a lot by having to write and present on the topic and I received many inquiries following the article "- Mark Meyer

"I was worried going in as this was my first authorship experience, however the process was painless, driving me to really understand the topic at hand at a level which surpassed my original comprehension. On top of that it assisted me in cultivating a technical writing skillset, which would otherwise fall by the wayside." - Abraham Polishchuk
</div>


<h2>What are the prizes?</h2>

<h3>Top overall articles</h3>
<ul>
  <li>Top prize $5000</li>
  <li>Second prize $3000</li>
  <li>Third prize $2000</li>
</ul>

<p>Guaranteed payment on popular articles!* not applicable if you win one of the top prizes</p>

<ul>
  <li>2500+ real shares on social media $1500</li>
  <li>500 - 2499 real shares on social media $500</li>
  <li>100 - 499 real shares on social media $150</li>
</ul>

<p>$500 payment Top articles per technology</p>
<ul>
  <li>JavaScript</li>
  <li>iOS (or Swift)</li>
  <li>NodeJS</li>
  <li>Python</li>
  <li>PHP</li>
  <li>Android</li>
  <li>Ruby (or Rails)</li>
  <li>DevOps</li>
  <li>AngularJS</li>
  <li>EmberJS</li>
  <li>Front-end (html, css, d3.js, svg)</li>
  <li>Databases</li>
</ul>

<p>$500 payment Top articles per Sponsor</p>
<ul>
  <li>Firebase</li>
</ul>

<h3>What are the rules?</h3>

<h5>Dates:</h5>
Submission: Now - April 30th
Remember, the earlier you submit, the sooner you will get published, and the more time you will have to promote your post. *
Result Announcement: June 30th

<h5>Scoring:</h5>
<p>Shares & Popularity: Most shares on social media (tweets + facebook + linkedin shares) as measured by the Airpair social Widget by 30th June</p>


<h5>Quality:</h5> Posts must meet minimum standards in quality. This is evaluated by <p>having a minimum of 4 stars on a 5 peer-rated stars scale.
In order to be eligible for this competition, you must rate at least 2 other articles in the competition.</p>

<p>If your post receives over a 3.5 star rating, you will be eligible for extra attention and promotional support from the Airpair Marketing Team.* This will help with exposure for your article. Write quality posts!</p>


<div style="display:none">###Can I refer an author? Separate small box

Refer an author and earn **10% of what they earn** if they publish an article with Airpair plus **$5 in airpair credit** for every author you refer (maximum of $50).

[Refer an Author](http://goo.gl/forms/fOjDpQssvZ)

- Only one referrer per article
- Can’t be existing authors on the platform
- The author has to inform us that you referred them
- Payment after June 30th

##testimonies… Column down right hand side with photos and small text
</div>


<h2>FAQ</h2>

<h5>###What should I write about?</h5>
It's important that you write about something you are passionate about, and feel that others should learn more about.

However you need to keep in mind that your performance in this competition is evaluated based on the **quality of your article**, plus **how many people share your article on social media** - on twitter, linkedin and facebook.

In our experience, articles that do well are:
<Br />
- well written
- accurate
- concise
- specific and opinionated
- useful
- sometimes controversial
- covering specific experiences rather than general ones

*If you aren't a native English speaker, consider getting your article proof read before submitting.*

Articles that don't receive much attention tend to be:

- Badly written
- Inaccurate
- Too vague and not focused on a specific problem
- Too basic / Too general
- Contain nothing new

Technology areas we are looking for include but are not limited to:

- JS
- Swift
- Node
- Python
- PHP
- Arduino
- Ruby
- DevOps
- FrontEnd
- Databases

Some examples are:

- **Comparision pieces** ([AngularJS vs. Backbone.js vs. Ember.js](https://www.airpair.com/js/javascript-framework-comparison) by Uri Shaked)
- **Tutorials** ([The Ultimate AngularJS Tutorial](https://www.airpair.com/angularjs/posts/angularjs-tutorial) by [Todd Motto](http://twitter.com/toddmotto))
- **Lists** ([Top 10 Mistakes Node.js Developers Make](https://www.airpair.com/node.js/posts/top-10-mistakes-node-developers-make) by Alexandru Vladutu)


<h5>###How long should it be?</h5>

We recommend you keep your posts to 2000 - 3000 words (we have published posts with up to 12000 words but they are an exception).

Please familiarize yourself with [pre-existing content on Airpair](), and try not to duplicate content.

<h5>###When will it be published?</h5>

Our Airpair team will review your article and if it meets our criteria, we will publish it according to our own internal publishing schedule.

We will let you know when it has been published.

<h5>###When will I be paid?</h5>
All payments will be made after June 30th. The Author can submit an invoice and will be paid under NET 30 terms. The Company may deduct withholding taxes or other amounts if required by law.

<h5>###Can I make edits?</h5>

You’re welcome to edit your post and improve it in order to get higher ratings

<h5>###Why would my article not be approved?</h5>

Airpair will undertake all reasonable efforts to approve the content. Potential reasons for not issuing the Content Approval ("Approval") include, but are not limited to:
The Content contains inappropriate material such as:
Duplicate or IP infringing content
Unprofessional language
o Omissions and errors
Author does not agree to make the requested changes

<h5>###Who will own my content?</h5>

As soon as we have published your piece, the Content becomes under the ownership of Airpair, and as such, we are allowed to make any changes to the Content, and well as publish it anywhere and anytime. Airpair is allowed to use Author's name and picture as a form of authorship attribution, although this is not required and will be done based on real estate availability and other considerations.

This change of ownership also includes IP Rights in the Content, unless the Author has excluded certain parts ("Excluded Content") and those parts have been defined in a PO agreement, separately. In consideration for the payment received for the Content,  Author grants to the Airpair an ongoing, irrevocable, royalty-free, worldwide license to reproduce and publish the Excluded Content. If the Content includes any material for which the Author does not have the IP rights, this must be communicated to the Company prior to the Approval date.

<h5>###What if I want to make updates?</h5>
If you, as the Author, make any changes to the content after the Approval date,the ownership and IP in those changes are instantly transferred to Airpair.

<h5>###But can I tell people I wrote it?</h5>
As the Author, you are allowed to take credit for having generated the Content, and can refer to it and link to it on your blog and other websites. As the Author, you are also allowed to copy up to 150 words of the Content as long as the copied content links to the Content.

<h5>###What else am I agreeing to?</h5>

By participating in this competition, you, the Author, certifies that you created the Content, that the Content is original and does not infringe the IP Rights of any 3rd party, the Author is permitted to assign the rights to us and there are no adverse interests in those rights by any 3rd parties, and that the Author is not restricted by any other agreement from executing this Agreement. In case of a breach of this contract , the Author will indemnify us against any loss, injury, damage , and legal costs incurred by us as a result of this breach.








  </section>

</section>
