<header>
  <ol class="entry-meta breadcrumb">
    <li class="current">Blog</li>
  </ol>
</header>

<section id="postslist">

  <section id="allposts">
    <h3>All posts<span><a href="/posts" class="btn" target="_self">Contribute</a></span></h3>
    <div class="posts recent">
      {{#each this}}{{> postListItem this}}{{/each}}
    </div>
  </section>

</section>
