<header>
  <ol class="entry-meta breadcrumb">
    <li class="current">Posts</li>
  </ol>
</header>

<banner-postcomp></banner-postcomp>

<section id="allposts">

  <h1 class="underline">All software posts <a href="/posts/me" class="btn" target="_self">Contribute</a></h1>
  <div>
    {{#each this}}{{> postListItem this}}{{/each}}
  </div>

</section>
