<header>
  <a href="/" tile="airpair.com pair programming" target="_self"></a>

  <ul>
    <li class="ps"><a href="/software-experts" target="_self">Software experts</a></li>
    <li class="find nomob"><a href="/hire-software-developers" target="_self">Hire developers</a></li>
    <li class="nomod">|</li>
    <li class="exp nomob"><a href="https://author.airpair.com/" target="_self">Author</a></li>
    <li class="exp nomob"><a href="https://consult.airpair.com/" target="_self">Consult</a></li>
    {{!-- {{#unless authenticated}}<li class="more nomob"><a>More</a>
     <ul class="more">
        <li><a href="/tos" target="_blank" class="pp">Tos</a></li>
      </ul>
    </li>
    {{/unless}} --}}
{{!--<li><b><a id="headerGetHelp" href="/help/request" track-click="request" class="btn">Coding Help </a></b></li> --}}
    {{!--<li><a href="#" target="_self">Pair Programming</a></li>--}}
  </ul>
</header>
