<header>
  <a href="http://www.airpair.com/v1" tile="v1.airpair.com"></a>
  <ul>
    {{!-- <li><a href="/experts">Experts</a></li> --}}
    <li><a href="/posts" target="_self">Posts</a></li>
    <li><a href="/workshops" target="_self">Workshops</a></li>
    {{!--<li><a href="#" target="_self">Pair Programming</a></li>
    <li><a href="#" target="_self">Terms of Service</a></li>--}}
  	<li>
  {{#if authenticated }}{{ else }}<a href="/v1/auth/login" target="_self">Login</a>{{/if}}
    </li>
  </ul>
</header>
