<header>
  <a href="/v1" tile="v1.airpair.com"></a>
  <ul>
    {{!-- <li><a href="/experts">Experts</a></li> --}}
    {{!-- <li><a href="mailto:team@airpair.com?Subject=Bug spotted" target="_blank">Bug?</a></li> --}}
    <li><b><a href="/find-an-expert" target="_self">Get Help!</a></b></li>
    <li><a href="/posts" target="_self">Posts</a></li>
    <li><a href="/workshops" target="_self">Workshops</a></li>
    {{!--<li><a href="#" target="_self">Pair Programming</a></li>
    <li><a href="#" target="_self">Terms of Service</a></li>--}}
  </ul>
</header>
