<header>
  <a href="/" tile="airpair.com pair programming"></a>

  {{!-- <label>Where developers help developers</label> --}}

  <ul>
    {{!-- <li><a href="/experts">Experts</a></li> --}}
    <li><a href="/rss" target="_self" class="rss">Rss</a></li>
    <li><a href="/privacy" target="_blank" class="pp">Privacy</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/workshops" target="_self" class="wk">Workshops</a></li>
    <li><b><a id="headerGetHelp" href="/help/request" track-click="request" class="btn">Get Coding Help <i>New!</i></a></b></li>
    {{!--<li><a href="#" target="_self">Pair Programming</a></li>--}}
  </ul>
</header>
