{{#unless authenticated}}
<footer>
  <ul>
    <li><a href="/tos" target="_blank" class="tos">Terms of Service</a></li>
    <li><a href="/privacy" target="_blank" class="pp">Privacy</a></li>
    {{!-- <li><a href="/contact" target="_blank" class="ctc">Contact</a></li> --}}
    <li>&copy; 2015 airpair, inc.</li>
  </ul>
</footer>
{{/unless}}
