<header>
  <a href="/" tile="airpair.com pair programming"></a>
  <ul>
    {{!-- <li><a href="/experts">Experts</a></li> --}}
    {{!-- <li><a href="mailto:team@airpair.com?Subject=Bug spotted" target="_blank">Bug?</a></li> --}}
    <li><a href="/privacy" target="_blank" class="pp">Privacy</a></li>
    <li><a href="/posts" target="_self">Posts</a></li>
    <li><a href="/workshops" target="_self" class="wk">Workshops</a></li>
    <li><b><a href="/find-an-expert" target="_self" class="btn" style="width:104px;padding:2px 6px;font-size:11px;margin-top:-2px">Get Expert Help!</a></b></li>
    {{!--<li><a href="#" target="_self">Pair Programming</a></li>--}}
  </ul>
</header>
