<header>Workshops</header>

<section id="workshops">

  <section id="allworkshops">
    <h3>2014 workshops<span style="float:right"><a href="/workshops/subscribe">Subscribe to calendar</a></span></h3>
    <div class="workshops">
      {{#each this}}{{> workshopListItem this}}{{/each}}
    </div>
  </section>

</section>
