<section id="orders">

  <div class="query">
    <div datetime-input id="queryStart" datetime="query.start"></div>
    <div datetime-input id="queryEnd" datetime="query.end"></div>
    <div user-input></div>
    <a ng-click="fetch()" class="btn">Search</a>
  </div>

  <h3>Orders</h3>

  <table class="table table-condensed table-striped orders">
    <tr>
      <th style="width:50px">Total</th>
      <th style="width:70px">Ordered</th>
      <th style="width:170px">By</th>
      <th>Lines</th>
      <th>Owner</th>
      <th class="p">Profit</th>
    </tr>
    <tr style="background:white">
      <th>${{summary.total}}</th>
      <th>{{summary.count}}</th>
      <th>{{summary.byCount}} (unique)</th>
      <th></th>
      <th></th>
      <th class="p">${{summary.profit}}</th>
    </tr>
    <tr ng-repeat="o in orders">
      <td>
        <a href="/v1/adm/orders/{{o._id}}">
          <b>${{o.total}}</b>
        </a>
      </td>
      <td><time>{{o.utc | publishedTime : 'MM/DD HH:mm' }}</time></td>
      <td><img ng-src="{{o.by.avatar}}?s=30"/><a href="/adm/users/{{o.by._id}}" ng-bind-html="o.by.name | addNameBreak" target="_blank"></a>
      </td>
      <td>
        <div ng-repeat="l in o.lineItems">
          <span>{{l.total}}</span> <em>{{l.type}}</em> {{ l.info.name }} {{ l.info.type }} {{ l.info.source }}
        </div>
      </td>
      <td>{{o.owner}}</td>
      <td class="p">${{o.profit}}</td>
    </tr>
  </table>

</section>
