<section id="orders">

  <h2>Orders</h2>

  <div user-input=""></div>

  <table class="table table-condensed orders">
    <tr>
      <th style="width:40px">Total</th>
      <th style="width:80px">Time</th>
      <th style="width:280px">By</th>
      <th>Owner</th>
      <th>Lines</th>
      <th class="p">Profit</th>
    </tr>
    <tr ng-repeat="o in orders">
      <td><b>${{o.total}}</b></td>
      <td>{{o.utc | publishedTime : 'MM.DD HH:mm' }}</td>
      <td><img src="{{o.by.avatar}}?s=20"/><a href="mailto:{{o.by.email}}">{{o.by.name}}</a></td>
      <td>{{o.owner}}</td>
      <td>
        <div ng-repeat="l in o.lineItems">
          <span>{{l.total}}</span> <em>{{l.type}}</em> {{ l.info.name }} {{ l.info.type }}
        </div>
      </td>
      <td class="p">${{o.profit}}</td>
    </tr>
  </table>

</section>
