{{> siteNav }}

<main id="home">

  <section class="header">
    <img src="https://static.airpair.com/img/brand/logo.png" />
    <table>
      <tr>
        <td><span>{</span></td>
        <td>
          <h2>
          Multiply <i class="nomob">your</i> <b>software development</b> productivity
          </h2>
          <h4>
          with on-demand software expertise and
          free programming resources.
          </h4>
        </td>
        <td><span>}</span></td>
      </tr>
    </table>
  </section>


 {{!--  <section class="how">

    <div class="vr"></div>

    <h2><a href="/hire-software-developers">Hire top programmers</a> by the hour for</h2>
    <br />

    <div class="row">
      <div class="col-md-4">
        <img src="//0.gravatar.com/avatar/b56bb22b3a4b83c6b534b4c114671380?s=100" />
        <h3>Pair programming</h3>
        <p>
          Troubleshooting something you can't solve or need some mentorship?
          Pair live over video chat/ screensharing 1 hour at a time.
        </p>
      </div>
      <div class="col-md-4">
        <img src="//0.gravatar.com/avatar/c01ef7584331527e1c600b85ba6a75f3?s=100" />
        <h3>Code Review</h3>
        <p>Want your code to be sanitized without even thinking about it?
         Hire experts to asynchronously review pull requests 1-5 times per week.
        </p>
      </div>
      <div class="col-md-4">
        <img src="//0.gravatar.com/avatar/892cdc57a3a64ea0ad59827bc6d1ddf7?s=100" />
        <h3>Resources</h3>
        <p>Falling behind delivery deadlines and need some features fast?
        Pay vetted remote help in 5-20 hour blocks until you're live and
        serving customers.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="//0.gravatar.com/avatar/b988f05edd27e18eb63b0c5abfdc113c?s=100" />
        <h3>Chat support</h3>
        <p>Need a specialist to make sure things are done right. Have
        experts provide chat support to your questions while you build.</p>
      </div>
      <div class="col-md-4">
        <img src="//0.gravatar.com/avatar/f524745bb9975ba777b5c4a9922eb614?s=100" />
        <h3>Training</h3>
        <p>Bringing innovation and new tech into your organization?
          Have an expert plan and deliver personalize
          1-many online private workshops.
        </p>
      </div>
      <div class="col-md-4">
        <img src="//0.gravatar.com/avatar/fbf41c66afb1e3807b7b330c2d8fcc28?s=100" />
        <h3>And More!</h3>
        <p>AirPair is your go-to platform when
            you need to get unstuck without
            wasting time and resources.</p>
      </div>
    </div>
  </section> --}}


  <section id="about">
{{!--
  <div class="vr"></div>
  <h2>Learn from our <a href="/software-experts">Software Experts</a></h2> --}}
  <div class="vr"></div>
  <div class="nobookmarks">
    <article class="posttile" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
      <a href="https://www.airpair.com/reactjs/posts/reactjs-a-guide-for-rails-developers" title="React.js - A guide for Rails developers" target="_self" rel="bookmark">
        <header class="entry-header">
          <img class="entry-header-image" itemprop="image" src="https://i.imgur.com/UUHYW6o.png" align="left">
          <div class="glass"></div>
          <p>
            <span class="entry-categories">
              <em>reactjs</em>
              <em>ruby-on-rails</em>
            </span>
            Integrate React.js with Ruby on Rails to build web apps
          </p>
        </header>

        <div class="entry-content" itemprop="text">
          <h2 class="entry-title" itemprop="headline">React.js - A guide for Rails developers</h2>

          <span class="entry-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
            <span class="entry-author-name" itemprop="name">Fernando Villalobos</span>
          </span>

        </div>
      </a>
      <footer class="entry-footer">
        <img class="entry-author-img" itemprop="image" ng-src="https://0.gravatar.com/avatar/f3d872377f757084e22ab15b7955a73d?s=50" src="https://0.gravatar.com/avatar/f3d872377f757084e22ab15b7955a73d?s=50">
      </footer>

    </article>
    <article class="posttile" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
      <a href="http://www.airpair.com/js/javascript-framework-comparison" title="AngularJS vs. Backbone.js vs. Ember.js" target="_self" rel="bookmark">
        <header class="entry-header">
          <img class="entry-header-image" itemprop="image" src="https://airpair-blog.s3.amazonaws.com/wp-content/uploads/2014/08/urishaked-jscompare-2.png" align="left">
          <div class="glass"></div>
          <p>
            <span class="entry-categories">
              <em>javascript</em>
              <em>angularjs</em>
              <em>backbone.js</em>
              <em>ember.js</em>
            </span>
            Angular, Backbone and Ember all have the concept of views, events, data models and routing. We will compare their differences and outline ideal use cases.
          </p>
        </header>

        <div class="entry-content" itemprop="text">
          <h2 class="entry-title" itemprop="headline">AngularJS vs. Backbone.js vs. Ember.js</h2>

          <span class="entry-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
            <span class="entry-author-name" itemprop="name">Uri Shaked</span>
          </span>

        </div>
      </a>
      <footer class="entry-footer">
        <img class="entry-author-img" itemprop="image" src="https://0.gravatar.com/avatar/fbf41c66afb1e3807b7b330c2d8fcc28?s=50">
      </footer>

    </article>
    <article class="posttile" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
      <a href="https://www.airpair.com/javascript/posts/the-mind-boggling-universe-of-javascript-modules" title="The mind-boggling universe of JavaScript Module strategies" target="_self" rel="bookmark">
        <header class="entry-header">
          <img class="entry-header-image" itemprop="image" src="https://openmerchantaccount.com/img/lego-adjusted.jpg" align="left">
          <div class="glass"></div>
          <p>
            <span class="entry-categories">
              <em>javascript</em>
              <em>module</em>
              <em>npm</em>
              <em>requirejs</em>
              <em>node.js</em>
            </span>
            This article exposes the foundations of different JavaScript Module strategies such as ad hoc, CommonJS, AMD and ES6 modules, and how to get started with ES6 modules right now.
          </p>
        </header>

        <div class="entry-content" itemprop="text">
          <h2 class="entry-title" itemprop="headline">The mind-boggling universe of JavaScript Module strategies</h2>

          <span class="entry-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
            <span class="entry-author-name" itemprop="name">Tiago Romero Garcia</span>
          </span>

        </div>
      </a>
      <footer class="entry-footer">
        <img class="entry-author-img" itemprop="image" src="https://0.gravatar.com/avatar/5cac784a074b86d771fe768274f6860c?s=50">
      </footer>

    </article>
    <article class="posttile" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
      <a href="https://www.airpair.com/ionic-framework/posts/ionic-firebase-camera-app" title="Upload Camera Images To Firebase Using Ionic Framework" target="_self" rel="bookmark">
        <header class="entry-header">
          <img class="entry-header-image" itemprop="image" src="https://img.youtube.com/vi/uvPlTzZxFcI/hqdefault.jpg" align="left">
          <div class="glass"></div>
          <p>
            <span class="entry-categories">
              <em>ionic</em>
              <em>firebase</em>
              <em>angularjs</em>
              <em>cordova</em>
              <em>android</em>
              <em>ios</em>
            </span>
            Learn how to use the native device camera in your Ionic Framework Android and iOS mobile application to take pictures and synchronize them with Firebase.

            View images that were uploaded to Firebase in a sleek grid format comparable to Imgur or Facebook.  All images uploaded to Firebase are stored in base 64 format.
          </p>
        </header>

        <div class="entry-content" itemprop="text">
          <h2 class="entry-title" itemprop="headline">Upload Camera Images To Firebase Using Ionic Framework</h2>

          <span class="entry-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
            <span class="entry-author-name" itemprop="name">Nic Raboy</span>
          </span>

        </div>
      </a>
      <footer class="entry-footer">
        <img class="entry-author-img" itemprop="image" src="https://0.gravatar.com/avatar/7d55990e9cc9544ca2f435aa3a690490?s=50">
      </footer>

    </article>
    <article class="posttile" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
      <a href="https://www.airpair.com/ionic-framework/posts/push-notifications-using-ionic-framework" title="Build an iOS app with Push Notifications using Ionic Framework" target="_self" rel="bookmark">
        <header class="entry-header">
          <img class="entry-header-image" itemprop="image" src="https://dl.dropboxusercontent.com/u/17828362/ionic-push-notifications/push_notifications.png" align="left">
          <div class="glass"></div>
          <p>
            <span class="entry-categories">
              <em>ionic</em>
              <em>angularjs</em>
              <em>mongodb</em>
              <em>push-notification</em>
              <em>node.js</em>
              <em>cordova</em>
            </span>
            Unfortunately, there are a lot of bad things happening every day. So we are going to create an iOS application to show some good news with push notifications.
          </p>
        </header>

        <div class="entry-content" itemprop="text">
          <h2 class="entry-title" itemprop="headline">Build an iOS app with Push Notifications using Ionic Framework</h2>

          <span class="entry-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
            <span class="entry-author-name" itemprop="name">Oleksandr Telnov</span>
          </span>

        </div>
      </a>
      <footer class="entry-footer">
        <img class="entry-author-img" itemprop="image" src="https://0.gravatar.com/avatar/eed006e4f965a673444400199c1b6b62?s=50">
      </footer>

    </article>
    <article class="posttile" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
      <a href="https://www.airpair.com/node.js/posts/getting-started-with-docker-for-the-nodejs-dev" title="Getting Started with Docker for the Node.js Developer" target="_self" rel="bookmark">
        <header class="entry-header">
          <img class="entry-header-image" itemprop="image" src="https://d262ilb51hltx0.cloudfront.net/max/1600/1*_MtS4HqN2srTcrSyet61DQ.jpeg" align="left">
          <div class="glass"></div>
          <p>
            <span class="entry-categories">
              <em>node.js</em>
              <em>docker</em>
              <em>javascript</em>
            </span>
            This is a tutorial on how to get started with Docker. It covers installation, Dockerfiles, downloading images, running a container, and finally creating and running a node app.
          </p>
        </header>

        <div class="entry-content" itemprop="text">
          <h2 class="entry-title" itemprop="headline">Getting Started with Docker for the Node.js Developer</h2>

          <span class="entry-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
            <span class="entry-author-name" itemprop="name">Heitor Tashiro Sergent</span>
          </span>

        </div>
      </a>
      <footer class="entry-footer">
        <img class="entry-author-img" itemprop="image" src="https://0.gravatar.com/avatar/10eef81625284e8299967a73960e860b?s=50">
      </footer>

    </article>

  </div>
  <br /><br />


  <section id="tags">
    <div class="vr"></div>
    <h2>Explore by software technology</h2>
    <a href="/node.js"><img src="/img/software/node.js.png"/></a>
    <a href="/posts/tag/angularjs"><img src="/img/software/angularjs.png"/></a>
    <a href="/python"><img src="/img/software/python.png"/></a>
    <a href="/android"><img src="/img/software/android.png"/></a>
    <a href="/reactjs"><img src="/img/software/reactjs.png"/></a>
    <a href="/ruby"><img src="/img/software/ruby.png"/></a>
    <a href="/php"><img src="/img/software/php.png"/></a>
    <a href="/ionic"><img src="/img/software/ionic.png"/></a>
    <a href="/swift"><img src="/img/software/swift.png"/></a>
    <a href="/twilio"><img src="/img/software/twilio.png"/></a>
    <a href="/keen-io"><img src="/img/software/keen-io.png"/></a>
    <a href="/neo4j"><img src="/img/software/neo4j.png"/></a>
    <a href="/rethinkdb"><img src="/img/software/rethinkdb.png"/></a>
    <a href="/firebase"><img src="/img/software/firebase.png"/></a>
    <a href="/mongodb"><img src="/img/software/mongodb.png"/></a>
  </section>


  </main>


</div>

{{siteFooter}}
