<section id="chat">

  <h3>Chat </h3>
    <h2>Users by Page</h2>

    <!-- show -help-request page first -->
    <div ng-repeat="(page, members) in corechat.admin.members.byPage['-help-request']" style="margin-bottom:50px;background-color:#EAF4F2;">
        <div ng-show="members">
            <b>{{page}}</b><br />
            <div ng-repeat="(memberId, _) in members">
                <span member-info="{{memberId}}">{{member.name || "Anonymous User"}} <span am-time-ago="member.page.timestamp"></span></span><button ng-click="setCurrentUser(memberId)">Start Chatting</button>
            </div>
        </div>
    </div>

    <div ng-repeat="(page, members) in corechat.admin.members.byPage" ng-hide="page === '-help-request'" style="margin-bottom:10px;">
        <div ng-show="members">
            <b>{{page}}</b><br />
            <div ng-repeat="(memberId, _) in members">
                <span member-info="{{memberId}}">{{member.name || "Anonymous User"}} <span am-time-ago="member.page.timestamp"></span></span> <button ng-click="setCurrentUser(memberId)">Start Chatting</button>
            </div>
        </div>
    </div>

    <h2>Rooms by Last Message</h2>
    <div ng-repeat="(timestamp, room) in corechat.admin.rooms.byLastMessage">
        <span ng-show="getRoomType(room) == 'pair'">
            <b>1:1 Chat:</b>
            <span ng-repeat="member in room.members">
                {{member.name || "Anonymous"}}
            </span>
        </span>
        <span ng-show="getRoomType(room) == 'group'">
            <b>Group Chat:</b>
            {{room.id}}
        </span>
    </div>

    <h2>All Rooms</h2>
    <div ng-repeat="room in allRooms">
        <button ng-click="toggleHistory=!toggleHistory">{{room.info.name}}</button>
        <div ng-if="toggleHistory">
            <div ng-repeat="message in room.history">
                <b member-info="{{message.to}}">{{member.name || "Anonymous User"}}</b>: {{message.body}}
            </div>
            <div ng-show="!room.history.length">
                No messages :(
            </div>
        </div>
    </div>

</section>
