<header>
  <a href="https://www.airpair.com/" tile="Learn CODE - from top software developers | AirPair" target="_self"></a>
  {{!-- <ul>{{#with session}}{{#if avatar}}
    <li class="usr"><a href="/account" target="_self" style="background-image('{{avatar}}?s=20')"></a></li>{{/if}}
  </ul>{{/with}} --}}
{{!--   <div errors-header></div> --}}
</header>
