<footer>
  <ul>
    <li><a href="/tos" target="_blank" class="tos">Terms of Service</a></li>
    <li><a href="/privacy" target="_blank" class="pp">Privacy policy</a></li>
{{!--     <li><a href="/logout" target="_blank" class="lg">Logout</a></li> --}}
    <li>&copy; 2016 airpair, inc.</li>
  </ul>
</footer>
{{#unless authenticated}}
{{/unless}}
