<header>
  <a href="/" tile="airpair.com pair programming" target="_self"></a>
  <ul>
{{#if authenticated}}
    <li class="ps"><a href="/" target="_self">Home</a></li>
    <li class="ps"><a href="/billing" target="_self">Billing</a></li>
    <li class="ps"><a href="/software-experts" target="_self">Experts</a></li>
    {{!-- <li class="find nomob"><a href="/hire-software-developers" target="_self">Hire developers</a></li> --}}
    <li class="usr min640">
      <a href="/account" target="_self"><img src="{{session.avatar}}&s=20" /></a>
    </li>
    <li class="ath nomob"><a href="https://author.airpair.com/" target="_self"  rel="nofollow">Author</a></li>
    <li class="ath nomob"><a href="https://consult.airpair.com/" target="_self" rel="nofollow">Consult</a></li>
{{else}}
    <li class="ps"><a href="/software-experts" target="_self">Software Experts</a></li>
    <li class="bk">|</li>
    <li class="lg"><a href="/login" target="_self" rel="nofollow"><b>Login</b></a></li>
{{/if}}
  </ul>
</header>
