doctype html
html(lang="en" ng-app="AirPair")
  head
    title AirPair v1 | Chat Admin Interface

    link(rel="stylesheet" href="/v1/css/bootstrap.css" type="text/css")
    link(rel="stylesheet" href="../v1/css/chat.css" type="text/css")

    // build:js1 /admin.js
    script(type="text/javascript" src="../v1/bower_components/jquery/dist/jquery.js")
    script(type="text/javascript" src="../v1/bower_components/angular/angular.js")
    script(type="text/javascript" src="../v1/bower_components/firebase/firebase.js")
    script(type="text/javascript" src="../v1/bower_components/angularfire/dist/angularfire.js")
    // endbuild

    script(type="text/javascript" src="admin.js")

  body(ng-controller="ChatAdminController")
    .container-fluid.stretch
      .row.stretch
        .col-xs-3
          chats
          form(ng-submit="create()")
            label Create New Channel
            input(ng-model="name")
        .col-xs-9.stretch
          h3 {{ activeChannel.name }}
          table#chatroom.stretch
            tr#messages
              td
                #message-cell(scroll-glue)
                  .row(ng-repeat="msg in activeMessages")
                    .col-md-3
                      .from {{ msg.from }}
                    .col-md-9
                      .content {{ msg.content }}
            tr#entry(ng-show="activeChannel")
              td(colspan=2)
                form(ng-submit="addMessage()")
                  input#message(ng-model="message")
