doctype html
html(lang="en" ng-app="AirPair")
  head
    title AirPair v1 | Chat Admin Interface

    link(rel="stylesheet" href="/v1/css/bootstrap.css" type="text/css")
    link(rel="stylesheet" href="../v1/css/chat.css" type="text/css")

    // build:js1 /admin.js
    script(type="text/javascript" src="../v1/bower_components/jquery/dist/jquery.js")
    script(type="text/javascript" src="../v1/bower_components/angular/angular.js")
    script(type="text/javascript" src="../v1/bower_components/firebase/firebase.js")
    script(type="text/javascript" src="../v1/bower_components/angularfire/dist/angularfire.js")
    // endbuild

    script(type="text/javascript" src="admin.js")

  body(airpair-chat-admin)


