<main id="inreview" class="spn-top-90090 spn-btm-970250">

  <div id="srv">{{> post_v2}}</div>

  <header>
    <figure class="spn-top-90090 heroku"><a rel="nofollow" href="/visit/heroku-160613-ruby" class="ruby" target="_blank" title="Deploy ruby on heroku"><img src="https://www.airpair.com/ads/2016-q3-heroku/900x90.q3-1.python.png"></a></figure>
  </header>
  <footer>
    <figure class="spn-btm-970250 heroku"><a rel="nofollow" href="/visit/heroku-160613-ruby" class="ruby" target="_blank" title="Deploy ruby on heroku"><img src="https://www.airpair.com/ads/2016-q3-heroku/970x250.q3-1.python.png"></a></figure>
  </footer>

</main>

