<main id="preview" preview-width>
  {{{previewHeader}}}
  <menu ng-if="ui.page.preview.toggle" preview-menu></menu>
  <div id="srv">{{> post_v2 }}</div>
</main>
<main ng-view>
</main>
{{{previewFooter}}}
