{{#with r.post}}

<article class="blogpost faq">

  <h1 class="entry-title" itemprop="headline">{{ title }}</h1>

  <post no-compile>{{{ html.body }}}</post>

  {{!-- {{#if references}}
  <div id="references" no-compile>
    <hr />
    <h5>Definitions</h5>
    <ul class="references">
      {{#each references}}<li>{{{this}}}</li>{{/each}}
    </ul>
  </div>
  {{/if}} --}}

</article>


{{/with}}
