

<form id="availabilityForm" novalidate name="availabilityForm" ng-submit="submit(availabilityForm.$valid, data)">

  <h3 class="underline">Availability <a ng-click="alert('haha')" class="btn btn-small btn-inverse">Save</a></h3>

  <div form-group>
    <label class="control-label" for="availabilityStatus">Status</label>
    <select id="availabilityStatus" name="availabilityStatus" form-control ng-model="data.availability.status">
      <option value="ready">I'm available</option>
      <option value="busy">Busy until</option>
    </select>
    <div ng-if="data.availability.status == 'busy'" datetime-input id="bookingDatetime" datetime="data.availability.busyUntil" min-view="day" date-format="YYYY MMM DD"></div>
  </div>

  <div form-group>
    <label class="control-label" for="busyUntil"></label>
  </div>

  <div form-group>
    <label class="control-label" for="hours">Hours</label>
    <select id="hours" name="hours" form-control ng-model="data.availability.hours">
      <option value="1-2">2</option>
      <option value="3-5">5</option>
      <option value="10-20">10</option>
      <option value="20+">20</option>
    </select>
  </div>

  <div form-group>
    <label class="control-label" for="minRate">Min rate</label>
    <input id="minRate" name="minRate" form-control type="number" placeholder="The minimum rate you would take" ng-model="data.availability.minRate" required tabindex="1">
    <div class="error" ng-if="formGroup.showError(availabilityForm.minRate)" ng-messages="availabilityForm.minRate.$error">
      <div ng-message="required">Field required</div>
      <div ng-message="number">Invalid amount</div>
    </div>
  </div>

</form>
