<section id="expert" ng-if="data._id">


<section class="a user" ng-if="data">

  <h3 class="underline"><a href="/adm/experts">Experts</a> > {{ data.name || data.user.name }}
  <b>
    {{data.lastTouch.action}}
    <time>{{ data.lastTouch.utc | agoTime }}</time>
  </b>
  </h3>

  <div class="display-group" ng-if="data.user">
    <img class="pic" ng-src="{{data.pic}}">
    <social-links profile='data.user.social'></social-links>
    <div user-info info="data.user"></div>
  </div>
  <div class="display-group" ng-if="!data.user">
    <div user-info info="data"></div>
    <p class="text-warning">Not upgraded to v1</p>
  </div>

</section>

<section class="b json">

  <h3 class="underline">Raw</h3>

  <pre>{{expert|json}}</pre>

</section>

<section class="a expert">

  <h4>Expert info</h4>

  <div class="display-group">
    <div class="gmail">
      <var>Gmail</var>
      <label>{{data.gmail||'n/a'}}</label>
    </div>
    <div class="rate">
      <var>Rate</var>
      <label>{{data.rate}}</label>
    </div>
    <div class="tags">
      <var>Tags</var>
      <label><ul>
      <li ng-repeat="tag in data.tags">{{tag.sort}}: <span>{{tag.slug}}</span></li>
      </ul></label>
    </div>
    <div class="brief">
      <var>Brief</var>
      <label><p>{{data.brief}}</p></label>
    </div>
  </div>


</section>


<section class="a availability">

  <h3 class="underline">Availability</h3>
  <p class="text-warning">Coming soonish...</p>
  <!-- <expert-availability></expert-availability> -->

</section>

<section class="a deals">

  <h3 class="underline">Deals <a href="/adm/experts/{{data._id}}/deals" class="btn-sm">edit</a></h3>

  <p ng-if="!expert.deals || expert.deals.length == 0">Deals coming sunday (today)...</p>

  <ul ng-if="expert.deals.length > 0">
    <li ng-repeat="d in expert.deals">${{d.price}} ({{d.minutes}} mins : {{d.type}})
      <time ng-if="d.expiry">Expires {{d.expiry|locaTime : 'DD MMM YYYY'}}</time>
      <time ng-if="!d.expiry">No expiry</time>
    </li>
  </ul>

</section>

<section class="b history">

  <h3 class="underline">History</h3>

  <p ng-if="!requests">Loading ...</p>

  <div class="requests" ng-if="requests">
    <h4>Requests (<span ng-if="requests">{{requests.length}}</span>)</h4>
    <ul>
      <li ng-repeat="r in requests"><a href="/adm/pipeline/{{r._id}}" target="_blank">{{r._id |objectIdToDate : 'YYYY DD MMM' }}</a> {{r.suggested[0].expertStatus}}</li>
    </ul>
  </div>

  <div class="bookings" ng-if="bookings">
    <h4>Bookings (<span ng-if="requests">{{bookings.length+calls.length}}</span>)</h4>
    <ul>
      <li ng-repeat="b in bookings"><a href="/adm/bookings/{{b._id}}" target="_blank">{{b._id |objectIdToDate : 'YYYY DD MMM' }} {{b.utc}} </a>{{ b.participants[0].info.name }}</li>
    </ul>
  </div>

  <h4>Payouts (0)</h4>
  <p class="text-warning">Payous coming soonish. Need to migrate v0 orders :p</p>

</section>

<section class="a mojo">

  <h3 class="underline">Mojo</h3>

  <p class="text-warning">Coming soon...</p>

</section>


<section class="b activity">

  <h3 class="underline">Activity</h3>

  <ul>
    <li ng-repeat="act in data.activity">
      <b>{{act.action}} <time>{{act.utc | locaTime }}</time></b>
    </li>
  </ul>

</section>


</section>

