<section id="experts">

  <div class="query">
    <div style="width:150px" tag-input></div>
    <div style="width:350px" expert-input></div>
  </div>

  <h3>Experts >>

    <a ng-click="newest()">Newest</a>
    | <a ng-click="active()">Active</a>
  </h3>

  <table class="table table-condensed table-striped orders">
    <tr>
      <th style="width:100px"></th>
      <th style="width:150px">Expert</th>
      <th style="width:250px">Timeozne</th>
      <th style="width:250px">Social</th>
      <th style="width:250px">Tags</th>
      <th style="width:150px">Last Touch</th>
    </tr>
    <tr ng-repeat="o in experts">
      <td>
        <a href="/adm/experts/{{o._id}}"><img ng-src="{{o.avatar}}" /></a>
      </td>
      <td>
        {{o.name}}
        <br />{{o.email}}
        <br />{{o._id | objectIdToDate : 'DD.MM HH:MM' }}
        <time style="display:block;color:black;width:100%">{{o._id | objectIdToAgoTime }}</time>
        {{o._id}}
      </td>
      <td>
        {{o.location}}
        <br/>{{o.timezone}}
      </td>
      <td>
         <social-links profile="o"></social-links>
         <div ng-if="o.gh">gh.followers: {{o.gh._json.followers}}</div>
         <div ng-if="o.tw">tw.followers: {{o.tw._json.followers_count}}</div>
         <div ng-if="o.so">so.reputation: {{o.so.reputation}}</div>
      </td>
      <td class="tags">
        <span ng-repeat="t in o.tags">
          {{t.name}}
        </span>
      </td>
      <td>
        {{ o.lastTouch.action }}
        <time style="display:block;color:black;width:100%">{{o.lastTouch.utc  | agoTime }}</time>
      </td>
    </tr>
  </table>

</section>
