@import "ap.less";
@static:'https://static.airpair.com';
@headerHeight:40px;
@sideNavWidth:140px;
@sideChatWidth:220px;

body > footer {
  font-size:11px;
  background-color:@palegray;
  position:fixed;
  bottom:0;
  padding:8px;
  width:100%;
  display:block;
  text-align:center;
  a { color:black }
  ul { .ulNoStyle;
    li { margin-right:20px;padding:0px 0 2px 0 }
  }
}

body > header {
  height:@headerHeight;
  border-bottom:solid 1px @lightgray;
  background-color:@gitgray;

  > a {
    padding:9px 24px 4px 0px;
    background:url('@{static}/img/header/logo.png') no-repeat;
    background-position:25px 9px;
    background-size:90px 22px;
    width:140px;
    height:40px;
    display:block;
    float:left;
  }

  ul {
    padding:5px 10px 5px 8px;
    float:right;
    list-style:none;
    margin-bottom:0;
  }

  li {
    float:left;margin:6px 10px;font-size:12px;
    font-weight:600;
    a { color:black; }
    a:hover { color:@orange }
  }

  li.login { font-weight:bold }
  li.exp {
    a { font-weight:500; }
    a:hover { color:@orangehighlight }
  }

  div {
    padding:8px;
    display:inline-block;
    max-width:300px;
    label {
      font-size:10px;
      font-weight:normal;
      background-color:#fcf8e3;
      border: 1px solid #fbeed5;
      border-radius: 4px;
      padding:3px 10px;
    }
  }

  ul.more {
    a { display:block }
    position:absolute;
    z-index:10000;
    right:2px;
    top:32px;
    width:160px;
    background:white;
    border:solid 1px @bluegray;
    padding-bottom:10px;
    li {
      display:block;
      width:90%;
      border-bottom:solid 1px @mediumbluegray;
      padding-bottom:8px;
    }
    display:none;
  }

  @media only screen and (max-width:640px) {
    padding:7px 4px 7px 8px;
    > a {
      padding:0px;
      background-position:5px 3px;
      width:100px;
    }
    ul {
      padding:1px 3px;
    }

    .ps { }
    div { display:none }
    .wk { display:none }
    .more { display:none }
    .login { display:none }
  }
}

div.main-wrap {
  margin-left:@sideNavWidth;
  margin-right:@sideChatWidth;

  margin:0; // hack until we plop in the menus
  width:100%;
  padding-bottom:50px
}

div.notify {

  width:900px;
  margin:0 auto;

  section {
    position:relative;
  }

  hr { border-top:solid 1px #fcf8e3;clear:both;margin-bottom:3px }

  .alert { width:100%;display:block;padding-bottom:1px }
  .left {
    position:absolute;
    left:5px;
    height:10px;
  }

  .right {
    position:absolute;
    right:5px;
  }

  @media only screen and (max-width: 900px) {
    width:640px;
  }

  @media only screen and (max-width: 640px) {
    .left { position:inherit;left:0px;padding:3px }
    .right { position:inherit;right:0px;padding:3px }
    width:320px;
  }
}

main {
  width:900px;
  margin:0 auto;
  padding:0;
  a { color:@orange }
  a:hover { color:@gray }
  border:solid 1px white;
  > header {
    color:@gray;
    height:35px;
    width:100%;
    margin:0px auto 0px -1px;
    padding:0px 5px 0 5px;
    font-size:11px;
    line-height:13px;
    text-transform:uppercase;
    white-space:nowrap;

    .breadcrumb {
      background:none;
      padding:10px 0 5px 0!important;
      margin:none;

      > li + li:before {
        content: "> ";
        padding:0px 4px;
     }
    }
  }

  @media only screen and (max-width: 900px) {
    width:640px;
    > header { padding:0px; }
  }

  @media only screen and (max-width: 640px) {
    width:320px;
    > * { margin-left:3px }
    > header {
      // margin-left:0;
      width:320px;
      padding:0px 8px;
      .breadcrumb { margin:0 auto;padding-top:5px }
    }
  }
}



nav#side {
  display:none;//wait for angular to set display:block
  // display:block;
  position:fixed;
  height:auto;
  top:@headerHeight;
  bottom:0;
  margin:0;
  z-index:2020;
  font-size:16px;
  left:0;
  width:@sideNavWidth;
  background:@darkblue;

  .icon {
    background-image:url('../img/css/sidenav/sprite.png');
    background-position-x:center;
    width:30px;height:30px;
    overflow:hidden;
    display:inline-block;
    border-radius:50%;
  }

  header {
    height:46px;
    margin:0 0 12px 0;
    padding:8px 5px;
    background:@darkblue;
    border-bottom:1px solid @gray;
    a {
      position:relative;
      text-align:left;background:@orange;
      padding:3px 0 0px 0px;
      width:100%;
      height:30px;
      overflow:hidden;color:white }
    a:hover { background:@orangehighlight }
    > a > div {
      margin-top:3px;
      background-color:@orange;
    }
    > a > span {
      margin-left:36px
    }

  }

  a > div {
    background:none;
    .icon;
    // background-color:#343c51;
    position:absolute;top:-4px;
  }
  a:hover > div { background-color:@orangehighlight }

  .pair { background-position:center 484px }
  .login { background-position:center 97px }
  .stack { background-position:center 236px }
  .bookmarks { background-position:center 195px }
  .dashboard { background-position:center 528px }
  .settings { background-position:center 278px }
  // .posts { background-position:center 319px }
  .billing { background-position:center 360px }
  .logout { background-position:center 155px }
  // .deals { background-position:center 155px }

  a > span { margin-left:40px }
  li > a { color:@lightblue;position:relative }
  li > a:hover { color:@orange }

  section {
    padding:8px 5px 9px 5px;
    margin-top:6px;
  }

  .avatar img { .icon;background:none; }
  .avatar > div { background:none; }


  ul { padding:0;margin:0 }
  li {
    height:30px;
    padding:0px 0px 5px 0px;
    margin:0 0 12px 0;
    background:none;
    list-style:none;
    span { display:inline-block; }
    a { display:block;
      div { margin:0 9px 0 0; }
    }
    a:hover { color:@orange; }
  }

  footer {
    text-transform:lowercase;
    position:absolute;
    bottom:20px;
    padding:10px;
    font-size:11px;
    font-weight:bold;
    li { height:8px; }
  }

  @media only screen and (max-width: 734px) {
    display:none!important;
    footer { display:none; }
  }
}

nav#side.collapse {
  width:40px;
  opacity:.9;

  .help {
    margin:0px 0px 14px 0px;
    a { padding:0;border-radius:50%;width:30px;display:block;border:none }
    a > div { margin:0;background-color:@orange;top:0px }
  }

  // figure img { width:30px;height:30px; }
  section {
    text-align:center;
    padding:2px 4px 6px 4px;
  }
  a span { display:none }
  a > div { background-color:#343c51;margin:0;display:block }

  footer { display:none; }
}



// [data-effeckt-type="twist"] {
//   -webkit-perspective: 400px;
//   -ms-perspective: 400px;
//   -o-perspective: 400px;
//   perspective: 400px;
//   -webkit-perspective-origin: 50% 50%;
//   -ms-perspective-origin: 50% 50%;
//   -o-perspective-origin: 50% 50%;
//   perspective-origin: 50% 50%;
// }

// [data-effeckt-type="twist"] li {
//   -webkit-transition: all 500ms ease, opacity 250ms ease;
//   -o-transition: all 500ms ease, opacity 250ms ease;
//   transition: all 500ms ease, opacity 250ms ease;
//   -webkit-transform-origin: center;
//   -ms-transform-origin: center;
//   -o-transform-origin: center;
//   transform-origin: center;
// }

// [data-effeckt-type="twist"] li.past,
// [data-effeckt-type="twist"] li.future {
//   opacity: 0;
// }

// [data-effeckt-type="twist"] li.past {
//   -webkit-transform: rotateY(-180deg);
//   -ms-transform: rotateY(-180deg);
//   -o-transform: rotateY(-180deg);
//   transform: rotateY(-180deg);
// }

// [data-effeckt-type="twist"] li.future {
//   -webkit-transform: rotateY(180deg);
//   -ms-transform: rotateY(180deg);
//   -o-transform: rotateY(180deg);
//   transform: rotateY(180deg);
// }
