<section id="booking" ng-if="booking && booking.participants">

<h3>Booking
  <a href="/bookings/{{booking._id}}" target="_blank">particiant view</a>
</h3>
<div class="row">


  <div class="col-md-4">

    <section>
      <h3>Status</h3>
      <select class="form-control" ng-model="data.status" ng-change="updateStatus(data.status)">
        <option>pending</option>
        <option>confirmed</option>
        <option>followup</option>
        <option>complete</option>
        <option>canceled</option>
      </select>
    </section>

  <section class="datetime">

    <h3>{{booking.minutes}} MINS </h3>
    <span>{{booking.type}} </span>

    <div datetime-input id="bookingDatetime" datetime="data.datetime" min-view="minute" date-format="YYYY MMM DD HH:mm Z"></div>

    <a ng-if="datetimeChanged(data.datetime)" ng-click="updateTime(data.datetime)">Update time</a>

    <div class="gcal">
      <div ng-if="!data.gcal">No google invitations sent
        <br />
        <br /><a ng-click="addGcal(data.notify)">Create gcal event for <br /> {{previousDatetime.format('YYYY MMM DD HH:mm ZZ')}}</a>
        <br /><input name="gcalNotify" type="checkbox" ng-model="data.notify">
        Notify participants
      </div>
      <div ng-if="data.gcal">
        <p><a target="_blank" href="{{data.gcal.htmlLink}}">{{data.gcal.summary}}</a></p>
        {{data.gcal.start.dateTime | date:'MM/dd/yyyy'}}<br/>
        {{data.gcal.start.dateTime | date:'h:mma'}} to {{data.gcal.end.dateTime | date:'h:mma'}}<br /><br />
        <p><strong>Attendees</strong></p>
        <ul>
          <li ng-repeat="attendee in data.gcal.attendees">
            {{attendee.displayName}}
            ({{attendee.email}})
          </li>
      </div>
    </div>

    <div class="spin" ng-if="chat">
      <ap-hangout-spinner
        hangout-id="booking._id"
        booking="booking"></ap-hangout-spinner>
    </div>

  </section>

  <section class="chat">
      <h3>Chat</h3>
      <div ng-if="chat">
        <div ng-if="chat.provider">
          <a target="_blank" href="https://airpair.slack.com/messages/{{chat.info.name}}">  {{chat.info.name}}
            <span ng-if="chat.info.is_archived">(archived)</span>
          </a>{{chat.providerId}}
          <ul>
            <li ng-repeat="m in chat.members">{{m.real_name || m.id}}</li>
          </ul>
          <p class="purpose">{{chat.info.purpose.value}}</p>
          <hr />
          <a ng-click="setMsgTemplate('feedback')" ng-if="booking.status == 'followup'">feedback</a> |
          <a ng-click="setMsgTemplate('confirm')" ng-if="booking.status == 'pending'">confirm time</a>
          <br />
          <textarea style="width:75%" ng-model="slackMessage"></textarea>
          <a ng-click="postMessage()" class="btn-yellow" style="float:right">Post</a>
          <hr />
          <ul class="history">
            <li ng-repeat="m in chat.history | orderBy:'-ts'">
              <time>{{m.ts | tsTime }} <b>{{chat.members[m.user].real_name}}</b></time>
              <p>{{m.text}}</p>
            </li>
          </ul>
        </div>
      </div>
      <div ng-if="chatSyncOptions">
        <div id="pipelineReq">
          <a ng-click="createGroupChat('slack')" class="btn" style="float:right">Create chat</a>
          <div style="float:right;clear:right" ng-repeat="p in booking.participants" slack-status member="p.chat" userid="p.info._id"></div>
          <input type="text" ng-model="newGroupChat.name" style="width:310px;margin-right:50px" />
          <br /><textarea ng-model="newGroupChat.purpose" style="width:290px" /></textarea>
          <hr />
        </div>

        {{chatSyncOptions.length}} possible syncs<br />
        <div ng-repeat="c in chatSyncOptions">
          <div ng-if="c.provider == 'slack'">
            <b><a target="_blank" href="https://airpair.slack.com/messages/{{c.info.name}}/
            ">{{c.provider}}</a></b>::{{c.info.name}}
            <a ng-click="associateGroupChat('slack',c.info.id)">associate</a>
          </div>
        </div>
      </div>
  </section>

</div>

<div class="col-md-3">

<div class="customer">
  <h3>Customer</h3>
  <div class="participant" ng-repeat="p in customers">
    <img ng-src="{{p.info.avatar}}" class="user">
    <span>{{p.info.name}} </span>
    <span>{{p.info.email}} </span>
    <span>{{p.location}} </span>
    <span>{{p.timeZoneId}} </span>
    <div slack-status member="p.chat" userid="p.info._id"></div>
  </div>
</div>


<div class="expert">
  <h3>Expert</h3>
  <div class="participant" ng-repeat="p in experts">
    <img ng-src="{{p.info.avatar}}" class="user">
    <span>{{p.info.name}} </span>
    <span>{{p.info.email}} </span>
    <span>{{p.location}} </span>
    <span>{{p.timeZoneId}} </span>
    <div slack-status member="p.chat" userid="p.info._id"></div>
  </div>
</div>

  </div>

  <div class="col-md-4">

    <section class="recordings">
      <h3>Recording(s)</h3>
      <input type="text" id="newYouTubeLink" class="form-control" placeholder="Paste YouTube link" ng-model="data.youTubeId" />
      <input type="submit" ng-click="addYouTubeData(data.youTubeId)" value="Add" class="btn" />
      <ul>
        <li ng-repeat="r in booking.recordings"><a target="_blank" href="http://youtube.com/watch?v={{r.data.youTubeId}}">{{r.data.title}}</a> <time>{{ r.data.publishedAt }}</time> <a ng-click="deleteRecording(r._id)" class="error">x</a></li>
      </ul>
    </section>

    <section class="feedback">
      <h3>Feedback</h3>
      <p>JK still to build</p>
    </section>

    <section class="request">
      <h3>Request</h3>

      <div ng-if="request">w
        {{request.adm.submitted | locaTime : 'YY.MMM.DD' }}
        <a href="/adm/pipeline/{{request._id}}" target="_blank">{{request.title}}</a>
        <br />
        <br />
        <ul><li ng-repeat="sug in request.suggested | filter: {expertStatus: 'available'}"
        ng-if="sug.expert._id != booking.expertId"
          >
          <a ng-click="swapExpert(sug._id)">Swap</a> {{sug.expert.name}}
        </li></ul>
      </div>
      <div ng-if="!request">Booking is not request associated</div>
    </section>

    <section class="payout" ng-if="booking.status == 'followup'">

      <h3>Payout</h3>

      <p ng-if="!order">v0 migrated booking w no associated payout</p>

      <div ng-if="order">
        Order:
        ${{ order.total }}

        <a href="/adm/orders/{{ order._id }}" target="_blank">{{ order._id }}</a>

        <div ng-if="lineForPayout.info.paidout">
          <span style="color:green">paidout</span>
        </div>

        <div ng-if="!lineForPayout.info.paidout">
          <div ng-if="!lineForPayout.info.released">
            <a ng-click="releasePayout()" class="btn-yellow">Release payment</a>
          </div>
          <div ng-if="lineForPayout.info.released">
            <span style="color:blue">Waiting for expert to collect</span>
          </div>
        </div>
      </div>

    </section>

    <section class="notes">
      <h3>Notes</h3>
      <textarea ng-model="newNote"></textarea>
      <a ng-click="saveNote(newNote)" class="btn-yellow">Add note</a>
      <ul>
        <li ng-repeat="n in booking.notes | orderBy : '-_id' ">
          <span>{{ n.by.name }}</span>
          <time>{{n._id | objectIdToDate : 'YY MMM DD HH:mm' }}</time>
          <p>{{n.body}}</p>
        </li>
      </ul>
    </section>

  </div>

</div>

</section>

