<section id="bookings" ng-if="bookings">

<div class="query">
  <div datetime-input id="queryStart" datetime="query.start"></div>
  <div datetime-input id="queryEnd" datetime="query.end"></div>
  <div user-input></div>
  <a ng-click="fetch()" class="btn">Search</a>
</div>

<h3>Bookings</h3>

<section class="upcoming" ng-if="bookings.upcoming">
  <p ng-if="bookings.upcoming.length == 0">No AirPairs Scheduled in the next 48 hours.</p>
  <ul ng-if="bookings.upcoming.length > 0">
    <li ng-repeat="b in bookings.upcoming">
      <a href="/adm/bookings/{{b._id}}">
        <time>{{b.datetime | locaTime : 'ddd, DD HH:mm' }}
        <br /><b>({{b.minutes}}) {{b.datetime | agoTime }}</b>
        </time>
      </a>
      <div ng-repeat="p in b.participants">
        <img ng-src="{{p.info.avatar}}" class="user"> <span>{{p.info.name}}</span>
      </div>
      <div ng-if="b.chatId" ap-hangout-spinner
        hangout-id="b._id"
        booking="b"></div>
      <div ng-if="!b.chatId" style="color:brown">Assign chat</div>
    </li>
  </ul>
</section>

<section class="pending" ng-if="bookings.pending && bookings.pending.length > 0">
  <h4>Pending</h4>
  <ul ng-if="bookings.pending.length > 0">
    <li ng-repeat="b in bookings.pending">
      <a href="/adm/bookings/{{b._id}}">
        <time>({{b.minutes}}) {{b.datetime | locaTime : 'ddd, DD HH:mm' }} </time>
      </a>
      <label>{{ util.firstExpert(b).name }}</label>
      <span>+ {{ util.firstCustomer(b).name }}</span>
    </li>
  </ul>
</section>


<table class="table table-condensed bookings">
  <tr>
    <th style="width:110px">Time</th>
    <th style="width:120px">Status</th>
    <th style="width:150px">Type</th>
    <th style="width:180px">Room</th>
    <th style="width:80px">Participants</th>
    <th>Feedback</th>
    <th>Recordings</th>
  </tr>
  <tr ng-repeat="b in bookings.other | orderBy : ['-status','-datetime']" ng-class="css.bookingRow(b)">
    <td>
      <a href="/adm/bookings/{{b._id}}">
        <b>{{b.datetime | locaTime : 'MM.DD HH:mm' }}</b><br /><time>{{b.minutes}} min booking</time>
      </a>
    </td>
    <td>
      <span class="{{b.status}}">{{b.status}}</span>
      <div ng-if="b.paidout.paidout">
        <span style="color:green">paidout</span>
      </div>

      <div ng-if="!b.paidout.paidout">
        <div ng-if="!b.paidout.released">holding
        </div>
        <div ng-if="b.paidout.released">
          <span style="color:orange">released</span>
        </div>
      </div>
    </td>
    <td>
      {{b.type}}
      <br /><time>booked {{b._id | objectIdToAgoTime }}</time>
    </td>
    <td>
      {{b.chatId.info.name}}
    </td>
    <td style="width:300px">
      <div ng-repeat="p in b.participants">
        <img ng-src="{{p.info.avatar}}" class="user"> {{p.info.name}}
      </div>
    </td>
    <td>-</td>
    <td>
      <div ng-repeat="r in b.recordings">
        <span><a target="_blank" href="http://youtube.com/watch?v={{r.data.youTubeId}}">{{r.data.title}}</a></span>
      </div>
    </td>
</table>

</section>
