<section id="bookings" ng-if="bookings">

<div class="query">
  <div datetime-input id="queryStart" datetime="query.start"></div>
  <div datetime-input id="queryEnd" datetime="query.end"></div>
  <div user-input></div>
  <a ng-click="fetch()" class="btn">Search</a>
</div>

<h3>Bookings</h3>

<section class="upcoming" ng-if="bookings.upcoming">
  <p ng-if="bookings.upcoming.length == 0">No AirPairs Scheduled in the next 48 hours.</p>
  <ul ng-if="bookings.upcoming.length > 0">
    <li ng-repeat="b in bookings.upcoming">
      <a href="/adm/bookings/{{b._id}}">
        <time>{{b.datetime | locaTime : 'ddd, DD HH:mm' }}
        <b>{{b.datetime | agoTime }}</b>
        </time>
      </a>
      <div ng-repeat="p in b.participants">
        <img ng-src="{{p.info.avatar}}" class="user"> {{p.info.name}}
      </div>
      <div ap-hangout-spinner
        hangout-id="b._id"
        booking="b"></div>
    </li>
  </ul>
</section>

<section class="pending" ng-if="bookings.pending && bookings.pending.length > 0">
  <h4>Pending</h4>
  <ul ng-if="bookings.pending.length > 0">
    <li ng-repeat="b in bookings.pending">
      <a href="/adm/bookings/{{b._id}}">
        <time>{{b.datetime | locaTime : 'ddd, DD HH:mm' }} </time>
      </a>
      <label>{{ util.firstExpert(b).name }}</label> +
      <span>{{ util.firstCustomer(b).name }}</span>
    </li>
  </ul>
</section>


<table class="table table-condensed bookings">
  <tr>
    <th style="width:100px">Time</th>
    <th style="width:100px">Type</th>
    <th>Status</th>
    <th style="width:80px">Participants</th>
    <th>Recordings</th>
    <th class="p"></th>
  </tr>
  <tr ng-repeat="b in bookings.other" ng-class="css.bookingRow(b)">
    <td>
      <a href="/adm/bookings/{{b._id}}">
        <b>{{b.datetime | locaTime : 'MM.DD HH:mm' }}</b><br /><time>{{b.minutes}} minutes</time>
      </a>
    </td>
    <td>{{b.type}}</td>
    <td>{{b.status}}</div>
    <td style="width:300px">
      <div ng-repeat="p in b.participants">
        <img ng-src="{{p.info.avatar}}" class="user"> {{p.info.name}}
      </div>
    </td>
    <td></div>
    <td class="p"></div>
</table>

</section>
