<!DOCTYPE html>
<html ng-app="AP" ng-strict-di>
<head>
	<title>AirPair</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
  {{> siteCss }}
  <base href="/" />
</head>
<body>

{{> siteHeader }}

<div class="main-wrap">
	<main ng-view></main>
</div>


<nav id="side" class="collapse" side-nav></nav>

{{> siteScripts }}
<script type="text/javascript">

function bindTracking() {}

</script>

{{> initPage }}

</body>
</html>
