<!DOCTYPE html>
<html ng-app="AP" ng-strict-di>
<head>
  <title>AirPair</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' id='google-font-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C700&#038;ver=2.0.1' type='text/css' media='all' />
  <link rel="stylesheet" href="{{ config.bundle.libCss}}" type="text/css" />
  <link rel="stylesheet" href="{{ config.bundle.indexCss}}" type="text/css" />
  <link rel="alternate" type="application/rss+xml" href="http://www.airpair.com/rss/posts" title="AirPair Posts" />
  <link rel="alternate" type="application/rss+xml" href="http://www.airpair.com/rss/workshops" title="AirPair Workshops" />
  <base href="/" />
</head>
<body>

{{> siteHeader }}

<div class="main-wrap">
  <div notifications></div>
  <main ng-view></main>
</div>


<nav id="side" class="collapse" side-nav></nav>

<script type="text/javascript" src="{{config.bundle.indexScript}}"></script>
<script type="text/javascript">

function bindTracking() {}

</script>

{{> initPage }}

</body>
</html>
