<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" ng-app="AP" ng-strict-di>
<head>{{> htmlHead }}</head>
<body>
  <div class="main-wrap">
    <div notifications></div>
    <main ng-view></main>
  </div>

  <script type="text/javascript" src="{{js.index}}"></script>
  <script type="text/javascript">

    window.viewData = { session: {{ JSON session }} };

  </script>

  {{> initPage }}
</body>
</html>




