<!DOCTYPE html>
<html>
<head>
  <title>V1 | AirPair</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/v1/lib/bootstrap/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/v1/css/index.css" type="text/css" />
  <link rel='stylesheet' id='google-font-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C700&#038;ver=2.0.1' type='text/css' media='all' />
</head>
<body id="index">

{{> siteHeader }}

<div class="main-wrap">
  <main>
    <header>Email Verification</header>
      <h1>Your email address has not been verified</h1>
        <p>On signup we sent an e-mail to {{ user.email }} containing a link that allows you to verify your email address. You need to verify your email before you can continue. Please chek you inbox.</p>
  </main>
</div>

{{> initPage }}

</body>
</html>
