<!DOCTYPE html>
<html>
<head>
  <title>Error | AirPair</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" href="{{ config.bundle.libCss}}" type="text/css" />
  <link rel="stylesheet" href="{{ config.bundle.indexCss}}" type="text/css" />
</head>
<body>

{{> siteHeader }}

<div class="main-wrap">
  <main>
    <header>Error</header>

    <h3>{{{ error.message }}}</h3>

  </main>
</div>

</body>
</html>
