<!DOCTYPE html>
<html ng-app="AP" ng-strict-di>
<head>
  <title>Software Micro-Consulting via Video Chat | AirPair</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" href="{{ config.bundle.libCss}}" type="text/css" />
  <link rel="stylesheet" href="{{ config.bundle.indexCss}}" type="text/css" />
  <link rel="alternate" type="application/rss+xml" href="https://www.airpair.com/rss" title="AirPair Rss" />
  <base href="/" />
</head>
<body>

{{>siteHeader}}


<div class="main-wrap">
  <div notifications></div>
  <main ng-view id="home">

  <section class="header">
    <img src="/static/img/pages/about/airpair.png" />
    <table>
      <tr>
        <td><span>{</span></td>
        <td><h2><br />
      AirPair is a network of <b>world class developers</b>
      <a onclick="angular.element('#join input').focus()">available for <b>micro-consulting</b></a>
    </h2></td>
        <td><span>}</span></td>
      </tr>
    </table>
  </section>


  <section id="join">

    <div cta-home-join></div>

  </section>

  <section class="how">

    <div class="vr"></div>

    <h2>How can you use AirPair?</h2>
    <br />

    <div class="row">
      <div class="col-md-4">
        <h3>Pair programming</h3>
        <p>AirPair attracts experts with eagle eyes to point out the problems.
        Our experts are top-notch in their stack.</p>
      </div>
      <div class="col-md-4">
        <h3>Code Review</h3>
        <p>Everyone can use a second set of eyes
          with tons of experience to improve
          their code base.</p>
      </div>
      <div class="col-md-4">
        <h3>Resources</h3>
        <p>Having a mentor is precious, especially when it comes to sorting out
        complex problems and learning new technologies.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3>Vetting</h3>
        <p>Building a team is hard - boost your
          confidence by having an expert on
          your side to vet potential candidates</p>
      </div>
      <div class="col-md-4">
        <h3>Advice</h3>
        <p>Enable your team to adopt new
          technologies that improve the
          long-term capabilities of your product.</p>
      </div>
      <div class="col-md-4">
        <h3>And More!</h3>
        <p>AirPair is your go-to platform when
            you need to get unstuck without
            wasting time and resources.</p>
      </div>
    </div>
  </section>


  <section id="about">

  <div class="vr"></div>

  <section class="help">

    <div class="block">got a problem?</div>
    <div class="vr" style="margin-top:-30px"></div>

    <p>The average jaunt on Stack Overflow takes <em>4 painful hours</em>.</p>

    <label>and shortens your life by 3 months</label>

    <p>Solve your problem <em>10x quicker</em> with experts in every language.</p>

  </section>

  <br />


  <div class="vr"></div>
  <section class="help">

    <div class="block">it's easy</div>
    <div class="vr" style="margin-top:-30px"></div>

    <p>Spend <em>5 minutes</em> filling out a request and get introduced to</p>

    <p>developers that <em>Facebook, Google and Apple</em> would salivate over.</p>
    <br />
  </section>

  <div class="vr"></div>
  <section class="gaurantee">

    <div class="block">try it out, risk free</div>
    <div class="vr" style="margin-top:-30px"></div>

    <p>We have a 100% satisfaction guarantee</p>

    <label>Warning AirPairing can become addictive once you realized how awesome it is.</label>



  </section>

    {{!-- <a id="homeJoinBottom" href="/login" class="btn">Join AirPair</a> --}}

  </section>


  </main>


</div>

{{>siteAnonFooter}}


<script type="text/javascript" src="{{config.bundle.homeScript}}"></script>
<script type="text/javascript">

  var viewData = { session: {{ JSON session }} };
  function bindTracking() {}

</script>

<style type="text/css">
body.focus { background-color:#f9f9f9 }
body.focus main { border-color:#f9f9f9 }
body.focus > header { opacity:0.2 }
body.focus > footer { opacity:0.2 }
body.focus section.header { opacity:0.2 }
body.focus section.how { opacity:0.2 }
body.focus section#about { opacity:0.2 }
body.focus section#join img { opacity:0.6 }
body.focus section#join form { opacity:1;background-color:white }
body.focus section#join .you { background-color:#90d1cc!important }
</style>

{{> initPage }}

</body>
</html>
