<!DOCTYPE html>
<html>
<head>
	<title>V1 | AirPair - Developers Helping Developers</title>
	<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/v1/lib/bootstrap/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/v1/css/index.css" type="text/css" />
  <link rel='stylesheet' id='google-font-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C700&#038;ver=2.0.1' type='text/css' media='all' />
</head>
<body id="index">

{{> siteHeader }}

<div class="main-wrap">
	<main>
		<header>AirPair v1 <code>Build {{ build.version }}</code> Deployed {{ build.deployed }}</header>

		<h1>Welcome to AirPair v1</h1>

		<img src="/v1/img/pages/index/ap-v1-screenshot-1.png" class="screenshot" />

    <p>We've embarked on a 90 day journey to show how normal developers can do incredible things with on-tap expert support. The AirPair site you've known until now was a Minimal Viable Product. We're rebuilding airpair.com from scratch and <a href="/posts/airpair-v1" target="_self">open-sourcing what we learn</a> along the way and announcing builds weekly. Soon you'll have 10x faster and smoother AirPair experience.</p>

		<h4>See a bug?</h4>
		<p>Log issues via our <a href="https://github.com/airpair/airpair-com-v1-issue-tracker" target="_blank">issue tracking repo</a> on github.</p>

		<h4>Become a v1 beta tester?</h4>
		<p>Want to get notified of new releases, give feedback and help squash bugs? <br /><br /><a class="btn" href="http://twitter.com/home?status=@hackerpreneur I would love to be a beta tester for the new ap" target="_blank">Tweet at @hackerpreneur</a> </p>

		<div class="container">
		<div class="row">

			<div class="col-sm-6">

				<h3>Core Team</h3>
				<ul>
					<li>Jonathon Kresner</li>
					<li>Steve Purves</li>
					<li><a href="/mean-stack/posts/2014-10-job-post-mean-stack-developer">We're hiring MEAN developers</a>!</li>
				</ul>

				<h3>Expert Support Team</h3>
				<ul>
					<li>Matias Niemla</li>
					<li>Uri Shaked</li>
					<li>Ari Lerner</li>
					<li>Abe Haskin</li>
					<li>Alexandru Vlăduţu</li>
					<li><a href="http://twitter.com/home?status=@hackerpreneur I would love pair with you and help with the new ap" target="_blank">Tweet to Join The Support Team</a></li>
				</ul>

			</div>

			<div class="col-sm-6">

				<h3>Build log</h3>

{{!-- <li>User Profile Settings</li>
			<li>Left side menu (stack + bookmarks)</li>
			<li>Payments</li>
 --}}
 {{!-- 							<li>Workshops Signup</li> --}}

				<h4>Next build</h4>

				<ul>
					<li><span>2014 10 21</span> <code>v1.06</code>
						<ul>
							<li>Payments</li>
						</ul>
					</li>
				</ul>

				<h4>Past builds</h4>

				<ul>
					<li><span>2014 10 15</span> <code>v{{ build.version }} (current)</code>
						<ul>
							<li>On holidays for 2 weeks</li>
							<li>Few bug fixes</li>
						</ul>
					</li>
				</ul>

				<ul>
					<li><span>2014 10 01</span> <code>v1.05</code>
						<ul>
							<li>Analytics</li>
						</ul>
					</li>
				</ul>

 				<ul>
					<li><span>2014 09 25</span> <code>v1.04</code>
						<ul>
							<li>Login UX improvement</li>
							<li>Tests :)</li>
						</ul>
					</li>
				</ul>

 				<ul>
					<li><span>2014 09 18</span> <code>v1.03</code>
						<ul>
							<li>Create, edit & publish posts</li>
						</ul>
					</li>
				</ul>

				<ul>
					<li><span>2014 09 09</span> <code>v1.02</code>
						<ul>
							<li>Login</li>
							<li>Responsive css</li>
							<li>Workshops pages</li>
						</ul>
					</li>
				</ul>

				<ul>
					<li><span>2014 09 02</span> <code>v1.01</code>
						<ul>
							<li>Desktop css / layout</li>
							<li>Render .md posts</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		</div>

	</main>
</div>

{{> initPage }}


</body>
</html>
