<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" ng-app="AP" ng-strict-di>
<head>
  {{> htmlHead }}
</head>
<head>{{> htmlHead }}</head>
<body class="landing">
  <div class="main-wrap">{{{body}}}</div>
  {{> initPage }}
</body>
</html>
