<!DOCTYPE html>
<html>
<head>
	<title>V1 | AirPair</title>
	<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0;">	
	<link rel="stylesheet" href="/v1/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/v1/css/index.css" type="text/css" />
  <link rel='stylesheet' id='google-font-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C700&#038;ver=2.0.1' type='text/css' media='all' />
</head>
<body id="login">

{{> siteHeader }}

<div class="main-wrap">
	<main>
		<header>Login</header>

		<h2>Quick login</h2>

		<p>
			
			<a class="btn btn-error" href="/auth/v1/google">google login</a>

		</p>

		<h2>Password login</h2>

		<hr />

	<!-- LOGIN FORM -->
		<form action="/auth/v1/login" method="post">
			<div class="form-group">
				<label>Email</label>
				<input type="text" class="form-control" name="email">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" name="password">
			</div>

			<button type="submit" class="btn btn-warning btn-lg">Login</button>
		</form>

		<hr>

		<h2>Signup</h2>

		<!-- Signup FORM -->
		{{!-- <form action="/signup" method="post">
			<div class="form-group">
				<label>Email</label>
				<input type="text" class="form-control" name="email">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" name="password">
			</div>

			<button type="submit" class="btn btn-warning btn-lg">Signup</button>
		</form>
 --}}
		<hr>

	</main>
</div>

</body>
</html>
