<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
  <title>Software Posts, Tutorials & Articles</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{> siteCss }}
</head>
<body>
{{> siteHeader }}

<div class="main-wrap">
  <main>
    <header>Posts</header>

    <section id="posts">

      <section id="allposts">
        <h3>All posts<span><a href="/posts" target="_self">Recent posts</a></span></h3>
        <div class="posts recent">
          {{#each viewData}}{{> postListItem this}}{{/each}}
        </div>
      </section>

    </section>

  </main>
</div>


<div ng-app="APLite" ng-strict-di>
	<nav id="side" class="collapse" side-nav></nav>
  <bookmarkerlist></bookmarkerlist>
</div>

{{> siteScripts }}
{{> initPage }}
</body>
</html>
