<!DOCTYPE html>
<html ng-app="APPosts">
<head>
	<title>Posts | AirPair</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0;">	
  <link rel="stylesheet" href="/v1/lib/bootstrap/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/v1/lib/prism/prism.css" type="text/css" />  
	<link rel="stylesheet" href="/v1/css/blog.css" type="text/css" />
	<link rel='stylesheet' id='google-font-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C700&#038;ver=2.0.1' type='text/css' media='all' />
	<base href="/posts" />
</head>
<body id="posts">

{{> siteHeader }}

<div class="main-wrap">
	<main>
		
 		<script id="index" type="text/ng-template">
 			<header>Posts</header>
			<h3>Recent</h3>
			<div class="recent posts">
				{{#each recent}}{{> postListItem this }}{{/each}}
			</div>
			<h3>My Posts</h3>
			<br />
			<div class="editOptions">
				<a href="/posts/new" class="btn">Create new post</a>			
			</div>
			<div class="myposts" ap-my-posts-list=""></div>
 		</script>

		<ng-view></ng-view>

	</main>
</div>

<!-- build:js1 /combined.js -->
	<script type="text/javascript" src="/v1/lib/lodash/dist/lodash.js"></script>
	<script type="text/javascript" src="/v1/lib/moment/moment.js"></script>	
	<script type="text/javascript" src="/v1/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/v1/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/v1/lib/angular-load/angular-load.js"></script>	
	<script type="text/javascript" src="/v1/lib/marked/lib/marked.js"></script>		
	<script type="text/javascript" src="/v1/lib/prism/prism.js"></script>	
<!-- endbuild -->

	<script type="text/javascript" src="/v1/js/posts.js"></script>


</body>
</html>
