<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>{{> htmlHead }}</head>
<body>
  <div class="main-wrap">
    <main>{{body}}</main>
  </div>

  <script type="text/javascript" src="{{js.index}}"></script>
  <script type="text/javascript">

  function bindTracking() {
    ga('send', 'pageview')
  }

  </script>

  {{> initPage }}
</body>
</html>




