<!DOCTYPE html>
<html ng-app="APWorkshops">
<head>
	<title>Workshops | AirPair</title>
	<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0;">
  <link rel="stylesheet" href="/v1/lib/bootstrap/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/v1/css/workshops.css" type="text/css" />
  <link rel='stylesheet' id='google-font-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C700&#038;ver=2.0.1' type='text/css' media='all' />
  <base href="/workshops" />
</head>
<body id="workshops">

{{> siteHeader }}

	<div class="main-wrap" style="width:100%;margin:0">
		<main ng-view>
		</main>
	</div>

<!-- build:js1 /combined.js -->
	<script type="text/javascript" src="/v1/lib/lodash/dist/lodash.js"></script>
	<script type="text/javascript" src="/v1/lib/moment/moment.js"></script>	
	<script type="text/javascript" src="/v1/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/v1/lib/angular-route/angular-route.js"></script>	
	<script type="text/javascript" src="/v1/lib/angular-load/angular-load.js"></script>		
<!-- endbuild -->
	<script type="text/javascript" src="/v1/js/workshops.js"></script>

</body>
</html>