html,
body {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}
table {
  vertical-align: top;
  width: 100%;
}
.stretch {
  height: 96%;
}
.sidebar label {
  margin-top: 10px;
}
tr.channel.unread {
  background: #dff2ef;
}
td.notifications {
  text-align: center;
  width: 35px;
}
td.notifications span {
  background: red;
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-size: 8pt;
  font-weight: bold;
  padding: 2px;
  min-width: 20px;
  text-align: center;
}
table#chatroom td {
  box-sizing: border-box;
}
tr.user td.picture {
  position: relative;
  width: 50px;
}
tr.user td.picture img {
  border-radius: 50%;
}
tr.user .presence {
  display: none;
  background: lightgreen;
  border: 1px solid #ADFF2F;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 5px;
  left: 69%;
  opacity: 0.7;
}
tr.user.active .presence {
  display: block;
}
tr.user.active.away .presence {
  background: yellow;
  border: 1px solid lightyellow;
}
tr#entry {
  background: #eeeeee;
  height: 30px;
}
tr#entry td {
  padding: 5px;
}
tr#entry input {
  width: 100%;
}
.from {
  font-size: 8pt;
  font-weight: bold;
  text-align: center;
}
.content {
  background: white;
}
.timestamp {
  color: #aaaaaa;
  font-size: 8pt;
}
.from,
.content {
  padding: 10px;
}
tr#messages {
  background: #eee;
}
tr#messages td {
  vertical-align: top;
}
#message-cell {
  border: 2px solid #eeeeee;
  max-height: 101%;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 15px;
  top: 0px;
}
#message-cell > .row {
  background: white;
  border-bottom: 1px solid #eeeeee;
}
#message-cell > .row .from img {
  border-radius: 50%;
}
