html,
body {
  height: 100%;
}
body {
  background-color: white;
  color: #7e7f7f;
  font-family: Open Sans, Century Gothic;
}
h1 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 300;
}
h2 {
  font-size: 36px;
  line-height: 60px;
  font-weight: 300;
}
h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}
h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
h5 {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
h6 {
  font-size: 10px;
}
@media (max-width: 640px) {
  h1 {
    font-size: 30px;
    line-height: 42px;
    font-weight: 300;
  }
  h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  h4 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
  }
  h5 {
    font-size: 10px;
    line-height: 20px;
    font-weight: 400;
  }
  h6 {
    font-size: 10px;
  }
}
a:hover {
  text-decoration: none;
}
.btn {
  background: #ce5424;
  color: white;
  border: none;
  padding: 8px 20px;
  font-size: 18px;
}
.btn:hover {
  font-weight: bold;
  color: #ffffff;
}
ol.linenums > li {
  list-style-type: decimal!important;
  color: #7e7f7f;
}
.choice {
  text-align: center;
}
.choice h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.choice h4 {
  margin: 0 auto 40px auto;
  padding-top: 0;
  color: #ce5424;
}
.choice .option {
  vertical-align: top;
  width: 48%;
  border: solid 1px #dff2ef;
  padding: 20px;
  text-align: center;
  display: inline-block;
}
.choice .option h2 {
  margin: 0 auto 20px auto;
  max-width: 70%;
  border-bottom: solid 1px #dff2ef;
}
.choice .option ul {
  padding: 0;
  list-style: none;
}
.choice .option a.btn {
  width: 60%;
  margin-top: 10px;
}
body > header {
  height: 40px;
  border-bottom: solid 1px #d3d3d3;
  padding: 7px 10px 7px 20px;
}
body > header > a {
  background: url('http://www.airpair.com/img/airpair.png');
  width: 100px;
  height: 30px;
  background-size: 100px;
  display: block;
  float: left;
}
body > header ul {
  float: right;
  list-style: none;
}
body > header li {
  float: left;
  margin: 6px 5px;
  font-size: 11px;
}
body > header li a {
  color: #000000;
}
body > header li a:hover {
  color: #ce5424;
}
@media (max-width: 640px) {
  body > header {
    padding: 7px 4px 7px 8px;
  }
}
div.main-wrap {
  margin-left: 140px;
  margin-right: 220px;
  margin: 0;
  width: 100%;
}
@media (max-width: 640px) {
  div.main-wrap {
    margin: 0 5px;
  }
}
main {
  width: 900px;
  margin: auto;
}
main a {
  color: #ce5424;
  text-decoration: none;
}
main a:hover {
  color: #4d4e4e;
}
@media (max-width: 900px) {
  main {
    width: 640px;
  }
}
@media (max-width: 640px) {
  main {
    width: 320px;
  }
}
main header {
  height: 35px;
  margin: 0 auto 20px auto;
  padding: 9px 0;
  font-size: 13px;
  background: #ffffff;
  text-transform: uppercase;
  background: -moz-linear-gradient(left, #ffffff 0%, #dff2ef 50%, #ffffff 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ffffff), color-stop(50%, #dff2ef), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #ffffff 0%, #dff2ef 50%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #dff2ef 50%, #ffffff 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, #dff2ef 50%, #ffffff 100%);
  background: linear-gradient(to right, #ffffff 0%, #dff2ef 50%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
}
@media (max-width: 900px) {
  main header {
    padding: 9px 2px;
  }
}
nav#sideNav,
nav#sideChat {
  display: block;
  position: fixed;
  height: auto;
  top: 40px;
  bottom: 0;
  margin: 0;
}
nav#sideNav header,
nav#sideChat header {
  background: #151821;
  height: 35px;
  padding: 5px 8px;
  margin: 0;
  color: white;
  font-size: 16px;
  border-bottom: 1px solid #4d4e4e;
}
nav#sideNav figure,
nav#sideChat figure {
  text-align: center;
}
nav#sideNav figure img,
nav#sideChat figure img {
  border: solid 1px white;
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 0 auto;
}
nav#sideNav figcaption,
nav#sideChat figcaption {
  padding: 4px 0px;
  text-align: center;
  font-size: 11px;
}
nav#sideNav section,
nav#sideChat section {
  padding: 9px 10px;
  margin-top: 4px;
}
nav#sideNav {
  font-size: 13px;
  left: 0;
  width: 140px;
  background: #151821;
}
nav#sideNav a {
  color: #dff2ef;
}
nav#sideNav a:hover {
  color: #ce5424;
}
nav#sideNav header {
  text-align: right;
}
nav#sideNav header img {
  cursor: pointer;
  -webkit-filter: brightness(2);
}
nav#sideNav header img:hover {
  -webkit-filter: brightness(2.5);
}
nav#sideNav section {
  color: #90d1cc;
  text-transform: uppercase;
}
nav#sideNav ul {
  padding: 3px 0;
  margin: 0;
}
nav#sideNav li {
  list-style: none;
  border-bottom: solid 1px #4d4e4e;
  color: white;
  padding: 2px 1px 3px 1px;
  text-transform: none;
}
nav#sideNav #bookmarks li {
  font-size: 10px;
  height: 19px;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 1px 2px 1px;
}
nav#sideNav #bookmarks li a {
  width: 120px;
}
nav#sideChat {
  font-size: 13px;
  color: #4d4e4e;
  background: #f5f5f5;
  bottom: 1;
  right: 0;
  width: 220px;
}
nav#sideChat .online {
  border: solid 1px green;
  padding: 1px;
}
nav#sideChat header img {
  cursor: pointer;
  -webkit-filter: brightness(1.5);
}
nav#sideChat header img:hover {
  -webkit-filter: brightness(2.5);
}
nav#sideChat header span {
  border-left: 1px solid #4d4e4e;
  padding-left: 8px;
  margin-left: 4px;
  display: inline-block;
}
nav#sideChat header div {
  position: absolute;
  margin-top: -2;
  margin-left: 12;
  background: #ce5424;
  color: white;
  border-radius: 7;
  width: 15;
  height: 15;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
}
nav#sideChat table {
  padding: 0;
  margin: 0;
  font-size: 10px;
  color: black;
}
nav#sideChat table tr td:first-child {
  font-weight: bold;
}
nav#sideChat table td {
  padding: 6px 2px 4px 7px;
}
nav#sideChat table time {
  font-size: 8px;
  float: right;
  color: gray;
  padding-top: 2px;
}
nav#sideChat input {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 5px;
}
body#workshops .share {
  padding: 10px 7px 0 0;
  float: right;
  clear: right;
  width: 212px;
  height: 74px;
  margin: 12px 0 18px 0;
  border-bottom: solid 1px #d3d3d3;
}
body#workshops .share .pw-button {
  margin-right: 7px !important;
}
body#workshops #subscribe {
  padding-bottom: 20px;
}
body#workshops #subscribe img {
  max-width: 500px;
  margin: 20px;
}
body#workshops #index ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body#workshops #index .calendar {
  float: right;
  width: 212px;
  font-size: 13px;
}
body#workshops #index .calendar .btn {
  width: 212px;
  font-size: 16px;
}
body#workshops #index .calendar time {
  display: block;
  font-size: 11px;
  margin: 5px 0 1px 0;
}
body#workshops #index #upcoming,
body#workshops #index #featured {
  max-width: 650px;
  text-align: center;
  font-size: 0;
  line-heigh: 0;
}
body#workshops #index #upcoming a.workshop,
body#workshops #index #featured a.workshop {
  color: #151821;
  display: inline-block;
  font-size: 0px;
  letter-spacing: -4px;
  margin: 12px;
  padding: 3px;
  width: 190px;
  text-align: center;
  background: -moz-radial-gradient(left, #ffffff 0%, #dff2ef 100%, #ffffff 50%);
  background: radial-webkit-gradient(left top, right top, color-stop(0%, #ffffff), color-stop(10%, #dff2ef), color-stop(50%, #ffffff));
  background: -webkit-radial-gradient(left, #ffffff 0%, #dff2ef 100%, #ffffff 50%);
  background: -o-radial-gradient(left, #ffffff 0%, #dff2ef 100%, #ffffff 50%);
  background: -ms-radial-gradient(left, #ffffff 0%, #dff2ef 100%, #ffffff 50%);
  background: radial-gradient(to right, #ffffff 0%, #dff2ef 100%, #ffffff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  border-top: solid 1px #dff2ef;
  border-radius: 3px;
  vertical-align: top;
}
body#workshops #index #upcoming a.workshop time,
body#workshops #index #featured a.workshop time {
  display: block;
  height: 20px;
  font-size: 12px;
  letter-spacing: normal;
  color: #4d4e4e;
}
body#workshops #index #upcoming a.workshop img,
body#workshops #index #featured a.workshop img {
  display: block;
  margin: auto;
  border-radius: 40px;
  margin-top: 5px;
}
body#workshops #index #upcoming a.workshop h5,
body#workshops #index #featured a.workshop h5 {
  letter-spacing: normal;
  color: #4d4e4e;
}
body#workshops #index #upcoming a.workshop figure,
body#workshops #index #featured a.workshop figure {
  display: block;
  height: 64px;
  font-size: 14px;
  padding: 0;
  margin: 0;
  letter-spacing: normal;
}
body#workshops #index #upcoming a.workshop:hover,
body#workshops #index #featured a.workshop:hover {
  color: #ce5424;
  border-top: solid 1px #ce5424;
  background: -moz-radial-gradient(left, #ffffff 0%, #dff2ef 0%, #ffffff 100%);
  background: -webkit-radial-gradient(left top, right top, color-stop(0%, #ffffff), color-stop(0%, #dff2ef), color-stop(100%, #ffffff));
  background: -webkit-radial-gradient(left, #ffffff 0%, #dff2ef 0%, #ffffff 100%);
  background: -o-radial-gradient(left, #ffffff 0%, #dff2ef 0%, #ffffff 100%);
  background: -ms-radial-gradient(left, #ffffff 0%, #dff2ef 0%, #ffffff 100%);
  background: radial-radient(to right, #ffffff 0%, #dff2ef 0%, #ffffff 100%);
}
body#workshops #index #upcoming a.workshop:hover h5,
body#workshops #index #featured a.workshop:hover h5 {
  color: #ce5424;
}
body#workshops #index #upcoming a.workshop:hover h5,
body#workshops #index #featured a.workshop:hover h5,
body#workshops #index #upcoming a.workshop:hover figure,
body#workshops #index #featured a.workshop:hover figure {
  font-weight: bold;
}
body#workshops #index #past {
  text-align: center;
  width: 650px;
  font-size: 12px;
}
body#workshops #index #past time {
  display: block;
  font-size: 10px;
  margin: 1px 0;
}
body#workshops #index #past img {
  border-radius: 3px;
  margin-bottom: 10px;
}
body#workshops #index #past a {
  width: 45%;
  float: left;
  margin: 10px;
}
body#workshops #show h1 {
  margin-bottom: 20px;
  font-size: 38px;
}
body#workshops #show time {
  display: block;
  max-width: 650px;
  margin-botto: 5px;
  color: black;
  font-weight: bold;
}
body#workshops #show p {
  max-width: 650px;
}
body#workshops #show hr {
  max-width: 650px;
}
body#workshops #show .speakers {
  float: right;
  clear: right;
  width: 212px;
  font-size: 12px;
  text-align: justify;
}
body#workshops #show .speakers h2 {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  line-height: 32px;
}
body#workshops #show .speakers h3 {
  text-align: center;
}
body#workshops #show .speakers img {
  width: 100%;
  margin: 0px 0 20px 0;
}
body#workshops #show .speakers ul,
body#workshops #show .speakers li {
  list-style: none;
  margin: 0;
  padding: 0;
}
body#workshops #show .player {
  max-width: 650px;
  background-color: #1b1b1b;
  padding: 10px 5px;
}
body#workshops #show .player .slide {
  opacity: 0.6;
}
body#workshops #show .action {
  padding: 5px;
  background: #dff2ef;
  height: 100px;
  max-width: 650px;
  text-align: center;
}
body#workshops #show .action a.btn {
  margin-top: 18px;
}
body#workshops #show .action label {
  display: block;
}
