
<section id="collab" class="edit" ng-if="!ui.main.loading">

  <figure class="collab" ng-if="reviews.length == 0 && forkers.length == 0">
    <h2>Get social</h2>
    <p>Fresh eyes, suggestions and polish.
    </p>
    <img src="https://static.airpair.com/img/author/authoring-flow-review.png" />
  </figure>

  <article>

    <header>

    </header>

  </article>


    <section id="stats">
      <h3>Progress</h3>
      <div post-stats class="blogpost"></div>
    </section>
  <!--   <a ng-href="{{post.url}}" class="thumb" target="_self"><img ng-src="{{post.meta.ogImage}}" /></a>
    <ul class="forkers">
      <li ng-repeat="f in post.forkers">
        <img ng-src="{{f.avatar}}?s=20" class="user" />
      </li>
    </ul>

 -->


  <div class="activity">

    <section id="git">
      <h3>Pull requests</h3>
      <post-git></post-git>
      <p ng-if="PRs.length == 0">Whilst edits and fixes from other authors and readers are not compulsory for publishing, it's highly recommended.

      <br /><br />We'll be adding features on this page very shortly
      to help you ping your peers for help and leverage other
      author.airpair writers.
      </p>
    </section>


  </div>

</section>


<nav class="edit" ng-if="post">
  <header edit-header post="post" step="'collaborate'"></header>
  <footer>
    <p ng-if="PRs.length == 0">Now that edits are tracked by git, you can accept
    contributions via forks & pull requests</p>
    <p ng-if="reviews.length < 3 || stats.rating < 4">Unlock <span class="locked">Publish</span> with at least 3 reviews and 3.5 star rating</p>
  </footer>
</nav>

