<article id="post">

  <h1 class="entry-title" itemprop="headline">{{ preview.title }}</h1>
  <p class="feature" ng-if="preview.assetUrl"><img ng-src="{{ preview.assetUrl}}" /></p>
  <p class="feature placeholder" ng-if="preview.assetPlaceholder">
    <img src="https://static.airpair.com/img/ui/link-image-512.png" />
  </p>

  <div class="body" ng-if="preview.body" ng-bind-html="preview.body | html"></div>

  <footer>

    <ul class="tags">
      <li ng-repeat="t in preview.tags">{{t.slug}}</li>
    </ul>
    <div class="references" ng-if="preview.references">
      <h4>References</h4>
      <!-- <ul>
        <li ng-repeat="r in preview.markedUpReferences" ng-bind-html="r | html"></li>
      </ul> -->
    </div>

  </footer>

</article>
