<span ng-if="next">
  <p ng-if="next == 'tag' || next == 'asset'">
    Revisit <a ng-href="/author/post-info/{{_id}}" target="_self">Info</a> to add a <code>feature img</code> and
    <code>tag technologies</code> that are important to
    your post
  </p>
  <p ng-if="next == 'wordcount'">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    Compose <b>at least 400 words</b> to unlock
    <span class="locked">Submit</span> (about <b>{{wordstogo}}</b> to go)
  </p>
  <p ng-if="next == 'submit'">Post looks ready to
    <a ng-href="/author/submit/{{_id}}" target="_self">Submit</a> for community reviews!
  </p>

  <!-- {{next}} -->
  <!-- <p ng-if="calcDraftStep()">
  </p>
  <p ng-if="calcReviewStep()">
    <span ng-if="needReviews">
      Post needs reviews to get published.
      <span ng-if="isAuthor">
        <a href="/posts/contributors/{{p._id}}">Find contributors!</a>
      </span>
    </span>
    <span ng-if="publishReady">BOOM :). Post looks ready!
      <a ng-href="/posts/publish/{{p._id}}">Publish now</a>
    </span>
  </p>
  <p ng-if="p.needsMyReview || p.needsMyFork">
    <a ng-if="p.needsMyReview" ng-href="/posts/contributors/{{p._id}}">Give feedback</a>
    <a ng-if="p.needsMyFork && !p.published" ng-href="/posts/fork/{{p._id}}">Fork & suggest edits</a>
  </p>
 -->
 </span>
