<ul>
	<li><span>09 01</span> <a href="http://www.airpair.com/posts/javascript/using-es6-harmony-with-nodejs">Using ES6 (Harmony) with NodeJS</a> <i>by hackerpreneur</i></li>
	<li><span>08 28</span> <a href="http://www.airpair.com/posts/angularjs/setting-up-my-first-angularjs-app">Setting up my first AngularJS App</a> <i>by hackerpreneur</i></li>
	<li><span>08 27</span> <a href="http://www.airpair.com/posts/mean-stack/starting-a-mean-stack-app">Starting a Mean Stack App</a> <i>by hackerpreneur</i></li>
</ul>