<nav id="sideChat">
	<header>
    <div>3</div>
    <img src="/img/css/chat/toggle.png" />
    {}  Prateek Gupta
  </header>
  <section>
    <figure><img src="//secure.gravatar.com/avatar/2b22b4cd4f65cbef1331cf07e82e6b27?s=400" class="online" /></figure>
    <figcaption>{}  Prateek Gupta</figcaption>
  </section>

  <table class="table table-striped">
    <tr>
      <td>JK</td>
      <td><time>9:31 AM</time><p>Hey how's it going?</p></td>
    </tr>
    <tr>
      <td>PG</td>
      <td><time>9:32 AM</time><p>Good how are you?</p></td>
    </tr>
    <tr>
      <td>JK</td>
      <td><time>9:33 AM</time><p>Yeah, ok trying to crank through this feature...</p></td>
    </tr>    
  </table>

  <input type="text" placeholder="type a message ... " />
</nav>
