<nav id="sideChat">
	<header>
    <div>3</div>
    <img src="/img/css/chat/toggle.png" />
    {}  Prateek Gupta
  </header>
  <section>
    <figure><img src="//secure.gravatar.com/avatar/2b22b4cd4f65cbef1331cf07e82e6b27" /></figure>
    <figcaption>{}  Prateek Gupta</figcaption>
  </section>

  <section>
    
  </section>

  <input type="text" placeholder="type a message ... " />
</nav>