<nav id="sideNav">
	<header>
    <img src="/img/css/sidenav/toggle.png" />     
  </header>

	<section>
		<figure><img class="avatar" src="//secure.gravatar.com/avatar/780d02a99798886da48711d8104801a4" /></figure>
		<figcaption>Jonathon Kresner</figcaption>
	</section>

	<section>
	  Menu
	  <ul id="main">
	    <li>Dashboard</li>
	    <li>Orders</li>
	  </ul>       
	</section>

	<section>
		My stack
		<ul id="tags">
		  <li>nodejs</li>
		  <li>angularjs</li>		  
		  <li>mongodb</li>	
		  <li>passport</li>		  		  
		  <li>svg</li>		  		  		  
		</ul>       
	</section>  
</nav>