<header>
  <a href="http://www.airpair.com/" tile="airpair.com"></a>
  <ul>
  	<li><a href="#">Experts</a></li>
  	<li><a href="#">Pair Programming</a></li>
  	<li><a href="#">Terms of Service</a></li>
  	<li><a href="#">Logout</a></li>
  </ul>
</header>