<header>
  <a href="http://www.airpair.com/" tile="airpair.com"></a>
  <ul>
  	<li><a href="/experts">Experts</a></li>
  	<li><a href="/posts">Posts</a></li>
{{!--   	<li><a href="#">Workshops</a></li>
  	<li><a href="#">Pair Programming</a></li>
  	<li><a href="#">Terms of Service</a></li>
   	<li><a href="#">Logout</a></li>--}}
  </ul>
</header>