<section id="auth" ng-controller="LoginCtrl as LoginCtrl">

<p ng-if="session._id"><br /><br />You are logged in as {{ session.email }}. <br /><br />Want to <a href="/logout" target="_self">Logout</a>?</p>


<div class="choice" ng-if="!session._id">
<div class="github option">

  <h2>One-click signup</h2>

    <a id="loginGoogleAuth" track-click="auth" class="btn btn-error gh-white" ng-href="{{'/auth/github/callback' + ((returnTo) ? '?returnTo='+returnTo : '') }}" target="_self">Login with github</a>

  <p class="oauthInfo">
  * You will be temporarily redirected to a github login page</p>

</div>

<div class="local option">

  <h2>Password login</h2>

  <form novalidate name="loginForm" ng-submit="LoginCtrl.submit(loginForm.$valid, data)">
    <div form-group>
      <label class="control-label sr-only" for="loginEmail">Email</label>
      <input id="loginEmail" form-control type="email" placeholder="Email" name="email" ng-model="data.email" required>
      <div class="error" ng-if="formGroup.showError(loginForm.email)" ng-messages="loginForm.email.$error">
        <div ng-message="required">Field required</div>
        <div ng-message="email">Invalid email</div>
      </div>
    </div>
    <div form-group>
      <label class="control-label sr-only" for="loginPassword">Password</label>
      <input id="loginPassword" form-control type="password" placeholder="Password" name="password" ng-model="data.password" required>
      <div class="error" ng-if="formGroup.showError(loginForm.password)" ng-messages="loginForm.password.$error">
        <div ng-message="required">Password required</div>
      </div>
    </div>

    <button id="loginPassowrdAuth" track-click="auth" type="submit" class="btn btn-warning btn-lg">Login</button>

    <div class="alert alert-danger" ng-if="loginFail">
      <b>Login failed:</b> <span ng-if="loginFail">{{loginFail}}</span>.
      <b><a href="#" ng-click="openProfile()">Create an account?</a></b></p>
    </div>

    <section class="password">
      <a href="/password-reset">Forgotten password?</a>
    </section>

<!--     <section class="new">
      <p ng-if="!session._id">New? <o><b><a id="loginSignupTop" track-click="signup" ng-click="openProfile()">create account</a></b> with email & password.</p>
    </section>

 -->
  </form>

</div>


</div>

</section>
