<!-- <header>
  <ol class="entry-meta breadcrumb">
    <li class="current">Welcome</li>
  </ol>
</header>
 --><section id="auth" ng-controller="LoginCtrl as LoginCtrl">

<p>New to AirPair? <o>Login with google below or <b><a id="loginSignupTop" href="#" track-click="Login" ng-click="openProfile()">create an account</a></b> using an email and password.</p>


<p ng-if="session._id"><br /><br />You are logged in as {{ session.email }}. <br /><br />Want to <a href="/v1/auth/logout">Logout</a>?</p>


<div class="choice" ng-if="!session._id">
<div class="google option">

  <h2>One-click login</h2>
  <p>
    <a class="btn btn-error" ng-href="{{'/v1/auth/google' + ((returnTo) ? '?returnTo='+returnTo : '') }}" target="_self">Login with google</a>
  </p>
  <p style="font-size:12px;margin:20px 0 0 0">
  * You will be temporarily redirected to a google login page</p>

</div>

<div class="local option">

  <h2>Password login</h2>

  <form novalidate name="loginForm" ng-submit="LoginCtrl.submit(loginForm.$valid, data)">
    <div form-group>
      <label class="control-label sr-only" for="loginEmail">Email</label>
      <input id="loginEmail" form-control type="email" placeholder="Email" name="email" ng-model="data.email" required>
      <div class="error" ng-if="formGroup.showError(loginForm.email)" ng-messages="loginForm.email.$error">
        <div ng-message="required">Field required</div>
        <div ng-message="email">Invalid email</div>
      </div>
    </div>
    <div form-group>
      <label class="control-label sr-only" for="loginPassword">Password</label>
      <input id="loginPassword" form-control type="password" placeholder="Password" name="password" ng-model="data.password" required>
      <div class="error" ng-if="formGroup.showError(loginForm.password)" ng-messages="loginForm.password.$error">
        <div ng-message="required">Password required</div>
      </div>
    </div>

    <button type="submit" class="btn btn-warning btn-lg">Login</button>

    <div class="alert alert-danger" ng-if="loginFail">
      <b>Login failed:</b> <span ng-if="loginFail">{{loginFail}}</span>.
      <b><a href="#" ng-click="openProfile()">Create an account?</a></b></p>
    </div>

  </form>

</div>
</div>

</section>
