<header>
  <ol class="entry-meta breadcrumb">
    <li>Account</li>
    <li class="current">Reset password</li>
  </ol>
</header>

<section id="auth">

  <div class="choice">
    <div class="reset option">

      <h2>Password reset</h2>

      <form novalidate ng-submit="PasswordResetCtrl.submitReset(resetForm.$valid, data)" name="resetForm" ng-controller="PasswordResetCtrl as PasswordResetCtrl">

        <div form-group>
          <label class="control-label sr-only" for="resetEmail">Email</label>
          <input id="resetEmail" form-control type="email" placeholder="Email" name="email" ng-model="data.email" required>
          <div class="error" ng-if="formGroup.showError(resetForm.email)" ng-messages="resetForm.email.$error">
            <div ng-message="required">Field required</div>
            <div ng-message="email">Invalid email</div>
          </div>
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Send reset email</button>

        <alert ng-repeat="alert in passwordAlerts" type="{{alert.type}}"><span ng-bind-html="alert.msg | html"></span></alert>

      </form>

    </div>
  </div>

</section>
