<div class="dropdown">
<a id="{{id}}" class="dropdown-toggle {{id}}"
   role="button" data-toggle="dropdown" data-target="#" href="#">
  <div class="input-group">
    <input type="text" class="form-control" value="{{datetime.format(dateFormat)}}">
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
  </div>
</a>
<ul ng-if="minView" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
  <datetimepicker data-ng-model="datetime"
    data-datetimepicker-config="{ minView:'{{minView}}', startView:'{{startView}}', minuteStep: {{minuteStep}} }"
    data-on-set-time="onSetTime(newDate, oldDate)"></datetimepicker>
</ul>
</div>
