<section id="users">

  <h2>Companys</h2>

  <section>

    <div company-input="" style="width:48%;float:left"></div>

    <div ng-if="selectedCompany._id && !selectedCompany.members" style="width:50%;float:left">
      <span style="padding:5px">{{selectedCompany.name}}</span>
      <select ng-model="selectedCompany.type">
        <option>individual</option>
        <option>enterprise</option>
        <option>startup</option>
        <option>smb</option>
      </select>
      <a ng-click="migrate()" class="btn">Migrate</a>
    </div>

  </section>

  <hr style="clear:both" />

  <section ng-if="selectedCompany._id && selectedCompany.members">

    <h2>Info</h2>

    <div>{{selectedCompany.name}}</div>
    <div>{{selectedCompany.type}}</div>
    <div>{{selectedCompany.url}}</div>
    <div>{{selectedCompany.about}}</div>

    <h2>Members</h2>

    <div ng-repeat="m in selectedCompany.members">{{m.name}} | {{m.companyEmail}} | {{m.userId}}</div>

    <hr />

    <div user-input></div>
    <div ng-if="selectedUser._id">
      <span style="padding:5px">{{selectedUser.name}}</span>
      <a ng-click="addMember()" class="btn">Add to company</a>
    </div>

    <h2>Paymethods & Credit</h2>

    <b>Note you neeed to manually set the payMethods companyId ({{selectedCompany._id}})</b>

  </section>


</section>
