<div class="meta">
  <div class="form-group">
    <label>Title</label>
    <input ng-model="post.title" type="text" class="form-control" />
  </div>
  <div class="form-group">
    <label>Feature media (image url or youtube id)</label>
    <input ng-model="post.assetUrl" type="text" class="form-control" name="asset"/>
  </div>
  
  <button class="btn" ng-click="save()">Save</button>

</div>
<div class="md">
  <div class="form-group">
    <label>Markdown (<a href="http://daringfireball.net/projects/markdown/syntax" target="_self">see guide</a>)</label>
      <textarea id="markdownTextarea" ng-model="post.md" class="form-control" ng-model-options="{ updateOn: 'default blur', debounce: {default: 60000 }}"></textarea>
  </div>
</div>
<hr />