

<div class="md" ng-if="post.title && post.bio">
  <div class="form-group">
    <label>Markdown <span>see <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">markdown guide</a><span></label>
      <textarea id="markdownTextarea" ng-model="post.md" class="form-control" ng-model-options="{ updateOn: 'default blur', debounce: {default: 60000 }}"></textarea>
  </div>
</div>

<div class="meta">
  <div class="form-group">
    <label>Title</label>
    <input ng-model="post.title" type="text" class="form-control" />
  </div>
  <div class="form-group">
    <label>Bio</label>
    <input ng-model="post.by.bio" type="text" class="form-control" />
  </div>  
  <div class="form-group">
    <label>Feature media <span>image url or youtube id</span></label>
    <input ng-model="post.assetUrl" type="text" class="form-control" name="asset"/>
  </div>
  <div class="form-group">
    <label>Tags <span>(coming later this week)</span></label>
    <input ng-model="post.tags" type="text" class="form-control" disabled/>
  </div>
  <div class="dates" ng-if="post.created">
    <label>Created</label> <span>{{ post.created | publishedTime }}</span>
    <label>Updated</label> <span>{{ post.updated | publishedTime }}</span>
    <label>Published</label> <span>{{ post.published | publishedTime }}</span>
  </div>

</div>

<div class="form-actions">
  <button class="btn" ng-click="save()" disabled>Save</button>
  <button class="btn" disabled>Preview</button>  
  <button class="btn" disabled>Submit</button>
  <button class="btn" disabled>Publish</button>
  <button class="btn" disabled>Delete</button>  
</div>
<hr />
