<table class="table table-striped">
  <tr>
    <th>Published</th>
    <th>Created</th>
    <th>Title</th>
    <th></th>    
  </tr>
  <tr ng-repeat="p in myposts">
    <td>{{ p.published | publishedTime: 'MM.DD' }}</td>
    <td>{{ p.created | publishedTime: 'MM.DD' }}</td>  
    <td>{{ p.title }}</td> 
    <td>
      <a href="/v1/posts/{{p.slug}}" target="_blank" ng-if="p.published">view</a>
      <a href="/posts/edit/{{p._id}}" target="_blank" ng-if="!p.published">edit</a>
    </td>     
  </tr>
</table>