.chatroom(ng-mouseenter='chat.clearNotifications(channel)')
  span.unread(ng-show="notifications.length > 0") {{ notifications.length }}
  .title
    span(ng-bind="channel.title")
  members(ng-click="expand(channel)")
    member(ng-repeat="person in channel.members" ng-if="person.uid !== chat.currentUser.uid" title="{{person.name}}")
      img(ng-src="{{person.picture}}")
      .name {{ person.name }}

  messages(scroll-glue)
    table.table.table-striped
      tr(ng-repeat="msg in channel.messages")
        td.from {{ msg.from.first_name }}
        td{{ msg.content }}
  entry
    form(ng-submit='say(message, $event)')
      input#message(ng-model='message' placeholder='ask a question')
