chat-header
  chat-notifications
    img(src="/v1/img/css/chat/toggle.png")
  channel-name
    | {} Prateek Gupta
members
  member(ng-repeat="person in members" ng-if="person.uid != chat.currentUser.uid" title="{{person.name}}")
    img(ng-src="{{person.picture}}")
    .title {{ person.name }}
messages(scroll-glue)
  table
    tr(ng-repeat="msg in messages")
      td{{ msg.content }}
entry
  form(ng-submit='say(message)')
    input#message(ng-model='message' placeholder='ask a question')
