<section id="users">


  <div user-input="" style="width:48%;float:left"></div>

  <hr style="clear:both" />

  <section class="roles">

  <h2>Roles</h2>

    <div ng-if="selectedUser.name">
      <img ng-src="{{selectedUser.avatar}}" class="user" />
      {{selectedUser.name}}
      <br />
      <select ng-model="role">
        <option>admin</option>
        <option>editor</option>
        <option>pipeliner</option>
      </select>
      <button class="btn" ng-click="toggleRole(selectedUser._id, role)">Toggle role</button>
    </div>

    <div>
      <h3>Admins</h3>
      <ul class="users admin">
        <li ng-repeat="user in admins">{{ user.name }}</li>
      </ul>
    </div>
    <div>
      <h3>Editors</h3>
      <ul class="users editors">
        <li ng-repeat="user in editors">{{ user.name }}</li>
      </ul>
    </div>
    <div>
      <h3>Pipeliners</h3>
      <ul class="users pipeliners">
        <li ng-repeat="user in pipeliners">{{ user.name }}</li>
      </ul>
    </div>

  </section>


  <section class="credit">

    <h2>Credit</h2>

    <div ng-if="selectedUser.name">
      {{selectedUser.name}}
      <div>{{selectedUser.email}}</div>
      <img ng-src="{{selectedUser.avatar}}" />
      <br />
      <select ng-model="credit">
        <option value="5">$5</option>
        <option value="10">$10</option>
        <option value="30">$30</option>
        <option value="50">$50</option>
      </select>
      <select ng-model="source">
        <option>Session Feedback</option>
        <option>Site Feedback</option>
        <option>Bug Report</option>
        <option>Welcome Credit</option>
        <option>Angular Workshops Feedback</option>
        <option>V1 Migration</option>
        <option>Happy New Year</option>
        <option>Expert Thanks You</option>
      </select>
      <button class="btn" ng-click="giveCredit(credit, source)">Give credit</button>
    </div>
    <p ng-if="!selectedUser.name">Select a user</p>

  </section>


  <section class="info">
    <pre>{{selectedUser|json}}</pre>
  </section>

</section>
