<header>
  <ol class="entry-meta breadcrumb">
    <li class="current">Learn</li>
  </ol>
</header>
<section id="about">

  <img src="/static/img/pages/about/airpair.png" />

  <section class="header">
    <table>
      <tr>
        <td><span>{</span></td>
        <td><h2><br />
      AirPair is <b> where developers help developers</b>
      <label>learn from those that know more and teach those that know less</label>
    </h2></td>
        <td><span>}</span></td>
      </tr>
    </table>
  </section>


  <section class="expertise">

    <div class="block">commit to always improving.</div>
    <div class="vr" style="margin-top:-30px"></div>

  </section>

  <br /><br /><br />

<a ng-if="!session._id" href="#" ng-click="openProfile()" class="btn">Join AirPair</a>
<a ng-if="session._id" href="/find-an-expert" target="_self" class="btn">Get help</a>


</section>
