<!DOCTYPE html>
<html ng-app="AirPair">
<head>
	<title>V1 | AirPair</title>
	<link rel="stylesheet" href="/v1/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/v1/css/index.css" type="text/css" />
  <link rel='stylesheet' id='google-font-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C700&#038;ver=2.0.1' type='text/css' media='all' />
</head>
<body>

{{> siteHeader }}

<div class="main-wrap" style="width:100%;margin:0">
	<main>
		<header>AirPair v1 <code>Build 1.01</code> Deployed Sep 2</header>

		<h1>Welcome to AirPair v1</h1>

		<p>We've embarked on a 90 day journey to show how normal developers can do incredible things with on-tap support from our experts. The AirPair site you've known until now was mvp (Minimal Viable Product)... We're rebuilding airpair.com from scratch and open-sourcing what we learn along the way. Soon you'll have 10x faster and smoother AirPair experience. Some features you have to look forward to include <em>expert technical posts</em> and <em>live workshops</em>, replacing HipChat with <em>our own integrated chat system</em> + more we'll be announcing every week.</p>

		<img src="/v1/img/pages/index/ap-v1-screenshot-1.png" style="width:60%;margin:20px auto;display:block" />

		<h3>Posts</h3>

		{{> jkBlogSeries }}

		<h3>Become a beta tester</h3>
		<p>Want to get notified of new releases, give feedback and help squash bugs? <br /><a href="http://twitter.com/home?status=@hackerpreneur I would love to be a beta tester for the new ap" target="_blank">Tweet at @hackerpreneur</a> </p>

		<div style="float:right;width:48%">

			<h3>Team</h3>
			<h4>Full-time</h4>
			<ul>
				<li>Jonathon Kresner</li>
				<li><a href="https://angel.co/airpair/jobs" target="_blank">Apply to Join AirPair</a></li>
			</ul>

			<h4>Expert Support Team</h4>
			<ul>
				<li>Matias Niemla</li>
				<li>Uri Shaked</li>
			</ul>

		</div>

		<div style="float:left;width:48%">

			<h3>Build log</h3>

			<h4>Next build</h4>
			<ul>
				<li><span>2014 09 09</span> <code>v1.02</code>
					<ul>
						<li>Login</li>
						<li>Left side menu (stack + bookmarks)</li>
						<li>Responsive css</li>
						<li>Create & edit posts</li>
						<li>AirCast Talk Page</li>
					</ul>
				</li>
			</ul>

			<h4>Past builds</h4>
			<ul>
				<li><span>2014 09 02</span> <code>v1.01</code> (current)
					<ul>
						<li>Desktop css / layout</li>
						<li>Render .md posts</li>
					</ul>
				</li>
			</ul>

		</div>

	</main>
</div>


<!-- build:js1 /combined.js
	<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
	 <script type="text/javascript" src="/scripts/app.js"></script>
<!-- endbuild -->


</body>
</html>
