<section class="topUpGate">


<div ng-if="topUp">


  <div class="survey">
    <h4 style="margin:0px 0 30px 0">2016 Developer Writing Competition</h4>

    <p>Another <b>$100,000</b> <br /> in cash prizes to win,
    <b><a href="/100k-writing-competition" target="_blank">just like last year!</a></b></p>

    <p>Submissions<br /> <b>May 1st</b> - <b>Jun 30th</b></p>

    <p>Full details to be annouced mid April</p>


    <img src="https://static.airpair.com/img/header/logo-author.png" />
  </div>


  <div class="msg">

    <h2 style="margin:20px 0 20px 0">AirPair Q2 & Q3, 2016 news</h2>

    <p style="margin-bottom:20px">
      Big thanks to our Q1 beta customers. We learned a ton
      during our experiments and are excited to
      annouce cheaper than ever AirPairing is right around the corner.
    </p>

    <p>
      Following our annual <i>Developer Writing Competition</i>,
      AirPair's consulting/pairing marketplace will re-open <b>minus per hour AirPair comission</b>. </p>

    <p>This means customers will get the the best
      rates possible <em>anywhere</em>. Experts will get to take home
      the whole exchanged rate - minus transaction fees.</p>

    <p>Another special thanks to folks like heroku, who are enabling us to soon bring more
      impactful value to your software development needs at lower costs than before.
      To promote your API or Platform to 500k developers monthly, get in touch!</p>


    <p style="margin-top:40px">Thank you for your support,</p>

    <p style="margin-top:20px"><i>Jonathon Kresner,</i> <br />AirPair Founder</p>

  </div>

  <div class="banner-bottom">
    <hr />
    <a rel="nofollow" ng-href="/ad-visit/visit/heroku-160328-ruby" class="banner banner-top banner-heroku-ruby" target="_blank">
      <img ng-src="/ad/heroku/900x90.q2-1.ruby.png" alt="Deploy on Heroku" />
    </a>
  </div>

</div>




</div>

<div ng-if="setLoc">
  <h3>Before we get started</h3>
  <p>
    Please <a href="/account">add your location / timezone</a> so we'll
    be able to schedule you more efficiently with experts.
  </p>
</div>




</section>
