<header ng-if="session._id">
  <ol class="entry-meta breadcrumb">
    <li class="current">Dashboard</li>
  </ol>
</header>

<section id="dashboard" ng-if="session._id">

  <section ng-if="seen" class="notifications">
    <div ng-if="!seen.hello" id="hello">
      <a class="close" ng-click="closeNotification('hello')">x</a>
      <h1><img ng-src="/static/img/css/request/ap-circle-mediumm.png" /> Welcome to AirPair</h1>
      <p>This is your dashboard where you can customize the site, see your upcoming
      pairing sessions and more!</p>
      <p>airpair.com is about 2/3 of the way through a re-design that started Aug, 2014. We hope you enjoy seeing new features each week.</p>
    </div>
  </section>

  <section class="main">
    <dashboard-bookings></dashboard-bookings>
    <dashboard-requests></dashboard-requests>
    <!-- <dashboard-experts></dashboard-experts> -->
  </section>

  <section class="side">
    <dashboard-stack></dashboard-stack>
    <!-- <div class="bookmarks" dashboard-bookmarks></div> -->
    <!-- <div class="dash-posts" dashboard-posts></div> -->
  </section>

</section>
