<!-- <header ng-if="session._id">
  <ol class="entry-meta breadcrumb">
    <li class="current">Dashboard</li>
  </ol>
</header> -->

<section id="dashboard" ng-if="session._id">

  <request-gate></request-gate>

  <div ng-if="reqsAuthd">
    <section class="main">
      <dashboard-bookings></dashboard-bookings>
      <dashboard-requests></dashboard-requests>
    </section>

    <section class="side">
      <dashboard-rebook ng-if="rebookings.length > 0"></dashboard-rebook>
    </section>
  </div>

</section>
