<section id="requests">
  <h3>Requests <a href="/requests">see all</a></h3>
  <div class="requests">
    <request-list-item  ng-repeat="r in requests | limitTo : 3" req="r"></request-list-item>
  </div>

  <div ng-if="!requests || requests.length == 0">
    <p style="margin-top:20px">Welcome and congrats on being ready to level up!</p>
    <p style="margin-bottom:20px">Post a <code>request</code> to get matched
    with an expert with the experience you require.</p>
    <a href="/help/request" class="btn"><b>Get started</b></a>

    <p style="margin-top:50px;font-size:11px">* If you're here to help others,
      <a href="https://consult.airpair.com/be-an-expert">submit an application</a> instead.
    </p>

  </div>
</section>
