<article>
 <header class="entry-header">
    <img class="entry-header-image" itemprop="image" ng-src="{{ post.htmlHeader.ogImage }}" align="left" />

    <div ng-if="!post.htmlHeader || !post.htmlHeader.ogImage" class="emptyOgImage">
      <p>Image not yet supplied.</p>
    </div>

    <span class="entry-categories">
      <em ng-repeat='tag in post.tags'>{{ '{'+tag.slug+'}' }}</em>
    </span>

    <div class="publish-meta">
      <hr />

      <span ng-if="post.lastTouch">
        - {{ post.lastTouch.by.name }}
        <i>{{ post.lastTouch.action }}</i>
        <b>{{ post.lastTouch.utc | agoTime }}</b>
      </span>

      <span ng-if="post.published">,
        - Published <b>{{ post.published | agoTime }}</b></span>
      <time class="entry-time" itemprop="datePublished" datetime="{{ post.published }}">{{ post.publishedFormat }}</time>
    </div>

    <p class="entry-meta">
      <span class="entry-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
        <span class="entry-author-name" itemprop="name">{{ post.by.name }}</span>
        <img class="entry-author-image" itemprop="image" ng-src="{{ post.by.avatar }}?s=50" align="left" />
      </span>
    </p>
  </header>
  <div class="entry-content" itemprop="text">
    <h2 class="entry-title" itemprop="headline">{{ post.title }}</h2>
    <p>{{ post.htmlHeader.description }}</p>
  </div>

  <footer class="entry-footer" style="width:50%">
    <ul>
      <li ng-if="!post.github && !post.submitted && !post.published"><a ng-click="delete(post._id)">Delete</a></li>
      <li ng-if="post.github"><a href="/posts/edit/{{ post._id }}" target="_blank">Edit</a></li>
      <li ng-if="post.submitted"><a href="/posts/info/{{ post._id }}" target="_blank">Info</a></li>
      <li ng-if="post.submitted"><a href="/posts/publish/{{ post._id }}" target="_blank">Publish</a></li>
      <li ng-if="post.tags && post.tags.length > 0 || session._id == '5175efbfa3802cc4d5a5e6ed'"><a href="/posts/preview/{{ post._id }}" target="_blank">Preview</a></li>
      <li ng-if="post.published"><a href="{{ post.url }}" target="_blank">View</a></li>
      <li ng-if="post.github">
        <a class="repo" href="//github.com/airpair/{{ post.slug }}" target="_blank" class="repo">Repo</a>
      </li>
    </ul>

    <p class="entry-meta">

    </p>
  </footer>
</article>
