<section id="users">

  <h2>Roles</h2>

  <div user-input=""></div>

  {{selectedUser.name}}
  <img ng-src="{{selectedUser.avatar}}" />
  <select ng-model="role">
    <option>admin</option>
    <option>editor</option>
  </select>
  <button class="btn" ng-click="toggleRole()">Toggle role</button>

  <div style="width:30%;float:left">
    <h3>Admins</h3>
    <ul class="users admin">
      <li ng-repeat="user in admins">{{ user.name }}</li>
    </ul>
  </div>
  <div style="width:30%;float:left">
    <h3>Editors</h3>
    <ul class="users editors">
      <li ng-repeat="user in editors">{{ user.name }}</li>
    </ul>
  </div>


  <hr style="clear:both" />


  <h2>Credit</h2>

  {{selectedUser.name}}
  <img ng-src="{{selectedUser.avatar}}" />
  <select ng-model="credit">
    <option value="10">$10</option>
    <option value="30">$30</option>
    <option value="50">$50</option>
  </select>
  <select ng-model="source">
    <option>Angular Workshops Feedback</option>
    <option>Welcome Credit</option>
  </select>
  <button class="btn" ng-click="giveCredit()">Give credit</button>


</section>
