
section#collab {
  padding-top:40px;


  .activity {
    position:absolute;
    top:300px;
    bottom:120px;
    left:0;
    right:0;
    background-color:#F2FAF9;
    background-image:url('https://static.airpair.com/img/author/branch-white.png');
    background-size:100%;
  }

}

// section#activity {
//   h1.entry-title {           margin-bottom:0 }
//   #stats {                   background-color:@graygit;
//                              padding:20px 10px 25px 10px;
//                              position:relative;
//     > img {                  position:absolute;
//                              width:120px;height:120px;
//     }
//     > div {                  float:right;
//                              margin:-12px 10px 30px 0 }
//     table {                  margin:2px 0px 5px 140px }
//     td {                     padding:3px 3px 2px 3px;
//                              font-size:13px;
//       label {                font-size:11px;
//                              margin-right:10px;
//                              margin-bottom:2px;
//                              color:@bluegraydark }
//     }
//   }

//   span.status {              width:200px;display:block;text-align:center;margin:20px auto }

//   .mycontrib {               clear:both;
//                              position:relative;
//                              background-color:none;
//                              min-height:170px;
//                              margin:0 0 10px 0;
//                              padding:20px 20px 25px 150px;
//                              border-bottom:solid 2px @bluegray;
//                              border-top:solid 2px @bluegray;
//     > img {                  position:absolute;
//                              left:10px;top:20px;
//                              width:120px;height:120px }
//     form {                   .rating;background-size:0%;
//                              border-style:solid;
//                              border-width:2px }
//     .revs {                  width:310px;
//                              float:right;
//                              display:inline-block;
//       li > div               { margin:0; }
//       label, img.usr {       display:none } }
//     .forks {                 width:310px;
//                              padding:20px;
//                              display:inline-block;
//       .btn {                 width:100%;  } }
//   }
// }
