
section#fork {
  figure img.usr {           max-width:60px;
                             display:block;
                             margin:20px auto 5px auto }
}


  // .editfork {
  //   img { position:absolute;top:0;opacity:0.6;z-index:1 }
  //   .author { left:0px;z-index:3 }
  //   .me { left:62px }
  //   .fk {
  //     opacity:1;
  //     width:32px;
  //     left:42px;
  //     top:8px;
  //     z-index:2;
  //     padding:4px;
  //     background-color:@darkbluegray;
  //     background-size:50%;
  //     border:solid 2px white;
  //     border-radius:50%;
  //   }
  //   &:hover {
  //     img { border-color:@orangehighlight;opacity:1  }
  //   }
  // }

  // @media @vpMobileLandscape {
  //   #my {
  //     td .title { width:100%;margin-top:-15px;font-size:12px;padding-right:5px }
  // }}
