<section id="matchingReq" ng-if="request">

  <section class="nav left">
    <a ng-href="/matchmaking">Back</a>
    | <a ng-href="/review/{{request._id}}" target="_blank">Review</a>
    | <a ng-href="/adm/request/{{request._id}}" target="_self">Pipeline</a>
    | <a ng-href="/help/request/{{request._id}}" target="_self">Edit</a>
  </section>


  <section class="info right" request-admin req="request"></section>

  <section class="user left">
    <img ng-src="{{request.by.avatar}}" />

    <b>{{request.by.name}}</b>

    <label>Submitted</label>
      <span>{{ request.adm.submitted | locaTime : 'DD MMM HH:mm:ss' }}</span>
    <br /><label>Quality</label>
    <span ng-if="meta.shortBrief">short breif</span>
    <div ng-if="request.adm.closed"><label>Closed</label> {{request.adm.closed | locaTime : 'DD MMM HH:mm:ss' }}</div>

    <br /><label>Other</label>
  </section>

  <section class="suggested right">
    <div ng-repeat="s in request.suggested" class="expertStatus">
      <img ng-src="{{s.expert.avatar}}?s=50" class="user {{s.expertStatus}}" />
      <div>
        <label>${{s.suggestedRate.total}} /
        ${{s.suggestedRate.expert}}</label>
        <label><a href="/adm/experts/{{s.expert._id}}" target="_blank">{{s.expert.name}}</a></label>
        <span class="{{s.expertStatus}}">{{s.expertStatus}}</span>
      </div>
      <p ng-if="s.expertComment">
        <time>{{s.reply.time | agoTime }}</time>
        {{s.expertComment }}
      </p>
      <hr />
    </div>
  </section>

  <section ng-if="groupMatch" class="groupMatch left">
    {{groupMatch.type.toUpperCase()}}[<b>{{groupMatch.tag.slug}}</b>] Group match found:
    <ul>
      <li ng-repeat="s in groupMatch.suggested">{{s.name}}</li>
    </ul>
    <p><a ng-click="groupSuggest(groupMatch.tag.slug)" class="btn">Suggest Group</a></p>
  </section>
  <section ng-if="!selected" class="selected left">
    Select an expert below to see if they are a good fit.
  </section>
  <section ng-if="selected" class="selected left">
    <div>
      <social-links profile="selected"></social-links>
      <em ng-repeat="t in selected.tags"
        ng-class="(highlightedTag(t._id)) ? 'highlight':''"
        >{{t.short||t.name}}</em>
    </div>
    <img ng-src="{{selected.avatar}}?s=50" class="user" />
    <b>{{selected.score}}</b>${{selected.rate}}|${{selected.minRate}}
    <br /><a href="/adm/experts/{{m._id}}" target="_blank">{{selected.name}}</a>
    <br />Customers: {{selected.matching.experience.customers}}
    <br />Hours: {{selected.matching.experience.hours}}
    <br />Suggested: {{selected.matching.replies.suggested}}
    <br />Replied: {{selected.matching.replies.replied}}

    <hr />
    <div class="replies">
      <h6>Replies <span ng-if="!selected.matching.replies.last10 || selected.matching.replies.last10.length == 0">Never been suggested</span></h6>
      <ul ng-if="selected.matching.replies.last10">
        <li ng-repeat="reply in selected.matching.replies.last10" class="{{reply.status}}">
           <a href="/adm/request/{{reply.requestId}}" target="_blank">{{reply.replied | locaTime : 'DD MMM YY' }}</a> {{reply.status}}
        </li>
      </ul>
    </div>

    <div class="bookings">
      <h6>Bookings <span ng-if="!selected.matching.experience.last10 || selected.matching.experience.last10.length == 0">Never been booked</span></h6>
      <ul  ng-if="selected.matching.experience.last10">
        <li ng-repeat="b in selected.matching.experience.last10" class="{{b.status}}">
          <b>(5/5)</b> {{b.status}} {{b.participants[0].info.name}}  <a href="/adm/bookings/{{b._id}}" target="_blank">{{b.datetime | locaTime : 'DD MMM YY' }}</a>
        </li>
      </ul>
    </div>

    <div class="mailTo">
      <input type="text" ng-model="selected.suggest.subject" class="form-control">
      <textarea ng-model="selected.suggest.markdown" class="form-control"></textarea>
      <p><a ng-click="addSuggestion(selected._id)" class="btn">Suggest</a></p>
    </div>

    <hr />
  </section>


  <section class="matchControls left">
    <div class="expertInput" expert-input=""></div>
  </section>

  <section class="experts" style="clear:both">
    <section class="matches">
      <hr />

      <ul>
        <li class="match" ng-repeat="m in matches">
          <a ng-click="selectExpert(m)">
            <img ng-src="{{m.avatar}}?s=40" class="user" /></a>
          <social-links profile="m"></social-links>
          <social-scores profile="m"></social-scores>
          <div>{{gh}}</div>
          <time>{{m.lastTouch.utc | agoTime }}</time>
          <b>Mojo: {{m.score}}</b>
          <a href="/adm/experts/{{m._id}}" target="_blank">{{m.name}}</a>
          <i>{{m.location}}</i>
          <br />R ${{m.rate}}|<min>{{m.minRate}} min</min>
          <br /><span ng-if="m.matching">
            Cust {{m.matching.experience.customers}} /
            Hr {{m.matching.experience.hours}} /
            Sug {{m.matching.replies.suggested}} /
            Rep {{m.matching.replies.replied}}
          </span>
            <em ng-repeat="t in m.tags"
              ng-class="(highlightedTag(t._id)) ? 'highlight':''"
              >{{t.short||t.name}}</em>
            <hr />
            <div></div>
            <a class="btn hist" ng-href="https://mail.google.com/mail/u/0/?shva=1#search/%22{{m.name | urlEncode }}%22+OR+{{ m.email | urlEncode  }}" target="_blank">
            <i class="glyphicon glyphicon-envelope"></i> history
          </a>
        </li>
      </ul>
    </section>

  </section>

</section>
