<header>
  <a track-click="chatNav" class="icon">
    <img id="chatNavToggle" track-click="chatNav" data="{{ toggleAction }}" track-click-if="!session._id" ng-click="chatNav.toggle()" src="/static/img/css/chat/toggle.png" />
    <i>{{corechat.selfmember.notificationsCount || 0}}</i>
  </a>
  <span ng-if="corechat.activeRoom">
    {{corechat.getRoom(corechat.activeRoom).info.name}}
  </span>
  <span ng-show="!corechat.activeRoom">
    All Chats
  </span>
</header>

<section class="main">
  <div id="chat-widget" chat-widget></div>
</section>