<form ng-if="!session._id" id="joinForm" novalidate name="joinForm" ng-submit="submit(joinForm.$valid, data)">

  <h3><b>New to AirPair?</b> Create an AirPair account for the competition.</h3>

  <div class="postCompNameDiv" ng-if="data.email" form-group>
    <input id="postCompJoinName" name="name"
      form-control type="text" placeholder="Enter full name (e.g. John Smith)"
      ng-model="data.name"
      required
      ng-minlength="4"
      ng-minlength="60"
      ng-pattern="/\w+ \w+/"
      ng-focus="focusInput(this)"
      ng-blur="blurInput(this)"
      >

    <div class="error" ng-if="formGroup.showError(joinForm.name)" ng-messages="joinForm.name.$error">
      <div ng-message="required">Full name required to send to your email</div>
      <div ng-message="minlength">Full name required (e.g. John Smith)</div>
      <div ng-message="pattern">Full name required (e.g. John Smith)</div>
      <div ng-message="maxlength">Full name max length 60 chars</div>
    </div>
  </div>

  <div class="postCompEmailDiv" ng-if="!data.email" form-group>
    <input id="postCompJoinEmail"
         form-control
         name="email"
         type="email"
         placeholder="Enter your email to get started ..."
         ng-model="data.email"
         ng-model-options="{updateOn:'default blur',debounce:{default:1000, blur:0}}"
         ng-change="updateEmail(joinForm.email)"
         required
         tabindex="33211"
         track-focus="signup"
         track-data="email"
         ng-focus="focusInput(this)"
         ng-blur="blurInput(this)"
         >
    <div class="error" ng-if="formGroup.showError(joinForm.email)" ng-messages="joinForm.email.$error">
      <div ng-message="required">Email required</div>
      <div ng-message="email">Invalid email address</div>
    </div>
  </div>

  <div ng-if="updateFailed" class="error">** <b ng-bind-html="updateFailed | html"></b></div>

  <button ng-if="data.email" track-click="auth" data="joincomp" ng-class="data.email ? '' : 'focushide'" type="submit" class="btn btn-primary" tabindex="33214"><b>Join Competition</b></button>

  <span ng-if="data.email"><{{data.email}}> <a id="postCompJoinRemoveEmail" ng-click="data.email = '' ">x</a> </span>

</form>
