<section class="topUpGate">


<div ng-if="topUp">


  <div class="survey">
    <h4 style="margin:0px 0 30px 0">2016 Marketplaces Survey</h4>

    <p>
      We're collecting and publishing stats on
      the Internet's
      experiences and insights using marketplaces of all verticles.
      From Uber and TaskRabbit, through to Upwork and match.com
    </p>
    <p><b>Share what you love and hate!</b></p>

    <a href="/2016-marketplace-survey" class="btn" target="_blank">Join Survey</a>
    <span>Estimated 10-20 mins to complete.</span>
  </div>


  <div class="msg">

    <h3 style="margin-bottom:30px"><b>AirPairing "Reimagined"</b></h3>

    <p style="margin-bottom:20px">
      Happy new year!</p>

    <p>With a fresh start to 2016 and fresh perspective,
      we've begun remaking AirPair even closer to its vision
      of multiplying your development velocity.
    </p>

<!--<p>
      AirPair is inspired by the will to stop developers falling short
      of their software goals through augmenting the knowlege and technical
      capabilities of individuals and teams.
    </p>
 -->
    <p>
      We're excited to take lessons from 3 years, pairing thousands of
      developers like yourself, and with the help of our favorite customers
      test a new more efficient format for accessing and
      consuming elastic expert-level software knowledge.
    </p>

    <p>
      While working towards an April release,
      our previous offering will remain available to existing customers and
      members with <a href="/billing">account credit</a>.

    <p><b>You</b> are invited to be apart of our
      relaunch by steering us
      through your experiences and insights from
      participating in other marketplaces.
    </p>

    <p>
      Thanks for your support. We look forward
      to adding more impactful value than ever before to your 2016
      software development needs.
    </p>

    <p style="margin-top:20px"><i>Jonathon Kresner,</i> <br />AirPair Founder</p>

  </div>


</div>




</div>

<div ng-if="setLoc">
  <h3>Before we get started</h3>
  <p>
    Please <a href="/me">add your location / timezone</a> so we'll
    be able to schedule you more efficiently with experts.
  </p>
</div>




</section>
