<section class="topUpGate">


<div ng-if="topUp">


  <div class="survey">
    <h4 style="margin:0px 0 30px 0">2016 Developer Writing Competition</h4>

    <p>Another <b>$100,000</b> <br /> in cash prizes to win,
    <b><a href="/100k-writing-competition" target="_blank">just like last year!</a></b></p>

    <p>Submissions<br /> <b>May 1st</b> - <b>Jun 30th</b></p>

    <p>Full details to be annouced mid April</p>


    <img src="https://static.airpair.com/img/header/logo-author.png" />
  </div>


  <div class="msg">

    <h3 style="margin:20px 0 20px 0;font-size:22px"><b>AirPairing in Q3, 2016</b></h3>

    <p style="margin-bottom:20px">
      Special thanks to our participating beta customers.
      We learned a ton
      during our Q1 experiments and are excited to
      annouce cheaper than ever AirPairing!
    </p>

    <p>
      Immediately following our annual <i>Developer Writing Competition</i>,
      AirPair's marketplace is relaunching <b>minus per hour AirPair comission</b>. </p>

    <p>For customers, this means the best
      rates possible <em>anywhere</em>. What you pay will be the amounts experts take home
      - minus transaction fees.</p>

    <p>For experts, this means complete transparency and control over
      representing your market value.</p>

    <p>
      Due to recent competative fowl play, resulting in
      $100k in fraudulent payments and stolen funds,
      we decided to pause marketplace services until the relaunch.
      In the meantime, we'll be publishing a full technical account
      of our cyber-investagative adventures.
    </p>

    <p>Thanks to folks like heroku, who are enabling us to soon bring more
      impactful value to your software development needs at lower costs than before.
      To promote your API or Platform to 500k developers monthly, get in touch!</p>

    <p>Thank you for your support,</p>

    <p style="margin-top:20px"><i>Jonathon Kresner,</i> <br />AirPair Founder</p>

  </div>

  <br /><br />
  <div class="banner-bottom">
    <hr />
    <a rel="nofollow" href="/ad-visit/visit/heroku-160328-ruby" class="banner banner-top banner-heroku-ruby" target="_blank">
      <img src="/ad/heroku/900x90.q2-1.ruby.png" alt="Deploy on Heroku" />
    </a>
  </div>

</div>




</div>

<div ng-if="setLoc">
  <h3>Before we get started</h3>
  <p>
    Please <a href="/me">add your location / timezone</a> so we'll
    be able to schedule you more efficiently with experts.
  </p>
</div>




</section>
