<form id="cardinfoForm" novalidate name="cardinfoForm" ng-submit="submit(cardinfoForm.$valid, data)">

  <div class="cardName" form-group>
    <label class="control-label" for="cardholderName">Name on Card</label>
    <input form-control id="cardholderName" name="cardholderName" data-braintree-name="cardholderName" ng-model="card.cardholderName" type="text" placeholder="Full name on card" required ng-minlength="4" ng-minlength="60" ng-pattern="/\w+ \w+/" tabindex="1201">
    <div class="error" ng-if="formGroup.showError(cardinfoForm.cardholderName)" ng-messages="cardinfoForm.cardholderName.$error">
      <div ng-message="required">Name required</div>
      <div ng-message="minlength">Full name required (e.g. John Smith)</div>
      <div ng-message="pattern">Full name required (e.g. John Smith)</div>
      <div ng-message="maxlength">Full name max length 60 chars</div>
    </div>
  </div>

  <div class="cardNumber" form-group>
    <label class="control-label" for="cardNumber">Card number</label>
    <input form-control id="cardNumber" name="number" data-braintree-name="number" ng-model="card.number" type="text" placeholder="Credit card number" required ng-minlength="15" ng-minlength="20" tabindex="1202" ng-pattern="/\d+/">
    <div class="error" ng-if="formGroup.showError(cardinfoForm.number)" ng-messages="cardinfoForm.number.$error">
      <div ng-message="required">Number required</div>
      <div ng-message="minlength">Invalid card number</div>
      <div ng-message="pattern">Invalid card number</div>
      <div ng-message="maxlength">Invalid card number</div>
    </div>
  </div>

  <div class="cardExpiration" form-group>
    <label class="control-label" for="cardExpirationMonth">Expiration</label>
    <select form-control id="cardExpirationMonth" name="expirationMonth" data-braintree-name="expirationMonth" ng-model="card.expirationMonth" required tabindex="1203">
      <option value="01">Jan</option>
      <option value="02">Feb</option>
      <option value="03">Mar</option>
      <option value="04">Apr</option>
      <option value="05">May</option>
      <option value="06">Jun</option>
      <option value="07">Jul</option>
      <option value="08">Aug</option>
      <option value="09">Sep</option>
      <option value="10">Oct</option>
      <option value="11">Nov</option>
      <option value="12">Dec</option>
    </select>

    <input form-control name="expirationYear" id="cardExpirationYear" data-braintree-name="expirationYear" ng-model="card.expirationYear" type="number" placeholder="Year" required tabindex="1204" min="2014" max="2022">

    <div class="error" ng-if="formGroup.showError(cardinfoForm.expirationMonth)" ng-messages="cardinfoForm.expirationMonth.$error">
      <div ng-message="required">Month required</div>
    </div>

    <div class="error" ng-if="formGroup.showError(cardinfoForm.expirationYear)" ng-messages="cardinfoForm.expirationYear.$error">
      <div ng-message="required">Year required</div>
      <div ng-message="min">Invalid year</div>
      <div ng-message="max">Invalid year</div>
    </div>
  </div>

  <div ng-if="!hideCardNickname" class="cardNickname" form-group>
    <label class="control-label" for="cardNickName">Card nickname <i>* to help you distinguish between different cards</i></label>
    <input form-control id="cardNickName" name="cardNickName" data-braintree-name="cardNickName" ng-model="card.cardNickName" type="text" placeholder="Nick name for card (e.g. personal visa)" required ng-minlength="4" ng-minlength="60" tabindex="1205">
    <div class="error" ng-if="formGroup.showError(cardinfoForm.cardNickName)" ng-messages="cardinfoForm.cardNickName.$error">
      <div ng-message="required">Card nickname required</div>
    </div>
  </div>

  <hr />

  <input type="submit" id="submit" value="{{cardSubmitText}}" class="btn">
  <p ng-if="helpText">{{helpText}}</p>

  <div form-errors></div>

</form>
