<div class="preview">
  <article class="blogpost">
    <h1 class="entry-title" itemprop="headline">{{ post.title || "Type post title ..." }}</h1>
    <div class="railMarker"></div>
    <h4 id="table-of-contents" ng-if="preview.toc">Table of Contents</h4>
    <ul id="previewToc" ng-bind-html="preview.toc | markdownHtml"></ul>
    <figure class="author">
      <img ng-alt="{{post.by.name}}" ng-src="{{post.by.avatar}}?s=100">
      <div>
        <label>{{ post.by.name }}</label>
        <social-links profile="post.by.social"></social-links>
        <figcaption>
          {{post.by.bio}}
        </figcaption>
        <!-- <a href="/book/{{ post.by.expertId }}" class="btn book">Book {{ post.by.name }}</a> -->
      </div>
    </figure>
    <p class="asset" ng-bind-html="preview.asset | markdownHtml" ng-if="post.title && post.by.bio"></p>
    <hr />
    <div id="body" ng-bind-html="preview.body | markdownHtml"></div>
  </article>
  <footer ng-if="post.tags && post.tags.length > 0" id="posts" class="postfooter similar">
    <hr />
    <h5>Post categorized under</h5>
    <ul class="tags">
      <li ng-repeat="t in post.tags"><a href="/posts/tag/{{ t.slug }}">{{ t.name }}</a></li>
    </ul>
  </footer>
</div>
