<section ng-if="customers" class="happy nomob">

  <section class="stats">

    <h3>Stats this month</h3>

    <p>Jan Customer experiences</p>

    <ul>
      <li>Mind Blowing <b>14</b></li>
      <li>Excellent <b>16</b></li>
      <li>Good <b>4</b></li>
      <li>Okay <b>1</b></li>
      <li>Not Good <b>0</b></li>
    </ul>

  </section>


  <section ng-if="customers" class="customers">

    <h3>Happy customers this month</h3>

    <ul>
      <li ng-repeat="c in customers">
        <img class="user" ng-src="{{c.avatar}}" />
        <p>{{c.review}}
          <label>- {{c.name}}</label>
        </p>
      </li>
    </ul>

  </section>

</section>
