<article>

  <time ng-if="r._id" class="entry-time" itemprop="datePublished" datetime="{{ request.published }}"><h6>Submitted</h6>
<!--     <img ng-if="r.time" class="image-time" ng-src="/static/img/css/request/time-{{r.time}}.png" align="left" />
 -->
    <label>{{ r._id | objectIdToDate }}</label>
    <!-- <label>{{r.status}}</label> -->
  </time>

  <div class="entry-categories">
    <h6>Technologies</h6>
 <!--    <img ng-if="r.experience" class="image-experience" ng-src="/static/img/css/request/experience-{{r.experience}}.png" /> -->
    <ul>
      <li ng-repeat="t in r.tags | orderBy:'sort' | limitTo : 3">{{t.slug || t.short }}</li>
    </ul>
  </div>

  <div ng-if="displayRate" class="entry-content" itemprop="text">
    <h6>Rate</h6>
    <span>{{r.hours}}</span> <em>hr</em><em ng-if="r.hours>1">s</em> <em>@</em>&nbsp; <span>${{displayRate}} /hr</span></p>
  </div>

  <div class="entry-author">
    <h6>Customer</h6>
    <img class="entry-author-image user" itemprop="image" ng-src="{{ (r.by) ? r.by.avatar : r.company.contacts[0].pic }}?s=30" />
  </div>

  <ul class="requestExperts suggested" ng-if="isCustomer || isExpert && r.suggested.lengh > 0">
    <h6>Experts</h6>
    <li ng-repeat="s in r.suggested | limitTo : 3"><img ng-src="{{s.expert.avatar}}" class="user" /></li>
  </ul>

</article>
