<article>
  <a href="/help/request/{{ r._id }}">
    <header class="entry-header">

      <span class="entry-categories">
        <em ng-repeat="t in r.tags | orderBy:'sort'">{{t.slug}}</em>
      </span>
<!--
      <time class="entry-time" itemprop="datePublished" datetime="{{ request.published }}">2 Hours Ago</time> -->

    </header>
    <img ng-if="r.experience" class="image-experience" ng-src="/v1/img/css/request/experience-{{r.experience}}.png" />
    <img ng-if="r.time" class="image-time" ng-src="/v1/img/css/request/time-{{r.time}}.png" align="
    left" />


    <div class="entry-content" itemprop="text">
      <h2 class="entry-title" itemprop="headline">{{r.type}}</h2>

      <p>{{r.brief}}</p>

    </div>
    {{ r.by.name }}
    <!-- <span class="entry-author-name" itemprop="name">Jonathon</span> -->
    <img class="entry-author-image" itemprop="image" ng-src="{{ r.by.avatar }}?s=50" align="left" />

  </a>
<!--   <footer class="entry-footer">
    <bookmarker type="'post'" object-id="p._id"></bookmarker>
  </footer> -->
</article>
