<request-widget req="request"></request-widget>

<form ng-if="request" class="requestForm" novalidate name="requestForm" ng-submit="RequestFormCtrl.submit(requestForm.$valid, request)">

<div class="controls" ng-if="request.type && !entercard">
  <a ng-if="done.current != 'type'" ng-click="stepBack()"><img src="/static/img/css/request/prev.png"></a>
  <a ng-if="canForward()" ng-click="stepForward()" class="forward"><img src="/static/img/css/request/next.png"></a>
  <a ng-if="!canForward()" class="wait"><img src="/static/img/css/request/next.png"></a>
</div>

<request-progress></request-progress>

<section ng-class="stepClass('submit')">

  <div ng-if="request._id">
    <label class="control-label">Good to go?</label>
    <p>Submit your request and we'll broadcast to experts who meet or exceed your requirements.</p>

    <div class="requestTitle" form-group>
      <label class="control-label" for="requestTitle">Request title</label>
      <input form-control id="requestTitle" name="title" ng-model="request.title" type="text" placeholder="Title your request to help you recognise it" required ng-minlength="10" ng-minlength="100">
      <div class="error" ng-if="formGroup.showError(requestForm.title)" ng-messages="requestForm.title.$error">
        <div ng-message="required">Title required</div>
        <div ng-message="minlength">Min title length 10 chars</div>
        <div ng-message="maxlength">Max title length 100 chars</div>
      </div>
    </div>
  </div>

  <a ng-click="submit()" class="btn">Submit request with max budget of <b>${{request.budget}}</b>/Hr</a>

  <i>An AirPair Matchmaker will email you within 5-15 minutes if you haven't already spoken with one.</i>

</section>

<section ng-class="stepClass('budget')">

  <div form-group class="radios">
    <label class="control-label" for="requestTime">What is your max hourly budget?</label>

    <div>
      <input id="requestBudget300" name="budget" ng-model="request.budget" type="radio" value="300" ng-click="setBuget()">
      <label for="requestBudget300">
        <b>$300<span>/hr</span></b>
        <i>Our best experts, the fastest responses.</i>
      </label>
    </div>

    <div>
      <input id="requestBudget210" name="budget" ng-model="request.budget" type="radio" value="210" ng-click="setBuget()">
      <label for="requestBudget210">
        <b>$210<span>/hr</span></b>
        <i>Our best experts, normal response times.</i>
      </label>
    </div>

    <div>
      <input ng-if="!nonCurrentBudget" id="requestBudget150" name="budget" ng-model="request.budget" type="radio" value="150" ng-click="setBuget()">
      <label ng-if="!nonCurrentBudget" for="requestBudget150">
        <b>$150<span>/hr</span></b>
        <i>Proven experts, fast responses <em>* Most popular</em>.</i>
      </label>
    </div>

    <div>
      <input id="requestBudget100" name="budget" ng-model="request.budget" type="radio" value="100" ng-click="setBuget()">
      <label for="requestBudget100">
        <b>$100<span>/hr</span></b>
        <i>Proven experts, normal response times.</i>
      </label>
    </div>

    <div ng-if="request.time == 'rush'" class="onrush"></div>

    <div class="{{request.time}}">
      <input id="requestBudget70" name="budget" ng-model="request.budget" type="radio" value="70" ng-click="setBuget()">
      <label for="requestBudget70">
        <b>$70<span>/hr</span></b>
        <i ng-if="request.time != 'rush'">Available experts, normal response times.</i>
        <i ng-if="request.time == 'rush'">Rate not available with RUSH timing.</i>
      </label>
    </div>

    <div ng-if="nonCurrentBudget">
      <input id="requestBudgetOther" name="budget" ng-model="request.budget" type="radio" value="{{ existingBudget }}" ng-click="setBuget()">
      <label for="requestBudgetOther">
        <b>${{ existingBudget }}</b><span>/hr</span></label>
    </div>

    <hr />
  </div>


  <div class="info nomob">
    <b>$10/hr Discount</b>
    <p>Off these rates, <br />if you choose to <em>open source</em> your video recording later.</p>
  </div>

</section>


<section ng-class="stepClass('hours')">

  <div form-group class="radios">
    <label class="control-label" for="requestHours">How many hours do you think you'll need?</label>

    <div>
      <input id="requestHours1" name="hours" ng-model="request.hours" type="radio" value="1" ng-click="setHours()">
      <label for="requestHours1">1</label>
    </div>

    <div>
      <input id="requestHours2" name="hours" ng-model="request.hours" type="radio" value="2" ng-click="setHours()">
      <label for="requestHours2">2</label>
    </div>

    <div ng-if="request.time == 'rush'" class="onrush">
      <i>Max 2 hrs available with RUSH timing.</i>
    </div>

    <div class="{{request.time}}">
      <input id="requestHours5" name="hours" ng-model="request.hours" type="radio" value="5" ng-click="setHours()">
      <label for="requestHours5">5</label>
    </div>

    <div class="{{request.time}}">
      <input id="requestHours10" name="hours" ng-model="request.hours" type="radio" value="10" ng-click="setHours()">
      <label for="requestHours10">10</label>
    </div>

    <div class="{{request.time}}">
      <input id="requestHoursMore" name="hours" ng-model="request.hours" type="radio" value="10+" ng-click="setHours()">
      <label for="requestHoursMore">More</label>
    </div>


  </div>
  <hr />

</section>

<section ng-class="stepClass('time')">

  <div form-group ng-if="!entercard">
    <label class="control-label" for="requestTime">How soon would you like to speak to an expert?</label>

    <div class="radios">
      <input id="requestTimeRegular" name="time" ng-model="request.time" type="radio" value="regular" ng-click="setTime()">
      <label for="requestTimeRegular"><img src="/static/img/css/request/time-regular.png">In 1-2 Days</label>
    </div>

    <div class="radios">
      <input id="requestTimeRush" name="time" ng-model="request.time" type="radio" value="rush" ng-click="setTime()">
      <label for="requestTimeRush"><img src="/static/img/css/request/time-rush.png">In 1-2 Hours <i>+ $20/hr rush fee paid to expert</i></label>
    </div>

    <div class="radios">
      <input id="requestTimeLater" name="time" ng-model="request.time" type="radio" value="later" ng-click="setTime()">
      <label for="requestTimeLater"><img src="/static/img/css/request/time-later.png">I don't know yet
    </div>

  </div>

  <div class="entercard" ng-if="entercard">
    <a class="exitcard" ng-click="exitcard()">x</a>
    <label class="control-label" for="requestTime">Add your card for fast help</label>
    <div class="radios">
      <input id="requestTimeRush" name="time2" value="rush" checked="true" type="radio">
      <label for="requestTimeRush"><img src="/static/img/css/request/time-rush.png">In 1-2 Hours </label>
    </div>

    <payment-info hide-card-nickname="true"></payment-info>

    <p>Your Card will not be charged yet</p>
  </div>

</section>


<section ng-class="stepClass('brief')">

  <div form-group>
    <label class="control-label" for="requestBrief">Specifically what do you need help with?</label>
    <textarea id="requestBrief" form-control
      placeholder="describe your requirements in as much detail as possible"
      ng-model="request.brief"
      required>
    </textarea>
  </div>
  <a href="https://guides.github.com/features/mastering-markdown/" target="_blank" class="md">
    <img src="/static/img/css/request/markdown.png" />
    markdown supported
  </a>
  <hr />

</section>


<section ng-class="stepClass('experience')">

  <div form-group ng-if="request.tags && request.tags.length > 0 && session.emailVerified">

    <label class="control-label" for="requestExperience" ng-if="request.tags.length == 1">What's your experience with {{request.tags[0].slug}}?</label>
    <label class="control-label" for="requestExperience" ng-if="request.tags.length > 1">What's your experience using {{tagsString()}} together?</label>

    <!-- <i>Well make sure to match you with an equal or more experienced expert.</i> -->

     <div class="experienceOptions radios">
      <span>
        <input id="requestExperienceBeginner" name="experience" ng-model="request.experience" type="radio" value="beginner"
        ng-change="setExperience()"
        >
        <label for="requestExperienceBeginner"><img src="/static/img/css/request/experience-beginner.png" /> Beginner</label> <i>Basic setup and functionality</i>
      </span>

      <span>
        <input id="requestExperienceProficient" name="experience" ng-model="request.experience" type="radio" value="proficient"
        ng-change="setExperience()"
        >
        <label for="requestExperienceProficient"><img src="/static/img/css/request/experience-proficient.png" /> Proficient</label> <i>Typical development issues</i>
      </span>

      <span>
        <input id="requestExperienceAdvanced" name="experience" ng-model="request.experience" type="radio" value="advanced"
        ng-change="setExperience()"
        >
        <label for="requestExperienceAdvanced"><img src="/static/img/css/request/experience-advanced.png" /> Advanced</label> <i>Trying to do something crazy here</i>
      </span>
    </div>

  </div>

 <div class="verifyEmail" ng-if="request.tags && request.tags.length > 0 && !session.emailVerified">

    <label class="control-label">Verify your email</label>

      <div form-group class="email-group" ng-if="!verificationSent">

        <p>You will need a confirmed address to receive replies from experts.</p>

        <input id="sessionEmail" name="email" form-control type="email" placeholder="Primary contact email" ng-model="request.by.email" ng-blur="updateEmail(requestForm.email)" required tabindex="1">
        <div class="error" ng-if="formGroup.showError(requestForm.email)" ng-messages="requestForm.email.$error">
          <div ng-message="required">Field required</div>
          <div ng-message="email">Invalid email</div>
        </div>
        <div>
          <alert ng-repeat="alert in emailAlerts" type="{{alert.type}}">
            <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
            <p ng-bind-html="alert.msg | html"></p>
          </alert>
          <a ng-if="!verificationSent" ng-click="sendVerificationEmail()" class="btn">Send verification email</a>
        </div>
      </div>

      <alert ng-repeat="alert in emailAlerts" type="{{alert.type}}">
        <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
        <p ng-bind-html="alert.msg | html"></p>
      </alert>

      <hr />
      </div>

  </div>
  <hr />

</section>

<section ng-class="stepClass('tags')">

  <div form-group>
    <label class="control-label" for="requestTags">What technologies are you using?</label>
    <div class="form-group">
      <div tag-input></div>
    </div>
    <i>* Choose up to 3 tags</i>
  </div>
  <hr />

</section>

<section ng-class="stepClass('type')">

  <div form-group>
    <label class="control-label" for="requestType">What type of coding help could you use?</label>
    <div class="requestTypes">
      <a ng-click="setType('troubleshooting')">Troubleshooting</a>
      <a ng-click="setType('mentoring')">Mentoring</a>
      <a ng-click="setType('code-review')">Code review</a>
      <a ng-click="setType('resources')">Extra resources</a>
      <a ng-click="setType('advice')">Technology advice</a>
      <a ng-click="setType('other')">Other</a>
    </div>
    <select id="requestType" form-control ng-model="request.type">
      <option value="troubleshooting">Troubleshooting</option>
      <option value="mentoring">Mentoring</option>
      <option value="code-review">Code review</option>
      <option value="resources">Extra resources</option>
      <option value="advice">Technology advice</option>
      <option value="other">Other</option>
    </select>

    <div class="nomob info">
      <img class="user" ng-src="/static/img/css/request/ap-circle-mediumm.png" />
      <p><b>Get live programming help over video chat</b>
        <span>Tell us what you need and get matched with an expert in
        as little as 30 minutes.</span>
      </p>
    </div>
  </div>
  <hr />

</section>

</form>

<section ng-if="customers" class="happy nomob">

  <section ng-if="done.current == 'type' || done.current == 'tags'" class="customers">

    <h3>Happy customers this month</h3>

    <ul>
      <li ng-repeat="c in customers">
        <img class="user" ng-src="{{c.avatar}}" />
        <p>{{c.review}}
          <label>- {{c.name}}</label>
        </p>
        <img class="recording" ng-src="https://i.ytimg.com/vi/{{c.youtubeId}}/default.jpg">
      </li>
    </ul>

  </section>

  <section ng-if="done.current == 'experience' || done.current == 'brief'"
   class="expertReviews">

    <h3>Expert reviews this month</h3>

    <ul>
      <li ng-repeat="r in reviews">
        <img class="user" ng-src="{{r.avatar}}" />
        <p>{{r.review}}
          <label>- {{r.name}}</label>
        </p>
      </li>
    </ul>

  </section>


  <section ng-if="done.current == 'time' || done.current == 'hours'"
   class="expertReviews">

    <h3>Customer service feedback</h3>

    <ul>
      <li ng-repeat="r in reviews">
        <img class="user" ng-src="{{r.avatar}}" />
        <p>{{r.review}}
          <label>- {{r.name}}</label>
        </p>
      </li>
    </ul>

  </section>

</section>


