<form ng-if="request" class="requestForm" novalidate name="requestForm" ng-submit="RequestFormCtrl.submit(requestForm.$valid, request)">

  <request-progress></request-progress>

<section ng-class="stepClass('submit')">

  <div ng-if="request._id">
    <label class="control-label">Good to go?</label>
    <p>If you're happy with you're request, we'll broadcast it to selected experts.</p>

  </div>

  <a ng-click="submit()" class="btn">Submit</a>

</section>

<section ng-class="stepClass('budget')">

  <div form-group>
    <label class="control-label" for="requestTime">What is your max hourly budget?</label>

    <input id="requestBudget300" name="budget" ng-model="request.budget" type="radio" value="300" ng-click="setBuget()">
    <label for="requestBudget300">
      <b>$300<span>/hr</span></b>
      <i>Our best experts, the fastest responses.</i>
    </label>

    <input id="requestBudget210" name="budget" ng-model="request.budget" type="radio" value="210" ng-click="setBuget()">
    <label for="requestBudget210">
      <b>$210<span>/hr</span></b>
      <i>Our best experts, normal response times.</i>
    </label>

    <input ng-if="!nonCurrentBudget" id="requestBudget150" name="budget" ng-model="request.budget" type="radio" value="150" ng-click="setBuget()">
    <label ng-if="!nonCurrentBudget" for="requestBudget150">
      <b>$150<span>/hr</span></b>
      <i>Proven experts, fast responses <em>* Most popular</em>.</i>
    </label>

    <input id="requestBudget100" name="budget" ng-model="request.budget" type="radio" value="100" ng-click="setBuget()">
    <label for="requestBudget100">
      <b>$100<span>/hr</span></b>
      <i>Proven experts, normal response times.</i>
    </label>

    <input id="requestBudget70" name="budget" ng-model="request.budget" type="radio" value="70" ng-click="setBuget()">
    <label for="requestBudget70">
      <b>$70<span>/hr</span></b>
      <i>Available experts, normal response times.</i>
    </label>

    <other ng-if="nonCurrentBudget">
      <input id="requestBudgetOther" name="budget" ng-model="request.budget" type="radio" value="{{ existingBudget }}" ng-click="setBuget()">
      <label for="requestBudgetOther">
        <b>${{ existingBudget }}</b><span>/hr</span></label>
    </other>

  </div>
  <hr />

  <div class="info nomob"><b>$10/hr Discount</b>
    <p>Off these rates, <br />if you choose to <em>open source</em> your video recording.</p>
  </div>

</section>

<section ng-class="stepClass('time')">

  <div form-group>
    <label class="control-label" for="requestTime">How soon would you like to speak to an expert?</label>

    <input id="requestTimeRegular" name="time" ng-model="request.time" type="radio" value="regular" ng-click="setTime()">
    <label for="requestTimeRegular"><img src="/v1/img/css/request/time-regular.png">In 1-2 Days</label>

    <input id="requestTimeRush" name="time" ng-model="request.time" type="radio" value="rush" ng-click="setTime()">
    <label for="requestTimeRush"><img src="/v1/img/css/request/time-rush.png">In 1-2 Hours <i>+10/hr rush fee paid to expert</i></label>

  </div>

</section>


<section ng-class="stepClass('hours')">

  <div form-group>
    <label class="control-label" for="requestHours">How many hours do you think you'll need?</label>

    <input id="requestHours1" name="hours" ng-model="request.hours" type="radio" value="1" ng-click="setHours()">
    <label for="requestHours1">1</label>

    <input id="requestHours2" name="hours" ng-model="request.hours" type="radio" value="2" ng-click="setHours()">
    <label for="requestHours2">2</label>

    <input id="requestHours5" name="hours" ng-model="request.hours" type="radio" value="5" ng-click="setHours()">
    <label for="requestHours5">5</label>

    <input id="requestHours10" name="hours" ng-model="request.hours" type="radio" value="10" ng-click="setHours()">
    <label for="requestHours10">10</label>

    <input id="requestHoursMore" name="hours" ng-model="request.hours" type="radio" value="10+" ng-click="setHours()">
    <label for="requestHoursMore">More</label>

  </div>
  <hr />

</section>


<section ng-class="stepClass('brief')">

  <a ng-if="done.current == 'brief' && (request.brief && request.brief.length > 20)" ng-click="doneBrief()" class="btn">Continue</a>

  <div form-group>
    <label class="control-label" for="requestBrief">Specifically what do you need help with?</label>
    <textarea id="requestBrief" form-control
      placeholder="describe your requirements in as much detail as possible"
      ng-model="request.brief"
      required>
    </textarea>
  </div>
  <hr />

</section>


<section ng-class="stepClass('experience')">

  <div form-group ng-if="request.tags && request.tags.length > 0 && session.emailVerified">

    <label class="control-label" for="requestExperience" ng-if="request.tags.length == 1">What's your experience with {{request.tags[0].slug}}?</label>
    <label class="control-label" for="requestExperience" ng-if="request.tags.length > 1">What's your experience using {{tagsString()}} together?</label>

    <i>Well make sure to match you with an equal or more experienced expert.</i>

     <div class="experienceOptions">
      <span>
        <input id="requestExperienceBeginner" name="experience" ng-model="request.experience" type="radio" value="beginner"
        ng-change="setExperience()"
        >
        <label for="requestExperienceBeginner"><img src="v1/img/css/request/experience-beginner.png" style="padding-left:2px;padding-right:0px" /> Beginner</label>
      </span>

      <span>
        <input id="requestExperienceProficient" name="experience" ng-model="request.experience" type="radio" value="proficient"
        ng-change="setExperience()"
        >
        <label for="requestExperienceProficient"><img src="v1/img/css/request/experience-proficient.png" style="padding-right:1px" />Proficient</label>
      </span>

      <span>
        <input id="requestExperienceAdvanced" name="experience" ng-model="request.experience" type="radio" value="advanced"
        ng-change="setExperience()"
        >
        <label for="requestExperienceAdvanced"><img src="v1/img/css/request/experience-advanced.png" style="padding-left:3px;padding-right:1px" /> Advanced</label>
      </span>
    </div>

  </div>

 <div class="verifyEmail" ng-if="request.tags && request.tags.length > 0 && !session.emailVerified">

    <label class="control-label">Verify your email</label>

      <div form-group class="email-group" ng-if="!verificationSent">

        <p>You will need a confirmed address to receive replies from experts.</p>

        <input id="sessionEmail" name="email" form-control type="email" placeholder="Primary contact email" ng-model="request.by.email" ng-blur="updateEmail(requestForm.email)" required tabindex="1">
        <div class="error" ng-if="formGroup.showError(requestForm.email)" ng-messages="requestForm.email.$error">
          <div ng-message="required">Field required</div>
          <div ng-message="email">Invalid email</div>
        </div>
        <div>
          <alert ng-repeat="alert in emailAlerts" type="{{alert.type}}">
            <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
            <p ng-bind-html="alert.msg | html"></p>
          </alert>
          <a ng-if="!verificationSent" ng-click="sendVerificationEmail()" class="btn">Send verification email</a>
        </div>
      </div>

      <alert ng-repeat="alert in emailAlerts" type="{{alert.type}}">
        <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
        <p ng-bind-html="alert.msg | html"></p>
      </alert>

      <hr />
      </div>

  </div>
  <hr />

</section>

<section ng-class="stepClass('tags')">

  <a ng-if="done && done.current == 'tags' && request.tags && request.tags.length > 0" ng-click="doneTags()" class="btn">Continue</a>

  <div form-group>
    <label class="control-label" for="requestTags">What technologies are you using?</label>
    <div class="form-group">
      <div tag-input></div>
    </div>
    <i>* Choose up to 3 tags</i>
  </div>
  <hr />

</section>

<section ng-class="stepClass('type')">

  <div form-group>
    <label class="control-label" for="requestType">What type of coding help could you use?</label>
    <div class="requestTypes">
      <a ng-click="setType('troubleshooting')">Troubleshooting</a>
      <a ng-click="setType('mentoring')">Mentoring</a>
      <a ng-click="setType('code-review')">Code review</a>
      <a ng-click="setType('resources')">Extra resources</a>
      <a ng-click="setType('advice')">Technology advice</a>
      <a ng-click="setType('other')">Other</a>
    </div>
    <select id="requestType" form-control ng-model="request.type">
      <option value="troubleshooting">Troubleshooting</option>
      <option value="mentoring">Mentoring</option>
      <option value="code-review">Code review</option>
      <option value="resources">Extra resources</option>
      <option value="advice">Technology advice</option>
      <option value="other">Other</option>
    </select>

    <div class="nomob info">
      <img class="user" ng-src="/v1/img/css/chat/pairy.png" />
      <p><b>Want live programming help over video chat?</b>
        <span>Tell us what you need and get matched with an expert in
        as little as 30 minutes.</span>
      </p>
    </div>
  </div>
  <hr />

</section>



