<form ng-if="request" class="requestForm" novalidate name="requestForm" ng-submit="RequestFormCtrl.submit(requestForm.$valid, request)">

  <request-progress-admin ng-if="!request.budget" req="request"></request-progress-admin>

  <div class="left">
    <div>
      <label>Type</label>
      <span>
        <span ng-if="!request.time">-</span>
        <time ng-if="request.time">{{request.time}}</time>

        <span ng-if="!request.hours">-</span>
        <span ng-if="request.hours">{{request.hours}} hrs</span>

        {{request.type}}
      </span>
    </div>
    <div>
      <label>Budget</label>
      <span ng-if="request.budget">${{request.budget}} /hr</span>
      <span ng-if="!request.budget">-</span>
    </div>
    <div>
      <label>Tags</label>
      <span ng-if="!request.experience">-</span>
      <span ng-if="request.experience">{{request.experience}}</span>
      <ul>
        <li ng-repeat="t in request.tags">{{t.slug}}</li>
      </ul>
      <span ng-if="request.tags.length == 0">-</span>
    </div>
  </div>

  <div class="right">
    <section id="requestBrief" ng-model="request.brief" ng-if="request.brief">
      {{request.brief}}
    </section>
  </div>

</section>



