<div class="requestProgress">
  <div ng-class="stepClass('type')">
    <label>Help</label>
    <a ng-click="setCurrent('type')">Help</a>
  </div>
  <div ng-class="stepClass('tags')">
    <label>Tags</label>
    <a ng-click="setCurrent('tags')">Tags</a>
  </div>
  <div ng-class="stepClass('experience')">
    <label>Difficulty</label>
    <a ng-click="setCurrent('experience')">Difficulty</a>
  </div>
  <div ng-class="stepClass('brief')">
    <label>Brief</label>
    <a ng-click="setCurrent('brief')">Brief</a>
  </div>
  <div ng-class="stepClass('time')">
    <label>Speed</label>
    <a ng-click="setCurrent('time')">Speed</a>
  </div>
  <div ng-class="stepClass('hours')">
    <label>Hours</label>
    <a ng-click="setCurrent('hours')">Hours</a>
  </div>
  <div ng-class="stepClass('budget')">
    <label>Budget</label>
    <a ng-click="setCurrent('budget')">Budget</a>
  </div>
  <div ng-class="stepClass('submit')">
    <label>Submit</label>
    <a ng-click="setCurrent('submit')">Submit</a>
  </div>
</div>
