<div class="socialscores">
  <label ng-if="p.gh" class="gh-white icon">{{p.gh.followers}}</label>

  <label ng-if="p.so" class="so-white icon">{{p.so.reputation}}</label>

  <label ng-if="p.bb" class="bb-white icon">{{p.bb.followers}}N/A</label>

  <label ng-if="p.in" class="in-white icon">{{p.so.endorsements}}N/A</label>

  <label ng-if="p.tw" class="tw-white icon">{{p.tw.followers}}N/A</label>

  <label ng-if="p.al" class="al-white icon">{{p.al.followers}}N/A</label>

  <label ng-if="p.gp" class="gp-white icon">N/A</label>
</div>
