<script type="text/ng-template" id="expertMatch.html">
  <div>
    <a class="expertSelect">
      <img ng-src="{{match.model.avatar}}" />
      <span bind-html-unsafe="match.model.name | typeaheadHighlight:query"></span>
      <p bind-html-unsafe="match.model.username | typeaheadHighlight:query"></p>
    </a>
  </div>
  <hr />
</script>

<div class="form-group user-input-group">

  <div ng-if="selectExpert" class="selected">
    <img ng-src="{{selectExpert.avatar}}" />
  </div>

  <input type="text" class="expertInput form-control"
    placeholder="type a name (e.g. John Smith)"
    ng-model="q"
    typeahead="u as u for u in getsExperts($viewValue) | filter:$viewValue"
    typeahead-editable="false"
    typeahead-input-formatter="keypressSelect($model)"
    typeahead-template-url="expertMatch.html">

</div>

