
<!doctype html>
<html lang="en">
  <head>
    <title>AirConf | 80+ Online Presentations by Top Software Experts</title>
    <script src="//cdn.optimizely.com/js/1771151091.js"></script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="robots" content="index, follow">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="author" content="airpair, inc.">
<meta name="keywords" content="AirConf, Virtual Software Conference, Software Training Workshops">
<meta name="description" content="Virtual Software Developer Conference">
<meta property="og:image" content="https://www.airpair.com/images/landing/airconf/og.png" />
<meta property="og:description" content="Welome to AirConf, a month long speaker series broadcasting world-wide via Google Hangouts with coding book authors, top Stack Overflow answerers, framework core team members and more." />
<link rel="canonical" href="http://www.airpair.com/airconf2014" />
<link rel="stylesheet" href="/css/ap.css">
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' >

    <meta property="og:url" content="https://www.airpair.com/airconf2014" />
    <meta property="og:title" content="AirConf - Virtual workshops & panels by top software experts" />
    <meta property="og:description" content="Welome to AirConf, a month long speaker series broadcasting world-wide via Google Hangouts with coding book authors, top Stack Overflow answerers, framework core team members and more." />
  </head>
.
  <body id="airconf-homepage" class="airconf">
    <div class="hero">
      <h1><img class="logo" src="/images/landing/airconf/full-logo.png" /></h1>
      <section>
        <h2><span>Virtual workshops &amp; panels</span> by the world's top software experts</h2>
        <h3><span>Broadcasting Worldwide </span> via Google Hangouts</h3>
      </section>
      <div class="addthis_sharing_toolbox"></div>
    </div>
    <h4 id="about">
      Assemble with more than 80 software leaders and tho.usands of attendees, right from your living room!
      Join the evolution of software thought, in a first time opportunity to access so many top developers in one condensed event.
    </h4>

  <div id="keynotes">
    <h2 style="padding-bottom: 20px">Keynote Panels
    <span class="explanation">Click on a keynote title to watch for FREE.</span></h2>

    <div class="keynote one left" style="background:#dff2ef;color:#4d4e4e">
      <ul><li><img src="/images/avatars/of.png" alt="Obie Fernandez" /></li><li><img src="/images/landing/airconf/rabble.png" alt="Evan Henshaw-Plath" /></li><li><img src="/images/landing/airconf/mikemasonca.png" alt="Mike Mason" /></li><li><img src="//secure.gravatar.com/avatar/1eb7539f1f0a62f74ea3f7a0fa0f486f?s=110" alt="Chad Pytel" /></li></ul>
      <summary>
        <h3><a href="/airconf2014/keynote/future-of-consulting" class="login-required" target="_self">The Future of Consulting</a></h3>
        <p>Remote teams are becoming more popular each year. With increasing access to high quality distributed talent, consultancies like Thoughtworks and Pivotal Labs now go beyond outsourcing. The top consultancies leave clients with new skills as well as deliverables. Will this be enough going forward?</p>
        <div class="panelist"><label>Obie Fernandez</label> AirPair - <span> CTO</span></div><div class="panelist"><label>Evan Henshaw-Plath</label> Neo - <span> CTO</span></div><div class="panelist"><label>Mike Mason</label> ThoughtWorks - <span> Head of Technology</span></div><div class="panelist"><label>Chad Pytel</label> ThoughtBot - <span> CEO</span></div>
      </summary>
    </div>



     <div class="keynote three right" style="background:#90d1cc;color:black">
      <summary>
        <h3><a href="/airconf2014/keynote/will-pairing-ever-be-mainstream" class="login-required" target="_self">Will Pairing Ever be Mainstream?</a></h3>
        <p>Does pairing make sense for non-coding disciplines. What makes pair programming a compelling value proposition when writing software? What makes pairing hard and what cultural roadblocks exist in both software and non-software industry that is hindering more adoption.</p>
        <div class="panelist"><label>Edward Hieatt</label> Pivotal Labs - <span> COO</span></div><div class="panelist"><label>Desi McAdam</label> Thoughtbot - <span> Director</span></div><div class="panelist"><label>Joshua Kerievsky</label> Industrial Logic - <span> CEO</span></div><div class="panelist"><label>Dave Hoover</label> DevBootcamp - <span> Founder</span></div>
      </summary>
      <ul><li><img src="//airpair-blog.s3.amazonaws.com/wp-content/uploads/2013/12/Edward-Hieatt_avatar-96x96.jpg" alt="Edward Hieatt" /></li><li><img src="//secure.gravatar.com/avatar/33da3da6b969021eb6b17eaadd48a53e?s=140" alt="Desi McAdam" /></li><li><img src="//secure.gravatar.com/avatar/050efd8d626e05697dea0d0edeb8bea8?s=140" alt="Joshua Kerievsky" /></li><li><img src="//secure.gravatar.com/avatar/f3729d9dc86df0fc4f1ab7b20aa8e531?s=140" alt="Dave Hoover" /></li></ul>
    </div>



    <div class="keynote two left" style="background:#90d1cc;color:black">
      <ul><li><img src="//0.gravatar.com/avatar/780d02a99798886da48711d8104801a4" alt="Jonathon Kresner" /></li><li><img src="/images/landing/airconf/deepnishar.png" alt="Deep Nishar" /></li><li><img src="//0.gravatar.com/avatar/a1305e9ae99d801228b18e5f1dbb3098" alt="Yoela Palkin" /></li><li><img src="/images/landing/airconf/ccheever.png" alt="Charlie Cheever" /></li></ul>
      <summary>
        <h3><a href="/airconf2014/keynote/engineering-vs-entrepreneurship" class="login-required" target="_self">Engineering vs Entrepreneurship</a></h3>
        <p>Software Engineering is a precise discipline. Often early in a company&#x27;s lifetime, thing needs to be scrappy and fast. Are Software Engineering and Entrepreneurship at odds? Is there a way to have both quality and speed and can the two co-exist at the same time?</p>
        <div class="panelist"><label>Jonathon Kresner</label> AirPair - <span> CEO</span></div><div class="panelist"><label>Deep Nishar</label> LinkedIn - <span> SVP Product/UX</span></div><div class="panelist"><label>Yoela Palkin</label> BaskitLabs - <span> Founder</span></div><div class="panelist"><label>Charlie Cheever</label> Quora - <span> Cofounder</span></div>
      </summary>
    </div>



    <div class="keynote four right" style="background:#dff2ef;color:#4d4e4e">
      <summary>
        <h3><a href="/airconf2014/keynote/developer-writing-tips-and-tricks" class="login-required" target="_self">Developer Writing Tips &amp; Tricks</a></h3>
        <label>Watch live for free on <a class="add-to-cal" target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&text=AirConf+Keynote+-+Developer+Writing+Tips+Tricks&dates=20140826T220000Z/20140826T230000Z&details=In+this+panel+we+ask+a+well-known+technical bloggers+and+book+authors+for+their+tips+and+tricks.&location=https://www.airpair.com/airconf2014&output=xml"><time class="long" datetime="Tue Aug 26 2014 22:00:00 GMT"></time></a></label>
        <p>Strong personal brands get better consulting rates. What are the best strategies for building a personal developer brand through writing? In this panel we ask well-known technical bloggers and book authors for their best tips and tricks.</p>
        <div class="panelist"><label>Michael Lopp</label> Palantir - <span> Author</span></div><div class="panelist"><label>Matt Raible</label> Raible Designs - <span> Blogger</span></div><div class="panelist"><label>Corey Haines</label> 4 Rules of Simple Design - <span> Author</span></div><div class="panelist"><label>John D. Cook</label> johndcook.com - <span> Blogger</span></div><div class="panelist"><label>Peter Armstrong</label> Leanpub - <span> Founder</span></div>
      </summary>
      <ul><li><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Michael_Lopp_%28Apple_Inc.%29.jpg/200px-Michael_Lopp_%28Apple_Inc.%29.jpg" alt="Michael Lopp" /></li><li><img src="//secure.gravatar.com/avatar/72a2082c6a4dd79ad68befb3db911616?s=140" alt="Matt Raible" /></li><li><img src="//secure.gravatar.com/avatar/3d7807bb66e1a0c68c73ab2daaa77d8f?s=140" alt="Corey Haines" /></li><li><img src="//secure.gravatar.com/avatar/a7f4f9dcbbf1d46d660b0a6c98435751?s=140" alt="John D. Cook" /></li><li><img src="//secure.gravatar.com/avatar/f1217c714da50e49f1640aeff622c9b5?s=140" alt="Peter Armstrong" /></li></ul>
    </div>


  </div>


<!--
  <summary>
    <label>Mon Aug TBA, 00:00 GMT</label>
    <h3>Building developer communities</h3>
    <small>
      <label>Jonathon Kresner</label> AirPair<span> CEO</span>
      <br /><label>Bostco So</label> SFRuby<span> Organizer</span>
    </small>
  </summary>
 -->

<div style="clear:both"></div>

<div class="container p-b-4 experts">
  <h2 class="text-thin text-center m-t-3">Week 1 Speakers</h2>






      <div class="sessionCol">
  <time datetime="Mon Aug 04 2014 18:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/django/workshops/new-in-django-1.7">

    <img src="//secure.gravatar.com/avatar/0f4cefeedec5163556751d61625eedd0?s=180" alt="Daniel Roseman" class="img-circle" width="50%">
    <h3 class="name">Daniel Roseman</h3>
    <h4>All-time Django #1 Answerer</h4>

    </a>
    <h5><a href="/django/workshops/new-in-django-1.7">What's new in Django 1.7</a></h5>
    <h6 class="tags"><span>{ django }</span> <span>{ python }</span> </h6>
  </div>

  <div class="social-icons">



      <a class="so" target="_blank" href="//stackoverflow.com/users/104349/daniel-roseman"></a>





  </div>
</div>




      <div class="sessionCol">
  <time datetime="Mon Aug 04 2014 22:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/ruby/workshops/refactoring-large-rails-code">

    <img src="//secure.gravatar.com/avatar/9a2a53db8e9b4476038c94a64b32833f?s=180" alt="Ryan Bigg" class="img-circle" width="50%">
    <h3 class="name">Ryan Bigg</h3>
    <h4>Rails book author</h4>

    </a>
    <h5><a href="/ruby/workshops/refactoring-large-rails-code">Refactoring Big Features in Large Codebases</a></h5>
    <h6 class="tags"><span>{ ruby }</span> <span>{ spree }</span> <span>{ refactoring }</span> </h6>
  </div>

  <div class="social-icons">



      <a class="so" target="_blank" href="//stackoverflow.com/users/15245/ryan-bigg"></a>





  </div>
</div>




      <div class="sessionCol">
  <time datetime="Tue Aug 05 2014 16:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/security/workshops/repsheet-dynamic-security-controls">

    <img src="//secure.gravatar.com/avatar/24659470071279a42020d5b87411598e?s=180" alt="Aaron Bedra" class="img-circle" width="50%">
    <h3 class="name">Aaron Bedra</h3>
    <h4>Human</h4>

    </a>
    <h5><a href="/security/workshops/repsheet-dynamic-security-controls">Creating Dynamic Security Controls With Repsheet</a></h5>
    <h6 class="tags"><span>{ security }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/abedra"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Tue Aug 05 2014 21:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/leanstartup/workshops/effective-experiments-for-product-development">

    <img src="//secure.gravatar.com/avatar/fa960d968148c7cefda46b1e9bf62d1a?s=180" alt="Grace Ng" class="img-circle" width="50%">
    <h3 class="name">Grace Ng</h3>
    <h4>Entrepreneur and Designer</h4>

    </a>
    <h5><a href="/leanstartup/workshops/effective-experiments-for-product-development">Designing Experiments for Product Development</a></h5>
    <h6 class="tags"><span>{ leanstartup }</span> <span>{ ux }</span> <span>{ product }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/uxceo"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Wed Aug 06 2014 17:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/twilio/workshops/twilio-voice-sms-integration">

    <img src="//secure.gravatar.com/avatar/088bce2168389e26b6d4a8592a950299?s=180" alt="Jeff Linwood" class="img-circle" width="50%">
    <h3 class="name">Jeff Linwood</h3>
    <h4>Mobile App &amp; Twilio Expert</h4>

    </a>
    <h5><a href="/twilio/workshops/twilio-voice-sms-integration">Voice & SMS for Your Apps</a></h5>
    <h6 class="tags"><span>{ twilio }</span> </h6>
  </div>

  <div class="social-icons">





      <a class="in" target="_blank" href="//linkedin.com/x/profile/sy5n2q8o2i49/MI4rhSkAQM"></a>



  </div>
</div>




      <div class="sessionCol">
  <time datetime="Thu Aug 07 2014 17:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/cryptocurrency/workshops/using-the-blockchain">

    <img src="//secure.gravatar.com/avatar/cb2b0076739fe953c04adbbf8dd92839?s=180" alt="Sergey Nazarov" class="img-circle" width="50%">
    <h3 class="name">Sergey Nazarov</h3>
    <h4>Decentralizing key Social Systems</h4>

    </a>
    <h5><a href="/cryptocurrency/workshops/using-the-blockchain">Using the Blockchain</a></h5>
    <h6 class="tags"><span>{ cryptocurrency }</span> <span>{ bitcoin }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/sergeynazarov"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Thu Aug 07 2014 21:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/php/workshops/breaking-up-with-lamp">

    <img src="//secure.gravatar.com/avatar/14df293d6c5cd6f05996dfc606a6a951?s=180" alt="Phil Sturgeon" class="img-circle" width="50%">
    <h3 class="name">Phil Sturgeon</h3>
    <h4>PHP Town Crier</h4>

    </a>
    <h5><a href="/php/workshops/breaking-up-with-lamp">Breaking Up with LAMP</a></h5>
    <h6 class="tags"><span>{ php }</span> <span>{ heroku }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/philsturgeon"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Fri Aug 08 2014 16:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/leanstartup/workshops/lean-visual-strategy">

    <img src="//secure.gravatar.com/avatar/a37be5f2fdf2ba324da655204e872c65?s=180" alt="Cheryl Quirion" class="img-circle" width="50%">
    <h3 class="name">Cheryl Quirion</h3>
    <h4>leanstartup visualization</h4>

    </a>
    <h5><a href="/leanstartup/workshops/lean-visual-strategy">Lean Visual Strategy</a></h5>
    <h6 class="tags"><span>{ leanstartup }</span> <span>{ visualisation }</span> <span>{  }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/cherylquirion"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Fri Aug 08 2014 19:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/consulting/workshops/transitioning-to-consulting-for-developers">

    <img src="//secure.gravatar.com/avatar/81fd87db6a6cde7314acca4878fbe9db?s=180" alt="Ann Eliese Grey" class="img-circle" width="50%">
    <h3 class="name">Ann Eliese Grey</h3>
    <h4>Development Consultant</h4>

    </a>
    <h5><a href="/consulting/workshops/transitioning-to-consulting-for-developers">Transitioning from full-time to consulting</a></h5>
    <h6 class="tags"><span>{ consulting }</span> <span>{ freelance }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/annisgrey"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Sat Aug 09 2014 17:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/git/workshops/learn-git-and-github">

    <img src="//secure.gravatar.com/avatar/4fecd666b6e9fe0b043570f4d964d917?s=180" alt="Jeff Escalante" class="img-circle" width="50%">
    <h3 class="name">Jeff Escalante</h3>
    <h4>Engineer at Carrot</h4>

    </a>
    <h5><a href="/git/workshops/learn-git-and-github">Becoming an Open Source Star with Git & Github</a></h5>
    <h6 class="tags"><span>{ git }</span> <span>{ github }</span> <span>{ open-source }</span> </h6>
  </div>

  <div class="social-icons">


      <a class="gh" target="_blank" href="//github.com/jenius"></a>






  </div>
</div>





































































































































  <h2 class="text-thin text-center m-t-3">Week 2 Speakers</h2>


























      <div class="sessionCol">
  <time datetime="Mon Aug 11 2014 16:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/javascript/workshops/client-side-javascript-error-tracking">

    <img src="//secure.gravatar.com/avatar/ab13df38843556b57f7d2f6fe78003cf?s=180" alt="Arunoda Susiripala" class="img-circle" width="50%">
    <h3 class="name">Arunoda Susiripala</h3>
    <h4>MeteorHacks Author</h4>

    </a>
    <h5><a href="/javascript/workshops/client-side-javascript-error-tracking">Client Side Error Tracking</a></h5>
    <h6 class="tags"><span>{ javascript }</span> <span>{ errors }</span> <span>{ meteor }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/arunoda"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Mon Aug 11 2014 21:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/publishing/workshops/why-publish-developer-books">

    <img src="//secure.gravatar.com/avatar/f1217c714da50e49f1640aeff622c9b5?s=180" alt="Peter Armstrong" class="img-circle" width="50%">
    <h3 class="name">Peter Armstrong</h3>
    <h4>Founder: Dashcube, Leanpub</h4>

    </a>
    <h5><a href="/publishing/workshops/why-publish-developer-books">Why Developers Should Write Books</a></h5>
    <h6 class="tags"><span>{ publishing }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/peterarmstrong"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Tue Aug 12 2014 00:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/npm/workshops/reusable-pieces-with-npm">

    <img src="//secure.gravatar.com/avatar/c6d819207a3010b39d13e1f59f2c0029?s=180" alt="Domenic Denicola" class="img-circle" width="50%">
    <h3 class="name">Domenic Denicola</h3>
    <h4>Google Chrome team</h4>

    </a>
    <h5><a href="/npm/workshops/reusable-pieces-with-npm">Building web apps from reusable pieces with npm</a></h5>
    <h6 class="tags"><span>{ npm }</span> <span>{ nodejs }</span> <span>{ browserify }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/domenic"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Tue Aug 12 2014 15:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/rails/workshops/simplifying-rails-tests">

    <img src="//secure.gravatar.com/avatar/e6c6e133e74c3b83f04d2861deaa1c20?s=180" alt="Justin Searls" class="img-circle" width="50%">
    <h3 class="name">Justin Searls</h3>
    <h4>Programmer at Test Double</h4>

    </a>
    <h5><a href="/rails/workshops/simplifying-rails-tests"></a></h5>
    <h6 class="tags"><span>{ rails }</span> <span>{ testing }</span> <span>{ teams }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/searls"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Tue Aug 12 2014 20:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/email/workshops/dominate-email-conversion">

    <img src="//secure.gravatar.com/avatar/08b57e29f0a32ffd162fa4cd78a14c49?s=180" alt="Chris Hexton" class="img-circle" width="50%">
    <h3 class="name">Chris Hexton</h3>
    <h4>Co-Founder of Vero</h4>

    </a>
    <h5><a href="/email/workshops/dominate-email-conversion">5 Ways to Dominate Email Conversions</a></h5>
    <h6 class="tags"><span>{ email }</span> <span>{ marketing }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/chexton"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Tue Aug 12 2014 23:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/rails/workshops/rails-performance-optimization-q-and-a">

    <img src="//secure.gravatar.com/avatar/990f1e2f3c6871d4305d3a316902b1bf?s=180" alt="Alexander Dymo" class="img-circle" width="50%">
    <h3 class="name">Alexander Dymo</h3>
    <h4>YC Alum, entrepreneur/developer</h4>

    </a>
    <h5><a href="/rails/workshops/rails-performance-optimization-q-and-a">Ruby on Rails Performance Q & A</a></h5>
    <h6 class="tags"><span>{ rails }</span> <span>{ performance }</span> </h6>
  </div>

  <div class="social-icons">





      <a class="in" target="_blank" href="//linkedin.com/x/profile/sy5n2q8o2i49/1KB9BDtDYm"></a>



  </div>
</div>




      <div class="sessionCol">
  <time datetime="Wed Aug 13 2014 16:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/angularjs/workshops/animations-with-angularjs">

    <img src="//secure.gravatar.com/avatar/3c0ca2c60c5cc418c6b3dbed47b23b69?s=180" alt="Matias Niemela" class="img-circle" width="50%">
    <h3 class="name">Matias Niemela</h3>
    <h4>Core dev on AngularJS</h4>

    </a>
    <h5><a href="/angularjs/workshops/animations-with-angularjs">Professional Animations in AngularJS 1.3</a></h5>
    <h6 class="tags"><span>{ angularjs }</span> <span>{ ngAnimate }</span> </h6>
  </div>

  <div class="social-icons">


      <a class="gh" target="_blank" href="//github.com/matsko"></a>






  </div>
</div>




      <div class="sessionCol">
  <time datetime="Wed Aug 13 2014 18:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/agile/workshops/crash-course-managing-software-people-and-teams">

    <img src="//secure.gravatar.com/avatar/4974bd42e635147b1fee8323f122acc9?s=180" alt="Ron Lichty" class="img-circle" width="50%">
    <h3 class="name">Ron Lichty</h3>
    <h4>Software engineering management</h4>

    </a>
    <h5><a href="/agile/workshops/crash-course-managing-software-people-and-teams">If We’re Agile, Why Do We Need Managers?</a></h5>
    <h6 class="tags"><span>{ agile }</span> <span>{ management }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/ronlichty"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Wed Aug 13 2014 20:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/neo4j/workshops/spreadsheets-graph-databases">

    <img src="//secure.gravatar.com/avatar/f524745bb9975ba777b5c4a9922eb614?s=180" alt="Felienne Hermans" class="img-circle" width="50%">
    <h3 class="name">Felienne Hermans</h3>
    <h4>PhD &amp; Spreadsheets Professor</h4>

    </a>
    <h5><a href="/neo4j/workshops/spreadsheets-graph-databases">Spreadsheets & Graph Databases</a></h5>
    <h6 class="tags"><span>{ neo4j }</span> <span>{ sql }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/felienne"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Thu Aug 14 2014 01:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/seo/workshops/panda-user-experience-and-seo">

    <img src="//secure.gravatar.com/avatar/31e630fa1f4c36ebb986812309f09acb?s=180" alt="Ehren Reilly" class="img-circle" width="50%">
    <h3 class="name">Ehren Reilly</h3>
    <h4>SEO Product Strategist</h4>

    </a>
    <h5><a href="/seo/workshops/panda-user-experience-and-seo">What does UX have to do with SEO?</a></h5>
    <h6 class="tags"><span>{ seo }</span> <span>{ panda }</span> <span>{ ux }</span> </h6>
  </div>

  <div class="social-icons">





      <a class="in" target="_blank" href="//linkedin.com/x/profile//sy5n2q8o2i49/HEeMIzWKij"></a>



  </div>
</div>




      <div class="sessionCol">
  <time datetime="Thu Aug 14 2014 14:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/knockout/workshops/dynamic-html-with-knockout">

    <img src="//secure.gravatar.com/avatar/3aefe160da30caa0d7ea0f922f94c257?s=180" alt="Brian Hunt" class="img-circle" width="50%">
    <h3 class="name">Brian Hunt</h3>
    <h4>Knockout aficionado</h4>

    </a>
    <h5><a href="/knockout/workshops/dynamic-html-with-knockout">Dynamic HTML with Knockout</a></h5>
    <h6 class="tags"><span>{ knockout }</span> </h6>
  </div>

  <div class="social-icons">



      <a class="so" target="_blank" href="//stackoverflow.com/users/19212/brian-m-hunt"></a>





  </div>
</div>




      <div class="sessionCol">
  <time datetime="Fri Aug 15 2014 14:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/python/workshops/python-3.4">

    <img src="//secure.gravatar.com/avatar/09c1bb74564cba5aa5e1005e869499d4?s=180" alt="Martijn Pieters" class="img-circle" width="50%">
    <h3 class="name">Martijn Pieters</h3>
    <h4>Invisible Framework Coding Ninja</h4>

    </a>
    <h5><a href="/python/workshops/python-3.4">What's new in Python 3.4</a></h5>
    <h6 class="tags"><span>{ python }</span> <span>{ python-3.4 }</span> </h6>
  </div>

  <div class="social-icons">



      <a class="so" target="_blank" href="//stackoverflow.com/users/100297/martijn-pieters"></a>





  </div>
</div>




      <div class="sessionCol">
  <time datetime="Fri Aug 15 2014 18:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/python/workshops/data-processing-with-python">

    <img src="//secure.gravatar.com/avatar/34cf13e391e35fe59fdc095759263eb3?s=180" alt="Alexandre Gravier" class="img-circle" width="50%">
    <h3 class="name">Alexandre Gravier</h3>
    <h4>Data Scientist, Teralytics</h4>

    </a>
    <h5><a href="/python/workshops/data-processing-with-python">Crash course in data processing with Python</a></h5>
    <h6 class="tags"><span>{ python }</span> <span>{ data-processing }</span> </h6>
  </div>

  <div class="social-icons">





      <a class="in" target="_blank" href="//linkedin.com/x/profile/sy5n2q8o2i49/UFhmGZ-ZyR"></a>



  </div>
</div>




      <div class="sessionCol">
  <time datetime="Fri Aug 15 2014 21:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/marketing/workshops/zero-to-product-market-fit">

    <img src="//secure.gravatar.com/avatar/2c9c63e72bc96de12e6acd7ba07d6f02?s=180" alt="Andrew Chen" class="img-circle" width="50%">
    <h3 class="name">Andrew Chen</h3>
    <h4>Entrepreneur, ex-VC/adtech</h4>

    </a>
    <h5><a href="/marketing/workshops/zero-to-product-market-fit">Zero to Product Market Fit</a></h5>
    <h6 class="tags"><span>{ marketing }</span> <span>{ growth }</span> <span>{ startups }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/andrewchen"></a>


  </div>
</div>









































































































  <h2 class="text-thin text-center m-t-3">Week 3 Speakers</h2>






















































      <div class="sessionCol">
  <time datetime="Mon Aug 18 2014 15:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/css/workshops/css-vs-sass">

    <img src="//secure.gravatar.com/avatar/a77873df3a9766b208e009248a2a9a56?s=180" alt="Hampton Catlin" class="img-circle" width="50%">
    <h3 class="name">Hampton Catlin</h3>
    <h4>Creator of Sass and Haml</h4>

    </a>
    <h5><a href="/css/workshops/css-vs-sass">CSS vs Sass</a></h5>
    <h6 class="tags"><span>{ css }</span> <span>{ sass }</span> <span>{ w3c }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/hcatlin"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Mon Aug 18 2014 19:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/meteor/workshops/learn-meteorjs-1.0">

    <img src="//secure.gravatar.com/avatar/089ddf30c09022b92363dd0d8ce2bdfd?s=180" alt="Josh Owens" class="img-circle" width="50%">
    <h3 class="name">Josh Owens</h3>
    <h4>Javascript connoisseur</h4>

    </a>
    <h5><a href="/meteor/workshops/learn-meteorjs-1.0">What I learned from a year with Meteor.js</a></h5>
    <h6 class="tags"><span>{ meteor }</span> <span>{ javascript }</span> <span>{ testing }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/joshowens"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Tue Aug 19 2014 17:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/chef/workshops/test-driven-infrastructure">

    <img src="//secure.gravatar.com/avatar/35d78874c6ba5c64db3256f6868515dc?s=180" alt="Evgeny Zislis" class="img-circle" width="50%">
    <h3 class="name">Evgeny Zislis</h3>
    <h4>DevOps.co.il Founder</h4>

    </a>
    <h5><a href="/chef/workshops/test-driven-infrastructure">Test Driven Infrastructure</a></h5>
    <h6 class="tags"><span>{ chef }</span> <span>{ tdd }</span> <span>{ infrastructure }</span> </h6>
  </div>

  <div class="social-icons">





      <a class="in" target="_blank" href="//linkedin.com/x/profile/sy5n2q8o2i49/9ZPSg_JcCY"></a>



  </div>
</div>




      <div class="sessionCol">
  <time datetime="Tue Aug 19 2014 20:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/ruby/workshops/publishing-at-the-speed-of-ruby">

    <img src="//secure.gravatar.com/avatar/ffda7d145b83c4b118f982401f962ca6?s=180" alt="Michael Hartl" class="img-circle" width="50%">
    <h3 class="name">Michael Hartl</h3>
    <h4>Rails Tutorial, Softcover founder</h4>

    </a>
    <h5><a href="/ruby/workshops/publishing-at-the-speed-of-ruby">Publishing at the Speed of Ruby</a></h5>
    <h6 class="tags"><span>{ ruby }</span> <span>{ ebooks }</span> <span>{ marketing }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/mhartl"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Tue Aug 19 2014 22:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/swift/workshops/is-swift-that-swift">

    <img src="//secure.gravatar.com/avatar/7a26ff0ae0b5e31a737ab8e4c887f0cf?s=180" alt="Jack Watson-Hamblin" class="img-circle" width="50%">
    <h3 class="name">Jack Watson-Hamblin</h3>
    <h4>iOS and Ruby Trainer</h4>

    </a>
    <h5><a href="/swift/workshops/is-swift-that-swift">Is Apple's Swift That swift?</a></h5>
    <h6 class="tags"><span>{ swift }</span> </h6>
  </div>

  <div class="social-icons">





      <a class="in" target="_blank" href="//linkedin.com/x/profile/sy5n2q8o2i49/oNxzjUMtdW"></a>



  </div>
</div>




      <div class="sessionCol">
  <time datetime="Wed Aug 20 2014 17:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/ruby/workshops/taming-chaotic-specs-rspec">

    <img src="//secure.gravatar.com/avatar/35e0dbc9533ce3d90527eeec998d9725?s=180" alt="Adam Cuppy" class="img-circle" width="50%">
    <h3 class="name">Adam Cuppy</h3>
    <h4>Ruby on Rails &amp; RSpec Ninja</h4>

    </a>
    <h5><a href="/ruby/workshops/taming-chaotic-specs-rspec">Taming Chaotic Spec:  RSpec Patterns</a></h5>
    <h6 class="tags"><span>{ ruby }</span> <span>{ rspec }</span> <span>{ testing }</span> <span>{ tdd }</span> </h6>
  </div>

  <div class="social-icons">





      <a class="in" target="_blank" href="//linkedin.com/x/profile/sy5n2q8o2i49/OfJ8u7KW5E"></a>



  </div>
</div>




      <div class="sessionCol">
  <time datetime="Wed Aug 20 2014 21:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/cassandra/workshops/store-json-in-cassandra">

    <img src="//secure.gravatar.com/avatar/ea8bf3f4b04a91c0b5b279c99c048028?s=180" alt="Josh Dzielak" class="img-circle" width="50%">
    <h3 class="name">Josh Dzielak</h3>
    <h4>Open Sourceror</h4>

    </a>
    <h5><a href="/cassandra/workshops/store-json-in-cassandra">Store JSON in Cassandra The Hard Way</a></h5>
    <h6 class="tags"><span>{ cassandra }</span> <span>{ analytics }</span> <span>{ keen.io }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/dzello"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Thu Aug 21 2014 16:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/marketing/workshops/small-wins-big-results">

    <img src="//secure.gravatar.com/avatar/06c6fcf31eca8e953379f42c40299371?s=180" alt="Brennan Dunn" class="img-circle" width="50%">
    <h3 class="name">Brennan Dunn</h3>
    <h4>Business owner</h4>

    </a>
    <h5><a href="/marketing/workshops/small-wins-big-results">Small Wins, Big Results</a></h5>
    <h6 class="tags"><span>{ marketing }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/brennandunn"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Thu Aug 21 2014 19:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/rails/workshops/introduction-to-rails-4">

    <img src="//secure.gravatar.com/avatar/940bf3b2a8eef6d175ffc2ca243e0ea2?s=180" alt="Kevin Faustino" class="img-circle" width="50%">
    <h3 class="name">Kevin Faustino</h3>
    <h4>Rails 4 Way co-author</h4>

    </a>
    <h5><a href="/rails/workshops/introduction-to-rails-4">Introduction to Rails 4</a></h5>
    <h6 class="tags"><span>{ rails }</span> <span>{ ruby-on-rail-4 }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/kfaustino"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Fri Aug 22 2014 15:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/app-store/workshops/make-it-to-number-1-in-the-app-store">

    <img src="//secure.gravatar.com/avatar/433d6daba7a9f7e563b793c0890ef906?s=180" alt="Amir Rajan" class="img-circle" width="50%">
    <h3 class="name">Amir Rajan</h3>
    <h4>Coder. Mentor. Craftsman.</h4>

    </a>
    <h5><a href="/app-store/workshops/make-it-to-number-1-in-the-app-store">Making it to #1 in the App Store</a></h5>
    <h6 class="tags"><span>{ app-store }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/ADarkRoomiOS"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Fri Aug 22 2014 17:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/enterprise-software/workshops/automating-marine-container-terminals">

    <img src="//secure.gravatar.com/avatar/35563a86a2ed3a8f79da77fcf2f25d7b?s=180" alt="John Scattergood" class="img-circle" width="50%">
    <h3 class="name">John Scattergood</h3>
    <h4>Principal Engineer, Navis LLC</h4>

    </a>
    <h5><a href="/enterprise-software/workshops/automating-marine-container-terminals">Automating Marine Container Terminals</a></h5>
    <h6 class="tags"><span>{ enterprise-software }</span> <span>{ robotics }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/johnscattergood"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Sun Aug 24 2014 17:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/d3.js/workshops/quickstart-to-d3js">

    <img src="//secure.gravatar.com/avatar/262e07f53f9f636a5816f3128c6517a7?s=180" alt="Lars Kotthoff" class="img-circle" width="50%">
    <h3 class="name">Lars Kotthoff</h3>
    <h4>AI researcher, d3.js #2 Answerer</h4>

    </a>
    <h5><a href="/d3.js/workshops/quickstart-to-d3js">Getting started with D3.js</a></h5>
    <h6 class="tags"><span>{ d3.js }</span> </h6>
  </div>

  <div class="social-icons">



      <a class="so" target="_blank" href="//stackoverflow.com/users/1172002/lars-kotthoff"></a>





  </div>
</div>

















































































  <h2 class="text-thin text-center m-t-3">Week 4 Speakers</h2>

















      <div class="sessionCol">
  <time datetime="Mon Aug 25 2014 17:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/angularjs/workshops/angularjs-performance-pitfalls">

    <img src="//secure.gravatar.com/avatar/11696d5a1b7da83ebdf9c54a5dbd8f7a?s=180" alt="Uri Shaked" class="img-circle" width="50%">
    <h3 class="name">Uri Shaked</h3>
    <h4>AngularJS Google Developer Expert</h4>

    </a>
    <h5><a href="/angularjs/workshops/angularjs-performance-pitfalls">Avoiding Common Pitfalls in AngularJS</a></h5>
    <h6 class="tags"><span>{ angularjs }</span> <span>{ performance }</span> </h6>
  </div>

  <div class="social-icons">
    <a class="in" target="_blank" href="//linkedin.com/x/profile/sy5n2q8o2i49/H_-Va_zs6e"></a>
  </div>
</div>




      <div class="sessionCol">
  <time datetime="Tue Aug 26 2014 15:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/agile/workshops/hiring-developers">

    <img src="//secure.gravatar.com/avatar/3117188173fedd77cd2179652ca1d302?s=180" alt="Johanna Rothman" class="img-circle" width="50%">
    <h3 class="name">Johanna Rothman</h3>
    <h4>Author of Hiring Geeks That Fit</h4>

    </a>
    <h5><a href="/agile/workshops/hiring-developers">Hiring Developers Without Fear</a></h5>
    <h6 class="tags"><span>{ agile }</span> <span>{ culture }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/johannarothman"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Tue Aug 26 2014 21:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/firebase/workshops/fast-mvp-with-angularfire">

    <img src="//secure.gravatar.com/avatar/fbb79df0f24e736c8e37f9f195a738cc?s=180" alt="Abe Haskins" class="img-circle" width="50%">
    <h3 class="name">Abe Haskins</h3>
    <h4>Firebase &amp; AngularFire Expert</h4>

    </a>
    <h5><a href="/firebase/workshops/fast-mvp-with-angularfire">Building your MVP with AngularFire</a></h5>
    <h6 class="tags"><span>{ firebase }</span> <span>{ angular }</span> <span>{ angularfire }</span> </h6>
  </div>

  <div class="social-icons">


      <a class="gh" target="_blank" href="//github.com/abeisgreat"></a>






  </div>
</div>




      <div class="sessionCol">
  <time datetime="Wed Aug 27 2014 17:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/ruby/workshops/taming-chaotic-specs-rspec-2">

    <img src="//secure.gravatar.com/avatar/35e0dbc9533ce3d90527eeec998d9725?s=180" alt="Adam Cuppy" class="img-circle" width="50%">
    <h3 class="name">Adam Cuppy</h3>
    <h4>Ruby on Rails &amp; RSpec Ninja</h4>

    </a>
    <h5><a href="/ruby/workshops/taming-chaotic-specs-rspec-2">Taming Chaotic Spec:  RSpec Patterns</a></h5>
    <h6 class="tags"><span>{ ruby }</span> <span>{ rspec }</span> <span>{ testing }</span> <span>{ tdd }</span> </h6>
  </div>

  <div class="social-icons">





      <a class="in" target="_blank" href="//linkedin.com/x/profile/sy5n2q8o2i49/OfJ8u7KW5E"></a>



  </div>
</div>




      <div class="sessionCol">
  <time datetime="Thu Aug 28 2014 20:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/d3.js/workshops/visualization-with-d3js">

    <img src="//secure.gravatar.com/avatar/0b0184b815c54a6f03f6e5ada4d4b69a?s=180" alt="Joanne Cheng" class="img-circle" width="50%">
    <h3 class="name">Joanne Cheng</h3>
    <h4>web developer at thoughtbot</h4>

    </a>
    <h5><a href="/d3.js/workshops/visualization-with-d3js">Creative Visualization with D3.js</a></h5>
    <h6 class="tags"><span>{ d3.js }</span> </h6>
  </div>

  <div class="social-icons">






      <a class="tw" target="_blank" href="//twitter.com/joannecheng"></a>


  </div>
</div>




      <div class="sessionCol">
  <time datetime="Fri Aug 29 2014 15:00:00 GMT+0000 (UTC)"></time>
  <div class="user-info">
    <a href="/payments/workshops/braintree-and-paypal-payments">

    <img src="//secure.gravatar.com/avatar/fcff4657d7569f605976d2cab3813890?s=180" alt="Cristiano Betta" class="img-circle" width="50%">
    <h3 class="name">Cristiano Betta</h3>
    <h4>Developer Evangelist at PayPal</h4>

    </a>
    <h5><a href="/payments/workshops/braintree-and-paypal-payments">Taking payments with Braintree and PayPal</a></h5>
    <h6 class="tags"><span>{ payments }</span> <span>{ paypal }</span> <span>{ braintree }</span> </h6>
  </div>

  <div class="social-icons">
      <a class="tw" target="_blank" href="//twitter.com/cbetta"></a>
  </div>
</div>

</div>

</div>
  <div class="bg-gray">
    <div class="container p-b-4">
      <h2 class="text-thin text-center m-t-4">How do I get a ticket?</h2>
      <p>We've organized the largest collection of technical experts in the world that want to help you and your business. While we've paired thousands of people individually with our experts, it's never been possible to get direct access to our top experts all at one event.</p>
      <p>AirConf tickets get you unprecedented access to 80+ top experts in the field — open source core team members, technical author and noted entrepreneurs — who can not only help you with problems and challenges specific to your project, but can also help you better understand the future of the frameworks, libraries and languages that power your codebases.</p>
      <br />
    </div>
    <div class="m-t-2" style="text-align: center"><div class="addthis_sharing_toolbox"></div></div>
  </div>

  <footer>
    <p>&copy; airpair, Inc. · (800) 487-0668 · <a href="mailto:team@airpair.com">Email Us</a> · <a href="/privacy">Privacy Policy</a></p>
  </footer>
</body>

<script type="text/javascript">
  function initPage() {
    // showLocalTimes();
    // setCalendarTimes();
    // initStaticPage('airconf');
  }
</script>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-519d1944598d7aed"></script>

</html>
