<header>
  <ol class="entry-meta breadcrumb">
    <li><a href="/dashboard">Dashboard</a></li>
    <li class="current">Get Help</li>
  </ol>
</header>


<section ng-if="session.unauthenticated">

  <h1>Get started</h1>

  <section id="join">
    <div cta-request-signup></div>
  </section>

</section>

<section id="request" ng-if="session._id">
  <div class="requests" style="display:none">
    <div request-list-item req="request"></div>
  </div>

  <div request></div>


</section>

<section class="happy nomob">

  <h3>Happy customers this month</h3>

  <ul>
    <li ng-repeat="c in customers">
      <img class="user" src="{{c.avatar}}" />
      <p>{{c.review}}
        <label>- {{c.name}}</label>
      </p>
      <img class="recording" src="https://i.ytimg.com/vi/{{c.youtubeId}}/default.jpg">
    </li>
  </ul>


  <h3>Expert reviews this month</h3>

  <ul>
    <li ng-repeat="r in reviews">
      <img class="user" src="{{r.avatar}}" />
      <p>{{r.review}}
        <label>- {{r.name}}</label>
      </p>
    </li>
  </ul>

</section>

