<form novalidate name="requestForm" ng-submit="RequestFormCtrl.submit(requestForm.$valid, data)">



<section class="brief" ng-if="data.hours" ng-class=" (data.brief) ? 'done':'' ">

  <div form-group>
    <label class="control-label" for="requestBrief">Specifically what do you need help with?</label>
    <textarea id="requestBrief" form-control
      ng-model="data.brief"
      ng-model-options="{debounce:{default:800, blur:0}}"
      required>
    </textarea>
  </div>

</section>

<section class="hours" ng-if="data.tags && data.experience" ng-class=" (data.hours) ? 'done':'' ">

  <div form-group>
    <label class="control-label" for="requestHours">How many hours do you think you'll need?</label>
    <input name="hours" ng-model="data.hours" type="radio" value="1">
    <span>1</span>

    <input name="hours" ng-model="data.hours" type="radio" value="2">
    <span>2</span>

    <input name="hours" ng-model="data.hours" type="radio" value="5">
    <span>5</span>

    <input name="hours" ng-model="data.hours" type="radio" value="10">
    <span>10</span>

    <input name="hours" ng-model="data.hours" type="radio" value="10+">
    <span>More</span>

  </div>

</section>

<section class="tags" ng-if="doneTags" ng-class="(data.experience) ? 'done':'' ">

  <div form-group ng-if="data.tags && data.tags.length > 0">
    <label class="control-label" for="requestExperience" ng-if="data.tags.length == 1">What is your experience using {{data.tags[0].name}}?</label>
    <label class="control-label" for="requestExperience" ng-if="data.tags.length > 1">What is your experience using these technolgies together?</label>
    <input name="experience" ng-model="data.experience" type="radio" value="60">
    <span>Beginner</span>

    <input name="experience" ng-model="data.experience" type="radio" value="120">
    <span>Proficient</span>

    <input name="experience" ng-model="data.experience" type="radio" value="120">
    <span>Advanced</span>
  </div>
</section>

<section class="tags" ng-if="data.time" ng-class=" (doneTags) ? 'done':'' " style="padding-bottom:30px">

  <div form-group>
    <label class="control-label" for="requestTags">What technologies are you using?</label>
    <div class="form-group">
      <div tag-input></div>
    </div>
  </div>
  <div ng-if="!doneTags" style="clear:both;margin-bottom:10px;height:40px">

    <a style="min-width:200px;float:right;margin-right:110px;margin-top:5px" ng-if="data.tags && data.tags.length > 0" ng-click="setDoneTags()" class="btn">Done</a>
    <i style="padding-top:15px;display:block">Choose up to 3 tags</i>
  </div>

</section>

<section class="time" ng-if="data.type" ng-class=" (data.time) ? 'done':'' ">

  <div form-group>
    <label class="control-label" for="requestTime">How soon would you like to speak to an expert?</label>

    <span class="rush feedback" ng-if="data.time && data.time == '1-2 hours'"><a href="#">+10/hr rush fee</a></span>

    <input id="requestTimeRegular" name="time" ng-model="data.time" type="radio" value="1-2 days">
    <label for="requestTimeRegular"><img src="/v1/img/css/request/time-regular.png">In 1-2 Days</label>

    <input id="requestTimeRush" name="time" ng-model="data.time" type="radio" value="1-2 hours">
    <label for="requestTimeRush"><img src="/v1/img/css/request/time-rush.png">In 1-2 Hours</label>

  </div>

</section>

<section class="type" ng-class=" (data.type) ? 'done':'' ">

  <div form-group>
    <label class="control-label" for="requestType">What type of help are you looking for?</label>
    <select id="requestType" form-control ng-model="data.type">
      <option value="">Select ...</option>
      <option>Troubleshooting</option>
      <option>Mentorship</option>
      <option>Code review</option>
      <option>Team augmentation</option>
      <option>Advice</option>
      <option>Vetting</option>
      <option>Other</option>
    </select>
    <a href="/help/types" class="feedback types">Not sure?</a>
  </div>

</section>


