@import "../adm.less";


#experts {
  .selected { display:none }
  .tag-input-group {
    max-width:320px;
    .nomobile { display:none; }
    label { display:none }
    input { width:132px!important; }
    display:inline-block;
  }
  table {
    td { font-size:13px }
  }
  .t {
    span { display:inline-block;margin:2px 5px;font-size:10px }
  }

  .requestWidget { display:none }
  .requestForm {
    display:inline-block;
    width:420px;
    .requestProgress { display:none }
    i { display:none }
    .controls { display:none }
    .control-label { display:none }
    .info { display:none }
    .submit { display:none }
    .type { display:none }
    .experience { display:none }
    .brief { display:none }
    .time { display:none }
    .hours { display:none }
    .tags { width:140px; hr { display:none } }
    .budget { width:280px;display:none  }
    // .budget > div.info { display:none }
    // .budget > div > div {
    //   float:right;
    //   label { margin:0 }
    //   b { font-size:9px;span { display:none } }
    // }
    section { border:none;display:inline-block;height:30px }
  }

  .socialscores { margin-top:-9px;opacity:0.6 }
  .replies { list-style:none;font-size:8px }
}


#expert {
  h3 {
    a.btn-sm { float:right;display:inline-block; }
  }


  section.a { width:52%;float:left;clear:left }
  section.b { width:46%;float:right;clear:right }
  time { font-weight:normal; }
  .display-group {
    var { vertical-align:top; }
    label { max-width:460px }
    p { font-size:11px }
  }

  .user {
    h3 { b { float:right;font-size:12px; } }
    .pic { float:right;border-radius:50% }
    .sociallinks { float:right;clear:right;width:58px;margin:10px }
  }
  .expert {
    .tags {
      ul { .ulNoStyle;li { padding:2px } }
      span { display:inline-block;background:@lightblue;padding:1px 5px;margin-right:4px }
    }
  }
  .json {
    h3 { margin-bottom:0 }
    pre { font-size:10px;background:white }
  }
  .history {
    .histList {
      vertical-align:top;width:45%;display:inline-block;
      ul { padding-left:20px;font-size:12px }
    }

    .requests { .histList;  }
    .bookings { .histList; }
  }

  section.deals {
    time { font-size:10px;color:black }
  }

  .current-deals {
    .deal {
      b { display:block }
      time { font-size:10px }
    }
  }
}


