<div ng-if="reviews">

  <h3>Reviews ({{reviews.length}}) <span style="float:right" ng-if="reviews.length > 0">Rating {{stars.avg}}/5</span></h3>

  <p ng-if="reviews.length == 0" class="noReviews">
  No reviews yet ...
  </p>

  <ul class="reviews" ng-if="reviews.length > 0">
    <li ng-repeat="r in reviews" class="{{r._id}}">
      <header>
        <img ng-src="{{r.by.avatar}}?s=40" class="user" />
        <label>{{r.by.name}}</label>
        <time>{{r._id | objectIdToAgoTime }}</time>
        <stars val="r.rating"></stars>
      </header>
      <p>{{r.feedback}}</p>
      <footer>
        <menu>

        <li class="voting" data-role="voting">
          <span class="updatable count" data-role="likes" ng-if="r.votes.length > 0">{{r.votes.length}} Vote<span ng-if="r.votes.length > 1">s</span></span>
          <a ng-if="canVote(r)" ng-click="upVote(r._id)" class="vote-up  count-0" data-action="upvote" title="Vote up">
            <span class="control">Upvote</span>
          </a>
        <!-- <span role="button" class="vote-down  count-0" title="Vote down">
        <span class="control"><i aria-hidden="true" class="icon icon-arrow"></i></span>
        <span class="tooltip">You must sign in to down-vote this post.</span>
        </span> -->
        </li>
        <li ng-if="r.votes.length > 0 || canVote(r)" class="bullet" aria-hidden="true">-</li>

        <li class="reply" data-role="reply-link">
          <a ng-click="openReply()" data-action="reply">
            <i class="icon icon-mobile icon-reply"></i><span class="text">Reply</span>
          </a>
        </li>
        <!-- <li class="bullet" aria-hidden="true">•</li> -->

        <!-- <li class="share">
        </li> -->

        </menu>
      </footer>
    </li>
  </ul>


</div>

