<header>
  <ol class="entry-meta breadcrumb">
    <li><a href="/posts" target="_self">Posts</a></li>
    <li><a href="/posts/me">My Posts</a></li>
    <li class="current">Contributors</li>
  </ol>
</header>


<section class="editornotsupported">
  <h3>You'll need a bigger screen...</h3>
  <p>Authoring posts on AirPair requires a minimum resolution of 1200px.</p>
</section>


<section ng-if="post" id="postcontributors">

  <article class="blogpost">
    <h1 class="entry-title" itemprop="headline">{{post.title}}</h1>
  </article>

  <section ng-if="post.submitted && !post.published" class="notifications">
    <div id="inreivew">
      <div class="message">
        <h3><img ng-src="/static/img/pages/posts/icon-review.png" /> This post is under Community Reivew</h3>
        <p>Post needs a minimum of 3 reviews with a rating of 3.5 or higher to be published.</p>
      </div>
      <div class="info">
        <div class="tip">
          <p ng-if="post.reviews.length == 0"><span>No reviews yet</span></p>
          <div ng-if="post.reviews.length > 0">
            <stars val="post.stars.avg"></stars>
            <span>From <b>{{ post.reviews.length }}</b> reviewer<ss ng-if="post.reviews.length > 1">s</ss>
          </div>
        </div>
        <h6>Invite people to review</h6>
        <a href='http://twitter.com/intent/tweet?text=Looking for smart folks to help review my post "{{ post.title }}" on @airpair {{post.url}}' target="_blank" class="icon tw-white"></a>
      </div>
      <hr />
    </div>
  </section>


 <section ng-if="post.published" class="notifications">
    <div id="postpublished">
      <div class="message">
        <h3><img ng-src="/static/img/pages/posts/icon-published.png" /> This post is published</h3>
        <p>You may continue to <a href="/posts/edit/{{post._id}}">edit</a> & save changes to git. Editors can sync changes to the live version.</p>
      </div>
      <div class="info">
        <div class="tip">
          <p ng-if="post.reviews.length == 0"><span>No reviews yet</span></p>
          <div ng-if="post.reviews.length > 0">
            <stars val="post.stars.avg"></stars>
            <span>From <b>{{ post.reviews.length }}</b> reviewer<ss ng-if="post.reviews.length > 1">s</ss>
          </div>
        </div>
        <h6>Invite more people to review</h6>
        <a href='http://twitter.com/intent/tweet?text=Let me know what you think of my post "{{ post.title }}" on @airpair {{post.url}}' target="_blank" class="icon tw-white"></a>
      </div>
      <hr />
    </div>
  </section>


  <section class="body">

    <div class="rail">
      <h4>Forked <b>{{post.forkers.length}}</b> times</h4>

      <ul class="forkers">
        <li ng-repeat="f in post.forkers">

          <img ng-src="{{f.avatar}}?s=20" class="user" />

        </li>
      </ul>

      <h4>Accepted Pull requests <b>n/a</b></h4>

      <ul class="acceptedPRs">
      </ul>

    </div>


    <div id="github">
      <h3 class="underline">Github</h3>
      <p>No open Pull Requests ... </p>
    </div>

    <div id="reviews" post-reviews></div>

  </section>


</section>

