<!-- <header>
  <ol class="entry-meta breadcrumb">
    <li><a href="/posts" target="_self">Posts</a></li>
    <li><a href="/posts/me">My Posts</a></li>
    <li class="current">Author</li>
  </ol>
</header>
 -->

<section class="authoringnotsupported">
  <h3>You'll need a bigger screen...</h3>
  <p>Authoring posts on AirPair requires a minimum resolution of 1260px.</p>
</section>

<section id="posteditor" ng-if="session.emailVerified">

<div ng-if="editErr" class="editor-error-wrap" style="text-align:center">
  <h3 ng-bind-html="editErr.message | html"></h3>
  <h2>Try <a href="/posts/fork/{{_id}}" target="_self">fork it</a> now? </h2>

</div>

<div ng-if="credentialsErr" class="editor-error-wrap" style="text-align:center">
  <h2>Something's up with your GitHub token... </h2>
  <h3 ng-if="_id">We can't use it to access the repo. Please <a href="/auth/github?returnTo={{returnTo}}" target="_self">re-auth your Github Acccount</a>.</h3>
</div>

<div ng-if="post" class="poststauts {{post.saved ? 'saved': 'unsaved' }}">
  <post-step-helper post="post" class="tip"></post-step-helper>

  <span class="status">
    <b>Status</b>
    <span ng-if="!post.submitted && !post.published">In draft,</span>
    <span ng-if="post.submitted && !post.published"><a href="/posts/in-community-review" target="_blank">in community review</a>,</span>
    <span ng-if="post.published"><a href="{{post.url}}" target="_blank">published</a>,</span>
    <span class="unsaved" ng-if="!post.saved">unsaved</span>
    <span class="saved" ng-if="post.saved">saved<span ng-if="post.submitted"> <a href="https://www.github.com/{{post.repo}}/blob/edit/post.md" target="_blank"></a> on edit branch</span> <span class="unsaved" ng-if="!post.synced">(HEAD not synced)</span></span>
    <!-- <span ng-if="post.submitted"> , <span class="saved" ng-if="post.synced">synced</span></span>. -->
  </span>
</div>

<div ng-if="post" class="editor-wrap">

  <section ng-if="aceLoaded" id="editor">
    <div id="aceeditor" ui-ace="{
      useWrapMode:true,
      theme:'dawn',
      mode:'markdown',
      onLoad: aceLoaded,
      onChange: aceChanged,
      onBlur: previewMarkdown,
    }"
    ng-model="aceMD"
    >
  </section>

  <section id="post" ap-post="">
  </section>

</div>

<div ng-if="post" class="form-actions">

  <button class="btn btn-save" ng-click="save()" ng-disabled="post.saved">Save</button>

  <a class="btn btn-header" href="/posts/info/{{post._id}}" ng-if="!post.published" ng-disabled="preview.wordcount < 400 || !post.saved">Header</a>

  <a class="btn btn-preview" href="/posts/preview/{{post._id}}" target="_blank"
    ng-disabled="!post.saved || !post.assetUrl || !post.tags || post.tags.length == 0">Preview</a>

  <a class="btn btn-pr" href="https://github.com/airpair/{{post.slug}}/compare/edit...{{session.social.gh.username}}:edit" target="_blank" ng-if="!isAuthor"
    ng-disabled="!post.saved || post.synced">Create PR</a>

  <input type="button" class="btn btn-sync" ng-click="propagate()" ng-if="post.submitted && isAuthor" ng-disabled="!post.saved || post.synced" value="Sync" />

  <a class="btn btn-publish" href="/posts/publish/{{post._id}}" ng-if="post.submitted && isAuthor"
    ng-disabled="!post.saved || !(post.stats && posts.stats.reviews > 3 && post.stats.rating > 3.5)">Publish</a>

  <a class="btn btn-submit" title="Submit post for community review"
    href="/posts/submit/{{post._id}}"
    ng-if="!post.submitted"
    ng-disabled="notReviewReady">Submit</a>

  <div class="commitmsg" ng-if="post.submitted">
    <input type="text" ng-disabled="post.saved" ng-model="post.commitMessage" placeholder="Enter a commit message" class="form-control" />
  </div>

  <label ng-if="!(post.submitted || post.published)"> <!-- && wordcountTooLow -->
    See the <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown guide</a> & our <a href="/authoring-faq" target="_blank">Authoring FAQ</a>
  </label>

</div>

</section>
