<header>
  <ol class="entry-meta breadcrumb">
    <li><a href="/posts" target="_self">Posts</a></li>
    <li><a href="/posts/me">My Posts</a></li>
    <li class="current">Author</li>
  </ol>
</header>


<section class="editornotsupported">
  <h3>You'll need a bigger screen...</h3>
  <p>Authoring posts on AirPair requires a minimum resolution of 1200px.</p>
</section>


<section id="posteditor" ng-if="session.emailVerified">

<div ng-if="editErr" class="editor-error-wrap" style="text-align:center">
  <h3>{{editErr}}</h3>
  <h2 ng-if="_id">Try <a href="/posts/fork/{{_id}}" target="_self">fork it</a> now? </h2>
  <h2 ng-if="fork">Go to <a href="https://github.com/{{fork}}" target="_blank">{{fork}}</a> </h2>
</div>


<div ng-if="post" class="editor-wrap">

  <section ng-if="aceLoaded" id="editor">
    <div id="aceeditor" ui-ace="{
      useWrapMode:true,
      theme:'solarized_light',
      mode:'markdown',
      onLoad: aceLoaded,
      onChange: aceChanged,
      onBlur: previewMarkdown
    }"
    ng-model="aceMD"
    >
  </section>

  <section id="post">
    <div id="preview" ap-post=""></div>
  </section>


  <div class="form-actions">

    <button class="btn" ng-click="save()" ng-disabled="post.saved">Save</button>

    <a class="btn" href="/posts/info/{{post._id}}" ng-if="!post.published" ng-disabled="preview.wordcount < 500 || !post.saved">Post info</a>

    <a class="btn" href="/posts/preview/{{post._id}}" target="_blank"
      ng-disabled="!post.saved || !post.assetUrl || !post.tags || post.tags.length == 0">Preview</a>

    <a class="btn" href="/posts/publish/{{post._id}}" ng-if="post.submitted"
      ng-disabled="!post.saved">Publish</a>

    <a class="btn" title="Submit post for community review"
      href="/posts/submit/{{post._id}}"
      ng-if="!post.submitted"
      ng-disabled="notReviewReady">Submit</a>

    <post-step-helper post="post"></post-step-helper>

    <div class="commitmsg" ng-if="post.submitted">
      <input type="text" ng-disabled="post.saved" ng-model="post.commitMessage" placeholder="Enter a commit message" class="form-control" />
    </div>

    <hr />

  </div>

</div>


</section>
