<header>
  <ol class="entry-meta breadcrumb">
    <li><a href="/posts">Posts</a></li>
    <li ng-if="post"><a href="{{post.url}}" target="_self">{{post.title}}</a></li>
    <li class="current">Fork</li>
  </ol>
</header>

<section ng-if="post" id="postfork">

  <section ng-if="isOwner" id="authorcantfork">
    <h3 class="underline">Can't fork your own post
      <a href="{{post.url}}" class="btn btn-sm" target="_self">Back to your post</a>
    </h3>

    <p>If you want to make changes to your post,
      <a ng-href="/posts/edit/{{post._id}}" target="_self">edit it with the AirPair editor</a>.</p>
  </section>

  <section ng-if="!isOwner" id="forkinfo">

    <h2>This post will be forked to your Github account*</h2>

    <h3>Why use Git for Authoring?</h3>

    <p>Posts on AirPair are backed by GitHub repos. Git enables collaboration between authors and readers using familiar tools you know and love like forks, pull requests, issues & comments. For more info, see our
    <a href="/social-authoring" target="_blank">Social Authoring Annoucement</a>.</p>

    <img class="flow" src="/static/img/pages/posts/authoring-flow-collaborate.png" />

    <div ng-if="!repoAuthorized" class="forkRepo">
      <section class="notice">
        <h3>We need to authenticate with your Github account.</h3>
      </section>
<!--       <hr /> -->
      <a ng-href="/auth/github?returnTo=/posts/me?fork={{_id}}" class="btn" target="_self">Connect Github Account & Fork Repository</a>
        <p>You will be redirected to a github login page requesting public repository permissions, so we can fork this post to your account.</p>
    </div>

    <div ng-if="repoAuthorized" class="forkRepo">
      <hr />

      <img src="{{post.by.avatar}}?s=60" class="user" />
      <h4 style="margin-bottom:0">{{post.title}}</h4><label>by {{ post.by.name }}</label>
      <a ng-href="/posts/me?fork={{post._id}}" class="btn" target="_self">Fork Post</a>
      <p>* Your open source fork will appear at {{post.submit.owner}}/{{post.submit.slug}}</p>

    </div>
  </section>

</section>
