<header>
  <ol class="entry-meta breadcrumb">
    <li><a href="/posts" target="_self">Posts</a></li>
    <li class="current">My Posts</li>
  </ol>
</header>

<p class="onmob">My posts is not supported on mobile.
  <br />Return to <a href="/posts" target="_self">All posts</a>?</p>

<section ng-if="forked" class="notifications">
  <div id="forked">
    <h1><img ng-src="/static/img/css/airpair-author.png" /> Mother Forker!</h1>
    <h3><b><a href="https://github.com/{{session.social.gh.username}}/{{forked.slug}}" target="_blank">{{ forked.title }}</a></b> has been forked to your github account.</h3>
    <p>Make edits like you would normal code, then submit a pull request to get your contributions incorpated.</p>
    <p></p>
  </div>
</section>

<section ng-if="submitted" class="notifications">
  <div id="postsubmitted">
    <h1><img ng-src="/static/img/css/airpair-author.png" /> Post submitted!</h1>
    <h3>The repo <b><a href="https://github.com/airpair/{{submitted.slug}}" target="_blank">{{ submitted.slug }}</a></b> has been created. From this point on, all edits will be tracked in git. You can also accept pull requests from community reviewers.</h3>
    <p>When you have 5 or more reviews with a rating of 3.5/5 or higher, you can publish your post.</p>
  </div>
</section>


<section id="posts" class="nomob">

  <section id="myposts">

    <h3>Posts by me
      <div class="editOptions">
        <a href="/posts/new" class="btn btn-sm">Start a post</a>
      </div>
    </h3>

    <p ng-if="myposts && myposts == 0">
      You have not created any posts yet. Authoring posts on AirPair follow the following flow:

      <img src="/static/img/pages/posts/post-authoring-flow.png" />
    </p>


    <div ng-if="myposts && myposts.length > 0" class="myposts">
      <table class="table table-striped">
        <tr>
          <th>Created</th>
          <th>Status</th>
          <th>Title</th>
          <th>Tip</th>
          <th></th>
        </tr>
        <tr ng-repeat="p in myposts">
          <td>{{ p.created | publishedTime: 'MM.DD' }}</td>
          <td>
            <span ng-if="!p.submitted && !p.published">draft</span>
            <span ng-if="p.submitted">in review</span>
            <span ng-if="p.published">published</span>
          </td>
          <td>
            <a href="{{p.url}}" target="_blank" ng-if="p.submitted || p.published">{{ p.title }}</a>
            <span ng-if="!(p.published || p.submitted)">{{ p.title }}</span>
          </td>
          <td><post-step-helper post="p"></post-step-helper></td>
          <td>
            <a href="/posts/edit/{{p._id}}" target="_blank">edit</a>
            <a ng-click="delete(p._id)" ng-if="!(p.submitted || p.published)" style='color:red'>delete</a>
          </td>
        </tr>
      </table>
    </div>

  </section>

  <section id="recent">
    <h3>Newest posts<span><a href="/blog" target="_self" class="btn btn-sm">See all</a></span></h3>
    <a ng-href="{{p.url}}" target="_self" ng-repeat="p in recent">
      <welcome-post-item post="p" ></welcome-post-item>
    </a>
  </section>


  <section id="contributions">
    <h3>Posts I'm contributing to

      <span>
        <a href="/posts/in-community-review" class="btn btn-sm">Post in review</a>
      </span>
    </h3>
    <br />
    <p ng-if="!forks || forks.length == 0">You have not forked anyone else's posts. Check out <a href="/posts/in-community-review">posts in review</a>.</p>

    <div ng-if="forks && forks.length > 0" class="forks">
      <table class="table table-striped">
        <tr>
          <th>By</th>
          <th>Status</th>
          <th>Title</th>
          <th></th>
        </tr>
        <tr ng-repeat="p in forks">
          <td>{{ p.by.name }}</td>
          <td>
            <span ng-if="!p.submitted">in draft</span>
            <span ng-if="p.submitted">in review</span>
            <span ng-if="p.publishReady">published</span>
          </td>
          <td>
            <a href="{{p.url}}" target="_blank" ng-if="p.published">{{ p.title }}</a>
            <a href="/posts/review/{{p._id}}" target="_blank" ng-if="!p.published">{{ p.title }}</a>
          </td>
          <td>
            <a href="https://github.com/{{session.social.gh.username}}/{{p.slug}}" target="_blank">edit</a>
          </td>
        </tr>
      </table>
    </div>

  </section>


</section>
