<header>
  <ol class="entry-meta breadcrumb">
    <li><a href="/software-experts" target="_self">Posts</a></li>
    <li class="current">{{ tag.name }}</li>
  </ol>
</header>

<banner-postcomp></banner-postcomp>

<section id="postslist">

  <h3 class="underline">{{ tag.name }} posts
    <a href="/software-experts" target="_self" class="btn btn-sm btn-inverse">All posts</a>
  </h3>
  <div class="recent">
    <post-tile post="p" ng-repeat="p in tagposts"></post-tile>
  </div>

  <p ng-if="tagposts && tagposts.length == 0">No posts taged with <code>{{tag.name}}</code> yet. <a href="https://author.airpair.com/">Start one</a>?</p>

</section>
