<section id="posts">
<div id="author" class="publish">

  <div class="posts" style="float:right;width:300px">
    <ap-post-list-item post="post"></ap-post-list-item>
  </div>



  <div class="author" style="width:540px;float:left">
    <span ng-if="post.by.expertId" style="float:right;display:block">
      <a href="/billing/book/{{post.by.expertId}}" target="_blank">Expert profile</a> linked.
    </span>

    <div class="form-group">
      <label for="userInput">Author</label>
      <div user-input=""></div>
    </div>
    <div class="form-group">
      <label>Author bio</label>
      <input ng-model="post.by.bio" type="text" class="form-control" />
    </div>

  </div>

  <hr style="clear:both" />
  <div class="form-group">
    <label>Template</label>
    <select ng-model="post.tmpl" class="form-control">
      <option value="default">default</option>
      <option value="blank">blank</option>
      <option value="landing">landing (airpair content only)</option>
      <option value="faq">faq (airpair content only)</option>
    </select>
  </div>

  <hr style="clear:both" />

  <div class="form-group">
    <label>Meta</label>
    <input ng-model="post.meta.canonical" type="text" class="form-control" placeholder="canonical url" />
    <input ng-model="post.meta.title" type="text" class="form-control" placeholder="title" />
    <textarea ng-model="post.meta.description" class="form-control" placeholder="description"></textarea>
  </div>
  <div class="form-group">
    <label>Open Graph</label>
    <!-- <input ng-model="post.meta.ogUrl" type="text" class="form-control" placeholder="url" disabled="disabled" /> -->
    <input ng-model="post.meta.ogTitle" type="text" class="form-control" placeholder="title" />
    <input ng-model="post.meta.ogImage" type="text" class="form-control" placeholder="image" />
    <textarea ng-model="post.meta.ogDescription" class="form-control" placeholder="description"></textarea>
  </div>



  <div ng-if="post.published" class="form-group">
    <label>Override Publish Date</label>
    <input ng-model="post.publishedOverride" type="text" class="form-control" ng-click="setPublishedOverride()" />
    <section>
      <label>Published</label> <span>{{ post.published | publishedTime }}</span>
      <label>By</label> <span>{{ post.publishedBy }}</span>
    </section>
  </div>


  <hr style="clear:both" />

  <div class="form-actions">

    <!-- <a ng-if="!post.publishedCommit" class="btn" ng-click="propagate">Propagate Git HEAD</a> -->

    <a href="{{post.url}}" class="btn" ng-disabled="!post.published" target="_blank">View</a>

    <button class="btn" ng-click="publish()">Publish</button>

  </div>

</div>

</section>
