<header>
  <ol class="entry-meta breadcrumb">
    <li><a href="/posts" target="_self">Posts</a></li>
    <li><a href="/posts/me">My Posts</a></li>
    <li ng-if="post"><a ng-href="/posts/edit/{{post._id}}">Edit Post</a></li>
    <li class="current">Publish</li>
  </ol>
</header>

<section id="publish">

<div ng-if="post">

<section class="notifications" ng-if="!headPropagated && !post.published">
  <div class="propagateHEAD">
    <h3>Sync Required</h3>
    <p>HEAD on github has changes not
    <a href="/posts/review/{{post._id}}" target="_blank">being displayed</a> while your post is in review.</p>
    <a ng-if="canPropagate" ng-click="propagate()" class="btn">Update my post from github</a>
  </div>
</section>

<section class="notifications" ng-if="!headPropagated && post.published">
  <div class="propagateHEAD">
    <p>HEAD on github is more up to do than the one
    <a href="{{post.meta.canonical}}" target="_blank">published live on AirPair</a>.
      <span ng-if="!canPropagate">Request an editor to propagate your changes</p>.

    <a ng-if="canPropagate" ng-click="propagate()" class="btn">Update post from github</a>
  </div>
</section>


<section class="notifications" ng-if="headPropagated && !canPublish && !post.published">
  <div class="postReviewsNeeded">
    <p>Your post needs 5 reviews and a rating of 4 stars or above before you can publish it.</p>
  </div>
</section>

</div>

<div ng-if="canPublish" id="publish-meta" class="publish">

  <div class="posts" style="float:right;width:300px">
    <ap-post-list-item post="post"></ap-post-list-item>
  </div>

  <div class="author" style="width:540px;float:left">
    <span ng-if="post.by.expertId" style="float:right;display:block">
      <a href="/billing/book/{{post.by.expertId}}" target="_blank">Expert profile</a> linked.
    </span>

    <div class="form-group" ng-if="canChangeAuthor">
      <label for="userInput">Author</label>
      <div user-input=""></div>
    </div>
    <div class="form-group">
      <label>Author bio</label>
      <textarea ng-model="post.by.bio" class="form-control"></textarea>
    </div>

  </div>

  <hr style="clear:both" />
  <div class="form-group">
    <label>Template</label>
    <select ng-model="post.tmpl" class="form-control">
      <option value="default">default</option>
      <option value="blank">blank</option>
      <option value="landing">landing (airpair content only)</option>
      <option value="faq">faq (airpair content only)</option>
    </select>
  </div>

  <hr style="clear:both" />

  <div class="form-group">
    <label>Meta</label>
    <input ng-model="post.meta.canonical" type="text" class="form-control" placeholder="canonical url" />
    <input ng-model="post.meta.title" type="text" class="form-control" placeholder="title" />
    <textarea ng-model="post.meta.description" class="form-control" placeholder="description"></textarea>
  </div>
  <div class="form-group">
    <label>Open Graph</label>
    <!-- <input ng-model="post.meta.ogUrl" type="text" class="form-control" placeholder="url" disabled="disabled" /> -->
    <input ng-model="post.meta.ogTitle" type="text" class="form-control" placeholder="title" />
    <input ng-model="post.meta.ogImage" type="text" class="form-control" placeholder="image" />
    <textarea ng-model="post.meta.ogDescription" class="form-control" placeholder="description"></textarea>
  </div>



  <div ng-if="post.published" class="form-group">
    <label>Override Publish Date</label>
    <input ng-model="post.publishedOverride" type="text" class="form-control" ng-click="setPublishedOverride()" />
    <section>
      <label>Published</label> <span>{{ post.published | publishedTime }}</span>
      <label>By</label> <span>{{ post.publishedBy }}</span>
    </section>
  </div>


  <hr style="clear:both" />

  <div class="form-actions">
    <button class="btn" ng-click="publish()">Publish</button>
  </div>

</div>

</section>
