<header>
  <ol class="entry-meta breadcrumb">
    <li><a href="/posts" target="_self">Posts</a></li>
    <li><a href="/posts/me">My Posts</a></li>
    <li ng-if="post"><a ng-href="/posts/edit/{{post._id}}">Edit Post</a></li>
    <li class="current">Publish</li>
  </ol>
</header>

<section id="postpublish" ng-if="post">


<div>
  <h3 class="underline">Publish
    <a class="btn btn-sm btn-inverse" href="/posts/info/{{post._id}}">Edit info</a>
  </h3>

  <section class="notifications" ng-if="!headPropagated && !post.published">
    <div class="propagateHEAD">
      <h3>Sync Required</h3>
      <p>HEAD on github has changes not
      <a href="/posts/review/{{post._id}}" target="_blank">being displayed</a> while your post is in review.</p>
      <a ng-if="canPropagate" ng-click="propagate()" class="btn">Update my post from github</a>
    </div>
  </section>

  <section class="notifications" ng-if="!headPropagated && post.published">
    <div class="propagateHEAD">
      <p>The <a href="{{post.meta.canonical}}" target="_blank">live version of your post</a> is behind HEAD on github. If it's ready to be updated,
        <span ng-if="!canPropagate"><a  href="mailto:team@airpair.com?subject=Please sync my published post&body=Can you please sync my post {{post.title}}?" target="_blank">request an editor</a> to sync your changes.</p>
      <a ng-if="canPropagate" ng-click="propagate()" class="btn">Update post from github</a>
    </div>
  </section>


  <section class="notifications" ng-if="headPropagated && !canPublish && !post.published">
    <div class="postReviewsNeeded">
      <p>You need 3 reviews with a rating of 3.5 stars or above to publish this post.</p>
      <p><a href="/posts/contributors/{{post._id}}">Find more contributors</a></p>
    </div>
  </section>

  <div class="preview">
    <post-tile post="post"></post-tile>
  </div>

</div>

<div ng-if="canPublish && data" id="publish-meta">

  <div class="author">
    <span ng-if="data.by.expertId">
      <a href="/billing/book/{{data.by.expertId}}" target="_blank">Expert profile</a> linked.
    </span>

    <div class="form-group" ng-if="canChangeAuthor">
      <label for="userInput">Author</label>
      <div user-input=""></div>
    </div>

  </div>

<form novalidate name="postPublishForm" ng-submit="submitPublish(postPublishForm.$valid, data, postPublishForm)" class="publish">

  <div class="form-group">
    <label>Author bio</label>
    <textarea ng-model="data.by.bio" class="form-control"></textarea>
  </div>

  <div class="form-group" ng-if="canSetTemplate">
    <label>Template</label>
    <select ng-model="data.tmpl" class="form-control">
      <option value="default">default</option>
      <option value="blank">blank</option>
      <option value="landing">landing (airpair content only)</option>
      <option value="faq">faq (airpair content only)</option>
    </select>
  </div>

  <div>
    <label>Meta <i>(ready by google and search engines)</i></label>

    <div form-group>
      <input name="canonical" ng-model="data.meta.canonical" type="text" form-control placeholder="canonical url" required ng-disabled="!canOverrideCanonical" />
       <div class="error" ng-if="formGroup.showError(postPublishForm.canonical)" ng-messages="postPublishForm.canonical.$error">
        <div ng-message="required">Canonical url required</div>
      </div>
    </div>

    <div form-group>
      <input name="title" ng-model="data.meta.title" type="text" form-control placeholder="title" required />
      <div class="error" ng-if="formGroup.showError(postPublishForm.title)" ng-messages="postPublishForm.title.$error">
        <div ng-message="required">Meta title required</div>
      </div>
    </div>
    <div form-group>
      <textarea name="description" ng-model="data.meta.description" form-control placeholder="description" required></textarea>
      <div class="error" ng-if="formGroup.showError(postPublishForm.description)" ng-messages="postPublishForm.description.$error">
        <div ng-message="required">Meta description required</div>
      </div>
    </div>
  </div>

  <div>
    <label>Open Graph <i>(displayed by facebook / linkedin in share posts)</i></label>

    <div form-group>
      <input name="ogTitle" ng-model="data.meta.ogTitle" type="text" form-control placeholder="title" required />
      <div class="error" ng-if="formGroup.showError(postPublishForm.ogTitle)" ng-messages="postPublishForm.ogTitle.$error">
        <div ng-message="required">og:Title required</div>
      </div>
    </div>

    <div form-group>
      <input name="ogImage" ng-model="data.meta.ogImage" type="text" form-control placeholder="image" required />
      <div class="error" ng-if="formGroup.showError(postPublishForm.ogImage)" ng-messages="postPublishForm.ogImage.$error">
        <div ng-message="required">og:Image required</div>
      </div>
    </div>

    <div form-group>
      <textarea name="ogDescription" ng-model="data.meta.ogDescription" form-control placeholder="description" required></textarea>
      <div class="error" ng-if="formGroup.showError(postPublishForm.ogDescription)" ng-messages="postPublishForm.ogDescription.$error">
        <div ng-message="required">og:Description required</div>
      </div>
    </div>

  </div>


  <div ng-if="post.published" class="form-group" ng-if="canSetTemplate">
    <label>Override Publish Date</label>
    <input ng-model="data.publishedOverride" type="text" class="form-control" ng-click="setPublishedOverride()" />
    <section>
      <label>Published</label> <span>{{ post.published | publishedTime }}</span>
      <label>By</label> <span>{{ post.publishedBy }}</span>
    </section>
  </div>


  <hr style="clear:both" />

  <div class="form-actions">
    <input type="submit" class="btn" value="Publish" />
  </div>

</form>

</section>
