<header>
  <ol class="entry-meta breadcrumb">
    <li><a href="/posts" target="_self">Posts</a></li>
    <li class="current">Submit</li>
    <li ng-if="post">{{post.title}}</li>
  </ol>
</header>


<section id="postfork">

  <section id="forkinfo" ng-if="post">

    <h2>A repo will be created on AirPair's Github organization account</h2>

    <h3>Why use Git for authoring?</h3>

    <p>Posts on AirPair are backed by GitHub repos. Git
    enables collaboration between authors and readers using familiar tools
    you know and love like forks, pull requests, issues & comments.
    For more info, see our
    <a href="/social-authoring" target="_blank">Social Authoring Annoucement</a>.</p>

    <img class="flow" src="/static/img/pages/posts/authoring-flow-store.png" />

    <div ng-if="!repoAuthorized">
      <section class="notice">
        <h3>We need to authenticate with your Github account.</h3>
        <p>You will be redirected to a github login page requesting public repository permissions, so we can fork this post to your account.</p>
      </section>
      <hr />
      <a ng-href="/auth/github?returnTo=/posts/submit/{{_id}}" class="btn" target="_self">Authenticate your github account with public repo privilages</a>
      <p>You will be added to the airpair organization on github, so that you have write access to the repo</p>
    </div>

    <div class="submitRepo" ng-if="repoAuthorized">
      <hr />

      <div ng-if="post" class="form-group">
        <label>
          <b ng-if="slugStatus.available && post.slug.length <= 50" style="color:green">Repo name
            <span>{{post.slug}}</span>
            [{{post.slug.length}} chars] available</b>
          <b ng-if="post.slug.length > 50" style="color:red"><span>{{post.slug}}</span> [{{post.slug.length}} chars] is too long</b>
          <b ng-if="!slugStatus.available" style="color:red">Repo name
            <span>{{post.slug}}</span> unavailable</b>
        </label>

        <input ng-model="post.slug" type="text" class="form-control"
          ng-change="checkSlugAvailable(post.slug)" />

      </div>

      <div ng-if="slugStatus.available">
        <div>
          <single-submit button-text="'Submit Post for Review & Create Repo'" wait-text="Creating repo, this can take a few seconds ..." on-single-click="submitForReviewDeferred">
          </single-submit>
        </div>
        <p>
          <span style="color:red;text-transform:uppercase">** MAKE SURE you are happy with your repo name, <b>no changes from here</b></span>
        </p>

        <p> In order to give you write privilages to the repo,
        we'll add you to the airpair organization on GitHub.</p>
      </div>
    </div>

  </section>

</section>
