@import "ap.less";

section#account {

  section { padding:30px 0 }

  hr { clear:both;maring-top:40px }

  padding-top:20px;

  section.avatar {
    vertical-align:top;
    width:280px;
    display:inline-block;
    img { border-radius:160px; }
    margin-right:70px;
    p { text-align:center;margin-top:10px }
   }

  .info {
    vertical-align:top;
    display:inline-block;
    width:400px;
  }

   label > span { font-weight:normal;font-size:12px;text-decoration:none }

   span.verifyEmail { color:@error;font-size:11px;float:right }

  section.email {
    vertical-align:top;
    min-height:130px;

    form {
      border-radius:5px;
      width:100%;
      hr { clear:both;border:none }
    }
    form.verify
    {
      padding:30px 20px;
      background:@lightblue;

      div.email-group {
       	float:left;
       	width:320px;
      }

      div.verifyEmail {
        height:90px;
        padding:26px 5px;
        float:left;
        width:380px;
        text-align:center;
        a { width:340px }
      }

      .alert-success {
        height:100px;
        padding:5px;
        div {
          padding:20px;
        }
      }

    }


    .btn { width:280px }

    .password .btn { margin-bottom:20px }
  }
}


section#password {
  padding:40px;
}
