@orange:#ce5424;
@turquoise:#90d1cc;
@darkblue:#151821;
@blue:#232835;
@lightblue:#dff2ef;
@gray:#4d4e4e;
@mediumgray:#7e7f7f;
@lightgray:#d3d3d3;

html, body{
  height:100%;
}

body {
  background-color:white;
  color:@mediumgray;
  font-family:Open Sans,Century Gothic
}

h1 { font-size:36px;line-height:60px;font-weight:300 }
h2 { font-size:24px;line-height:36px;font-weight:400 }
h3 { font-size:18px;line-height:30px;font-weight:400 }
h4 { font-size:12px;line-height:20px;font-weight:400 }
h5 { font-size:10px; }


a { text-decoration:none }
a:hover { text-decoration:none }

.btn { background:@orange;
	color:white;
	border:none;
	padding:8px 20px;
	font-size:18px }
.btn:hover { font-weight:bold;color:white }

.gradientfill {
  background: rgba(255,255,255,1);
  background: -moz-radial-gradient(left, white 0%, @lightblue 100%, white 50%);
  background: radial-webkit-gradient(left top, right top, color-stop(0%, white), color-stop(10%, @lightblue), color-stop(50%, white));
  background: -webkit-radial-gradient(left, white 0%, @lightblue 100%, white 50%);
  background: -o-radial-gradient(left, white 0%, @lightblue 100%, white 50%);
  background: -ms-radial-gradient(left, white 0%, @lightblue 100%, white 50%);
  background: radial-gradient(to right, white 0%, @lightblue 100%, white 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

main {
  width:100%;
  margin:0 auto;
  padding:0px 10px;
  a { color:@orange }
  a:hover { color:@gray }

  > header {
    .gradientfill;
    height:35px;
    width:100%;
    margin:0px auto;
    padding:10px 0 0 0;
    font-size:13px;
    line-height:13px;
    text-transform:uppercase;
    white-space:nowrap;
  }
}

@import "posts.less";

.posts {
  .entry-header { padding:10px 10px 5px 10px }
  .entry-content { padding:0 10px 10px 10px }

  footer {
    ul { list-style:none;float:left;margin:0;padding-left:10px }
    li { display:inline-block }
    li a { background:#ce5424;
      width:40px;
      color:white;
      display:inline-block;
      text-align:center;
      border-radius:2px;
      padding:1px 0 2px 0;
    }
  }
}

section#redirects {
  font-size:10px;
  font-family:courier;
  ul { list-style:none;margin:0;padding:0 }
  li { border-bottom:solid 1px @lightgray;padding-bottom:2px }
  input { width:500px;display:block;margin-bottom:2px }
  label { color:red;padding-bottom:0;margin-bottom:0;font-weight:normal  }
  span { color:green;display:block }
  #btnCreateRedirect {
    padding:0px 20px;
  }
}

.userInput { max-width:350px }

section#views {

  table.views td { font-size:9px }
}

section#orders {

  table.orders td { font-size:11px }
}
