@orange:#ce5424;
@turquoise:#90d1cc;
@darkblue:#151821;
@darkorange:#211A15;
@blue:#232835;
@lightblue:#dff2ef;
@blackgray:#232323;
@gray:#4d4e4e;
@mediumgray:#7e7f7f;
@lightgray:#d3d3d3;
@palegray:#eee;
@reallypalegray:#f9f9f9;
@bluegray:#c8d6d3;
@error:#a94442;
@paleyellow:#fcf8e3;
@lightyellow:#faebcc;
@darkyellow:#8a6d3b;

html, body{
  height:100%;
}

body {
  background-color:#f5f5f5;
  color:@mediumgray;
  font-family:Open Sans,Century Gothic;
  > header {
    height:35px;
    width:100%;
    margin:0px auto;
    padding:10px 5px 0 5px;
    font-size:13px;
    line-height:13px;
    text-transform:uppercase;
    white-space:nowrap;
    background-color:black;
  }
}

h1 { font-size:36px;line-height:60px;font-weight:300 }
h2 { font-size:24px;line-height:36px;font-weight:400 }
h3 { font-size:18px;line-height:30px;font-weight:400 }
h4 { font-size:12px;line-height:20px;font-weight:400 }
h5 { font-size:10px; }


a { text-decoration:none }
a:hover { text-decoration:none }

.btn { background:@orange;
	color:white;
	border:none;
	padding:8px 20px;
	font-size:18px }
.btn:hover { font-weight:bold;color:white }

main {
  width:100%;
  margin:0 auto;
  padding:0px 10px;
  a { color:@orange }
  a:hover { color:@gray }
}

.posts {
  .entry-header { padding:10px 10px 5px 10px }
  .entry-content { padding:0 10px 10px 10px }

  footer {
    ul { list-style:none;float:left;margin:0;padding-left:10px }
    li { display:inline-block }
    li a { background:#ce5424;
      width:40px;
      color:white;
      display:inline-block;
      text-align:center;
      border-radius:2px;
      padding:1px 0 2px 0;
    }
  }
}

section#redirects {
  font-size:10px;
  font-family:courier;
  ul { list-style:none;margin:0;padding:0 }
  li { border-bottom:solid 1px @lightgray;padding-bottom:2px }
  input { width:500px;display:block;margin-bottom:2px }
  label { color:red;padding-bottom:0;margin-bottom:0;font-weight:normal  }
  span { color:green;display:block }
  #btnCreateRedirect {
    padding:0px 20px;
  }
}

.userInput { max-width:350px }

section#views {

  table.views td { font-size:9px }
}

section#orders {

  .userInput { float:right;margin-top:-60px; }
  th { font-size:11px }
  table.orders td { font-size:11px }
  img { margin-right:10px }

  .p { text-align:right }
}


.tile {
  width:286px;
  height:200px;
  position:relative;
  font-size:11px;
  border:solid 2px @lightblue;
  border-radius:3px;
  header { background-color:@lightblue }
  h2 { font-size:13px;
    font-weight:bold;
    color:@gray;
    line-height:18px;
  }
  img.bookmark {
    padding:2px;
    margin:2px;
    color:black;
    cursor:pointer;
  }
  footer {
    text-align:right;
    position:absolute;
    bottom:0px;
    right:0px;
  }

  &:hover {
    border:solid 2px @bluegray!important;
    header { background-color:@bluegray!important; }
  }
}


.posts {
  margin-left:-5px;
  text-align:center;

  @media screen and (max-width:640px) {
    margin:auto;
  }

  article {
    .tile;
    text-align:left;
    position:relative;
    margin:6px;
    padding:0px;
    line-height:14px;
    display:inline-block;

    > a { padding:0px 6px 0px 0px;display:block }

    header {
      padding:4px;
      float:left;
      width:50%;
      position:absolute;
      top:0;
      bottom:0;
      background-color:@lightblue;
      .entry-header-image { max-width:100%; }
      p.entry-meta {
        width:100%;
        line-height:16px;
        margin:0;
        padding:0;
        color:@gray;
        font-size:11px;
        position:absolute;
        bottom:0;
        left:0;
      }
      .entry-categories {
        em { display:inline-block;font-style:normal; }
        color:@darkblue;
        width:100%;
        font-size:9px;
        a {
          display:inline-block;
          margin-left:5px }
       }
      .entry-author {
        padding-top:15px;
        font-weight:bold;
        color:@orange;
        width:100%;
      }
      .entry-author-name {
        display:inline-block;
        width:50%;
      }
      .entry-author-image {
        width:50px;
        border-radius:25px;
        display:inline;
        margin:0px 6px 0 1px;
        border:solid 3px @bluegray;
        webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
      }
      time {
        display:block;
        color:@gray;
        font-weight:normal;
      }
    }

    .entry-content {
      text-align:left;
      float:right;
      width:48%;
      padding:3px;
      h2 { margin:0px 0px 1px 0px; }
      p { color:@mediumgray }
      max-height:143px;
      overflow:hidden;
    }

    footer {
      position:absolute;
      bottom:0;
      right:0;
      font-size:9px;
      text-align:right;
      width:40%;
      height:40px;
    }
  }
}


section#pipeline {
  #requestProgress {
    height:32px;
    position:absolute;
    top:50px;
    width:640px;
    padding:3px 0px 1px 5px;
    background:@lightblue;

    // > div { display:none }

    .tags { opacity:0.2 }
    .experience { opacity:0.2 }
    .brief { opacity:0.2 }
    .hours { opacity:0.2 }
    .time { opacity:0.2 }
    .budget { opacity:0.2 }
    .broadcast { opacity:0.2 }

    > div.done { opacity:0.5;display:inline-block; }

    > div {
      display:inline-block;
      height:22px;
      width:85px;
      padding:3px 0px 3px 0px;
      margin:0 2px 0 0;
      background:@bluegray;
      font-size:11px;
      a { display:none;padding:0 10px;color:white;font-weight:bold; }
      a:hover { color:white  }
      border-top-right-radius:16px;
      border-bottom-right-radius:16px;
      label { display:inline-block;padding:0 10px;color:@bluegray;font-weight:normal }
    }
    div.done {
      label { display:none }
      a { display:inline-block;width:100% }
      background:@orange;
    }
    // div:hover { opacity:0.8 }
    div.done:hover { opacity:1 }
  }

  table { margin-top:50px;vertical-align:top }
  td { vertical-align:top;padding:6px;
    select { width:140px }
    span { color:@error }
  }

  section.actions {
    width:640px;
  }

  section.user {
    position:absolute;top:50px;left:700px;padding-left:90px;
    img { position:absolute;top:0;left:0;border-radius:50% }
    .nopaymethods { color:@error }
  }
  section.views {
    position:absolute;top:150px;left:700px;right:10px;
    td { font-size:10px }
  }
}
