@import "ap.less";

@headerHeight:40px;
@sideNavWidth:140px;
@sideChatWidth:220px;

body > header {
  height:@headerHeight;
  border-bottom:solid 1px @lightgray;
  // padding:7px 10px 7px 20px;

  > a {
    padding:7px 24px;
    background:url('../img/css/header/logo.png') no-repeat;
    background-position:25px 9px;
    background-size:90px 22px;
    width:140px;
    height:40px;
    display:block;
    float:left;
  }

  ul {
    padding:7px 10px;
    float:right;
    list-style:none;
  }

  li {
    float:left;margin:6px 10px;font-size:11px;

    a { color:black; }
    a:hover { color:@orange }
  }

  li.exp { font-weight:bold;
    a { color:@orange }
    a:hover { color:@orangehighlight } }

  #headerGetHelp {
    letter-spacing:0px;
    text-transform:uppercase;
    width:114px;
    padding:3px 6px;
    font-size:11px;
    margin-top:-3px;
    i {
      color:black;background:white;border-radius:8px;padding:0px 7px 0 5px;
      margin-left:1px;
    }
  }

  div {
    padding:8px;
    display:inline-block;
    max-width:300px;
    label {
      font-size:10px;
      font-weight:normal;
      background-color:#fcf8e3;
      border: 1px solid #fbeed5;
      border-radius: 4px;
      padding:3px 10px;
    }
  }

  ul.more {
    a { display:block }
    position:absolute;
    right:0px;
    top:36px;
    width:200px;
    background:white;
    li {
      display:block;
      width:100%;
      border-bottom:solid 1px @palegray;
      padding-bottom:8px;
    }
    display:none;
  }

  @media only screen and (max-width:640px) {
    padding:7px 4px 7px 8px;
    > a {
      padding:0px;
      background-position:5px 3px;
      width:100px;
    }
    ul {
      padding:1px 3px;
    }

    #headerGetHelp {
      position:absolute;
      top:13px;
      right:6px;
    }

    .ps { margin:5px 70px 0 0 }
    div { display:none }
    .wk { display:none }
  }
}

div.main-wrap {
  margin-left:@sideNavWidth;
  margin-right:@sideChatWidth;

  margin:0; // hack until we plop in the menus
  width:100%;
  padding-bottom:50px
}

div.notify {

  width:900px;
  margin:0 auto;

  section {
    position:relative;
  }

  hr { border-top:solid 1px #fcf8e3;clear:both;margin-bottom:3px }

  .alert { width:100%;display:block;padding-bottom:1px }
  // span { border:solid 2px purple;width:100%;display:block; }

  .left {
    position:absolute;
    left:5px;
    height:10px;
  }

  .right {
    position:absolute;
    right:5px;
  }

  @media only screen and (max-width: 900px) {
    width:640px;
  }

  @media only screen and (max-width: 640px) {
    .left { position:inherit;left:0px;padding:3px }
    .right { position:inherit;right:0px;padding:3px }
    width:320px;
  }
}

main {
  width:900px;
  margin:0 auto;
  padding:0;
  a { color:@orange }
  a:hover { color:@gray }
  border:solid 1px white;
  > header {
    color:@gray;
    height:35px;
    width:100%;
    margin:0px auto 0px -1px;
    padding:0px 5px 0 5px;
    font-size:11px;
    line-height:13px;
    text-transform:uppercase;
    white-space:nowrap;

    .breadcrumb {
      // border:solid 1px blue;
      background:none;
      padding:10px 0 5px 0!important;
      margin:none;

      > li + li:before {
        content: "> ";
        padding:0px 4px;
     }
    }
  }

  @media only screen and (max-width: 900px) {
    width:640px;
    > header { padding:0px; }
  }

  @media only screen and (max-width: 640px) {
    width:320px;
    > * { margin-left:3px }
    > header {
      // margin-left:0;
      width:320px;
      padding:0px 8px;
      .breadcrumb { margin:0 auto;padding-top:5px }
    }
  }
}

nav#side {
  display:block;
  position:fixed;
  height:auto;
  top:@headerHeight;
  bottom:0;
  margin:0;
  z-index:2020;

  header {
    background:@blackgray;
    height:35px;
    padding:5px 8px;
    margin:0;
    color:white;
    font-size:16px;
    border-bottom:1px solid @gray;

    img { cursor:pointer;
      filter: brightness(1);
      -webkit-filter: brightness(1);
    }
    img:hover {
      filter: brightness(1.5);
      -webkit-filter: brightness(1.5);
    }
  }


  figure { text-align:center }
  figure img {
    border:solid 1px white;
    background:white;
    width:100px;
    height:100px;
    border-radius:50px;
    margin:0 auto;
  }

  figcaption {
    padding:4px 0px;
    text-align:center;
    font-size:11px;
  }

  section {
    padding:9px 10px;
    margin-top:4px;
  }

}

nav#side {
  font-size:13px;
  left:0;
  width:@sideNavWidth;
  background:@blackgray;

  a { color:@lightblue }
  a:hover { color:@orange }

  label {
    font-weight:normal
  }

  header {
    text-align:right;
  }

  section {
    color:@turquoise;text-transform:uppercase;
  }

  ul { padding:3px 0;margin:0 }

  li {
    font-weight:normal;
    border:none;
    background:none;
    list-style:none;
    border-bottom:solid 1px @gray;
    color:white;
    padding:2px 1px 3px 1px;
    text-transform:none;
  }

  .bookmarks li {
    margin:0;
    font-size:10px;
    height:19px;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:2px 1px 2px 1px;

    a { width:120px }
  }

  section.login {
    height:30px;
    border:solid 1px green;
  }

  .welcome {
    text-transform:none;
    padding:9px 8px;
    span {
      color:white;display:block
    }
    i { font-size:12px }
    figure {
      img {
      cursor:pointer;
      margin:15px 10px;
      background:@orange
      }
    }

    ul.main {
      font-size:12px;
      li { color:gray; }
      a { font-weight:bold; }
    }
  }

  a.icon {
    display:block;
    width:100%;
    border-bottom: 1px solid #4d4e4e;
    color: white;
    padding: 2px 1px 3px;
    text-transform: none;
    img { display:none }

    i {
      display:none;
      position:relative;
      top:-32px;
      left:-2px;
      opacity:0.9;
      background:@orange;
      border-radius:7px;
      width:14px;
      height:14px;
      float:right;
      font-style:normal;
      font-size:9px;
      font-weight:bold;
      color:white;
    }
  }

  @media only screen and (max-width: 734px) {
    display:none;
  }
}

nav#side.collapse {
  section {
    text-align:center;
    padding:14px 1px;
    figure {
      margin-top:10px;
      img {
        width:28px;
        height:28px;
        border:none;
        margin:0;
      }
    }
  }
  ul { display:none }
  label { display:none }
  opacity:.9;

  a.icon {
    text-align:center;
    border:none;
    padding:0;
    span { display:none }
    img {
      display:inline-block;
      width:28px;
      height:28px;
      border:none;
      margin:0; }

    i {
      display:block;
    }

  }

  #navAbout { margin-top:30px }
}

nav#side.collapse {
  width:40px;
  section.main {
    display:none
  }
}



.modal-dialog {
  .modal-content {
    border-radius:2px;
    a { color:@orange }
    label span { font-weight:normal;text-transform:none;font-size:11px }
  }
  .modal-header {
    h3 { display:inline }
    background:@darkblue;
    color:white;
    span {
      color:@mediumgray;
      padding:0px 6px;
    }
    a.close { color:@lightblue;opacity:1;padding:6px 8px 6px 6px }
  }
  .modal-footer
  {
    clear:both
  }
}


.modal-body.stack
{
  .nomobile { display:none; }
  height:440px;
  padding:20px 20px 40px 20px;
  p {
    margin:10px 0 30px 0;
  }
  label { display:block }
}


.modal-body.bookmarks
{
  p {
    margin:10px 0 30px 0;
  }
  ul {
    margin:20px 0;
    padding-left:0;
  }
}

.modal-body.profile
{
  section.success {
    h2 { color:green }
  }
  section.google {
    float:right;
    width:160px;
    padding:10px 10px;
    background:@palegray;
  }

  min-height:540px;
  padding:30px 30px 30px 30px;
  img { border-radius:160px;background:@orange;border:solid 10px @bluegray;margin:10px }
  section.avatar {
    float:left;
    width:280px;
    border-right:solid 1px @lightgray;
    margin-right:40px;
    padding:4px 0px 10px 0px;
    text-align:center;
    background:@lightblue;
    .gradientfill;
    .tile;
    label { display:block;
      text-transform:uppercase;
      margin:10px 0 0 0;
    }
   }
  section.info {
    padding-top:18px;
    border-top:solid 1px @palegray;
    float:left;
    min-width:310px;
    max-width:480px;
  }
  .verifyEmail {
    text-align:right;
    color:red;
    font-weight:bold;
  }

  @media only screen and (max-width:640px) {
    min-height:440px;
    section.avatar {
      display:none
    }
    .motivate { display:none }
    section.google {
      float:none;
      width:100%;
      font-size:12px;
      a { font-size:16px; }
      margin-bottom:20px;
    }
    section.info {
      max-width:250px;
      min-width:250px;
    }
  }
}
.modal-footer.profile {
  margin-top:20px;
  .btn-primary { width:100% }
}

