@import "ap.less";


section#billing {
  h1 { text-align:center;margin-bottom:40px }

  #cardinfoForm {
    max-width:480px;
    label { display:block }

    #cardExpirationMonth {
      width:100px;
      display:inline-block;
    }

    #cardExpirationYear {
      width:140px;
      display:inline-block;
    }

    .btn { width:100% }
  }
}

section#membership {
  text-align:center;

  h3 { text-align:center;font-size:22px }

  .option {
    min-height:140px;
    margin:4px 2px;
  }
}
