@import "ap.less";


section#billing {
  h1 { text-align:center;margin-bottom:22px;font-size:42px }

  .welcome {
    p { text-align:center;margin-bottom:20px }

    .choice {
      .btn { width:260px }
      h2 { font-size:28px }
    }
  }

  .selected {
    background-color:@lightblue
  }

  .info {
    .buy { background-color:@lightblue;
      height:140px;
      width:300px;
      border-radius:5px;
      float:right;
      padding:50px 20px;
      a { width:100%; }
     }
  }

  #cardinfoForm {
    text-align:left;
    max-width:480px;
    label { display:block }

    #cardExpirationMonth {
      width:100px;
      display:inline-block;
    }

    #cardExpirationYear {
      width:140px;
      display:inline-block;
    }

    label i { font-weight:200;font-size:11px }

    .btn { width:100% }
  }

  #creditForm {
    text-align:left;
    hr { clear:both }
    input { clear:left;float:left;margin-right:10px;display:block }
    span { float:left;margin-right:10px;display:block  }
    em { float:left;margin-right:10px;display:block  }
  }

  .history {
    .header { background-color:@lightblue;font-weight:bold }
    table td {
      padding:3px 5px
    }
    .plus { color:green }
    .minus { color:@orange }
  }

}

section#topup {
  h1 { text-align:left; }
  form { max-width:480px }
}

section#membership {
  text-align:center;

  h3 { text-align:center;font-size:22px }

  .option {
    min-height:140px;
    margin:4px 2px;
  }
}
