@import "ap.less";

@sideRailWidth:212px;
@mainElmWidth:640px;
@mainElmPad:0px;

body#post {
	@media only screen and (max-width:640px) {
	  .main-wrap, main { width:98%!important;margin:auto }
	} 
}  

.posts {
	margin-left:-10px;
	text-align:center;
	article { 
		text-align:left;
		position:relative;
		width:284px; 
		height:200px;
		margin:9px;
		border:solid 1px @lightgray;
		border-radius:3px;
		padding:12px 12px 0px 12px;
		font-size:12px;
		line-height:14px;
		display:inline-block;			
	
		header { min-height:62px;overflow:hidden }

		h2 {
			font-size:14px;
			font-weight:bold;
			margin:0px;
			line-height:18px;
			color:@gray;
			margin-bottom:2px;
		}

		.entry-meta { color:@gray;font-size:11px }

		footer {
			position:absolute;
			bottom:10px;
			font-size:9px;
			text-align:right;
			width:92%;
		}

		p { line-height:16px;margin-bottom:0 }
		.entry-categories { color:@gray;width:100% }
		.entry-content { height:80px;overflow:hidden;color:@gray }
		.entry-author { font-weight:bold;color:@orange }
		.entry-author-image { width:50px;border-radius:25px;display:inline;margin:3px 10px 0 0 }
	}

	article:hover { 
		background:@lightblue;
	}
}


body#posts {
	
	h3 { text-align:center;margin-bottom:0px;font-size:18px }

	.myposts {
		width:640px;
	}

	.editOptions {
		text-align:right;
		float:right;
		margin-right:10px;
		width:200px;

		a.btn { width:200px; }
	}

	#author {
		
	}

	.editor {
		padding:10px 16px 0px 16px;
		span { font-weight:normal;font-size:11px } 
		.meta {
			display:none;
			width:100%;
			float:right;
			.dates 
			{
				margin:10px;
				line-height:10px;
				float:right;width:40%;
				font-size:10px;
				label { font-size:10px;float:left;clear:left;display:block;width:56px }
				span { float:left }
			}
		}
		.md { float:left;width:60%;
			display:none;
			textarea { padding:4px;height:256px;font-size:11px }
		}
		.md + .meta {
			width:38%;
		}
		.form-actions { 
			height:40px;
			clear:both;
			text-align:center;
			.btn { width:19%;margin:0px 2px 8px 2px;padding:3px 0px;display:none }
			.btnPreview { display:inline-block; }
		}		
	}

	.editor + hr { margin:4px 0 0 0;border-color:@lightblue; }
	.preview + hr { margin:0px 0px 4px 0px;border-color:@lightblue; }

	#tips { display:none }

	.edit {
		#preview {
			.preview { 
				width:914px;max-height:720px;overflow-y:scroll;
				border-right:solid 1px @lightblue;
			}
		}

		#tips { display:block;background-color:@lightblue;padding:4px 6px;font-size:10px;line-height:14px }
		#tips ul { padding:4px 14px }		
	}
	
	.edit, .publish {
	
		.form-actions { .btn { display:inline-block } }
		.editor { background-color:@lightblue; }
		.md { display:block }
		.meta { display:block }		

		.publishMeta input { font-size:11px;padding:4px;height:26px }

	}
}

.blogpost {
	clear:both;
	padding:0 0px;

	header { border-bottom:solid 1px @lightgray;margin-bottom:20px }

	hr { max-width:@mainElmWidth;color:@lightblue;margin:10px 0 }
	h1 { text-align:left;margin:0;font-size:42px;padding-left:@mainElmPad }
	h2 { text-align:left;font-size:28px;margin-bottom:5px;padding-left:@mainElmPad }
	h2 { text-align:left }	
	p { margin-top:0;max-width:@mainElmWidth;vertical-align:top;padding-left:@mainElmPad }

	pre { border:none;padding:8px;max-width:@mainElmWidth; }

	ol { max-width:620px;padding-left:@mainElmPad }
	ul { list-style:none;margin:0;padding-left:@mainElmPad }
	ul ul { margin-left:12px }

	iframe { margin:0px 0px 0px 0px }
	img { max-width:100% }

	p.asset { 
		margin-bottom:0;
	  span {
	  	display:block; 
			text-align:center;
			border:dotted 1px @lightgray;
			min-height:360px;
	  	line-height:40px; 
	  	padding-top:40px;
	  }
 }

	.pw-widget {
		float:right;
		width:@sideRailWidth;
		margin:15 0;
		height:60;
		position:relative;
		top:0;
	}

	#table-of-contents {
		float:right;
		clear:right;
		width:@sideRailWidth;
		margin:10px 0 8px 0;
		font-size:24px;
		position:relative;
	}
	#table-of-contents + ul {
		clear:right;
		float:right;
		width:@sideRailWidth;
		font-size:12px;
		position:relative;

		ul { margin-top:4px; }	
		li { padding:1px 0 2px 0; }	
	}

	#author { color:white;margin:2px;clear:left }
	#author + p { width:80px;height:80px;display:inline-block;maring-top:20px }
	#author + p img { width:100%;height:100%;border-radius:50% }
	blockquote { 
		height:80px;
		width:540px;display:inline-block;margin:0 0px 0 10px;
		font-style:italic;font-size:14px;padding:0 0px 0 10px;
		overflow:hidden; }
	blockquote p { 
		width:100%;
		height:80px;
		margin:0; }
	blockquote + p { margin-top:14px } // for images under blockquote
	blockquote + iframe { margin-top:14px } // for youtube iframe under blockquote

	#disqus_thread {
		min-height:700px
	}

  @media only screen and (max-width:900px) {
    h1 { font-size:32px;line-height:48px }
    #table-of-contents { float:left;clear:left; }
    #table-of-contents + ul { float:left;clear:left; }
    #author { color:white;margin:15px;float:none }
  }  

  @media only screen and (max-width:640px) {
		p { padding:2px }
		iframe { width:100% }
    h1 { font-size:28px;line-height:32px;text-align:center; }
    h2 { font-size:22px;line-height:32px;text-align:center;margin-bottom:10px }    
    .pw-widget { display:none }
    #table-of-contents { font-size:16px;margin-top:20px }
		#author + p { width:60px;height:60px; }
		blockquote { width:78%;float:right }   
  }	
}