



nav#chat header {
  white-space: nowrap;
  height: 38px;
}


#chatMessages {
  overflow: auto;
  width: 100%;

  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  bottom: 30px;

  .message {
    clear: both;
    border-bottom: 1px solid #ececec;

    .left {

      border-right: 1px solid #ececec;
      width: 55px;
      padding: 10px 7px;
      float: left;

      .avatar {
        height: 40px;
        width: 40px;
        border-radius: 20px;
      }
    }
    .right {
      float: left;
      padding: 10px;

    }



  }
}

#chatInput {
  clear: both;

  input {
    border: solid 1px #ececec;
    border-width: 1px 0 0 0;
    margin-left: -10px; // #fix: not sure where this 10px left margin/padding is coming from

    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0px 50px 0 5px;
    height: 30px;
    float: left;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
  button {
    float: right;
    position: absolute;
    bottom: 3px;
    right: 5px;
    background: none;
    border: none;
    font-weight: bold;

    &:focus {
      outline: none;
    }
  }

}
