@orange:#ce5424;
@lightorange:#DD8766;
@turquoise:#90d1cc;
@darkblue:#151821;
@darkorange:#211A15;
@blue:#232835;
@lightblue:#dff2ef;
@blackgray:#232323;
@gray:#4d4e4e;
@mediumgray:#7e7f7f;
@lightgray:#d3d3d3;
@palegray:#eee;
@reallypalegray:#f9f9f9;
@bluegray:#c8d6d3;
@error:#a94442;
@paleyellow:#fcf8e3;
@lightyellow:#faebcc;
@darkyellow:#8a6d3b;


.alert {
  font-size:12px;
  line-height:15px;
  border:none!important;
  margin-bottom:5px;
  padding:10px 10px 10px 10px;

  label {
    font-weight:normal
  }

  a {
    font-weight:bold;
  }
}

.form-errors {
  .alert-danger {
    margin-top:15px;
    padding:15px;
    border:solid 1px #a94442!important;
    label { display:inline!important }
  }
}

.choice {
  text-align:center;

  h2 { margin-bottom:0;padding-bottom:0 }
  h4 { margin:0 auto 40px auto;padding-top:0;color:@orange; }

  .option {
    vertical-align:top;
    width:48%;
    border:solid 2px @lightblue ;
    padding:20px;
    text-align:center;
    display:inline-block;

    h2 {
      margin:0 auto 20px auto;
      max-width:70%;
      border-bottom:solid 1px @lightblue;
    }

    ul {
      padding:0;list-style:none;
    }

    a.btn { width:60%;margin-top:10px }
  }

  @media only screen and (max-width:640px) {
    .option {
      display:block;
      width:300px;
      margin-bottom:20px;
    }
  }
}

.tile {
  width:286px;
  height:200px;
  position:relative;
  font-size:11px;
  border:solid 2px @lightblue;
  border-radius:3px;
  header { background-color:@lightblue }
  h2 { font-size:13px;
    font-weight:bold;
    color:@gray;
    line-height:18px;
  }
  img.bookmark {
    padding:2px;
    margin:2px;
    color:black;
    cursor:pointer;
  }
  footer {
    text-align:right;
    position:absolute;
    bottom:0px;
    right:0px;
  }

  &:hover {
    border:solid 2px @bluegray!important;
    header { background-color:@bluegray!important; }
  }
}

.tileSmall {
  .tile;
  width:200px;
}


.lightblueForm {
  background:@lightblue;
  border-radius:5px;
  padding:15px;
  hr { clear:both;border:1px solid @lightblue;margin:0;padding:0 }
}

.flatBottomForm {
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  border-bottom:solid 10px @orange;
}

.flatLeftForm {
  border-bottom-left-radius:0;
  border-top-left-radius:0;
  border-left:solid 10px @orange;
  padding-right:21px;
  padding-left:18px;
}

h1.entry-title {
  text-align:left;
  margin:10px 0 10px 0;
  padding:10px 0;
  font-size:42px;
  line-height:52px;
  width:100%;
  border-bottom:solid 1px #dff2ef
}

.share {
  text-align:center;
  padding:0;
  float:right;
  clear:right;
  height:75px;
  margin:0px 0 20px 0;
  border-bottom:solid 1px @lightgray;
  width:100%;
  a.pw-button { margin-right:5px!important;margin-left:5px!important }
}

.pw-popup-type_aftershare { display:none!important }

.ulNoStyle {
  margin:0;
  padding:0;
  li { display:inline-block;list-style:none }
}

.railBookmarkCTA {
  margin:10px 0 8px 0;
  position:relative;

  h6 {
    font-weight:bold;
    text-transform:
    uppercase;
    padding:0;
    margin:0 0 10px 0;
  }

  > div {
    position:relative;
    background-color:@lightblue;
    border-radius:4px;
    max-height:95px;
  }

  > div > img { width:60px!important;
    height:60px!important;
    border-radius:50%;
    display:inline-block;
    vertical-align:top;
    padding:10px;
 }

 p { float:right!important;
    width:100px!important;
    font-size:11px!important;
    line-height:16px!important;
    padding:13px 10px 0 0!important;;
    line-height:16px!important;
  }

  div > div {
    margin:4px;
    background:white;
    float:right;
    width:38px;
    height:52px;
  }

  img.bookmark {
    width:auto;
    height:auto;
    cursor:pointer;
    position:absolute;
    bottom:11px;
    right:8px;
  }

  a.bookmark:hover {
    background-color:@darkblue;
  }
}


img.user {
  border-radius:50%;
}


@media only screen and (max-width:640px) {
  .share { float:none!important;
    margin:auto;
    height:80px;
    width:100%!important; }
}

.ap-form-control {
  border:solid 2px @bluegray;
  padding:10px;
  height:auto;
  color:@mediumgray;
}

input.form-control { .ap-form-control }
select.form-control { .ap-form-control }
textarea.form-control { .ap-form-control }

.tag-input-group, .bookmark-input-group
{
  width:640px;
  .drag { float:right;width:120px;padding:0px 20px 10px 20px; }
  .drag p { font-size:11px!important;line-height:18px }
  .selected { float:right;width:200px; }
  label { display:block;text-transform:uppercase; }
  input { width:280px; }
  ul.tags { margin:0;padding:6px 0 0 0;border-top:solid 2px @bluegray }
  ul.tags li, ul.bookmarks li {
    color:@darkblue;
    font-weight:bold;
    font-size:11px;
    display:block;
    width:200px;
    background:@lightblue;
    border:solid 1px @bluegray;
    padding:12px 12px;
    margin:8px 0;
    .remove, .order {
      cursor:pointer;
      margin:-2px 0px 0px 5px;
      line-height:18px;
      font-size:18px;
      font-weight:bold;
      float:right;
      display:block;
      background:@blue;
      color:@lightblue;
      border-radius:11px;
      width:22px;
      height:22px;
      text-align:center;
      padding-left:1px;
    }
    .remove:not(*:root) { padding-left:0px; }
    .order {
      background: url('../img/css/sort-arrows.png') top no-repeat;
      border-radius: 4px;
      margin-right: 0.5rem;
      padding-bottom: 0.5rem;
      cursor:pointer;
    }
  }
  ul.bookmarks li {
    width: 600px;
    padding:4px;
    .order {
      margin:5px
    }
    .remove {
      margin:5px
    }
  }

  .tagSelect
  {
    display:block;
    width:280px;
    height:80px;
    cursor:pointer;
    border-bottom:solid 1px @lightblue;
    padding:10px;
    span {
      font-weight:bold;
      width:auto;
      background:@lightblue;
      color:@darkblue;
      padding:3px 8px;
      strong { color:@orange }
    }
    p {
      padding:0px 4px;
      width:260px;
      height:30px;
      word-wrap:normal;
      font-size:10px;
      color:@mediumgray;
      overflow:hidden;
      strong {
        color:@orange;
      }
    }
  }

  .tagSelect:hover
  {
    background:@bluegray;
  }

}

.requestProgress {
  height:32px;
  padding:3px 0px 1px 5px;
  background:@lightblue;

  // > div { display:none }

  .tags { opacity:0.2 }
  .experience { opacity:0.2 }
  .brief { opacity:0.2 }
  .hours { opacity:0.2 }
  .time { opacity:0.2 }
  .budget { opacity:0.2 }
  .broadcast { opacity:0.2 }

  > div.done { opacity:0.5;display:inline-block; }

  > div {
    display:inline-block;
    height:22px;
    width:85px;
    padding:3px 0px 3px 0px;
    margin:0 2px 0 0;
    background:@bluegray;
    font-size:11px;
    a { display:none;padding:0 10px;color:white;font-weight:bold; }
    a:hover { color:white  }
    border-top-right-radius:16px;
    border-bottom-right-radius:16px;
    label { display:inline-block;padding:0 10px;color:@bluegray;font-weight:normal }
  }
  div.done {
    label { display:none }
    a { display:inline-block;width:100% }
    background:@orange;
  }
  // div:hover { opacity:0.8 }
  div.done:hover { opacity:1 }
}


@media only screen and (max-width:640px) {
  .nomob { display:none!important }
}
