@import "ap.less";


.choice {
  text-align:center;

  h2 { margin-bottom:0;padding-bottom:0 }
  h4 { margin:0 auto 40px auto;padding-top:0;color:@orange; }

  .option {
    vertical-align:top;
    width:48%;
    border:solid 1px @lightblue ;
    padding:20px;
    text-align:center;
    display:inline-block;

    h2 {
      margin:0 auto 20px auto;
      max-width:70%;
      border-bottom:solid 1px @lightblue;
    }

    ul {
      padding:0;list-style:none;
    }

    a.btn { width:60%;margin-top:10px }
  }
}

.tileborder {
  border:solid 1px @lightgray;
  border-radius:3px;
}

.tileborderHover {
  border:solid 1px @orange;
}

h1.entry-title {
  text-align:left;
  margin:10px 0 10px 0;
  padding:10px 0;
  font-size:42px;
  line-height:52px;
  width:100%;
  border-bottom:solid 1px #dff2ef
}

.share {
  text-align:center;
  padding:0;
  float:right;
  clear:right;
  height:75px;
  margin:0px 0 20px 0;
  border-bottom:solid 1px @lightgray;
  width:100%;
  a.pw-button { margin-right:5px!important;margin-left:5px!important }
}

@media only screen and (max-width:640px) {
  .share { float:none!important;
    margin:auto;
    height:80px;
    width:100%!important; }
}

input.form-control {
  border:solid 2px @bluegray;
  padding:10px;
  height:auto;
  color:@mediumgray;
}


.tag-input-group
{
  width:640px;
  .drag { float:right;width:120px;padding:10px 20px;font-size:11px }
  .selected { float:right;width:200px; }
  label { display:block;text-transform:uppercase; }
  input { width:280px; }
  ul.tags { margin:0;padding:6px 0 0 0;border-top:solid 2px @bluegray }
  ul.tags li {
    color:@darkblue;
    font-weight:bold;
    font-size:11px;
    display:block;
    width:200px;
    background:@lightblue;
    border:solid 1px @bluegray;
    padding:12px 12px;
    margin:8px 0;
    .remove {
      margin-top:-2px;
      line-height:18px;
      font-size:18px;
      font-weight:bold;
      float:right;
      display:block;
      background:@blue;
      color:@lightblue;
      border-radius:11px;
      width:22px;
      height:22px;
      text-align:center;
    }
  }

  .tagSelect
  {
    width:280px;
    border-bottom:solid 1px @lightblue;
    padding:10px;
    span {
      font-weight:bold;
      width:auto;
      background:@lightblue;
      color:@darkblue;
      padding:3px 8px;
      strong { color:@orange }
    }
    p {
      width:100%;
      font-size:10px;
      color:@mediumgray;
      word-wrap:normal;
      height:24px;
    }
  }

}

