section#dashboard {

  section.notifications {
    > div {
      h1 { margin-top:10px }
      background:@lightblue;text-align:center;padding:20px;
      .close { float:right;color:@darkblue }
    }

    #hello {
      h1 img { height:48px;margin-top:-8px }
    }
  }

  section.main {
    float:left;
    width:640px;
  }


  section.side {
    float:right;
    width:200px;

    .tags { padding-top:14px }
  }

  h3 {
    a { float:right;font-size:14px;padding-top:5px }
  }

}


