@import "./index/ap.less";
@import "./index/components.less";
@import "./index/aplayout.less";
@import "./index/about.less";
@import "./index/home.less";
@import "./index/workshops.less";
@import "./index/post.less";
@import "./index/posts.less";
@import "./index/billing.less";
@import "./index/account.less";
@import "./index/tags.less";
@import "./index/packages.less";
@import "./index/requests.less";
@import "./index/experts.less";
@import "./index/animations.less";
@import "./index/chat.less";
@import "./index/landing.less";
@import "./index/dashboard.less";
@import "./index/banners.less";
@import "./index/booking.less";

section#index {

  .screenshot {
    width:59%;margin:5px 0 0 40px;display:block;float:right;
  }

  .container { width:100%;padding-left:0 }
  .row { margin-left:0 }
  .row > div { padding:0 }


  @media only screen and (max-width:640px) {
    .screenshot {
      margin:10px 0;
      width:94%;
      float:none;
    }
  }
}

section#auth {
  padding-top:30px;
  text-align:center;
  width:100%;

  section#newuser {
    padding:10px 0 20px 0;
  }

  .option {
    min-height:340px;
    margin:30px 8px;
    background:white;
    opacity:0.9;
  }

  .btn {
    width:80%;
  }

  .option {
    form { margin-bottom:20px }
    .form-group { text-align:center; }
    input { width:80%;margin:auto }
    // label { display:none }
  }

  .google {
    .googInfo { font-size:12px;margin:20px 0 0 0 }
  }

  .local {
    form { margin-bottom:0 }
    .alert-danger {
      padding-bottom:10px;max-width:300px;margin:15px auto 0px auto
    }

    .password {
      margin-top:10px
    }

    .new {
      p { margin-bottom:0 }
      padding-top:5px;
    }

  }

  p.help-text { margin:20px 0 0 0 }

  .reset {
    .alert-success {
      margin:20px auto;
      padding:10px;
      max-width:280px;
    }
  }


  @media only screen and (max-width:900px) {
    .option {
      width:300px;
      margin:10px auto;
      min-height:280px;
      h2 { font-size:24px; }
      p.googInfo { text-align:center;margin:20px auto }
    }
  }

  @media only screen and (max-width:420px) {
    h1 { display:none }
    h3 { font-weight:bold }
    p { max-width:240px;margin:auto }

    .choice { margin-left:-5px; }

    text-align:center;
    .option {
      margin:10px auto 0px auto;
      min-height:200px;
      width:94%;
      display:block;
      padding:15px 5px;
    }

    .btn { font-size:14px }
    p.help-text { display:none }
  }

}
