@import "ap.less";
@import "workshops.less";
@import "posts.less";

body#index {

  .screenshot {
    width:60%;margin:20px auto;display:block;float:right;
  }

  .container { width:100%;padding-left:0 }
  .row { margin-left:0 }
  .row > div { padding:0 }


  @media only screen and (max-width:640px) {
    .screenshot {
      width:80%;
      float:none;
    }
  }    
}


section#auth {
  padding-top:40px;

  .option {
    height:300px
  }

  .btn {
    width:80%
  }

  .local 
  {
    .form-group { text-align:center; }
    input { width:80%;margin:auto }
    label { display:none }
  }
}