@import "ap.less";

body#index {

  .screenshot {
    width:60%;margin:20px auto;display:block;float:right;
  }

  .container { width:100%;padding-left:0 }
  .row { margin-left:0 }
  .row > div { padding:0 }


  @media (max-width:640px) {
    .screenshot {
      width:80%;
      float:none;
    }
  }    
}
