@import "ap.less";

@tilebordernormal:solid 2px @lightblue;
@tileborderhover:solid 2px @bluegray;
@tileborderinactive:solid 2px @palegray;

.posttile {
  position:relative;
  height:280px;
  max-width:280px;
  display:inline-block;
  background:white;
  margin:20px 8px 10px 8px;
  header {
    border-top:@tilebordernormal;
    border-left:@tilebordernormal;
    border-right:@tilebordernormal;
    position:relative;
    height:130px;overflow:hidden;
    img { background:@reallypalegray;min-width:280px;max-width:100%;min-height:130px;opacity:1 }
    .glass { display:none;position:absolute;top:0px;bottom:0px;left:0px;right:0px;opacity:0.7 }
    p { display:none;text-align:center;
      position:absolute;top:10px;left:12px;right:12px;
      margin:0px;padding:5px 5px 5px 5px;color:black;font-size:13px;line-height:16px }
  }
  .stars { height:30px;margin-top:2px }
  .entry-content {
    position:relative;
    border-left:@tilebordernormal;
    border-right:@tilebordernormal;
    text-align:left;
    padding:10px 10px;
  }
  .entry-title {
    color:@darkblue;font-weight:600;
    height:75px;width:86%;margin:0;
    font-size:15px!important;line-height:18px!important;
    margin-bottom:0px!important;
  }
  .entry-categories {
    height:25px;width:100%;display:block;
    em { display:inline-block;font-style:normal;border:solid 1px @bluegray;background:@lightblue;
      padding:0px 4px;margin-right:4px;font-size:10px;color:#151821; }
  }
  .entry-author-name {
    height:24px;max-width:190px;overflow:hidden;font-size:16px;
    color:@darkgray;display:block
  }
  footer {
    border-left:@tilebordernormal;
    border-right:@tilebordernormal;
    border-bottom:@tilebordernormal;
    position:absolute;
    bottom:0;right:0;
    height:50px;
    width:100%;
    padding:4px 3px 3px 3px;
    .bookmark { cursor:pointer;background:white;
      padding:3px 5px 3px 5px;
     position:absolute;right:12px;bottom:100px }
  }
  .entry-author-img {
    position:absolute;opacity:0.9;
    right:5px;bottom:5px;border-radius:50%;
  }
  .entry-author-img:hover {
    opacity:1;cursor:pointer;
  }
}

.posttile > a:hover {
  header {
    border-top:@tileborderhover;
    border-left:@tileborderhover;
    border-right:@tileborderhover;
    img { opacity:0.25; }
    .glass { display:block;background:white; }
    p { display:block; }
  }
  .entry-content {
    border-left:@tileborderhover;
    border-right:@tileborderhover;
  }
  .entry-categories { em { opacity:1 } }
  .entry-title { color:@orange; }
  .entry-author-name { color:@orange; }

  + footer {
    border-left:@tileborderhover;
    border-right:@tileborderhover;
    border-bottom:@tileborderhover;
  }
}

.inreview {
  .posttile {
    header {
      border-top:@tileborderinactive;
      border-left:@tileborderinactive;
      border-right:@tileborderinactive;
    }
    .entry-content {
      border-left:@tileborderinactive;
      border-right:@tileborderinactive;
    }
    footer {
      border-left:@tileborderinactive;
      border-right:@tileborderinactive;
      border-bottom:@tileborderinactive;
    }
  }
}

#allposts {
  h1.underline { font-size:34px;line-height:40px;
    .btn { width:200px }
  }
}

#myposts {

  .notifications {
    > div { padding:8px }
    h2 { padding:0;margin:14px 0 0 0;font-weight:bold;font-size:20px;line-height:26px;color:@blue }
    h3 { padding-top:0;margin-top:-2px;font-size:16px;line-height:22px;color:@gray }
    img { display:block;margin:20px auto;max-width:500px;background:white;border-radius:20px;padding:2px 20px }
    p { max-width:740px;margin:10px auto 18px auto;color:@gray;b { text-transform:uppercase;} }
  }

  h3 { a.btn { width:160px } }

  #contributions {
    margin-bottom:50px;
    h3 { margin-bottom:0;
      ul {
        display:inline-block;
        .ulNoStyle;
        li { padding:0px 0 0 10px;font-size:13px; a { text-transform:uppercase; } }
      }
    }
    td { position:relative;padding:7px 9px 5px 8px }
    td.contributors {
      width:36px;
      padding:8px 7px 6px 6px;
      font-size:9px;
      .forks { margin-top:2px }
    }
    td.forks {
      color:@mediumgray;
      em { font-style:normal;font-size:13px;display:block;line-height:11px;font-weight:bold }
      padding:10px 4px 8px 0px;
      width:25px;
      text-align:center;font-size:10px;
    }
    td.title {
      color:@blue;
      padding-top:6px;
      line-height:18px;
    }
    td.status {
      width:110px;
      font-size:10px;
      padding:6px 9px 2px 16px;
      > span { text-transform:uppercase;font-weight:bold;margin:-2px 0 0px 0;display:block; }
      .stars {
        display:inline-block;
        li { width:10px;height:16px;
          display:inline-block;
          background-position-y:5px;
          margin-left:-1px;
        }
        li.half {
          width:5px;height:16px;background-position-y:6px
        }
      }
      div { position:relative;
        em {
          display:inline-block;
          font-size:11px;
          position:absolute;top:2px;padding-left:3px;
          font-style:normal;
        }
      }
      label { font-weight:bold }
      .words {
        line-height:10px;
        margin-bottom:0px;
        font-size:10px;font-weight:normal;display:block;
        color:@mediumgray;
      }
    }
    td.edit {
      width:110px;
      padding-right:2px;

      .icon {
        float:right;
        margin-right:3px;
        height:28px;width:28px;
        text-align:center;
        display:inline-block;
        border-radius:50%;
        background-repeat:no-repeat;
        &:hover {
          background-color:@orangehighlight;
        }
      }

      a.delete {
        .icon;
        font-size:26px;
        line-height:23px;
        color:white;
        background-color:@error;
      }
      a.edit {
        background:url('../img/pages/posts/author-white.png');
        background-size:74%;
        background-position:3px 4px;
        background-color:@orange;
        .icon;
      }
      a.gh-white {
        background-size:92%;
        background-color:@gray;
        background-position:1px 2px;
        .icon;
      }
      a.fork {
        background-color:@lightgray;
      }
      a.contribitors {
        background:url('../img/pages/posts/sm-icon-fork.png');
        background-size:88%;
        background-position:1px 1px;
        background-color:@lightgray;
        .icon;
      }
    }
    td.tip {
      width:280px;
      font-size:11px;
      padding:5px 5px 5px 12px;
      p { margin-bottom:0 }
      a { display:block;font-weight:bold }
    }
  }

}


#postcontributors {
  .notifications {
    > div { padding:20px 20px 10px 20px }
    .message {
      border:solid 1px @lightgray;width:620px;float:left;margin:0px;height:110px;
      h3 { color:@blue }
      img { width:30px;height:30px;margin-right:10px }
    }
    .info {
      float:right;width:200px;height:120px;margin-right:5px;
      .tip {
        padding-top:4px;
        font-size:12px;
        height:50px;
        border:solid 1px @bluegray;
        background:white;width:90%;
        margin:0px 20px 15px 20px;
        span { text-transform:uppercase;display:block;padding:0px 4px; }
      }
      h6 { margin-bottom:15px; }
      a.icon { height:20px;width:20px;
        background-color:@orange;display:inline-block;
        background-size:100%;
      }
    }
    hr { clear:both;margin:0;border-color:@lightblue }
  }

  section.body {
    margin-top:30px;
    position:relative;
    .rail {
      position:absolute;top:0;right:0;width:220px;background:@gitgray;
      padding:10px;

      h4 { text-transform:uppercase;font-size:12px;margin:5px;
        padding-bottom:2px;border-bottom:solid 1px @palegray;
      }

      ul.forkers {
        .ulNoStyle;
        min-height:20px;
        margin:10px 0;
      }

      ul.acceptedPRs {
        .ulNoStyle;
        min-height:20px;
        margin:10px 0;
      }
    }

    #github {
      max-width:640px;
    }
  }

  @media screen and (max-width:1000px) {
    display:none;
  }
}

#postcontributorsMobile {
  @media screen and (min-width:1000px) {
    display:none;
  }
}


section#postpublish {
  .preview {
    float:right;width:300px;margin-top:-10px;
  }

  .propagateHEAD {
    h3 { margin-top:0 }
    .btn { margin:20px 0 10px 0;.gh-white;background-repeat:no-repeat;background-color:@orange;padding-left:80px; }
    .btn:hover { background-color:@orangehighlight }
  }

  #publish-meta {
    width:580px;
    background:@lightblue;
    padding:20px;margin-top:20px;
    label i { font-size:12px;font-weight:normal; }
    .btn { width:100% }
    .author {
      span { float:right;display:block }
    }
  }
}


section.authoringnotsupported {
  h3 { font-size:20px }
  text-align:center;
  width:300px;
  margin:auto;
  display:none;
  @media(max-width:1279px) {
    display:block;
  }
}

.postpreviewpanes {
  .absstrech;
  top:90px;

  .editor-wrap {
    .absstrech;
    left:70px;right:30px;
  }

  #editor {
    .absstrech;
  }

  .preview {
    .absstrech;
    direction:rtl;
    article { direction:ltr; }
    h1.entry-title { margin-top:0;padding-top:0 }
  }

}


section#postinfo {
  .postpreviewpanes;

  #editor {
    width:500px;
  }

  .flowpic {
    position:absolute;
    opacity:1;
    margin:20px 10px;
    top:85px;
    max-width:420px;
    text-align:center;
    display:block;
    z-index:2;
  }
  .startmsg {
    opacity:0.7;
    background:white;
    h3 { margin:5px auto 20px auto }
    padding:10px 10px 20px 10px;
    color:black;
    font-size:13px;
    margin:0px auto 20px auto;text-align:center;
    border-bottom:solid 1px @lightgray;
    max-width:620px;
    p { margin-top:120px; }
    em { font-weight:bold;font-style:normal; }
  }

  .form {
    .absstrech;
    background:@lightblue;padding:30px;
    // border-radius:10px;
    textarea { height:85px }
    hr { clear:both }
    .btn { width:100% }
    label i {
      font-size:12px;
      font-weight:normal
    }
  }

  .connect-icons {
    .oauth { width:30px;margin:1px 5px 6px 1px;padding:0 }
    .oauth a { background-size:90%;background-position:2px 3px;
      height:30px;padding:8px 0 0 30px;font-size:11px;margin:0;border-radius:50%;overflow:hidden; }
  }

  .tag-input-group {
    .nomobile { display:none }
    label { display:none }
    .drag { display:none }
    .selected {
      width:280px;
      display:block;
      float:none;
      li { display:inline;background:none;border:none }
      .remove { float:none;background:none;color:red;display:inline;font-size:12px }
      .order { display: none; }
    }
  }

  .preview {
    padding-left:25px;
    left:500px;
    width:665px;
    #body { display:none; }
    hr { display:none }
    footer {
      direction:ltr;
      text-align:left;
    }
  }

  .form-actions {
    text-align:center;
    p { margin-top:15px }
    img { max-width:80% }
  }

  @media screen and (max-width:1279px) {
    display:none;
  }
}


section#posteditor {
  .postpreviewpanes;
  top:40px;

  .editor-wrap {
    left:60px;right:20px;
  }

  .poststauts {
    position:absolute;
    top:0;
    left:60px;right:20px;
    height:34px;
    padding:6px 7px 5px 7px;
    background:@lightblue;
    border-bottom:solid 2px @bluegray;
    font-size:13px;
    .tip {
      display:inline-block;
      position:absolute;top:6px;right:7px;
      z-index:10;
      a { font-weight:bold }
    }
    .status {
      z-index:10;
      display:inline-block;
      position:absolute;top:6px;left:7px;
      .saved { color:darkgreen; }
      .unsaved { color:@darkyellow; }
    }
  }

  .preview {
    overflow-y:scroll;
    overflow-x:hidden;
    width:660px;
    article {
      width:640px;
    }
    top:34px;
    left:530px;
    bottom:110px;
    .author { display:none }
    .author + hr { display:none }
    p.asset { display:none }
    p.asset + hr { display:none }
  }

  #editor {
    top:34px;
    bottom:110px;
    width:530px;
    // max-width:620px;
    .ace_editor {
      .ace_content { padding-top:5px; }
      font-size:11px;
      .absstrech;
    }
    .ace_gutter { display:none }
  }

  .form-actions {
    border-top:solid 1px @bluegray;
    height:110px;
    position:absolute;
    bottom:0;left:0;right:0;
    hr { border-color:@lightblue }
    background:@lightblue;
    padding:10px 30px 10px 60px;
    .btn { width:160px;margin:0px 5px;font-size:14px;float:right }
    .commitmsg {
      float:right;
      clear:right;
      margin:5px 5px 10px 5px;
      input { width:670px }
    }
    span { font-weight:bold }

    label { display:block;font-size:18px;
      padding:6px 0 0 10px;font-weight:normal }

    #tips {
      background:@palegray;
      padding:20px
    }
  }

  @media screen and (max-width:1279px) {
    display:none;
  }
  @media screen and (min-width:1300px) {
    #editor {
      width:550px;
      .ace_editor {
        font-size:12px;
      }
    }
    .preview {
      left:550px;
    }
  }
  @media screen and (min-width:1340px) {
    #editor {
      width:600px;
      .ace_editor {
        font-size:13px;
      }
    }
    .preview {
      left:600px;
    }
  }
  @media screen and (min-width:1390px) {
    #editor {
      width:650px;
      .ace_gutter { display:inline-block; }
    }
    .preview {
      left:650px;
      width:inherit;
      article { margin:auto }
    }
  }
}


//-- A list (tile grid) of posts
.posts {
  margin-left:-5px;
  text-align:center;

  @media screen and (max-width:640px) {
    margin:auto;
  }

  article {
    .tile;
    text-align:left;
    position:relative;
    margin:6px;
    padding:0px;
    line-height:14px;
    display:inline-block;

    > a { padding:0px 6px 0px 0px;display:block }

    header {
      padding:4px;
      float:left;
      width:50%;
      position:absolute;
      top:0;
      bottom:0;
      .entry-header-image { max-width:100%; }
      p.entry-meta {
        width:100%;
        line-height:16px;
        margin:0;
        padding:0;
        color:@gray;
        font-size:11px;
        position:absolute;
        bottom:0;
        left:0;
      }
      .entry-categories {
        em { display:inline-block;font-style:normal; }
        color:@darkblue;
        width:100%;
        font-size:9px;
        a {
          display:inline-block;
          margin-left:5px }
       }
      .entry-author {
        padding-top:15px;
        font-weight:bold;
        color:@orange;
        width:100%;
      }
      .entry-author-name {
        display:inline-block;
        width:50%;
      }
      .entry-author-image {
        width:50px;
        border-radius:25px;
        display:inline;
        margin:0px 6px 0 1px;
        border:solid 3px @bluegray;
        webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
      }
      time {
        display:block;
        color:@gray;
        font-weight:normal;
      }
    }

    .entry-content {
      text-align:left;
      float:right;
      width:48%;
      padding:3px;
      h2 { margin:0px 0px 1px 0px; }
      p { color:@mediumgray }
      max-height:143px;
      overflow:hidden;
    }

    footer {
      position:absolute;
      bottom:0;
      right:0;
      font-size:9px;
      text-align:right;
      width:40%;
      height:40px;
    }
  }
}

section#posts {

  section > h3 {
    width:100%;
    margin-bottom:10px;
    font-size:18px;
    padding:5px 0;
    span { display:block;float:right }
    border-bottom:solid 2px @bluegray;
  }

  #recent {
    width:240px;float:right;
    article { padding:0;margin:10px 0 }

    a:hover article {
      // background:@orangehighlight;
      border:solid 2px @orangehighlight;
      h2 { color:@orange }
      .entry-author-name { color:@gray }
    }
  }

  #author { padding-top:10px }

  .editor {
    padding:10px 16px 0px 16px;
    span { font-weight:normal;font-size:11px }
    .meta {
      display:none;
      width:100%;
      float:right;
      .dates .form-group
      {
        float:left;width:60%;
      }
      .dates section
      {
        margin:0px 0px 2px 0px;
        line-height:10px;
        float:right;
        width:32%;
        font-size:10px;
        label { font-size:10px;display:block;margin-bottom:5px  }
        span { display:block;margin-bottom:6px }
      }
    }
    .md { float:left;width:64%;
      display:none;
      textarea { padding:4px;height:340px;font-size:14px }
    }
    .md + .meta {
      width:34%;
    }
    .form-actions {
      height:40px;
      clear:both;
      text-align:center;
      .btn { width:19%;margin:0px 2px 8px 2px;padding:3px 0px;display:none }
      .btnPreview { display:inline-block; }
    }

    .tag-input-group {
      .nomobile { display:none }
      label { display:none }
      .drag { display:none }
      .selected {
        display:block;
        float:none;
        li { display:inline;background:none;border:none }
        .remove { float:none;background:none;color:red;display:inline;font-size:12px }
        .order { display: none; }
      }
    }
  }

  .editor + hr { margin:4px 0 0 0;border-color:@lightblue; }
  .preview + hr { margin:0px 0px 4px 0px;border-color:@lightblue; }

  #tips { display:none; }

  // .edit {
    // #preview {
      // .preview {
        // width:914px;max-height:300px;overflow-y:scroll;
        // border-right:solid 1px @lightblue;
      // }
    // }

    // #tips { display:block;background-color:@lightblue;padding:4px 6px;font-size:10px;line-height:14px;min-height:80px }
    // #tips ul { padding:4px 14px }
  // }

  .edit, .publish {

    .form-actions { .btn { display:inline-block } }
    .editor { background-color:@lightblue; }
    .md { display:block }
    .meta { display:block }

    .publishMeta input { font-size:11px;padding:4px;height:26px }

    article { border:solid 2px @bluegray;background:white }
    article header { background:@bluegray }
  }

  @media screen and (max-width:640px) {
    //-- don't show myposts UI on mobile. might even be worth disabling xhr in angular
    section#myposts { display:none }
  }
}


#postfork {

  #forkinfo {
    text-align:center;
    margin-top:20px;
    border:solid 2px @darkblue;
    h2 { margin-top:0;background:@darkblue;color:white;font-size:24px;
      font-weight:bold;
     }
    h3 { font-weight:bold;color:@gray;font-size:16px;margin-top:20px }
    p { padding:10px 10% 20px 10% }
    .notice {
      h3 { margin-bottom:0px }
      background:@lightblue;margin:15px 80px;padding-top:1px
    }
    .btn { margin:0px 40px;width:740px }

    input { margin:0px auto;width:740px;font-size:18px }

    img.flow { max-width:70%;margin:10px 50px 30px 50px }
    .submitRepo {
      margin-top:20px;
      padding:1px 20px 20px 20px;
      background:@lightblue;
      p { margin-bottom:0;padding-bottom:15px  }
      label span { font-family:courier;font-weight:normal }
    }

    .forkRepo {
      img { display:block;margin:5px auto }
      margin-top:0px;
      padding:0px 20px 20px 20px;
      background:@lightblue;
      p { margin-bottom:0;padding-bottom:15px  }
      .btn { width:660px }
    }
  }

}


