@import "ap.less";

@sideRailWidth:212px;
@mainElmWidth:640px;
@mainElmPad:0px;


section#post {
	@media only screen and (max-width:640px) {
	  .main-wrap, main { width:100%;margin:auto } //-- let the post be as big as the width
	} 
}  

.posts {
	margin-left:-5px;
	text-align:center;
	article { 
		.gradientfill;
		text-align:left;
		position:relative;
		width:286px; 
		height:200px;
		margin:6px;
		padding:0px;		
		border:solid 1px @lightgray;
		border-radius:3px;
		font-size:12px;
		line-height:14px;
		display:inline-block;		

		> a { padding:12px 12px 0px 12px;display:block }

		header { min-height:60px;overflow:hidden }

		h2 {
			font-size:14px;
			font-weight:bold;
			margin:0px 0px 1px 0px;
			line-height:18px;
			color:@gray;
		}

		.entry-meta { color:@gray;font-size:11px }

		footer {
			position:absolute;
			bottom:10px;
			font-size:9px;
			text-align:right;
			width:94%;
			height:30px;
			.entry-meta { float:right }			
			.entry-categories { 
				color:@gray;
				width:100%;
				a { display:inline-block;margin-left:5px }
			 }
		}

		p { line-height:16px;margin:0;padding:0 }
		.entry-content { height:80px;overflow:hidden;color:@gray }
		.entry-author { font-weight:bold;color:@orange }
		.entry-author-image { width:50px;border-radius:25px;display:inline;margin:3px 10px 0 0 }

	}

	article:hover { 
		background:@lightblue;
	}
}


section#posts {
	
	> h3 { width:100%;margin-bottom:0px;font-size:18px;
		span { display:block;float:right }
	}

	.myposts {
		width:640px;
	}

	.editOptions {
		text-align:right;
		float:right;
		margin-right:10px;
		width:200px;

		a.btn { width:200px; }
	}

	#author { padding-top:10px }

	.editor {
		padding:10px 16px 0px 16px;
		span { font-weight:normal;font-size:11px } 
		.meta {
			display:none;
			width:100%;
			float:right;
			.dates .form-group
			{
				float:left;width:60%;
			}
			.dates section
			{
				margin:0px 0px 2px 0px;
				line-height:10px;
				float:right;
				width:32%;
				font-size:10px;
				label { font-size:10px;display:block;margin-bottom:5px  }
				span { display:block;margin-bottom:6px }
			}
		}
		.md { float:left;width:64%;
			display:none;
			textarea { padding:4px;height:340px;font-size:14px }
		}
		.md + .meta {
			width:34%;
		}
		.form-actions { 
			height:40px;
			clear:both;
			text-align:center;
			.btn { width:19%;margin:0px 2px 8px 2px;padding:3px 0px;display:none }
			.btnPreview { display:inline-block; }
		}		
	}

	.editor + hr { margin:4px 0 0 0;border-color:@lightblue; }
	.preview + hr { margin:0px 0px 4px 0px;border-color:@lightblue; }

	#tips { display:none; }

	.edit {
		#preview {
			.preview { 
				width:914px;max-height:300px;overflow-y:scroll;
				border-right:solid 1px @lightblue;
			}
		}

		#tips { display:block;background-color:@lightblue;padding:4px 6px;font-size:10px;line-height:14px;min-height:80px }
		#tips ul { padding:4px 14px }		
	}
	
	.edit, .publish {
	
		.form-actions { .btn { display:inline-block } }
		.editor { background-color:@lightblue; }
		.md { display:block }
		.meta { display:block }		

		.publishMeta input { font-size:11px;padding:4px;height:26px }

	}
}

.blogpost {
	clear:both;
	padding:0 0px;

	header { border-bottom:solid 1px @lightgray;margin-bottom:20px }

	hr { max-width:@mainElmWidth;color:@lightblue;margin:10px 0 }
	h1 { text-align:left;margin:0;font-size:42px;padding-left:@mainElmPad }
	h2 { text-align:left;font-size:28px;margin-bottom:5px;padding-left:@mainElmPad }
	h3 { text-align:left }	
	p { margin-top:0;max-width:@mainElmWidth;vertical-align:top;padding-left:@mainElmPad }

	// --- Prism customization
	.line-numbers .line-numbers-rows { width:1.9em;left:0 }
	.line-numbers-rows > span:before { padding-right:0.6em }
	
	pre { 
		font-size:12px;
		border:none;padding:6px;max-width:@mainElmWidth; 
	
		footer { text-align:right;border-top:solid 1px @lightgray;
			margin-top:4px;padding-top:3px }
	}

	pre.line-numbers { 
		code { padding-left:30px }
	}
	// ---End Prism customization

	ol { max-width:620px;padding-left:30px }
	ul { list-style:none;margin:0;padding-left:15px }
	ul ul { margin-left:12px }

	iframe { margin:0px 0px 0px 0px }
	img { max-width:100% }

	p.asset { 
		margin-bottom:0;
	  span {
	  	display:block; 
			text-align:center;
			border:dotted 1px @lightgray;
			min-height:360px;
	  	line-height:40px; 
	  	padding-top:40px;
	  }
 }

	.pw-widget {
		float:right;
		width:@sideRailWidth;
		margin:15 0;
		height:60;
		position:relative;
		top:0;
	}

	#table-of-contents {
		float:right;
		clear:right;
		width:@sideRailWidth;
		margin:10px 0 8px 0;
		font-size:24px;
		position:relative;
	}
	#table-of-contents + ul {
		padding-left:0;
		clear:right;
		float:right;
		width:@sideRailWidth;
		font-size:12px;
		position:relative;

		ul { margin-top:4px;padding-left:0px }	
		li { padding:1px 0 2px 0; }	
	}

	// #author + p { width:80px;height:80px;display:inline-block;maring-top:20px }
	.author {
		margin:10px 0 24px 0;

		> img { width:80px;height:80px;border-radius:50%;display:inline-block;vertical-align:top }
	
		> figcaption {
			height:80px;
			width:540px;display:inline-block;margin:0 0px 0 10px;
			display:inline-block;
			border-left: 5px solid #eee;
	    margin: 0 0 0 10px;
			padding:0 0px 0 15px;
	    box-sizing: border-box;
			font-style:italic;
			font-size:14px;
			overflow:hidden; 
		}
	}

	#disqus_thread {
		min-height:700px
	}
	
	@media only screen and (max-width:900px) {
		> h1 { font-size:32px;line-height:48px;margin:10px 0 }
		#table-of-contents { float:left;clear:left; }
		#table-of-contents + ul { float:left;clear:left; }
		.author { float:none }
	}

	@media only screen and (max-width:640px) {
		p { padding:2px 5px 2px 5px }
		iframe { width:100%;position:relative;left:0 }
		> h1 { font-size:28px;line-height:30px;text-align:center;margin-top:20px }
		h2 { font-size:22px;line-height:32px;text-align:center;margin-bottom:10px }
		h3, h4, h5, h6 { text-align:center }    
		.pw-widget { display:none }
		#table-of-contents { font-size:16px;margin:20px 20px 10px 20px;text-align:left }
		#table-of-contents + ul { margin:0px 20px }
		.author > img { width:60px;height:60px; }
		.author > figcaption { width:78%;float:right }   
  }	
}