@import "ap.less";



.requests {
  margin-left:-5px;
  text-align:center;

  @media screen and (max-width:640px) {
    margin:auto;
  }

  article {
    .tileSmall;
    text-align:left;
    position:relative;
    margin:6px;
    padding:0px;
    line-height:14px;
    display:inline-block;

    > a { padding:0px 6px 0px 0px;display:block }

    header {
      padding:4px;
      width:40%;
      position:absolute;
      top:0;
      bottom:48px;
      em { display:block;font-style:normal;
        margin:2px 0 4px 0;color:@darkblue;font-size:10px; }
      time {
        text-align:center;
        position:absolute;
        bottom:5px;
        color:@gray;
      }
    }

    img.image-time { height:34px;position:absolute;bottom:6px;left:45px }
    img.image-experience { height:34px;position:absolute;bottom:6px;left:5px }
    .entry-author-name {
      position:absolute;bottom:15px;right:40px
    }
    .entry-author-image {
      position:absolute;bottom:4px;right:5px;
      height:36px;
      border-radius:50%;
    }

    .entry-content {
      .entry-header-image { max-width:100%;height:20px;margin:5px }
      text-align:left;
      float:right;
      width:58%;
      padding:3px;
      h2 { margin:0px 0px 1px 0px;height:18px }
      p { color:@mediumgray }
      max-height:150px;
      overflow:hidden;
    }

    footer {
      position:absolute;
      bottom:0;
      right:0;
      font-size:9px;
      text-align:right;
      width:40%;
      height:40px;
    }
  }
}


form.requestForm {

  hr { margin:5px }

  max-width:640px;

  section {
    clear:left;
    height:270px;
    border-bottom:solid 20px @bluegray;
    margin-bottom:20px;
    background:@lightblue;
    padding:18px 20px 15px 20px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
  }

  padding-top:30px;

  .control-label {
    display:block;
    margin-bottom:15px;
    font-size:22px;
    font-weight:400;
    color:@blackgray;
  }

  select[multiple=multiple] {
    height:160px;
    padding:10px;
  }

  input[type=radio] {
    // margin:10px 10px 10px 30px;
    // border:solid 1px @lightblue;
    position:absolute;
    z-index:-1000;
    left:-1000px;
    overflow:hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;

  }

  input[type=radio] + label {
    background-size:22px;
    background-image:url(../img/css/radio.png);
    background-repeat:no-repeat;
    background-position:0px 6px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left:35px;
    padding-top:6px;
    height:28px;
    display:inline-block;
    line-height:20px;
    font-size:16px;
    font-weight:normal;
    vertical-align:middle;
    cursor:pointer;
    margin-right:46px;
    img { margin:-5px 10px 0 0 }
    text-transform:uppercase;
  }

  input[type=radio]:checked + label {
    padding-top:0px;
    margin-top:6px;
    height:22px;
    background-position: 0 -22px;
  }


  textarea {
    min-height:170px
  }

  .nomobile { display:none }
  .tag-input-group {
    width:610px;
    .tagInput { max-width:260px }
    label {
      display:none;
      // font-size:12px;
      // text-transform:uppercase;
      // font-weight:bold;
    }
  }

  .feedback { float:right;font-weight:bold }
  .types { margin-top:-20px }
  .rush { padding-top:8px }

  .tags {
    .btn { min-width:94px;float:right;margin-top:5px;padding:2px }
    i { display:block;margin:-10px 0 4px 0;font-size:12px }
    li { background:white }
    hr { margin:0;clear:both;border-color:@lightblue }
  }

  .tags.done {
    li { background:@lightblue }
    hr { border:solid 1px white }
  }

  .experience {
    .control-label { float:left;margin:10px 5px;width:280px }
    div.experienceOptions { float:right;width:300px;padding-top:2px }
    span { float:left;clear:left;width:280px;padding:8px 10px 10px 10px }

    label img { height:45px;margin:-10px 10px 0px 0px!important }
    // input[type=radio] { display:block }
    input[type=radio] + label {
      height:30px;
      background-position:0px 8px;
      margin:0px 15px 30px 0;
    }
    .tags li { background:@lightblue;font-size:12px }
  }

  .experience.done {
    .control-label { float:none;margin:0;width:100% }
    div.experienceOptions { float:none;width:100%;padding-top:15px  }
    span { float:none;padding:8px 10px 10px 10px;maring-top:10px }
    label img { height:30px;margin-top:0px }
    input[type=radio] { display:inline }
    input[type=radio] +label { height:30px;margin:0 20px 5px 0;padding-top:12px }
    .tags { display:none }
  }

  .budget {
    input[type=radio] +label { margin:0 20px 5px 0 }
  }

  section.done {
    height:inherit;
    // border-bottom:solid 1px @bluegray;
    border:none;
    padding:0 5px 5px 5px;
    background:none;
    label { font-size:14px;color:@gray }
    .feedback { font-weight:normal }
    margin-bottom:10px;
  }
  .requestTypes {
    border:solid 2px @bluegray;
    background:white;
    padding:5px;
    a { display:block;padding:3px;font-weight:bold }
    a:hover { background:@bluegray }
    max-width:280px;
  }
  #requestType {
    max-width:260px;
    display:inline;
    margin-right:10px;
  }
}

article.blogpost { section.done { display:none} }



section#request {
  .requests { float:right;width:250px;margin-top:50px }
}
