@import "ap.less";


section#tag {

  .workshops {
    article {
      .tile;
      text-align:left;
      a > div {
        padding:10px;
        img { border-radius:50% }
      }

      header {
        padding:60px 10px 10px 10px;
        vertical-align:bottom;
        float:right;
        width:80px;
        height:126px;
        background:@lightblue;
      }

      .entry-title {
        margin: 0 0 1px;
      }


      footer {
        width:80px;
        background:white;
        height:50px;
        padding:10px 2px 6px 2px;
      }

    }
  }

  .more {
    border-color:@palegray;
    header {
      background:@palegray;
    }
  }

  .pairing {
    article {
      .tile;
      text-align:left;
      border:solid 2px @lightblue;
      display:inline-block;
      margin-bottom:20px;
      a > div {
        padding:10px;
      }

      header {
        position:absolute;
        width:100%;
        background:@lightblue;
        height:70px;
        display:block;
        img { border-radius:50%;
          margin:20px 10px 0px 20px;
        }

        .entry-meta {
          text-align:right;
          margin-right:10px;
        }
      }
      .entry-content {
        h2 { margin-left:100px }
        label { margin-left:100px }

        position:absolute;
        top:70px;
        margin-top:0px;
        display:block;
        padding-left:30px;
        height:86px;
        label {
          font-size:14px;
        }
      }
      .entry-title {
        color: #4d4e4e;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        margin: 0 0 1px;
      }
      footer {
        height:40px;
      }
    }

  }


  text-align:center;
  color:#4D4D57;

  section.header {
    padding:20px 0;

    hr { height:30px;
      background:@lightblue;
    }

    img { margin:-90px auto 0 auto }
    img.angularjs { width:220px }

    h1 { font-size:32px;margin-top:0 }

    p { color:@orange }

    .share { margin:20px 0px 40px 0px;padding-bottom:40px;height:85px }
  }


  section.featured {
    padding-top:20px;
    margin:auto;
    max-width:900px;
    hr { border-top:dashed 1px @orange }
    .btn { width:100% }
    .row { margin-top:-40px }

    hr.vr {
      width:1px;
      border:none;
      border-right:solid 2px @lightblue;
      height:30px;
      margin:auto;
    }

    .col-md-4 {
      padding:0 10px;
      margin-bottom:20px;
    }

    .col-md-4 > article {
      margin:0;
      padding:0;
    }


    @media screen and (max-width:1000px) {
      .btn { width:60% }
      .col-md-4 > article {
        margin:0 auto 20px auto;
      }
    }

  }

  .sectionDashed
  {
    margin-top:40px;
    padding-bottom:40px;
    border-top:dashed 1px @orange;
    > h2 {
      font-size:26px;
      margin:-40px auto 30px auto;
      padding:0 20px 0 20px;
      background:white;
      display:inline-block;
    }
  }

  section.about {
    margin:auto;
    max-width:880px;
    padding:0px 0;
    h2 {
      font-size:20px;
      font-weight:bold;
    }

    blockquote {
      text-align:left;
      font-size:16px;
      padding:20px;
      height:200px;
      background-color:@lightblue;
      p { float:left;max-width:70%;padding:10px }
      cite { float:left;display:block;
        padding:0 10px;
        color:@mediumgray;
        font-style:italic;
      }
      img {
        float:right;
        width:160px;
        border-radius:50%;
      }
    }

    @media screen and (max-width:1000px) {
      blockquote {
        cite {
          font-size:11px
        }
      }
    }

    @media screen and (max-width:640px) {
      blockquote {
        height:260px;
        padding:5px 10px;
        font-size:13px;
        img { width:60px;margin-top:15px; }
      }
    }
  }


  section.workshops
  {
    .sectionDashed;
    a.workshop {
      .tile;
      width:100%;
      height:143px;
      display:block;
      text-align:left;
      border-radius:4px;
      color:@gray;
      margin-bottom:20px;
      hr { clear:both;margin-bottom:0;height:0 }
      img { border-radius:50%;float:left;margin:10px 20px 10px 10px }
      h3 { float:left;max-width:500px;font-size:20px;margin-top:20px }
      h5 { float:right;max-width:500px;font-size:16px;margin-top:0px }
      header { float:right;width:80px;background:@lightblue;margin-right:40px;height:140px;text-align:center;padding:20px 10px }
    }
    a.workshop:hover {
      color:@orange;
    }

    a.workshop.more {
      border-color:@palegray;
      header {
        background:@palegray;
      }
    }

    @media screen and (max-width:1000px) {
      width:640px;
      a.workshop {
        h3 { max-width:340px;font-size:20px;line-height:24px }
        h5 { max-width:340px; }
      }
    }

    @media screen and (max-width:640px) {
      width:310px;
      img { width:60px; }
      a.workshop {
        h3 { max-width:160px;font-size:14px;line-height:16px;margin:5px }
        h5 { max-width:160px;font-size:12px;display:none }
      }
    }
  }

  section.posts
  {
    .sectionDashed;
  }

  section.pairing
  {
    .sectionDashed;
    hr { border:none }

    .more {
      border-color:@palegray;
      header {
        background:@palegray;
      }
    }
  }

}
