@import "ap.less";

body#workshops {

  #upcoming {

    text-align:center;

    li.workshop { 
      margin:20px;
      padding:5px;
      width:200px;
      list-style:none;
      display:inline-block;

      border:solid 1px @lightgray;

      time { display:block }

      h4 {
        height:60px;
        vertical-align:middle;
      }

      img { margin-top:15px }
    }
 
  }

}