@import "ap.less";

@mainWidth:650px;
@sideRailWidth:212px;

@one:@lightblue;
@two:@lightblue;

body#workshops {

  .share {
    padding:10px 7px 0 0;
    float:right;
    clear:right;      
    width:@sideRailWidth;
    height:74px;
    margin:12px 0 18px 0;
    border-bottom:solid 1px @lightgray;

    .pw-button { margin-right:7px!important }
  }



  #subscribe {
    padding-bottom:20px;

    img { max-width:500px;margin:20px }
  }


  #signup {

  }


  #index {

    ul {
      list-style:none;margin:0;padding:0
    }

    #calendar {
      h2 { margin-top:0 }

      float:right;
      width:@sideRailWidth;

      .btn {
        width:@sideRailWidth;
        font-size:16px;
      }

      time { display:block;font-size:11px;margin:6px 0 0px 0 }

      font-size:13px;
    }

    #next, #featured {
      max-width:@mainWidth;
      text-align:center;
      font-size:0;
      line-heigh:0;

      a.workshop {
        color:@darkblue;
        display:inline-block; 
        font-size:0px;
        letter-spacing:-4px;
        margin:12px;
        padding:3px;
        width:190px;
        text-align:center;
        background: -moz-radial-gradient(left, white 0%, @two 100%, white 50%);
        background: radial-webkit-gradient(left top, right top, color-stop(0%, white), color-stop(10%, @two), color-stop(50%, white));
        background: -webkit-radial-gradient(left, white 0%, @two 100%, white 50%);
        background: -o-radial-gradient(left, white 0%, @two 100%, white 50%);
        background: -ms-radial-gradient(left, white 0%, @two 100%, white 50%);
        background: radial-gradient(to right, white 0%, @two 100%, white 50%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
        border-top:solid 1px @lightblue;
        border-radius:3px;
        vertical-align:top;

        time { display:block;height:15px;font-size:12px;letter-spacing:normal;color:@gray }
        img { display:block;margin:auto;border-radius:40px;margin-top:10px }
        h5 { letter-spacing:normal;color:@gray }
        figure { display:block;height:64px;font-size:14px;padding:0;margin:0;letter-spacing:normal }
      }

      a.workshop:hover {
        color:@orange;
        h5 { color: @orange }
        h5, figure { font-weight:bold }
        border-top:solid 1px @orange;
        background: -moz-radial-gradient(left, white 0%, @one 0%, white 100%);
        background: -webkit-radial-gradient(left top, right top, color-stop(0%, white), color-stop(0%, @one), color-stop(100%, white));
        background: -webkit-radial-gradient(left, white 0%, @one 0%, white 100%);
        background: -o-radial-gradient(left, white 0%, @one 0%, white 100%);
        background: -ms-radial-gradient(left, white 0%, @one 0%, white 100%);
        background: radial-radient(to right, white 0%, @one 0%, white 100%);
      }
    }

    #past {
      clear:both;
      text-align:center;
      width:@mainWidth;
      time { display:block;font-size:10px;margin:1px 0 }
      font-size:12px;
      img {
        border-radius:3px;
        margin-bottom:10px;
      }

      a {
        width:45%;
        float:left;
        margin:10px;
      }
    }


    @media only screen and (max-width: 900px) {

      #next, #featured {
        max-width:400px;

        a.workshop {
          margin:4px 8px 4px 0px;
        }
      }
    }

    @media only screen and (max-width:640px) {
      #calendar {
        float:none;width:100%;
        text-align:center;
      }

      #past {
        width:100%;
        a {
          width:30%;
          float:none;
          display:inline-block;
          margin:10px;
        }
      }
    } 
  }

  #show {
    h1 { margin-bottom:20px;font-size:38px; }
    time { display:block;max-width:@mainWidth;margin-botto:5px;color:black;
      font-weight:bold }

    p { max-width:@mainWidth }

    hr { max-width:@mainWidth }

    .speakers {
      float:right;
      clear:right;
      width:@sideRailWidth;
      font-size:12px;
      text-align:justify;

      h2 { margin-top:0;padding-top:0;
        text-align:center;line-height:32px;
      }

      h3 { text-align:center }

      img { width:100%;margin:0px 0 20px 0 }

      ul, li { list-style:none;margin:0;padding:0 }
    }

    .player { 
      max-width:@mainWidth;
      background-color: #1b1b1b;
      padding:10px 5px 
    }

    .player .slide { 
      opacity:0.6
    }

    .action {
      padding:5px;
      background:#dff2ef;
      height:100px;
      max-width:@mainWidth;
      text-align:center;

      a.btn { margin-top:18px }

      label { display:block }
    }

    @media only screen and (max-width:900px) {
      .player { 
        iframe {
          max-width:400px;
        }
      }
    }    

    @media only screen and (max-width:640px) {    
      text-align:center;
      h1 { font-size:28px;line-height:32px;text-align:center; }
      h2 { font-size:22px;line-height:32px;text-align:center;margin-bottom:10px }    

      .share { float:none;margin:auto;height:80px; }
      .speakers { float:none;width:96%;margin:auto }
      .speakers { float:none;width:96%;margin:auto }
      time { margin-top:20px }
      .slide { display:none }
    }
  }

}