<div class="modal-header">
  <h3 class="modal-title">Bookmark AirPair Content</h3>
</div>
<div class="modal-body bookmarks bookmark-input-group">

  <p>Collect your favorite <a href="/posts">posts</a>, <a href="/workshops" target="_self">workshops</a> and experts.</p>

  <ul class="bookmarks" sortable get='bookmarks' set='updateBookmarks'>
    <li ng-repeat="b in bookmarks() | orderBy:'sort'" ng-attr-data-id="{{b._id}}">
      <a href="{{b.url}}" target="_self">{{b.title}}</a>
      <a class="remove" ng-click="deselectBookmark(b)">x</a>
      <a class="order"></a>
    </li>
 </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Done</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
