<label class="control-label">Amount</label>
<div class="creditChoice" style="padding:5px 0 20px 0">
  <label class="control-label" for=""></label>

  <input name="creditAmount" ng-model="creditAmount" type="radio" value="500">
  <span>$500</span>
  <em ng-if="creditAmount == 500"></em>

  <input name="creditAmount" ng-model="creditAmount" type="radio" value="3000">
  <span>$3000</span>
  <em ng-if="creditAmount == 3000">Bonus $300 Credit (10% on $3000)</em>

  <input name="creditAmount" ng-model="creditAmount" type="radio" value="5000">
  <span>$5000</span>
  <em ng-if="creditAmount == 5000">Bonus $1000 Credit (20% on $5000)</em>
  <br /><br />
</div>
<hr />
