<div class="modal-header">
	<h3 class="modal-title">Account info <span>></span> {{ session.name }}</h3>
	<a href="#" class="close" ng-click="cancel()">x</a>
</div>
<div class="modal-body profile">

<section>
	<section class="login" ng-if="session.authenticated == false">
	 <p>Aren't you a little short for a storm trooper? <span ng-if="!session.email">Enter your email address to fix your avatar.</span></p>
	 <br />
	</section>

	<section class="avatar tile">
		<img class="avatar" ng-src="{{session.avatar}}?s=230" title="Avatars are gravtars from your email." />
		<p style="font-size:12px">
			<span ng-if="session.email">Update the <b><a href="http://www.gravatar.com/" target="_blank">gravatar</a></b> for {{ session.email }}</span>
			<span ng-if="!session.email">Enter an email address</span>
		 	<br /> to change your profile pic.</p>
		<hr />
		<label>Account Credit</label> <b style="font-size:26px;color:black">$10</b> <br />available when you sign up</a>


	</section>

	<section class="info">
		<section class="google" ng-if="session.authenticated == false">
			Hate forms and passwords? <br /><br /><a href=""><b>Sign in with your google account instead</b></a>.
		</section>

		<form novalidate name="profileForm"
			ng-submit="ProfileCtrl.submit(profileForm.$valid, session)">

		<div form-group>
			<input id="signUpEmail" form-control type="email" placeholder="Primary contact email" ng-model="session.email" name="email" required>
      <div class="error" ng-if="formGroup.showError(profileForm.email)" ng-messages="profileForm.email.$error">
        <div ng-message="required">Field required</div>
        <div ng-message="email">Invalid email</div>
      </div>
		</div>
		<div form-group>
			<label class="control-label" for="session_name">Name</label>
			<input id="session_name" form-control name="name" type="text" placeholder="Full name" ng-model="session.name" ng-focus="clearDefaultName()">
      <div class="error" ng-if="formGroup.showError(profileForm.name)" ng-messages="profileForm.name.$error">
        <div ng-message="required">Full name required</div>
      </div>
		</div>

		<div ng-if="session.authenticated == false" form-group>
			<label class="control-label" for="password">Password</label>
			<input id="password" form-control type="password" name="password" placeholder="Password" ng-model="session.password">
			<div class="error" ng-if="profileForm.showError(loginForm.password)" ng-messages="profileForm.password.$error">
        <div ng-message="required">Password required</div>
      </div>
		</div>



	</section>

</section>


</div>
<div class="modal-footer profile">
	<button class="btn btn-primary" ng-click="ok()" ng-if="session.authenticated == false">Create account</button>
	<button class="btn" ng-click="ok()" ng-if="session.authenticated != false">Close</button>
</div>
