<header>
  <img ng-click="sideNav.toggle()" src="/v1/img/css/sidenav/toggle.png" />
</header>

<section ng-if="session.authenticated == false" style="text-transform:none">
	<label>Welcome to AirPair
	<br /><i style="font-family:courier;font-size:10px">Visitor {{ session.sessionID.substring(0,10) }}</span></i> !</label>
	<figure><img class="avatar" src="/v1/img/css/sideNav/default-cat.jpg" /></figure>
  <ul id="main">
    <li style="color:gray">
    	Been here before?
    </li>
    <li>
    	<a href="/v1/auth/login" target="_self">Login, to get your identity back</a>
    </li>
<!--     <li style="color:gray">
    	New to the tribe?
    </li>
    <li>
    	<a href="alert('feature coming next week')">Customize AirPair to show relevant content</a></label>
    </li> -->
    <li style="color:gray">
    	Prefer looking like a cat?
    </li>
    <li>
    	<a ng-click="sideNav.toggle()" href="#">Hide menu</a></label>
    </li>
  </ul>


</section>

<section ng-if="session.avatar">
	<figure><img class="avatar" ng-src="{{ session.avatar }}?s=120" /></figure>
</section>

<section ng-if="session._id"> <label>{{ session.name.split(' ')[0] }}</label>
  <ul id="main">
    <!-- <li><a href="#">dashboard</a></li> -->
    <li><a href="/billing">billing</a></li>
    <!-- <li><a href="#">airpairs</a></li> -->
    <!-- <li><a href="#">settings</a></li> -->
    <li><a href="/v1/auth/logout" target="_self">logout</a></li>
  </ul>
</section>

<!-- <section> <label>Stack</label>
	<ul id="tags">
	  <li><a href="#">nodejs</a></li>
	  <li><a href="#">angularjs</a></li>
	  <li><a href="#">mongodb</a></li>
	  <li><a href="#">passport</a></li>
	  <li><a href="#">svg</a></li>
	</ul>
</section> -->

<!-- <section> <label>Bookmarks</label>
	<ul id="bookmarks">
	  <li><a href="#">Starting a Mean Stack App</a></li>
	  <li><a href="#">AngularJS vs Backbone.js vs Ember.js</a></li>
	  <li><a href="#">Zero to Product Market Fit</a></li>
	</ul>
</section>
 -->
