<header>
  <img ng-click="sideNav.toggle()" src="/v1/img/css/sidenav/toggle.png" />
</header>

<section class="welcome" ng-if="session.authenticated == false" style="text-transform:none">
	<label>Welcome
		<span><a href="#" ng-click="profile()">Visitor {{ session.sessionID.substring(0,10) }}</a></span>
		<i>That's a nice hair tie ...</i>
	</label>
	<figure><a href="#" ng-click="profile()"><img class="avatar" src="/v1/img/css/sideNav/default-cat.jpg" /></a></figure>
  <ul class="main">
    <li>Want your face back?</li>
    <li><a href="/v1/auth/login" target="_self">> Login</a></li>
    <li>Prefer being a cat?</li>
    <li><a ng-click="toggle()" href="#">> Hide menu</a></li>
		<li>Not sure?</li>
    <li><a href="/v1/auth/login" target="_self">> See about AirPair</a></li>
  </ul>
</section>


<section ng-if="session.avatar">
	<figure><img class="avatar" ng-src="{{ session.avatar }}?s=120" /></figure>
</section>

<section ng-if="session._id"> <label>{{ session.name.split(' ')[0] }}</label>
  <ul id="main">
    <!-- <li><a href="#">dashboard</a></li> -->
    <li><a href="/billing">billing</a></li>
    <!-- <li><a href="#">airpairs</a></li> -->
    <!-- <li><a href="#">settings</a></li> -->
    <li><a href="/v1/auth/logout" target="_self">logout</a></li>
  </ul>
</section>


<section class="stack"> <label>Stack</label>
	<ul>
		<li ng-repeat="tag in session.tags"><a href="/posts/tag/{{tag.slug}}">{{tag.name}}</a></li>
		<li><a href="#" ng-click="openStack()">Customize</a></li>
	</ul>
</section>

<section class="bookmarks"> <label>Bookmarks</label>
	<ul class="bookmarks">
		<li ng-repeat="b in session.bookmarks"><a href="{{b.url}}" target="_self">{{b.title}}</a></li>
		<li><a href="#" ng-click="openBookmarks()">Manage</a></li>
	</ul>
</section>

<div stack></div>
