<header>
  <ol class="entry-meta breadcrumb">
    <li>Expert Profile</li>
  </ol>
</header>

<section id="beanexpert" ng-if="session && expert && !v0expert">

<!--  && expert -->

  <section class="connect">

    <h3 class="underline">1. Connected social accounts</h3>

    <p ng-if="socialCount < 2">Connect at least 2 social profiles. Social data helps us match you with pairs.
    </p>

    <div social-connect return-to="'/be-an-expert'" class="connect-icons"></div>

  </section>

  <section class="info" ng-if="socialCount > 1">

    <h3 class="underline">2. Personal info</h3>

    <user-info></user-info>
  </section>

  <section class="profile" ng-if="socialCount > 1 && session.location">
    <h3 class="underline">3. Profile info</h3>

    <div class="form-group">
      <label class="control-label">Rate on your profile<span> (includes AirPair cut)</span></label>
      <select class="form-control" ng-model="data.rate" tabindex="301">
        <option value="20">$20/hr</option>
        <option value="40">$40/hr</option>
        <option value="60">$60/hr</option>
        <option value="80">$80/hr</option>
        <option value="110">$110/hr</option>
        <option value="150">$150/hr</option>
        <option value="190">$190/hr</option>
        <option value="230">$230/hr</option>
        <option value="270">$270/hr</option>
        <option value="300">$300/hr</option>
        <option value="350">$350/hr</option>
        <option value="400">$400/hr</option>
        <option value="450">$450/hr</option>
        <option value="500">$500/hr</option>
      </select>
    </div>

    <form id="bioForm" novalidate name="bioForm">

      <div form-group>
        <label for="profileBio" class="control-label">Bio <span style="font-weight:normal">* 100-255 characters</span></label>
        <textarea id="profileBio" name="bio" type="text" form-control placeholder="Enter a 2-3 sentence bio" ng-model="data.bio"
          ng-blur="updateBio(bioForm.$valid, data.bio)" required ng-minlength="100" ng-maxlength="255" tabindex="302"
        ></textarea>
        <div class="error" ng-if="formGroup.showError(bioForm.bio)" ng-messages="bioForm.bio.$error">
          <div ng-message="required">Required</div>
          <div ng-message="minlength">Minimum 100 characters</div>
          <div ng-message="maxlength">Maximum 255 characters</div>
        </div>
        <div style="width:100px;float:right;margin:0 0 10px 0">
          <span ng-if="bioForm.bio.$viewValue.length < 100 || bioForm.bio.$viewValue.length > 255" style="color:red">{{ bioForm.bio.$viewValue.length}} Characters</span>
          <span ng-if="data.bio.length > 100 && data.bio.length < 255" style="color:green">{{ data.bio.length}} Characters</span>
        </div>
      </div>
      <alert ng-repeat="alert in profileAlerts" type="{{alert.type}}"><span ng-bind-html="alert.msg | html"></span></alert>
    </form>
<!--
    <div class="form-group">
      <label class="control-label">Why do you want to AirPair?</label>
      <textarea id="profileBrief" textarea-grow name="brief" type="text" class="form-control" placeholder="Enter a 2-3 sentences on why you want to AirPair" ng-model="data.brief" tabindex="303"
      ></textarea>
    </div> -->

  </section>

  <section class="tags" ng-if="socialCount > 1 && session.location">
    <h3 class="underline">4. Technologies you want to help with</h3>
    <p>These can be different to "your stack" used to customize your experience on AirPair.com.</p>
    <tag-input></tag-input>
    <hr style="clear:both;border-color:white" />
  </section>


  <section class="submit" ng-if="socialCount > 1 && session.location">
    <hr style="clear:both" />
    <a ng-click="save()" class="btn" ng-disabled="formRequires()" tabindex="401">Submit expert application</a>
    <p ng-if="requires">* {{requires}}</p>
  </section>

</section>
