<header>
  <ol class="entry-meta breadcrumb">
    <li>Account</li>
    <li>Payouts</li>
  </ol>
</header>

<section id="payouts">

<section class="setup">

  <section ng-if="payoutmethods.length == 0" class="payoutmethods" ng-if="payoutmethods">

    <div>
      <h3>Verify your payment method</h3>

      <p>Please login with one of the supported
        payment providers so we can verify your ability to accept payments.
        We <b>will not</b> store your login/token.
      </p>

      <div ng-if="!has.paypal">
        <paypal-login></paypal-login>
      </div>
    </div>

  </section>


  <section class="chat" ng-if="payoutmethods.length > 0">
    <div ng-if="!connectedSlack">
      <h3 class="underline">Chat oauth</h3>
      <p>AirPair is leveraging Slack instant messaging more and more for things like showing your (online/unavailable)
      status for pairing. We will also post specific message on your behalf for example when automatically creating and
      sharing hangout links.</p>
      <p>The releasing payments is now up to your pair (once they are happy with your service).
      Connect you slack account so
        <b>pairbot</b> can message you reminders when payments are ready to collect :$.
      </p>
      <a href="/auth/slack/callback?returnTo=/payouts" target="_self" class="btn">Connect slack</a>
      <span ng-if="session.social.sl" style="color:green;padding-left:10px">Slack user <b>{{session.social.sl.username}}</b> connected.</span>
    </div>
  </section>

</section>


<section class="summary">

  <h4>Total earned <b>${{summary.total|number}}</b></h4>
  <table class="table">
    <tr>
      <th></th>
      <th>Total</th>
      <th>#</th>
    </tr>
    <tr>
      <td class="pending">Pending</td>
      <td>${{summary.pending.total|number}}</td>
      <td>{{summary.pending.count}}</td>
    </tr>
    <tr>
      <td>Owed</td>
      <td>${{summary.owed.total|number}}</td>
      <td>{{summary.owed.count}}</td>
    </tr>
    <tr>
      <td class="paidout">Paid</td>
      <td>${{summary.paid.total|number}}</td>
      <td>{{summary.paid.count}}</td>
    </tr>
  </table>


  <div class="payoutmethods" ng-if="payoutmethods.length > 0 && connectedSlack">
    <h4 class="underline">Payment methods</h4>

    <table class="table">
      <tr ng-repeat='pm in payoutmethods'>
        <td style="width:32px">
          <img ng-src="{{'/static/img/icons/'+ pm.type.replace('payout_','') + '.png'}}"/>
        </td>
        <td>
          {{ pm.type }}
          <email>
            {{ pm.info.email }}
            <a ng-click="deletePaymethod(pm._id)" class="delete">delete</a>
          </email>
        </td>
      </tr>
    </table>

  </div>


</section>


  <hr />

  <section class="payoutOrders" ng-if="payoutOrders && payoutmethods.length > 0 && connectedSlack">
    <h3>Payments</h3>

    <p ng-if="payoutOrders.length == 0">No payments to report. Better start AirPairing!</p>
    <div ng-if="payoutOrders.length > 0">

      <table class="table table-striped">
        <tr>
          <th></th>
          <th>Status</th>
          <th>Earned</th>
          <th>For</th>
          <th>Minutes</th>
          <th>With</th>
        </tr>
        <tr ng-repeat="o in payoutOrders">
          <td>
            <span ng-if="o.lines[0].info.released && !o.lines[0].info.paidout">
              <input id="{{o._id}}" type="checkbox" ng-model="checkedOrders[o._id]" ng-change="watchOrdersToPayout()" />
            </span>
          </td>
          <td>
            <span ng-if="o.lines[0].info.released && !o.lines[0].info.paidout">
              <label for="{{o._id}}">Collect</label>
            </span>
            <span class="paidout" ng-if="o.lines[0].info.paidout">paidout</span>
            <span class="pending" ng-if="!o.lines[0].info.released">pending</span>
          </td>
          <td>${{o.lines[0].owed}}</td>
          <td>
            <a ng-if="o.lines[0].bookingId" href="/bookings/{{o.lines[0].bookingId._id}}" target="_blank">{{o.lines[0].bookingId.datetime | locaTime : 'YYYY.MM ddd DD, HH:00' }}</a>
            <ul ng-if="o.lines[0].info.bookingIds">
              <li ng-repeat="b in o.lines[0].info.bookingIds">
                <a href="/bookings/{{b}}" target="_blank">
                  {{b | objectIdToDate : 'YYYY.MM ddd DD, HH:00' }}</a>
              </li>
            </ul>
          </td>
          <td>{{o.lines[0].info.minutes}}
            {{o.lines[0].info.type}}
          </td>
          <td>{{o.by.name}}
          </td>
        </tr>
      </table>

      <single-submit ng-if="checkedOrders.total > 0" button-text="'Collect $' + checkedOrders.total" wait-text="Processing ..." on-single-click="collectPaymentDeferred">
      </single-submit>
    </div>

  </section>

</section>
