
<section id="redirects">

  <h3>Redirects </h3>

  <div style="float:right">note a restart is necessary for the redirects to take effect</div>

  <input type="text" ng-model='previous' placeholder="From" />
  <input type="text" ng-model='current' placeholder="To" />
  <button id="btnCreateRedirect" ng-click="createRedirect()" class="btn">Create</button>

  <hr />

  <div class="redirects">
    <ul>
      <li ng-repeat="r in redirects">
        <time>{{ r._id | objectIdToDate : 'MM.DD' }}</time>
        <label><a href="{{ r.previous }}" target="_blank">{{ r.previous }}</a></label>
        <span><a href="#" ng-click="deleteRedirect(r._id)">x</a>===> {{ r.current }}</span>
      </li>
    </ul>
  </div>
      
</section>