#sidebar
  #channels
    label
      | Active Channels&nbsp;
      button(ng-click="create()")
        i.fa.fa-plus
    table.table
      tbody
        tr.channel(ng-repeat='channel in channels | reverse', ng-if='channel.active' ng-class="{active: isLoaded(channel)}")
          td.name
            a(ng-click='load(channel)', href='#{{channel.$id}}') {{ channel.title }}
            members
              member(ng-repeat="person in channel.members" title="{{person.email}}")
                img(ng-src="{{person.picture}}")
          td.notifications
            span.unread(ng-show='_.keys(notifications[channel.$id]).length > 0') {{ _.keys(notifications[channel.$id]).length }}
          td.actions
            button(ng-click='deactivate(channel)' title="Mark as inactive and hide")
              i.fa.fa-times
  #people
    tabset
      tab(heading="Active People")
        table.table
          tbody
            tr.user(ng-repeat='u in activeUsers', ng-class='{active: u.active, away: checkAway(user)}')
              td.picture
                .presence(title='Last active {{moment(u.last_seen).format("dddd, MMMM Do YYYY, h:mm:ss a")}}')
                img(ng-src='{{u.thirdPartyUserData.picture}}')
              td
                strong {{ u.displayName }}
                br
                | {{ u.thirdPartyUserData.hd }}
              td.actions
                button(ng-click='talkWith(u)', ng-if='u.uid != user.uid', title='Start chatting with {{u.displayName}}')
                  i.fa.fa-comments-o


      tab(heading="Inactive")
        table.table
          tbody
            tr.user(ng-repeat='u in inactiveUsers')
              td.picture
                .presence(title='Last active {{moment(u.last_seen).format("dddd, MMMM Do YYYY, h:mm:ss a")}}')
                img(ng-src='{{u.thirdPartyUserData.picture}}')
              td
                strong {{ u.displayName }}
                br
                | {{ u.thirdPartyUserData.hd }}

  #login(ng-hide='user')
    button(ng-click='chat.login()') Login

#main(ng-mouseenter="chat.spy()")
  #channel-info
    h3 {{ activeChannel.title }}
  #messages(scroll-glue)
    .box
      .msg(ng-repeat='msg in activeMessages')
        .from(title='{{msg.from.name}}')
          img(ng-src='{{msg.from.picture}}')
          br
          | {{ msg.from.first_name }}
        .content
          | {{ msg.content }}
          br
          em.timestamp(ng-if='msg.sent_at', am-time-ago='msg.sent_at')

  #entry(ng-show='activeChannel && chat.currentUser')
    form(ng-submit='addMessage()')
      input#message(ng-model='message', ng-focus='chat.clearNotifications()', placeholder='ask a question')
