doctype html
html(lang="en" ng-app="AirPair")
  head
    title AirPair v1 | Chat Admin Interface

    link(rel="stylesheet" href="/v1/lib/bootstrap/dist/css/bootstrap.css" type="text/css")
    link(rel="stylesheet" href="/v1/lib/components-font-awesome/css/font-awesome.css" type="text/css")
    link(rel="stylesheet" href="/v1/css/chat.css" type="text/css")

    // build:js1 /admin.js
    script(type="text/javascript" src="/v1/lib/lodash/dist/lodash.js")
    script(type="text/javascript" src="/v1/lib/moment/moment.js")
    script(type="text/javascript" src="/v1/lib/jquery/dist/jquery.js")
    script(type="text/javascript" src="/v1/lib/angular/angular.js")
    script(type="text/javascript" src="/v1/lib/firebase/firebase.js")
    script(type="text/javascript" src="/v1/lib/firebase-simple-login/firebase-simple-login.js")
    script(type="text/javascript" src="/v1/lib/angularfire/dist/angularfire.js")
    script(type="text/javascript" src="/v1/lib/angular-bootstrap/ui-bootstrap-tpls.js")
    script(type="text/javascript" src="/v1/lib/angular-cookies/angular-cookies.js")
    script(type="text/javascript" src="/v1/lib/angular-moment/angular-moment.js")
    script(type="text/javascript" src="/app.js")
    script(type="text/javascript" src="/chat/user-chat-service.js")
    script(type="text/javascript" src="/directives/scroll-glue.js")
    script(type="text/javascript" src="/directives/reverse.js")
    // endbuild

    script(type="text/javascript" src="airpair-chat-admin.js")

  body(airpair-chat-admin)
