<section id="pipelineReq" ng-if="request">


  <section class="nav left">
    <a ng-href="/review/{{request._id}}" target="_blank">Review</a>
    <!-- | <a ng-href="/v1/adm/farm/{{request._id}}">Farm</a> -->
    | <a ng-href="/help/request/{{request._id}}" target="_self">Edit</a>
    | <a ng-if="meta.okToDelete" class="delete" ng-click="junk()">JUNK</a>
    | <a ng-if="meta.okToDelete" class="delete" ng-click="delete()">Delete</a>
  </section>


  <section class="user right">
    <img ng-src="{{request.by.avatar}}" />

    <div class="history">
      <a class="btn" ng-href="https://mail.google.com/mail/u/0/?shva=1#search/%22{{request.by.name | urlEncode }}%22+OR+{{ request.by.email | urlEncode  }}" target="_blank">
        <i class="glyphicon glyphicon-envelope"></i> Mail
      </a>
      <a class="btn" ng-href="https://mixpanel.com/report/271245/explore/#list/filter:(conjunction:and,filters:!((filter:(operand:{{request.by.name | urlEncode }},operator:in),property:%27$name%27,selected_property_type:string,type:string))),sort_order:descending,sort_property:%27$created%27,sort_property_type:datetime">
        <i class="glyphicon glyphicon-sort-by-attributes-alt"></i>
        Mixpanel</a>
    </div>

    <b>{{request.by.name}}</b> : {{request.by.email}}


    <div class="has" ng-repeat="pm in paymethods"><b>{{pm.name}}</b></div>
    <div ng-if="!paymethods || paymethods.length == 0" class="nopaymethods"><b>No pay methods</b></div>

    <div>
      <span class="has" ng-if="user.emailVerified">Email Verified</span>
      <span ng-if="!user.emailVerified" class="nopaymethods"><b>Email not verified</b></span>
      (<span class="has" ng-if="user.googleId">G+ {{user.googleId}}</span><span ng-if="!user.googleId">No google login</span>)

    </div>

    <div class="cohort">
      <div><label>Trust</label> Level {{meta.trustedLevel}}</div>
      <div><label>First seen</label> {{user.cohort.engagement.visit_first | agoTime}}</div>
      <div><label>Joined</label> {{user.cohort.engagement.visit_signup | agoTime }}</div>
      <div><label>Started</label> {{request._id | objectIdToDate : 'DD MMM HH:mm:ss' }}</div>
      <div><label>Submitted</label> {{request.adm.submitted | locaTime : 'HH:mm:ss' }}</div>
      <div><label>Closed</label> {{request.adm.closed | locaTime : 'HH:mm:ss' }}</div>
    </div>

  </section>


  <section class="info left" request-admin req="request"></section>

  <section ng-if="request" class="actions left">
    <label>Submitted</label>
      <span ng-if="request && request._id">{{ request._id | objectIdToAgoTime }}</span>
    <br /><label>Status</label>
    <span>
      <select ng-model="request.status"
        ng-change="update()">
        <option>received</option>
        <option>waiting</option>
        <option>review</option>
        <option>scheduled</option>
        <option>completed</option>
        <option>canceled</option>
        <option>junk</option>
      </select>
    </span>
    <br /><label>Last touch</label>
    <span>{{ request.adm.lastTouch | agoTime }}</span>
    <br /><label>Owner</label>
    <span>
      <select ng-model="request.adm.owner"
        ng-change="update()">
        <option>pg</option>
        <option>jk</option>
        <option>ad</option>
        <option>il</option>
      </select>
    </span>
    <br /><label>Quality</label>
    <span ng-if="meta.shortBrief">short breif</span>

    <hr />
    <mail-link ng-if="request.status=='received'" name="'received'" to="request.by.email" req="request" meta="meta" send-callback="receivedCallback">

  </section>


  <section class="views right">
    <table class="table table-condensed">
      <tr>
        <th style="width:80px">Time</th>
        <th style="width:280px">Url</th>
        <th style="width:240px">Ref</th>
        <th>Utm</th>
      </tr>
      <tr ng-repeat="v in views">
        <td>{{v.utc | publishedTime : 'MMM DD HH:mm' }}</td>
        <td><a href="{{v.url}}" target="_blank"><b>{{v.type}}</b>:{{v.url}}</a></td>
        <td>{{ v.referer }}</td>
        <td><div ng-if="v.campaign">{{ v.campaign.name }}, {{ v.campaign.content }}, {{ v.campaign.term }},
          {{ v.campaign.source }}</div>
      </td>
    </tr>
    </table>

  </section>


  <section class="experts left">

    <section class="suggested">
      <div ng-repeat="s in request.suggested" class="expertStatus">
        <img ng-src="{{s.expert.avatar}}?s=60" class="user {{s.expertStatus}}" />
        <div>
          <label>${{s.suggestedRate.private.total}} /
          ${{s.suggestedRate.private.expert}}</label>
          <label><a href="/adm/experts/edit/{{s.expert._id}}" target="_blank">{{s.expert.name}}</a></label>
          <span class="{{s.expertStatus}}">{{s.expertStatus}}</span>

          <a ng-click="removeSuggestion(s.expert._id)" class="delete">x</a>
        </div>
        <p ng-if="s.expertComment">
          <time>{{s.reply.time | agoTime }}</time>
          {{s.expertComment }}
        </p>
        <hr />
      </div>
    </section>
    <section class="matches">

      <section class="matchControls">
        <div class="expertInput" expert-input=""></div>
        <div ng-repeat="t in request.tags">
          <input type="checkbox" value="t._id" disabled="" />
          <label>{{t.slug}}</label>
        </div>
        <div>
          <a ng-click="getMatches()">Show matches</a>
        </div>
      </section>
      <hr />

      <ul>
        <li class="match" ng-repeat="m in matches">
          <img ng-src="{{m.avatar}}?s=30" class="user" />
          {{m.rate}}|{{m.minRate}}
          <a href="/adm/experts/edit/{{m._id}}" target="_blank">{{m.name}}</a>
          <div>
            <em ng-repeat="t in m.tags">{{t.short}}</em>
          </div>
          <div>
            <a ng-if="m.gh" href="//github.com/{{ m.gh.username }}" target="_blank" class="gh-white icon"></a>

            <a ng-if="m.so" href="//stackoverflow.com/users/{{ m.so.link }}" target="_blank" class="so-white icon"></a>

            <a ng-if="m.bb" href="//bitbucket.org/{{ m.bb.id }}" target="_blank" class="bb-white icon"></a>

            <a ng-if="m.in" href="//linkedin.com/x/profile/sy5n2q8o2i49/{{ m.in.id }}" target="_blank" class="in-white icon"></a>

            <a ng-if="m.tw" href="//twitter.com/{{ m.tw.username }}" target="_blank" class="tw-white icon"></a>
          </div>
          [<a ng-click="addSuggestion(m._id)">add</a>]
          &nbsp;
        </li>
      </ul>
    </section>

  </section>

</section>
