<section id="pipelineReq" ng-if="request">


  <section class="nav left">
    <a ng-href="/adm/pipeline">Back</a>
    | <a ng-href="/review/{{request._id}}" target="_blank">Review</a>
    | <a ng-href="/help/request/{{request._id}}" target="_self">Edit</a>
    <span ng-if="meta.okToDelete">
    | <a class="delete" ng-click="junk()">JUNK</a>
    | <a class="delete" ng-click="delete()">Delete</a>
    </span>
  </section>


  <section class="user right">
    <img ng-src="{{request.by.avatar}}" />

    <div class="history">
      <a class="btn" ng-href="https://mail.google.com/mail/u/0/?shva=1#search/%22{{request.by.name | urlEncode }}%22+OR+{{ request.by.email | urlEncode  }}" target="_blank">
        <i class="glyphicon glyphicon-envelope"></i> Mail
      </a>
      <a class="btn" ng-href="https://mixpanel.com/report/271245/explore/#list/filter:(conjunction:and,filters:!((filter:(operand:{{request.by.name | urlEncode }},operator:in),property:%27$name%27,selected_property_type:string,type:string))),sort_order:descending,sort_property:%27$created%27,sort_property_type:datetime">
        <i class="glyphicon glyphicon-sort-by-attributes-alt"></i>
        Mixpanel</a>
    </div>

    <b>{{request.by.name}}</b> : {{request.by.email}}


    <div class="has" ng-repeat="pm in paymethods"><b>{{pm.name}}</b></div>
    <div ng-if="!paymethods || paymethods.length == 0" class="nopaymethods"><b>No pay methods</b></div>

    <div>
      <span class="has" ng-if="user.emailVerified">Email Verified</span>
      <span ng-if="!user.emailVerified" class="nopaymethods"><b>Email not verified</b></span>
      (<span class="has" ng-if="user.googleId">G+ {{user.googleId}}</span><span ng-if="!user.googleId">No google login</span>)

    </div>

    <div class="cohort" ng-if="request._id">
      <div><label>Trust</label> Level {{meta.trustedLevel}}</div>
       <div><label>First seen</label> {{user.cohort.engagement.visit_first | locaTime : 'DD MMM HH:mm:ss' }} <span>{{user.cohort.engagement.visit_first | agoTime}}</span></div>
      <div><label>Joined</label> {{user.cohort.engagement.visit_signup | locaTime : 'DD MMM HH:mm:ss' }} <span>{{user.cohort.engagement.visit_signup | agoTime }}</span></div>
      <div>
        <label>Prevs</label> <i>JK To build</i>
      </div>
    <div><label>Started</label> {{request._id | objectIdToDate : 'DD MMM HH:mm:ss' }} <span>{{request._id | objectIdToAgoTime }}</span></div>
     <div ng-if="meta.timeToSubmit"><label>Submitted</label> {{ request.adm.submitted | locaTime : 'DD MMM HH:mm:ss' }} <span>{{ request.adm.submitted | agoTime }} |  ({{meta.timeToSubmit}} to complete)</span></div>
     <div ng-if="meta.timeToReceived"><label>Replied</label> after {{ meta.timeToReceived }} </div>
     <div ng-if="meta.timeToReviewable"><label>Reviewable</label> after {{ meta.timeToReviewable }}</div>

    </div>

  </section>


  <section class="info left" request-admin req="request"></section>

  <section ng-if="request && request._id" class="actions left">
    <label>Submitted</label>
      <span>{{ request.adm.submitted | locaTime : 'DD MMM HH:mm:ss' }}</span>
      <span ng-if="meta.moreThan2DayOld" style="color:red">more than 2 days old</span>
      <span ng-if="meta.moreThan1DayOld && !meta.moreThan2DayOld" style="color:#a94442">more than 1 days old</span>
      <span ng-if="meta.moreThan2HourOld && !meta.moreThan1DayOld" style="color:#DD8766">more than 2 hours old</span>
      <span ng-if="meta.moreThan1HourOld && !meta.moreThan2HourOld" style="color:#8a6d3b">more than 1 hour old</span>
    <br /><label>Status</label>
    <span>
      <select ng-model="request.status"
        ng-change="update()">
        <option>received</option>
        <option>waiting</option>
        <option>review</option>
        <option>scheduled</option>
        <option>completed</option>
        <option>canceled</option>
        <option>junk</option>
      </select>
    </span>
    <br /><label>Last touch</label>
    <span>{{ request.adm.lastTouch | agoTime }}</span>
    <br /><label>Owner</label>
    <span>
      <select ng-model="request.adm.owner"
        ng-change="update()">
        <option>pg</option>
        <option>jk</option>
        <option>ad</option>
        <option>il</option>
      </select>
    </span>
    <br /><label>Quality</label>
    <span ng-if="meta.shortBrief">short breif</span>
    <div ng-if="request.adm.closed"><label>Closed</label> {{request.adm.closed | locaTime : 'DD MMM HH:mm:ss' }}</div>
    <br /><label>Messaged {{request.messages.length}}</label>
    <span ng-repeat="m in request.messages">{{m.type}}: {{m.subject}}</span>

    <hr />
    <mail-link ng-if="shouldSend.received(request)" name="'received'" to="request.by.email" req="request" meta="meta"></mail-link>

    <mail-link ng-if="shouldSend.review(request)" name="'review'" to="request.by.email" req="request" meta="meta"></mail-link>

    <mail-link ng-if="shouldSend.cancelfromwaiting(request, meta)" name="'cancelfromwaiting'" to="request.by.email" req="request" meta="meta"></mail-link>

    <div ng-if="!request.adm.farmed && request.status=='waiting'">
      <textarea class="form-control" ng-model="farmTweet"></textarea><a ng-click="farm(farmTweet)" class="btn">Tweet</a>
    </div>

  </section>


  <section class="views right">
    <table class="table table-condensed">
      <tr>
        <th style="width:80px">Time</th>
        <th style="width:280px">Url</th>
        <th style="width:240px">Ref</th>
        <th>Utm</th>
      </tr>
      <tr ng-repeat="v in views">
        <td>{{v.utc | publishedTime : 'MMM DD HH:mm' }}</td>
        <td><a href="{{v.url}}" target="_blank"><b>{{v.type}}</b>:{{v.url}}</a></td>
        <td>{{ v.referer }}</td>
        <td><div ng-if="v.campaign">{{ v.campaign.name }}, {{ v.campaign.content }}, {{ v.campaign.term }},
          {{ v.campaign.source }}</div>
      </td>
    </tr>
    </table>

  </section>

  <section class="experts left">

    <section class="suggested">
      <div ng-repeat="s in request.suggested" class="expertStatus">
        <img ng-src="{{s.expert.avatar}}?s=60" class="user {{s.expertStatus}}" />
        <div>
          <label>${{s.suggestedRate.total}} /
          ${{s.suggestedRate.expert}}</label>
          <label><a href="/adm/experts/edit/{{s.expert._id}}" target="_blank">{{s.expert.name}}</a></label>
          <span class="{{s.expertStatus}}">{{s.expertStatus}}</span>

          <a ng-click="removeSuggestion(s.expert._id)" class="delete">x</a>
        </div>
        <p ng-if="s.expertComment">
          <time>{{s.reply.time | agoTime }}</time>
          {{s.expertComment }}
        </p>
        <hr />
      </div>
    </section>

    <section ng-if="!user.emailVerified" class="experts left">
      <p>Cannot suggest experts until user verifies email.</p>
    </section>

    <section ng-if="user.emailVerified" class="matches">

      <section class="matchControls">
        <div class="expertInput" expert-input=""></div>
        <div ng-repeat="t in request.tags">
          <input type="checkbox" value="t._id" disabled="" />
          <label>{{t.slug}}</label>
        </div>
        <div>
          <a ng-click="getMatches()">Show matches</a>
        </div>
      </section>
      <hr />

      <ul>
        <li class="match" ng-repeat="m in matches">
          <img ng-src="{{m.avatar}}?s=30" class="user" />
          {{m.rate}}|{{m.minRate}}
          <a href="/adm/experts/edit/{{m._id}}" target="_blank">{{m.name}}</a>
          <div>
            <em ng-repeat="t in m.tags">{{t.short}}</em>
          </div>
          <social-links profile="m"></social-links>
          [<a ng-click="addSuggestion(m._id)">add</a>]
          &nbsp;
        </li>
      </ul>
    </section>

  </section>

</section>
