<section id="pipeline">

  <div class="menu">
    <ul>
      <li><a href="/adm/pipeline-2015">2015</a></li>
      <li><a href="/adm/pipeline-metrics">Metrics</a></li>
    </ul>

    <span><b>{{attentionCount}}</b> Requests require attention</span>

    <div ng-if="isOrganized">
      <p style="color:green;margin-top:10px"><b>You're doing a GREAT job! Pipeline is looking organized!</b></p>

      <p>Ask jk to add $5 to the whisky fund as soon as:</p>

      <ul>
        <li>
          <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"><b>team@airpair.com</b></a> inbox is cleared
        </li>
        <li>
          All <a href="/adm/bookings" target="_blank"><b>bookings</b></a> are confirmed and spinned
        </li>
        <li>
          All <a href="/matchmaking" target="_blank"><b>waiting</b></a> requests have enough suggestions
        </li>
      </ul>

    </div>

  </div>

  <table class="table">
    <tr request-row ng-repeat="r in requests.nonadmtouch" ng-class="statusCss(r)" r='r'></tr>
  </table>

  <table class="table">
    <tr request-row ng-repeat="r in requests.threehr" ng-class="statusCss(r)" r='r'></tr>
  </table>

  <table class="table table-striped">
    <tr request-row ng-repeat="r in requests.other" ng-class="statusCss(r)" r='r'></tr>
  </table>

</section>

