<td>
  <span class="info">
    <a href="/adm/request/{{r._id}}">
      {{r.status}}
    </a>

    <time>
      <label>{{r.time.toUpperCase()}}</label>
      {{r.submitted | locaTime : 'MMM DD HH:mm' }}
      <i>{{r.submitted | agoTime }}</i>
    </time>
  </span>
  <span class="adm">
    <figure class="{{r.adm.owner}}">{{r.adm.owner}}</figure>
    <time>
      <label>{{r.adm.lastTouch.action }}</label>
      {{r.adm.lastTouch.utc | locaTime : 'MMM DD HH:mm' }}
      <i>{{r.adm.lastTouch.utc | agoTime }}</i>
    </time>
  </span>
  <span class="nonadm">
    <figure>{{r.lastTouch.by.name}}</figure><time>
      <label>{{r.lastTouch.action}}</label>
      {{r.lastTouch.utc | locaTime : 'MMM DD HH:mm' }}
      <span>{{r.lastTouch.utc | agoTime }}</span>
    </time>
  </span>
  <div class="tags">
    <i ng-repeat="t in r.tags">{{t.slug}}</i>
  </div>
  <div class="cust">
    <img ng-src="{{r.by.avatar}}?s=30">
    <a href="/adm/users/{{r.by._id}}" ng-bind-html="r.by.name | addNameBreak" target="_blank"></a>
  </div>
  <div class="sug">
    <ul>
      <li ng-repeat="s in r.suggested">
        <img ng-src="{{s.expert.avatar}}?s=20" />
      </li>
    </ul>

  </div>
</td>
