<section id="reports">


  <div style="float:left;clear:left;width:500px">
    <h3>Orders</h3>
    <div ng-repeat="wk in reports.wkRev.wks">
      {{wk.start | locaTime : 'ddd, MMM Do' }} => {{wk.end | locaTime: 'ddd, MMM Do' }}
      <table>
        <tr>
          <th>Rev</th>
          <th>Orders</th>
          <th>Customers</th>
        </tr>
        <tr>
          <td>{{wk.total}}/{{wk.profit}}</td>
          <td></td>
          <td>{{wk.cust}}</td>
        </tr>
      </table>
      <pre style="height:auto;width:100%;background:white">
        <div ng-repeat="c in wk.customers">{{c.count}} {{c.total}} {{c}}</div>
      </pre>
    </div>
  </div>

</section>
