<section id="book" ng-if="session._id">

  <section id="schedule" ng-if="booking && booking.payMethodId">

    <form id="bookForm" novalidate name="bookForm" ng-submit="submit(bookForm.$valid, data)">

      <h2>Book {{expert.name}}</h2>

      <hr />

      <div class="form-group">
        <label class="control-label" for="when">Your preferred time</label>
        <div datetime-input id="bookingDatetime" datetime="booking.datetime" min-view="minute" date-format="YYYY MMM DD HH:mm Z" style="width:230px"></div>
        <p style="padding:10px">* If this time doesn't work {{expert.name}} will suggest an alternative</p>
      </div>

      <div ng-if="(!availableMinutes || availableMinutes < 30) && booking.datetime">

        <div class="form-group" style="width:190px">
          <label class="control-label" for="when">For</label>
          <select class="form-control" ng-model="booking.minutes" required>
            <option value="">Select length</option>
            <option value="60">60 minutes</option>
            <option value="90">90 minutes</option>
            <option value="120">02 hours</option>
            <option value="180">03 hours</option>
            <option value="240">04 hours</option>
            <option value="300">05 hours</option>
            <option value="360">06 hours</option>
            <option value="420">07 hours</option>
            <option value="480">08 hours</option>
            <option value="540">09 hours</option>
            <option value="600">10 hours</option>
          </select>
        </div>

        <div ng-if="booking.minutes">
          <hr />

          <div class="form-group">
            <label class="control-label" for="paymethod">Pay with</label>
            <select class="form-control" id="payMethodId" name="payMethodId" ng-model="booking.payMethodId" ng-options="p._id as p.name for p in paymethods">
            </select>
          </div>

          <div class="form-group">
            <input id="typePrivate" name="type" ng-model="booking.type" type="radio" value="private" ng-change="calcSummary()">
            <label for="typePrivate"><span>Keep Private</span></label>
            <em ng-if="booking.type == 'private'"></em>
            &nbsp &nbsp &nbsp &nbsp
            <input id="typeOpensource" name="type" ng-model="booking.type" type="radio" value="opensource" ng-change="calcSummary()">
            <span>Open Source</span>
            <em ng-if="booking.type == 'opensource'" style="color:#DD8766">$10 discount /hr</em>

            <p ng-if="booking.type == 'opensource'" style="padding-top:15px;font-size:12px">Open sourced recordings are accessible on expert profiles to help them promote themselves. Do not open source your recording if you have any sensitive information you do not want others to see.</p>
          </div>

        </div>

      </div>

      <div class="form-group" ng-if="availableMinutes > 29 && booking.datetime">
        <label class="control-label" for="minutes">Redeem time ({{availableMinutes}} pre-purchased mins available)</label>
        <select class="form-control" id="redeemedTime" ng-model="booking.minutes" ng-options="p.val as p.name for p in redeemableTime">
        </select>
      </div>

      <section class="satisfaction" ng-if="booking.datetime && booking.minutes">
        <p>Remember, you are covered by AirPair's satisfaction guarantee; if you aren't satisfied with your session, we will either make it right or give you a full refund.</p>
      </section>

    </form>



    <section class="bookSummary">
      <h3>Your Order</h3>
      <img ng-src="{{expert.avatar}}" class="user" />
      <hr />

      <span ng-if="!availableMinutes || availableMinutes < 30">
        <div><label>HOURLY</label> <span>${{hrRate}}</span></div>
        <span ng-if="booking.datetime && booking.minutes">
          <div><label>HOURS</label> <span>{{booking.minutes/60}}</span></div>
          <hr />
          <div><label>TOTAL</label> <span>${{total}}</span></div>
          <hr />
          <div><label>CREDIT</label> <span>${{booking.credit}}</span></div>
          <div><label>You Owe</label> <span class="owe">${{owe}}</span></div>
          <hr />
          <single-submit button-text="'Confirm'" wait-text="Processing ..." on-single-click="submitDeferred">
          </single-submit>

          <p ng-if="remainingCredit == 0">Your card will be charged ${{owe}}</p>
          <p ng-if="remainingCredit > 0">Remaining credit will be ${{remainingCredit}}</p>
        </span>
      </span>

      <span ng-if="availableMinutes >= 30">
        <div><label>AVAILABLE</label> <span>{{availableMinutes}} mins</span></div>
        <span ng-if="booking.datetime && booking.minutes">
          <div><label>Redeem</label> <span class="owe">{{booking.minutes}} mins</span></div>
          <hr />
          <single-submit button-text="'Confirm'" wait-text="Processing ..." on-single-click="submitDeferred">
          </single-submit>

          <p>You will have {{availableMinutes-booking.minutes}} mins left for future airpairing</p>
        </span>
      </span>

    </section>

  </section>

</section>

