
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Item</th>
<!--       <th>Qty</th> -->
      <th>Unit Price</th>
<!--       <th>Total</th> -->
      <th style="text-align:right">Paid</th>
      <th style="text-align:right">Balance</th>
      <th style="width:44px"></th>
    </tr>
    <tr class="header">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
<!--       <td>&nbsp;</td> -->
      <td>&nbsp;</td>
<!--       <td>&nbsp;</td> -->
      <td>&nbsp;</td>
      <td style="text-align:right">${{balance}}</td>
      <td style="width:44px">&nbsp;</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="t in transactions">
      <td>
        <time ng-if="t.type != 'redeemedcredit' && t.type != 'payg'">{{t._id | objectIdToDate : 'MMM DD  HH:mm' }}</time>
        <!-- <a href="{{t.orderId}}">{{t.orderId}}</a> -->
      </td>
      <td>
        <div ng-if="t.info">
          <div style="font-size:11px">{{t.info.name}}</div>
          <div style="font-size:11px" ng-if="t.type == 'airpair'"><a href="/bookings/{{t.bookingId._id}}">{{t.bookingId.datetime | locaTime }}</a></div>
          <div style="font-size:9px">{{t.info.source}}</div><!--  ng-if="t.type == 'credit'" -->
        </div>
        <div ng-if="t.suggestion">
          <div style="font-size:11px">{{t.suggestion.expert.name}}</div>
        </div>
      </td>
      <!-- <td><span ng-if="t.type != 'redeemedcredit && t.type != 'payg''">{{t.qty}}</span></td> -->
      <td style="{{ (t.unitPrice == 0) ? 'color:white': '' }}"> <span ng-if="t.unitPrice > 0 && t.type != 'payg'">{{t.unitPrice}}</span></td>
      <!-- <td style="{{ (t.unitPrice == 0) ? 'color:white': '' }}"> <span ng-if="t.total > 0">{{t.total}}</span></td> -->
      <td style="{{ (t.unitPrice == 0) ? 'text-align:right;color:white': 'text-align:right' }}">
        <span ng-if="t.total > 0">${{t.total}}</span>
      </td>
      <td style="text-align:right">${{t.runningBalance}}</td>
      <td ng-class="{'plus': t.balance > 0, 'minus': t.balance < 0}" style="text-align:right;font-size:10px;width:44px;padding:6px"><span ng-if="t.balance>0">+</span>
      <span ng-if="t.balance != 0">{{t.balance}}</span></td>
    </tr>
  </tbody>
</table>


