<header>
  <ol class="entry-meta breadcrumb">
    <li class="current">Billing</li>
  </ol>
</header>

<section id="billing">

  <div class="welcome" ng-if="!paymethods">

    <h1>Two ways to pay</h1>

    <p>Choose your payment preference to access experts in real-time.</p>

    <div class="choice">
    <div class="{{ (choice == 'alacart') ? 'option selected' : 'option' }}">

      <h2>Pay as you go</h2>
      <p>Pay each time you connect with an expert. We'll store your payment info now without charging your card.</p>

      <button id="billingChoosePayAsYouGo" track-click="choosePayOption" class="btn" ng-if="choice != 'alacart'" ng-click="setChoice('alacart')">Pay a la carte</button>

      <div ng-if="choice == 'alacart'">
        <payment-info></payment-info>
      </div>

    </div>

    <div class="{{ (choice == 'credit') ? 'option selected' : 'option' }}">

      <h2>Top-up</h2>
      <p>Purchase $500 - $5000 credit at a time. Get up to 20% bonus credit.</p>

      <button id="billingChooseTopUp" track-click="choosePayOption" class="btn" ng-if="choice != 'credit'" ng-click="setChoice('credit')">See Top-up Options</button>

      <div ng-if="choice == 'credit'">
        <payment-credit></payment-credit>
        <payment-info></payment-info>
      </div>

    </div>
    </div>

    <hr />


  </div>

  <div class="info" ng-if="paymethods">

    <p class="buy">
      <a href="/find-an-expert" target="_self" class="btn">Get expert help</a>
      or
      <a href="/billing/top-up">Top-up more credit</a>
    </p>

    <h2>Billing info</h2>

    <p>Your <b>{{paymethods[0].name}}</b> is securely stored with <i>{{paymethods[0].type}}</i>.

      <!-- <a ng-click="deletePayMethod(paymethods[0]._id)">delete?</a> -->

    </p>

    <p class="history" ng-if="!orders || orders.length == 0">
    No transaction history yet. <a href="/experts">Book an expert</a> to get started.
    </p>

  </div>

  <div class="history" ng-if="orders && orders.length > 0">

    <h2>History</h2>

    <div transaction-list></div>

  </div>


</section>
