header(ng-controller="RequestsHeaderController")
  a(href="/" tile="airpair.com")
  ul
    li
      a(href="/posts") Posts
    li
      a(href="/workshops") Workshops
    li
      a(ng-hide="chat.currentUser" ng-click="chat.login()") Sign in
      a(ng-show="chat.currentUser" ng-click="chat.logout()") Logout

