header(ng-controller="RequestsHeaderController")
  a(href="/" tile="airpair.com")
  ul
    li
      a(href="/posts") Posts
    li
      a(href="/workshops") Workshops
    li(ng-hide="chat.currentUser")
      a(ng-click="chat.login()") Sign in
    li.dropdown(ng-if="chat.currentUser")
      a(href class="dropdown-toggle")
        img.avatar(ng-src="{{chat.currentUser.thirdPartyUserData.picture}}")
      ul.dropdown-menu.dropdown-menu-right(role="menu")
        li.dropdown-header(role="presentation") {{ chat.currentUser.displayName }}
        li
          a(ng-click="chat.logout()") Logout

