<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
  {{> htmlHead }}
</head>
<body class="landing">
  {{{body}}}

  <script type="text/javascript">
    function bindTracking() {
      ga('send', 'pageview')
    }
  </script>

  {{> initPage }}

</body>
</html>
