<header>
  <ol class="entry-meta breadcrumb">
    <li>Account</li>
  </ol>
</header>

<section id="account" ng-if="session">

  <h3 class="underline">Contact info</h3>


 <section class="info">
      <user-info></user-info>
  </section>

  <section class="avatar" style="padding:0px 20px 0px 30px">
    <img class="avatar" ng-src="{{session.avatar}}?s=160" title="Avatars are gravtars from your email." style="max-width:80%" />
    <p style="font-size:12px">
    <span ng-if="session.email">Update the <b><a href="http://www.gravatar.com/" target="_blank">gravatar</a></b> for {{ session.email }}</span>
    <span ng-if="!session.email">Enter an email address</span>
      to change your pic.
    </p>
  </section>




  <!-- <section class="connect">

    <h3 class="underline">Connected social accounts</h3>
    <div social-connect return-to="'/me'" class="connect-icons"></div>

  </section>
 -->

<!--   <section class="chat">
  <h3 class="underline">Chat</h3>

    <a href="/auth/slack?returnTo=/me" target="_self" class="btn">Connect slack</a>
    <span ng-if="session.auth.sl" style="color:green;padding-left:10px">Slack user <b>{{session.auth.sl.username}}</b> connected.</span>


  </section>
 -->

  <section class="logoutClick">
    <h3 class="underline">Logout</h3>
    <a href="/logout" target="_self" class="btn btn-sm btn-inverse"><div class="logout"></div><span>logout</span></a>
  </section>




</section>
