<header>
  <ol class="entry-meta breadcrumb">
    <li>Account</li>
    <li class="current">2015 Expert Applications</li>
  </ol>
</header>

<section id="expert-application" ng-if="session.unauthenticated">

<h2>2015 Expert Applications</h2>

<p>Thanks to you wonderful 3000+ experts that applied to help folks over AirPair in 2014 and welcome if you are new to AirPair!</p>

<p>Applications to become an expert in 2015 are opening in the 2nd week of February. At that time, we'll also be re-releasing many expert features of AirPair.com re-imagined for a more awesome experience than ever before.</p>


<h2>Login to get in early!</h2>

<p>If it's anything like last year, we'll have hundreds or thousands of new experts applying in 2015. To make sure your application is reviewed and expert profile approved early, now is a good time to register your interest and join the mail list, so you are the first to be invited to be part of our 2015 line up.</p>


<br /><br />
<a id="loginGoogleAuth" track-click="auth" class="btn btn-error" ng-href="/v1/auth/google?returnTo=/expert-applications" target="_self" style="width:100%">Login with google now</a>

</section>

<section id="expert-application" ng-if="session._id">


<h2>2015 Expert Applications</h2>

<p>Thanks to you wonderful 3000 experts that applied to help folks over AirPair in 2014 and welcome if you are new to AirPair!</p>

<p>Applications to become an expert in 2015 are opening in the 2nd week of February. At that time, we'll also be re-releasing many of the expert parts of AirPair.com re-imagined for a more awesome experience than ever before.</p>


<h2>Join the AirPair Expert Maillist</h2>

<p>We listened to your feedback, and to make things even more relevant, we will no longer be sending mass emails to both customers and experts. Hence the creation of our experts-only mail list. We have many updates to share through February and March about site features that will help you be more successful on the AirPair platform and ultimately work with more customers.</p>

<p>To join, simply provide a short bio and verify your email address. We will email you early in Feb inviting you back to create your full profile.</p>

<div class="form">

<section class="bio">
    <h4>Submit your bio</h4>

    <form id="bioForm" novalidate name="bioForm">

      <div form-group>
        <label for="profileBio">Bio <span style="font-weight:normal">* 255 characters, used at the top of posts you publish (example <a href="https://www.airpair.com/angularjs/posts/component-based-angularjs-directives" target="_blank">here</a>) and your expert profile (coming soon)</span></label>
        <textarea id="profileBio" name="bio" type="text" form-control placeholder="Enter a 2-3 sentence bio" ng-model="data.bio" tabindex="1"
          ng-blur="updateBio(bioForm.$valid, data.bio)" required ng-minlength="120" ng-maxlength="255"
        ></textarea>
        <div class="error" ng-if="formGroup.showError(bioForm.bio)" ng-messages="bioForm.bio.$error">
          <div ng-message="required">Required</div>
          <div ng-message="minlength">Minimum 120 characters</div>
          <div ng-message="maxlength">Maximum 255 characters</div>
        </div>
        <div style="width:100px;float:right;margin:0 0 10px 0">
          <span ng-if="bioForm.bio.$viewValue.length < 120 || bioForm.bio.$viewValue.length > 255" style="color:red">{{ bioForm.bio.$viewValue.length}} Characters</span>
          <span ng-if="data.bio.length > 120 && data.bio.length < 255" style="color:green">{{ data.bio.length}} Characters</span>
        </div>
      </div>
      <alert ng-repeat="alert in profileAlerts" type="{{alert.type}}"><span ng-bind-html="alert.msg | html"></span></alert>
    </form>

  </section>


  <section class="email">

    <h4>Confirm your contact email</h4>

    <form id="emailForm" novalidate name="emailForm" ng-submit="submit(emailForm.$valid, data)" ng-class="(session.emailVerified) ? '' : 'verify'">

      <div form-group class="email-group verified-{{session.emailVerified}}">
        <label class="control-label" for="sessionEmail">Email</label>
        <span class="verifyEmail" ng-if="session.emailVerified == false">{{session.email}} is unverified ...</span>
        <span class="verifyEmail" ng-if="session.emailVerified" style="color:green">{{session.email}} is verified.</span>
        <input id="sessionEmail" name="email" form-control type="email" placeholder="Primary contact email" ng-model="data.email" ng-blur="updateEmail(emailForm.email)" required tabindex="1">
        <div class="error" ng-if="formGroup.showError(emailForm.email)" ng-messages="emailForm.email.$error">
          <div ng-message="required">Field required</div>
          <div ng-message="email">Invalid email</div>
        </div>
        <span class="error">{{ emailChangeFailed }}</span>

        <div>
          <alert ng-repeat="alert in emailAlerts" type="{{alert.type}}">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <span ng-bind-html="alert.msg | html"></span></alert>
        </div>
      </div>
      <div class="verifyEmail" ng-if="session.emailVerified == false">
        <a href="#" ng-click="sendVerificationEmail()" class="btn" style="width:100%;margin-top:20px">Send verification email</a>
      </div>
      <hr />
    </form>

  </section>

</section>

</div>

<br /><br />
<p>** If you want to be pushed to the top of the queue, please post issues you notice with the site on our <a href="https://github.com/airpair/airpair-com-v1-issue-tracker/issues" target="_blank">issue tracking github repo</a></p>
