<header>
  <ol class="entry-meta breadcrumb">
    <li>Account</li>
    <li>Password</li>
  </ol>
</header>
<section id="password">

  <alert ng-repeat="alert in alerts" type="{{alert.type}}">
    <span ng-bind-html="alert.msg | html"></span>
  </alert>

  <div ng-if="!done" class="choice">
    <div class="reset option">

      <h2>Set password</h2>

      <form ng-if="data.hash && alerts.length == 0" id="passwordForm" novalidate name="passwordForm">

        <div form-group>
          <label class="control-label" for="signupPassword" style="display:none">Password</label>
          <input id="signupPassword" name="password" form-control type="password" placeholder="Password" ng-model="data.password" required ng-minlength="5" ng-maxlength="40" tabindex="1">
          <div class="error" ng-if="formGroup.showError(passwordForm.password)" ng-messages="passwordForm.password.$error">
            <div ng-message="required">Password required</div>
            <div ng-message="minlength">Password min length 5 chars</div>
            <div ng-message="maxlength">Password max length 40 chars</div>
          </div>
        </div>

        <button class="btn btn-primary" ng-click="savePassword()" tabindex="2">Save password</button>

      </form>


    </div>
  </div>

</section>
