<header>
  <ol class="entry-meta breadcrumb">
    <li>Account</li>
    <li>Password</li>
  </ol>
</header>
<section id="password">

  <alert ng-repeat="alert in alerts" type="{{alert.type}}">
    <span ng-bind-html="alert.msg | html"></span>
  </alert>

  <div ng-if="!done" class="choice">
    <div class="reset option">

      <h2>Set your password</h2>

      <form ng-if="data.hash && alerts.length == 0" id="passwordForm" novalidate name="passwordForm">

        <div form-group>
          <label class="control-label" for="signupPassword" style="display:none">Password</label>
          <input id="signupPassword" name="password" form-control type="password" placeholder="Password" ng-model="data.password" required ng-minlength="5" ng-maxlength="40" tabindex="1">
          <div class="error" ng-if="formGroup.showError(passwordForm.password)" ng-messages="passwordForm.password.$error">
            <div ng-message="required">Password required</div>
            <div ng-message="minlength">Password min length 5 chars</div>
            <div ng-message="maxlength">Password max length 40 chars</div>
          </div>
        </div>

        <button class="btn btn-primary" ng-click="savePassword()" tabindex="2">Save password</button>

      </form>


    </div>
  </div>

  <div ng-if="done && session._id" class="choice passworddone">
    <div class="option">
      <h2>Find an expert</h2>
      <p>Pair up with one of the best developers on the web.</p>
      <a id="passwordSetFindPair" track-click="request" class="btn" href="/help/request">Find a pair</a>
    </div>
    <div class="option">
      <h2>Customize AirPair</h2>
      <p>Enter your stack to personalize the content AirPair shows.</p>
      <a id="passwordSetCustomize" track-click="stack" class="btn" ng-click="openStack()">Customize AirPair</a>
    </div>
    <div class="option">
      <h2>Complete Profile</h2>
      <p>Claim your username and make sure your avatar is set.</p>
      <a class="btn" href="/me">Go to profile</a>
    </div>
    <div class="option">
      <h2>Write a post</h2>
      <p>Author a technical piece collaboratively on AirPair.</p>
      <a class="btn" href="/posts/new">Start a post</a>
    </div>
  </div>

</section>
