<header ng-if="booking">
  <ol class="entry-meta breadcrumb">
    <li><a href="/bookings" target="_self">Bookings</a></li>
    <li><a href="/billing/book/{{booking.expertId}}">{{experts[0].info.name}}</a></li>
    <li class="current">{{booking.datetime | locaTime }}</li>
  </ol>
</header>


<section id="booking" ng-if="booking && booking.participants">


<section class="header row">

  <div class="expert">
    <div class="participant" ng-repeat="p in experts">
      <b>{{p.info.name}} </b>
      <location>{{p.location}} </location>
      <img ng-src="{{p.info.avatar}}?s=100" class="user">
    </div>
  </div>

  <div class="customer">
    <div class="participant" ng-repeat="p in customers">
      <img ng-src="{{p.info.avatar}}?s=100" class="user">
      <b>{{p.info.name}} </b>
      <location>{{p.location}}</location>
    </div>
  </div>

  <div class="pairup"></div>

  <hr />

</section>


<div class="side">

  <a ng-if="isCustomerPrimary" href="/billing/book/{{booking.expertId}}" class="btn btn-inverse">Book next AirPair</a>
  <a ng-if="isExpert" href="javascript:alert('coming this week :{}, jk')" class="btn btn-inverse">See Expert Guide</a>

  <section class="status">
    <!-- <h4>Status <span>{{booking.status.toUpperCase()}}</span></h4> -->

    <div ng-if="booking.status == 'pending'" class="pending">
      <span><b>We need to lock in a time.</b></span>
      <p>Suggest alternate times or confirm one proposed by {{customers[0].info.name}}.</p>
    </div>

    <div ng-if="booking.status == 'confirmed'">
      <span><b>We've locked in your time:</b>{{multitime}}</span>
      <p>Return to this page 10 minutes before for your hangout link.</p>
    </div>

    <div ng-if="booking.status == 'followup'">
      <span><b>We're waiting to hear how it went:</b>
      <p>The customer must leave feedback and release payment for the expert.</p>
    </div>

    <div ng-if="booking.status == 'complete'"></div>

    <div ng-if="booking.status == 'canceled'"></div>
  </section>

  <section class="datetime {{booking.status}}">
    <h4><span>{{booking.status.toUpperCase()}}</span></h4>
    <date>{{booking.datetime | locaTime : 'MMM DD' }}</date>
    <time>{{booking.datetime | locaTime : 'h:mma Z' }}</time>
    <div>{{booking.minutes}} minutes ({{booking.type | uppercase}}) </div>
    <!--<div>{{ booking.datetime | date:'medium'}}</div> -->
    <!-- <div>{{booking.status}}</div> -->
  </section>

  <section class="payout" ng-if="order && (session._id == booking.customerId
   || session.cohort.expert._id == booking.expertId)">
    <h4>Escrow</h4>

    <div ng-if="session._id == booking.customerId">
      <p ng-if="order.released">
        Payment sent to {{experts[0].info.name}}.
      </p>
      <p ng-if="!order.paidout && !order.released">
        <a ng-click="releasePayout()" class="btn">Release payment</a> for {{experts[0].info.name}} once happy.
      </p>
    </div>

    <div ng-if="session.cohort.expert._id == booking.expertId">
      <p ng-if="!order.released">
        After you've delivered service, ask {{customers[0].info.name}}
        to release your payment.
      </p>
      <p ng-if="order.released && !order.paidout">
        Money ready to collect from your
        <a href="/payouts">payouts page</a>.
      </p>
      <p ng-if="order.paidout">
        You've collect payment for this booking.
        Details on your <a href="/payouts">payouts page.</a>
      </p>
    </div>
  </section>


</div>


<div class="main">

  <section class="schedule-time" ng-if="booking.status == 'pending'">
    <h3>Confirm a time</h3>
    <section>
      <table class="table table-striped">
        <tr>
          <th style="width:180px"></th>
          <th>Suggestion</th>
          <th>By</th>
        </tr>
        <tr class="suggestion" ng-repeat="t in suggestedTimes">
          <td ng-if="t.by.info._id != session._id">
            <a ng-click="confirmTime(t._id)" class="btn">Confirm {{t.localTime}}</a>
          </td>
          <td ng-if="t.by.info._id == session._id"></td>
          <td><time>{{t.multitime}}</time></td>
          <td ng-if="t.by.info._id == session._id">You</td>
          <td ng-if="t.by.info._id != session._id">{{t.by.info.name}}</td>
        </tr>
        <tfoot>
          <th></th>
          <th></th>
          <th></th>
        </tfoot>
      </table>

        <div class="form-group suggestTime">
          <label class="control-label" for="when">Or propose alternatives <i> *in your local time</i></label><br />
          <div datetime-input id="newTime" datetime="newTime" min-view="minute" date-format="YYYY MMM DD HH:mm Z" style="width:280px;float:left"></div>
          <a class="btn" ng-click="suggestTime(newTime)" ng-if="newTime">Add time</a>
        </div>

    </section>
  </section>


  <section class="hangout" ng-if="hangoutState.none && booking.status == 'confirmed'">
    <div>
      <h3>Your AirPair</h3>
      <p>Return here <b>10 mins before</b>
      {{ booking.datetime | locaTime :'hh:mma ddd MMM DD'}}.
      </p>
      <a href="#" class="btn btn-disabled disabled">Join AirPair Video Call</a>
      <p style="font-size:11px">
        * Paid pairing time begins exactly when scheduled. Join 10 minutes early if you wish to test your audio/video.
      </p>
    </div>

    <div ng-if="hangoutState.inProgress">
      <a href="{{ booking.recordings[booking.recordings.length-1].hangoutUrl }}" target="_blank" class="btn">Join AirPair G+ Hangout</a>
    </div>

  </section>


  <section class="recordings" ng-if="hangoutState.complete &&
    booking.recordings.length > 0">
    <h3>Watch your AirPair</h3>
    <div>
      <ul>
        <li ng-repeat="recording in booking.recordings">
          <div ng-if="recording.data.youTubeId" youtube-id="recording.data.youTubeId" youtube-embed></div>
        </li>
      </ul>
    </div>
  </section>


  <section class="request" ng-if="request">
    <h3>AirPair brief</h3>

    {{request.brief}}
  </section>



  <section class="chat" ng-if="chat">
    <h3>Chat > <a target="_blank" href="https://airpair.slack.com/messages/{{chat.info.name}}">  {{chat.info.name}}
            <span ng-if="chat.info.is_archived">(archived)</span>
    </a></h3>

    <p ng-if="chat.history.length==0">No chat history yet.</p>
    <ul class="history">
      <li ng-repeat="m in chat.history | orderBy:'-ts'">
        <time>
          {{m.ts | tsTime : 'MM.DD HH:00' }} &nbsp
          <b>{{chat.members[m.user].name}}</b>
        </time>
        <p>{{m.text}}</p>
      </li>
    </ul>
  </section>

</div>



</section>
