<header ng-if="booking">
  <ol class="entry-meta breadcrumb">
    <li><a href="/bookings" target="_self">Bookings</a></li>
    <li><a href="{{booking.rebookUrl}}">{{firstExpert.info.name}}</a></li>
    <li class="current">{{booking.datetime | locaTime }}</li>
  </ol>
</header>


<section id="booking" ng-if="booking && booking.participants">


<section class="header row">

  <div class="expert">
    <div class="participant" ng-repeat="p in experts">
      <b>{{first(p.info.name)}} </b>
      <location>{{p.location}} </location>
      <img ng-src="{{p.info.avatar}}?s=120" class="user">
    </div>
  </div>

  <div class="customer">
    <div class="participant" ng-repeat="p in customers">
      <img ng-src="{{p.info.avatar}}?s=120" class="user">
      <b>{{first(p.info.name)}} </b>
      <location>{{p.location}}</location>
    </div>
  </div>

  <div class="pairup"></div>

  <hr />

</section>


<div class="side">

  <a ng-if="timeToBookNextPair" class="btn" href="{{booking.rebookUrl}}">Book next AirPair</a>
  <a ng-if="isCustomer && !timeToBookNextPair" class="btn btn-inverse"  href="{{booking.rebookUrl}}">Book next AirPair</a>

  <a ng-if="isExpert" href="/wiki/experts/expert-guide" class="btn btn-inverse" target="_blank">See Expert Guide</a>

  <section class="status">

    <div ng-if="booking.status == 'pending'" class="pending">
      <span><b>We need to lock in a time.</b></span>
      <p>Suggest alternate times or confirm one proposed by your pair.</p>
    </div>

    <div ng-if="booking.status == 'confirmed'" class="confirmed">
      <span><b>You're all set for:</b>{{multitime}}</span>
      <p>Check your calendar for an invite. Read the fine print. Return to this page 10 minutes before for your scheduled time.</p>
    </div>

    <div ng-if="booking.status == 'followup'" class="followup">
      <span><b>We're waiting to hear how it went:</b>
      <p>Once you've left feedback and the expert's payment is released, we're all done!</p>
    </div>

    <div ng-if="booking.status == 'complete'"></div>

    <div ng-if="booking.status == 'canceled'"></div>
  </section>

  <section class="datetime {{booking.status}}">
    <h4><span>{{booking.status.toUpperCase()}}</span></h4>
    <date>{{booking.datetime | locaTime : 'MMM DD' }}</date>
    <time>{{booking.datetime | locaTime : 'h:mma Z' }}</time>
    <div>{{booking.minutes}} minutes ({{booking.type | uppercase}}) </div>
  </section>

  <section class="{{fadeClass('payout')}}" ng-if="order && (session._id == booking.customerId
   || session.cohort.expert._id == booking.expertId)">
    <h4>Escrow</h4>

    <div ng-if="session._id == booking.customerId">
      <p ng-if="order.released">
        Payment sent to {{experts[0].info.name}}.
      </p>
      <p ng-if="!order.paidout && !order.released">
        <a ng-click="releasePayout()" class="btn">Release payment</a> for {{experts[0].info.name}} once happy.
      </p>
    </div>

    <div ng-if="session.cohort.expert._id == booking.expertId">
      <p ng-if="!order.released">
        After you've delivered service, ask {{first(customers[0].info.name)}}
        to release your payment.
      </p>
      <p ng-if="order.released && !order.paidout">
        Money ready to collect from your
        <a href="/payouts">payouts page</a>.
      </p>
      <p ng-if="order.paidout">
        You've collect payment for this booking.
        Details on your <a href="/payouts">payouts page.</a>
      </p>
    </div>
  </section>


</div>


<div class="main">

  <section class="schedule-time" ng-if="booking.status == 'pending'">
    <h2>Confirm a time</h2>
    <section>
      <table class="table table-striped">
        <tr>
          <th style="width:180px"></th>
          <th><span>Suggestion</span></th>
          <th><span>By</span></th>
        </tr>
        <tr class="suggestion" ng-repeat="t in suggestedTimes">
          <td ng-if="t.by.info._id != session._id">
            <a ng-click="confirmTime(t._id)" class="btn">Confirm {{t.localTime}}</a>
          </td>
          <td ng-if="t.by.info._id == session._id"></td>
          <td><time>{{t.multitime}}</time></td>
          <td ng-if="t.by.info._id == session._id">You</td>
          <td ng-if="t.by.info._id != session._id">{{t.by.info.name}}</td>
        </tr>
        <tfoot>
          <th colspan="3">
            <div class="form-group suggestTime lightblueForm">
              <label class="control-label" for="when">Or propose alternatives <i> *in your local time</i></label><br />
              <div datetime-input id="newTime" datetime="newTime" min-view="minute" date-format="YYYY MMM DD HH:mm Z" style="width:280px;float:left"></div>
              <a class="btn" ng-click="suggestTime(newTime)" ng-if="newTime">Add time</a>
            </div>
          </th>
        </tfoot>
      </table>


    </section>
  </section>


  <section class="hangout" ng-if="hangoutState.none && booking.status == 'confirmed'">
    <div>
      <h3>Your AirPair</h3>
      <h4>Be here <strong>10 mins before</strong>
      {{ booking.datetime | locaTime :'hh:mma, ddd MMM DD'}}.
      </h4>
      <a href="javascript:alert('Come back 10 mins before your scheduled time')" class="btn btn-disabled">Join AirPair Video Call</a>

      <h5>The fine print:</h5>
      <ul>
        <li style="list-style:none"></li>
        <li>Provide <a href="javascript:alert('A feature is planned. The current protocol is to mention your alternate email address in chat.')">an alternate email</a> if <b>{{session.email}}</b> does not work with G+ Hangouts</li>
        <li>Provide <a href="javascript:alert('A feature is planned. The current protocol is to mention your colleauges' full names and emails in chat.')">additional names and emails</a> if  other participnts are attending</li>
        <li>Paid pairing time begins and ends <em>exactly</em> when scheduled</li>
        <li>Bookings are canceled and fully charged if you are more than 15 minutes late</li>
        <li>Technical difficulties do not extend call times</li>
        <li>Join early to test your audio/video (especially if your first AirPair)</li>
<!--    <li>Bookings can be rescheduled with a $10 fee with 12 hours notice.</li> -->
        <li>Bookings can not be rescheduled unless given 12 hours notice</li>
        <li>Money back gaurantee available if first booking with <b>{{firstExpert.info.name}}</b> and the call ends inside 50 mins</li>
        <li>Refunds are not avaialble under any other circumstanses</li>
        <li>Calls can be extended using the "BOOK NEXT AIRPAIR" button</li>
      </ul>
    </div>

  </section>

  <section ng-if="hangoutState.inProgress &&
    booking.recordings.length > 0">
      <h3>AirPair in progress!</h3>

      <br /><br />

      <div ng-if="hangoutState.inProgress">
        <a href="{{ booking.recordings[booking.recordings.length-1].hangoutUrl }}" target="_blank" class="btn">Join Google+ Hangout Video Call</a>
      </div>

      <br />
      <ul>
        <li>Provide <a href="javascript:alert('A feature is planned. The current protocol is to mention your alternate email address in chat.')">an alternate email</a> if <b>{{session.email}}</b> does not work with G+ Hangouts</li>
        <li>Calls can be extended using the "BOOK NEXT AIRPAIR" button</li>
      </ul>

  </section>

  <section class="{{fadeClass('recordings')}}" ng-if="
    booking.recordings.length > 0">
    <h3>Watch your AirPair</h3>
    <div>
      <ul>
        <li ng-repeat="recording in booking.recordings">
          <div ng-if="recording.data.youTubeId" youtube-id="recording.data.youTubeId" youtube-embed></div>
        </li>
      </ul>
    </div>
  </section>


  <section class="{{fadeClass('request')}}" ng-if="request">
    <h3>AirPair brief</h3>

    <div ng-bind-html="request.brief | markdownAsHtml"></div>
  </section>



  <section class="{{fadeClass('chat')}}" ng-if="chat">
    <h3>Chat > <a target="_blank" href="https://airpair.slack.com/messages/{{chat.info.name}}">  {{chat.info.name}}
            <span ng-if="chat.info.is_archived">(archived)</span>
    </a></h3>

    <p ng-if="chat.history.length==0">No chat history yet.</p>
    <ul class="history">
      <li ng-repeat="m in chat.history | orderBy:'-ts'">
        <time>
          {{m.ts | tsTime : 'MM.DD HH:00' }} &nbsp
          <b>{{chat.members[m.user].name}}</b>
        </time>
        <p>{{m.text}}</p>
      </li>
    </ul>
  </section>

</div>



</section>
