
<section id="allposts">

  <h1 class="underline">Learn from top software experts</h1>

  <div class="nobookmarks">
    {{#each featured}}{{> postListItem this}}{{/each}}
  </div>

  <h2 class="underline">Latest software tutorials & guides
    <a href="https://author.airpair.com/" class="btn btn-inverse" target="_self">Contribute a post</a>
  </h2>

  <div class="popular nobookmarks">
    {{#each latest}}{{> postListItem this}}{{/each}}
  </div>

  <hr style="clear:both" />

  <div>
    <h2 class="underline">Highest rated posts
      <a href="https://author.airpair.com/" class="btn btn-inverse" target="_self">Contribute a post</a></h2>
    {{#each top}}{{> postListItem this}}{{/each}}
  </div>


  <div class="popular nostars nobookmarks">
    <h2 class="underline">Popular software blog posts
      <a href="https://author.airpair.com/" class="btn btn-inverse" target="_self">Contribute a post</a>
    </h2>
    {{#each popular}}{{> postListItem this}}{{/each}}
  </div>

  <div class="popular nobookmarks">
    <h2 class="underline">2015 Writing Competition Prize winners
      <a href="/100k-writing-competition" class="btn btn-inverse" target="_self">See all winners</a>
    </h2>
    {{#each comp}}{{> postListItem this}}{{/each}}
  </div>

  <h2 class="underline">All software tutorials
    <a href="https://author.airpair.com/" class="btn btn-inverse" target="_self">Contribute a post</a>
  </h2>

  <ul class="archive-posts">
    {{#each archive}}
    <li><a href="{{url}}" target="_self">{{title}}</a> by <b>{{by.name}}</b></li>
    {{/each}}
  </ul>

</section>
