<br />

<section id="workshops">

  <section id="allworkshops">
    <h3>2014 workshops</h3>
    <div class="workshops">
      {{#each this}}{{> workshopListItem this}}{{/each}}
    </div>
  </section>

</section>
