Hi {{ firstName }},

<p>You can change your password using the following link:</p>

https://www.airpair.com/me/password?token={{ hash }}

<p>Thanks,</p>

<p>The AirPair Team
	<br />http://twitter.com/airpair
</p>
