Lucky {{ firstName }}!

<p>You must have done something real nice...</p>

<p>{{fromName}} just added ${{credit}} to your AirPair balance:</p>

https://www.airpair.com/billing

<p>Thanks,</p>

<p>The AirPair Team
	<br />http://twitter.com/airpair
</p>
