Hi {{ firstName }},

<p>Welcome to AirPair, the community of Developers helping Developers.</p>

<p>Please set your password at the following link:</p>

https://www.airpair.com/me/password?token={{ hash }}

<p>Happy pairing,</p>

<p>The AirPair Team
	<br />http://twitter.com/airpair
</p>
