Hi {{ user.name }},

<p>Please verify your email using the following link:</p>

http://www.airpair.com/v1/email-verify?hash={{ user.local.emailHash }}

Thanks,

The AirPair Team
http://twitter.com/airpair
