Hi {{ firstName }},

<p>Welcome to AirPair, the community of Developers helping Developers. We need to known that you can receive replies from our experts.</p>

<p>Click this link to verify your email and continue entering your matching criteria:</p>

https://www.airpair.com/meet-experts/{{requestId}}?verify={{ hash }}

<p>Happy pairing,</p>

<p>The AirPair Team
	<br />http://twitter.com/airpair
</p>
