Hi {{ firstName }},

<p>Please verify your email using the following link:</p>

http://www.airpair.com/me?verify={{ hash }}

<p>Thanks,</p>

<p>The AirPair Team
	<br />http://twitter.com/airpair
</p>
